.payment-hero {

  > .p {
    max-width: 600px;
  }

  .card-flipper {
    color: $gray-dark;
    margin: 30px 15px 0;
    max-width: calc(100% - 30px);
    width: 480px;

    &.flip {

      .card-a {
        position: absolute;
        top: 0;
      }

      .card-b {
        position: relative;
      }
    }
  }

  .card-a,
  .card-b {
    background: $gray-lighterest;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.15);
    position: relative;

    .p {
      text-shadow: none;

      @include media(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .card-a {
    z-index: 2;

    .ul {
      font-size: 14px;
      list-style-type: none;
      margin: 15px 15px 30px 0;
      padding: 0;
    }

    .li + .li {
      margin-top: 15px;
    }

    .li > .icons {
      color: $green;
      height: $input-xxs;
      margin: 3px 13px;
      padding: 3px;
      width: $input-xxs;
    }

    .p {
      border-bottom: 1px solid $gray-lighter;
      font-size: 16px;
      margin: 15px;
      padding-bottom: 30px;
    }

    .link {
      display: inline-block;

      > .icons {
        height: 9px;
        width: 9px;
      }
    }
  }

  .card-b {
    position: absolute;
    top: 0;

    .icons {
      background: $green-lighter;
      border: $input-border solid $green;
      border-radius: 50%;
      color: $green;
      height: $input-sm;
      padding: 6px;
      width: $input-sm;

      &.in {
        animation: spin-in .75s ease-in-out forwards;
      }
    }
  }

  .btn-stripe {
    background: $blue;
    border: $input-border solid darken($blue,5%);
    color: $white;
    font-weight: $weight-bold;

    &:hover {
      background: lighten($blue,10%);
      color: $white;
    }

    &:active {
      background: darken($blue,5%);
      color: $white;
    }
  }
}
