<article class="grid-block col article article-legal section">
  <div class="grid-content">
    <h2 class="h2 weight-strong">Tweet a photo of the Runnable sticker on your laptop for a chance to win!</h2>
    <p class="p weight-strong">
      NO PURCHASE OR PAYMENT IS NECESSARY TO ENTER, PARTICIPATE, OR WIN. A PURCHASE DOES NOT INCREASE THE CHANCES OF WINNING.
    </p>
  </div>
  <div class="grid-content">
    <p class="p">
      One entry per person. Sweepstakes only open to residents of the 50 United States who are at least 21 years old. Must enter by <span class="weight-strong">12:00 PM PST</span> on <span class="weight-strong">03/10/2017</span>. Prize must be collected in-person, upon verification of identity, on <span class="weight-strong">03/10/2017</span> at the time of the drawing, approximately at <span class="weight-strong">12:30PM PST</span>. Prize ships to a U.S. address only. Sponsored by Runnable.
    </p>
  </div>
  <div class="grid-content">
    <ol class="ol">
        <li class="li">
          <p class="p">
            <span class="weight-strong">Eligibility:</span> Sweepstakes (the “Sweepstakes”) is open only to those who send a tweet on Twitter with a photo of the Runnable sticker placed on the front of a laptop computer and mention the words "@GetRunnable" and "#GoogleNext17" on the tweet message and who are 21 years of age or older as of the date of entry. The sweepstakes is only open to legal residents of the 50 United States and the District of Columbia and is void where prohibited by law. Employees of Runnable (the “Sponsor”), their respective affiliates, subsidiaries, advertising and promotion agencies, suppliers and their immediate family members and/or those living in the same household of each are not eligible to participate in the Sweepstakes. The Sweepstakes is subject to all applicable federal, state and local laws and regulations. Void where prohibited.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Agreement to Rules:</span> By participating, you agree to be fully unconditionally bound by these Rules, and you represent and warrant that you meet the eligibility requirements set forth herein. In addition, you agree to accept the decisions of Runnable, as final and binding as it relates to the content. The Sweepstakes is subject to all applicable federal, state and local laws.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Sweepstakes Period:</span> Entries will be accepted in-person starting on or about <span class="weight-strong">March 8, 2017</span> and ending <span class="weight-strong">March 10, 2017.</span> All entries must be received by <span class="weight-strong">March 10, 2017 12:00PM PST.</span>
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">How to Enter:</span> The Sweepstakes must be entered by submitting a tweet message that includes a photo of the Runnable sticker placed on the front of a laptop computer, the Runnable handle, @GetRunnable, while not being used as a reply, and the hashtag #GoogleNext17 on Twitter. The entry must fulfill all sweepstakes requirements, as specified, to be eligible to win a prize. Entries that are not complete or do not adhere to the rules or specifications may be disqualified at the sole discretion of Runnable. You may enter only once and you must include the information requested. You may not enter more times than indicated by using multiple email addresses, identities or devices in an attempt to circumvent the rules. If you use fraudulent methods or otherwise attempt to circumvent the rules your submission may be removed from eligibility at the sole discretion of Runnable.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Prizes:</span> The Winner will receive one (1) DJI Mavoc Pro Drone, valued at $999.00 USD. Actual/appraised value may differ at time of prize award. The specifics of the prize shall be solely determined by the Sponsor. No cash or other prize substitution permitted except at Sponsor’s discretion. The prize is nontransferable. Any and all prize related expenses, including without limitation any and all federal, state, and/or local taxes shall be the sole responsibility of the winner. No substitution of prize or transfer/assignment of prize to others or request for the cash equivalent by winners is permitted. Acceptance of prize constitutes permission for Runnable to use winner’s name, likeness, and entry for purposes of advertising and trade without further compensation, unless prohibited by law.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Odds:</span> The odds of winning depend on the number of eligible entries received.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Winner selection and notification:</span> The Winner of the Sweepstakes will be selected in a random drawing under the supervision of the Sponsor. The Winner must be present at the drawing location in order to be notified and to collect the prize. Runnable shall have no liability for a winner’s failure to receive notices due to winners" lack of attendance. If the selected winner is not present, is ineligible, fails to claim the prize, or fails to timely return a completed and executed declaration and releases as required, prize may be forfeited and an alternate winner selected.
            The receipt by winner of the prize offered in this Sweepstakes is conditioned upon compliance with any and all federal and state laws and regulations.
          </p>
          <p class="p weight-strong">
            ANY VIOLATION OF THESE OFFICIAL RULES BY ANY WINNER (AT SPONSOR’S SOLE DISCRETION) WILL RESULT IN SUCH WINNER’S DISQUALIFICATION AS WINNER OF THE SWEEPSTAKES AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY TERMINATED.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Rights Granted by you:</span> By entering this content you understand that Runnable, anyone acting on behalf of Runnable, or its respective licensees, successors and assigns will have the right, where permitted by law, without any further notice, review or consent to print, publish, broadcast, distribute, and use, worldwide in any media now known or hereafter in perpetuity and throughout the World, your entry, including, without limitation, the entry and winner’s name, portrait, picture, voice, likeness, image or statements about the Sweepstakes, and biographical information as news, publicity or information and for trade, advertising, public relations and promotional purposes without any further compensation.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Terms:</span> Runnable reserves the right, in its sole discretion to cancel, terminate, modify or suspend the Sweepstakes should (in its sole discretion) a virus, bugs, non-authorized human intervention, fraud or other causes beyond its control corrupt or affect the administration, security, fairness or proper conduct of the Sweepstakes. In such case, Runnable may select the recipients from all eligible entries received prior to and/or after (if appropriate) the action taken by Runnable. Runnable reserves the right at its sole discretion to disqualify any individual who tampers or attempts to tamper with the entry process or the operation of the Sweepstakes or violates these Terms & Conditions.
          </p>
          <p class="p">
            Runnable has the right, in its sole discretion, to maintain the integrity of the Sweepstakes, to void votes for any reason, including, but not limited to; multiple entries from the same user from different conference badges or passes; multiple entries from the same user in excess of that allowed by sweepstakes rules; or the use of bots, macros or scripts or other technical means for entering.
            Any attempt by an entrant to deliberately damage any web site or undermine the legitimate operation of the sweepstakes may be a violation of criminal and civil laws and should such an attempt be made, Runnable reserves the right to seek damages from any such person to the fullest extent permitted by law.
          </p>
          <p class="p">
            By entering the Sweepstakes you agree to receive email newsletters periodically from Runnable. You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Limitation of Liability:</span> By entering you agree to release and hold harmless Runnable and its subsidiaries, affiliates, advertising and promotion agencies, partners, representatives, agents, successors, assigns, employees, officers and directors from any liability, illness, injury, death, loss, litigation, claim or damage that may occur, directly or indirectly, whether caused by negligence or not, from (i) such entrant’s participation in the sweepstakes and/or his/her acceptance, possession, use, or misuse of any prize or any portion thereof, (ii) technical failures of any kind, including but not limited to the malfunctioning of any computer, cable, network, hardware or software; (iii) the unavailability or inaccessibility of any transmissions or telephone or Internet service; (iv) unauthorized human intervention in any part of the entry process or the Promotion; (v) electronic or human error which may occur in the administration of the Promotion or the processing of entries.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Disputes:</span> THIS SWEEPSTAKES IS GOVERNED BY THE LAWS OF THE UNITED STATES AND THE STATE OF California, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of participating in this Sweepstakes, participant agrees that any and all disputes which cannot be resolved between the parties, and causes of action arising out of or connected with this Sweepstakes, shall be resolved individually, without resort to any form of class action, exclusively before a court located in California having jurisdiction. Further, in any such dispute, under no circumstances will participant be permitted to obtain awards for, and hereby waives all rights to claim punitive, incidental, or consequential damages, including reasonable attorneys" fees, other than participant’s actual out-of-pocket expenses (i.e. costs associated with entering this Sweepstakes), and participant further waives all rights to have damages multiplied or increased.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Privacy Policy:</span>  Information submitted with an entry is subject to the Privacy Policy stated on the Runnable Web Site. To read the Privacy Policy, visit the following URL: <a class="a underline" href="https://runnable.com/legal/privacy-policy/">https://runnable.com/legal/privacy-policy/</a>
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Winners List:</span> To obtain a copy of the winner"s name or a copy of these Official Rules, mail your request along with a stamped, self-addressed envelope to:
            <p class="weight-strong">
              RUNNABLE, 1481 FOLSOM ST, SAN FRANCISCO, CA, 94103.
            </p>
            Requests must be received no later than March 15th 2017.
          </p>
        <li class="li">
          <p class="p">
            <span class="weight-strong">Sponsor:</span>  The Sponsor of the Sweepstakes is
          </p>
          <p class="weight-strong">
            Runnable, 1481 Folsom St, San Francisco, CA 94103, USA.
          </p>
    </ol>
  </div>
</article>
