.article.article-faq {
  align-self: center;
  flex-wrap: wrap;
  max-width: 1020px;

  @include media(md) {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .question {
    flex: 0 1 50%;
    padding: 30px;

    @include media(sm) {
      flex: 0 0 100%;
    }

    @include media(xxs) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media(xxs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .h3 {
    font-size: 19px;
    line-height: 1.4;
    margin: 0;
  }

  .p {
    font-size: 16px;
  }
}
