.header {
  background: linear-gradient($purple-light, rgba($purple-light,0));
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  z-index: 10;

  .grid-container {
    padding: 27px 30px 18px;
  }

  .text-white {
    line-height: $input-sm;
  }

  // popover specific
  .grid-block {
    overflow: visible;

    // popover parent
    &.shrink {
      position: relative;
    }
  }

  .popover-trigger {
    opacity: .75;
    transition: opacity .15s;

    @include media(xs) {
      &.click:focus .popover {
        transform: scale3d(1,1,1);
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    .img-overflow {
      height: $input-sm;
    }
  }

  .popover {
    cursor: default;

    @include media(xs) {
      left: auto;
      right: 6px;
      transform: scale3d(.2,.2,1);

      &.bottom {
        transform-origin: 100% 0;

        &::before,
        &::after {
          left: auto;
          right: 10px;
        }
      }
    }
  }

  .list {
    padding: 0;
  }

  .list-item {
    cursor: pointer;
    display: block;

    &:hover {
      color: $purple-light;
    }

    .icons {
      height: 12px;
      margin-left: 3px;
      opacity: .5;
      width: 12px;
    }
  }
}
