@keyframes cursor-blink {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}
