@keyframes cursor-blink {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate3d(0,0,1,5deg);
  }

  50% {
    transform: rotate3d(0,0,1,-5deg);
  }

  100% {
    transform: rotate3d(0,0,1,5deg);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}
