// scss-lint:disable IdSelector SelectorFormat ImportantRule
#habla_window_div {
  border: $input-border solid $purple-lighter !important;
  border-radius: $input-border-radius-lg $input-border-radius-lg 0 0 !important;
  box-shadow: 0 -1px 6px rgba($black,.05);
  font-family: $sans-serif !important;
  z-index: $z-modal - 1 !important;
}

.habla_button:hover {
  background-color: transparent !important;
}

#habla_panel_div {
  background-color: rgba($white,.97) !important;
}

#habla_both_div {
  border: 0 !important;
  border-radius: 0 !important;
}

#habla_window_div.olrk-fixed-bottom .habla_panel_border,
#habla_window_div.olrk-fixed-bottom #habla_topbar_div {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

#habla_topbar_div {
  animation-name: disabled_animation !important;
  background: none !important;
  font-size: 15px !important;
  font-weight: $weight-bold !important;
}

#habla_oplink_a {
  color: $purple-lighter !important;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

.olrk-state-compressed #habla_topbar_div,
.olrk-state-compressed #habla_oplink_a {
  cursor: n-resize !important;
}

.olrk-state-expanded #habla_topbar_div,
.olrk-state-expanded #habla_oplink_a {
  cursor: s-resize !important;
}

// default text
#habla_conversation_div {
  border-bottom: 0 !important;
  color: $gray-dark !important;
  font-size: 16px !important;
  padding-bottom: 6px !important;
}

// default message "documentation"
#hbl_body_message:only-child {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius;
  color: $gray;
  display: flex;
  flex-direction: column;
  height: 310px;
  justify-content: center;
  margin: 0 auto;
  padding: 6px 12px;
  text-align: center;
}

// operator bubble
.habla_conversation_person2 {
  background: $purple-lightest !important;
  border-radius: $input-border-radius !important;
  margin-right: 5px !important;
  padding: 2px 1px 3px 5px !important;
}

// user text
.hbl_pal_local_fg + .habla_conversation_text_span {
  color: $gray !important;
}

.hbl_pal_remote_fg.hbl_pal_remote_fg {
  color: $purple-light !important;
}

#habla_chatform_form {
  padding: 0 18px 0 15px !important;
}

.hbl_pal_main_bg.hbl_pal_main_bg {
  background: transparent !important;
}

// links
#habla_window_div #habla_panel_div #habla_expanded_div a,
#habla_window_div #habla_panel_div #habla_conversation_div a {
  color: $purple-lighter !important;
  text-decoration: underline;
}

#habla_expanded_div {
  background-color: transparent !important;
  border: 0 !important;
}

.habla_button {
  background-size: 16px 16px !important;
}

#habla_window_div #habla_popout_a#habla_popout_a,
#habla_window_div #habla_closebutton_a#habla_closebutton_a,
#habla_window_div #habla_sizebutton_a#habla_sizebutton_a {
  background-position: 0 0 !important;
  border-radius: 0 !important;
  opacity: .5;

  &:hover,
  &:active {
    opacity: 1;
  }
}

#habla_popout_a#habla_popout_a {
  display: none !important;
}

#habla_closebutton_a#habla_closebutton_a#habla_closebutton_a {
  background-color: $gray;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHxJREFUeNrsllEKwCAMQ8tO4FG9qUfqFPxdmUYNYwn42byA2tZMkqRA7p7rSUB9ah4IvKnMhOjw0j2ygQZDIZBa2GgZfMZwOXzEeBv8DWA7PAIdgwchzsEfQkDw64vtmXcF1EdI/YbURkRtxdRhRB/H9IWEvpJJ0m90CzAAQVVLjxJoDjEAAAAASUVORK5CYII=') !important;
  border-radius: 16px !important;

  &:hover,
  &:active {
    background-color: $red-light !important;
  }
}

#habla_sizebutton_a {
  display: none !important;
}



.habla_conversation_p_item.habla_conversation_p_item {
  color: $gray-dark !important;
  margin-bottom: 6px !important;
}

#habla_name_input,
#habla_offline_email_input,
#habla_offline_body_input,
#habla_pre_chat_name_input,
#habla_pre_chat_email_input,
#habla_pre_chat_phone_input,
#habla_offline_phone_input,
#habla_pre_chat_phone_input,
#habla_wcsend_input#habla_wcsend_input#habla_wcsend_input {
  background: $gray-lighterest !important;
  border: $input-border solid $gray-lighter !important;
  border-radius: $input-border-radius !important;
  max-height: 200px !important;
  width: 100% !important;

  // min font-size for mobile
  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  // focus state
  &.focus,
  &:focus {
    background: $white !important;
    border-color: $purple-light !important;
    box-shadow: inset 0 0 3px rgba($purple-light,.15);
  }

  &:focus {
    transition: none;
  }

  // readonly
  &[readonly] {
    background: $gray-light !important;
    border: 0 !important;
    color: $gray-lighterest !important;
    cursor: default;
  }

  // remove box-shadow for these states
  &[readonly]:focus,
  &[required] {
    box-shadow: none;
  }

  // placeholder
  &::placeholder {
    color: $gray-light;
  }
}

// chat input
#habla_wcsend_input {
  min-height: 45px;
}

// offline submit button
#habla_offline_submit_input {
  font-size: 18px !important;
  font-weight: $weight-bold;
  padding: 6px 15px !important;
}
