.article-quick-start {

  > .grid-block {
    flex-wrap: wrap;

    @media (min-width: $screen-sm) {
      > .grid-block {
        flex: 0 0 (100% / 8);
        max-width: (100% / 8);
      }
    }

    @include media(sm) {
      > .grid-block {
        flex: 0 0 (100% / 4);
        max-width: (100% / 4);
      }
    }
  }

  .p {
    margin-bottom: 30px;
  }

  .a {
    filter: grayscale(100%);
    opacity: .5;
    padding: 9px;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .img {
    height: 45px;
    width: 45px;
  }
}
