.article-environment {
  background-color: $purple-light-faded;
  border-top: 3px solid $purple-lightest;
  color: $purple-faded;
  padding-bottom: 120px;

  .h1 {
    margin-top: 0;
  }

  .img {
    height: auto;
    padding-left: 30px;

    @media (max-width: $screen-sm) {
      width: 540px;
    }

    @media (max-width: $screen-xs) {
      margin: 0 auto 45px;
      max-width: 100%;
      width: 300px;
    }
  }

  .grid-block {

    @media (max-width: $screen-xs) {
      flex-direction: column-reverse;
    }
  }
}
