.article-quick-start {

  > .grid-block {
    margin: 0 auto;
    max-width: 600px;
  }

  .h2 {
    margin-bottom: 6px;
  }

  .btn {
    display: table;
    margin: 0 auto 60px;
  }

  .a {
    margin-bottom: 30px;
    padding: 9px;
  }

  .img {
    height: 45px;
    width: 45px;
  }
}
