.article-workflow {
  background: linear-gradient($purple-light, $purple);
  border-bottom: 2px solid $purple;
  border-top: 2px solid $purple;
  color: $white;
  padding: 90px 0 0;

  .h1 {
    margin-bottom: 9px;
    margin-top: 24px;
  }

  .ol {
    font-size: 21px;
    list-style: none;
    margin: 0 auto;
    max-width: 690px;
    padding: 0;
  }

  .img {
    position: relative;
    top: 45px;
  }
}
