.article {
  padding: $xl 0;
  position: relative;

  @include media(sm) {
    padding: $lg 0;
  }

  @include media(xxs) {
    padding: $lg $md;
  }

  &.padding-bottom-none {
    padding-bottom: 0;

    @include media(xxs) {
      padding: $lg 0;
    }
  }

  // resets from landing.scss
  .p {
    margin-bottom: 0;
  }

  .ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.section-dark {
  background: $gray-lighterest;
  border-bottom: 1px solid $gray-lightest;
  border-top: 1px solid $gray-lightest;
  margin-top: $xl;
  overflow: visible;
  padding: 0 $xl $xl;

  @include media(xs) {
    font-size: 16px;
    margin-top: $lg;
    padding: 0 $md $md;
  }

  > .grid-container,
  > .grid-container-sm,
  > .grid-container-lg {
    overflow: visible;
  }

  > .grid-container-lg {

    @include media(md) {
      flex-direction: column;
    }

    > .grid-block {
      flex: 0 1 50%;

      @include media(md) {
        flex: 0 0 auto;
      }

      @include media(xs) {
        padding: $lg;
      }
    }
  }

  .card {
    background: $white;
    border: $input-border solid $gray-lighter;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba($black,.05);
    margin-top: -$xl;

    @include media(xs) {
      margin-top: -$lg;
    }


    &.vertical > .grid-block {
      @include media(xxs) {
        align-items: flex-start;
        flex-direction: column;
      }

      + .grid-block {
        margin-top: $md;
      }
    }

    .img {
      @include media(xxs) {
        margin-bottom: $md;
        margin-right: 0;
      }
    }
  }
}
