.article {
  position: relative;

  &:last-of-type .section-dark {
    // scss-lint:disable ColorVariable
    background: linear-gradient(#4f419f, #644690);
    // scss-lint:enable ColorVariable
    border: 0;

    &::after {
      background: url(../images/confetti.png);
      background-position: bottom;
      background-size: 864px 324px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: .6;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    // for article-tests
    .test-types-wrapper {
      color: $white;
    }
  }

  // resets from landing.scss
  .p {
    margin-bottom: 0;
  }

  .ul {
    list-style-type: none;
    padding-left: 0;
  }

  .copy-wrapper {
    flex: 0 0 50%;
    padding: $xl 0;

    @include media(sm) {
      flex-basis: auto;
      padding: 0;
    }

    &.left {
      padding-right: $xl;

      @include media(md) {
        padding-right: $sm;
      }

      @include media(sm) {
        padding-right: 0;
      }
    }

    &.right {
      padding-left: $xl;

      @include media(md) {
        padding-left: $sm;
      }

      @include media(sm) {
        padding-left: 0;
      }
    }
  }

  .img-wrapper {
    flex: 0 0 50%;
    overflow: visible;
    position: relative;
  }
}
