.article-secure {
  background-color: $purple-dark;
  color: $white;
  display: block;
  overflow: hidden;
  padding: 120px 0 165px;
  position: relative;

  .grid-container {
    float: right;
    width: 60%;
  }

  .img {
    height: 2700px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(38%, -50%);
    width: 2700px;
  }

  @media (max-width: $screen-md) {

    .grid-container {
      padding-right: 210px;
    }
  }

  @media (max-width: $screen-sm) {

    .grid-container {
      padding-right: 120px;
    }

    .img {
      transform: translateX(1400px);
    }
  }

  @media (max-width: $screen-xs) {
    padding: 180px 0 90px;

    .grid-container {
      padding-right: 0;
    }

    .img {
      height: 1500px;
      top: -625px;
      transform: translateX(50%);
      width: 1500px;
    }
  }
}
