.article-sign-up {
  background: $gray-lighterest;
  border: 6px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 3px 15px rgba($black,.1);
  margin: -450px auto 90px;
  max-width: 600px;
  padding: 60px;

  @include media(xs) {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    margin: 0;
    padding: 30px 30px 45px;
  }

  &.submitted {

    .hide {
      display: block;
    }

    .show {
      display: none;
    }
  }

  .well {
    background: desaturate($red,10%);
    border: 2px solid $red-faded;
    border-radius: $input-border-radius-lg;
    color: $white;
    font-weight: $weight-normal;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 15px 6px 15px 72px;
    position: relative;

    @include media(xxs) {
      font-size: 15px;
    }

    .img {
      left: 15px;
      position: absolute;
      top: -30px;

      @include media(xxs) {
        top: -18px;
      }
    }
  }

  // runnabear-jumping
  .hide {
    display: none;
    max-width: 100%;
  }

  .h1.hide {
    margin-bottom: 0;
  }

  .input-group-vertical {
    flex: 0 0 auto;
    margin-top: 15px;

    @include media(sm) {
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
}

