.article-sign-up {
  background: $gray-lighterest;
  border: 6px solid $gray-lightest;
  border-radius: $input-border-radius-lg;
  margin: 150px auto;
  max-width: 600px;
  padding: 60px 90px;

  &.submitted {
    display: none;
  }

  .input-group-vertical {
    margin-top: 15px;

    @include media(sm) {
      flex-basis: 100%; // need to be specific for safari
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
}

