.article-environment {
  background-color: $purple-light-faded;
  border-top: 3px solid $purple-lightest;
  color: $purple-faded;
  padding-bottom: 120px;

  @include media(md) {
    padding-bottom: 60px;
  }

  .h1 {
    margin-top: 0;
  }

  .img {
    height: auto;
    max-width: 300px;
    padding-left: 30px;

    @include media(md) {
      margin: 45px auto;
    }

    @include media(sm) {
      max-width: 210px;
    }
  }

  .grid-block {

    @include media(md) {
      flex-direction: column;
    }
  }
}
