.article-confirm {

  .img {
    display: block;
    margin: 0 auto;
    width: 300px;

    @include media(xs) {
      max-width: 100%;
    }
  }

  .gray {
    display: table;
    margin: 30px auto;
  }
}
