.article-confirm {

  .img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .p {
    margin: 0 auto;
    max-width: 420px;
  }

  .gray {
    display: table;
    margin: 15px auto 0;
  }
}
