.footer {
  align-items: center;
  background: linear-gradient($gray-lighterest, $white);
  border-top: 1px solid $gray-lighter;
  margin: 0 auto;
  overflow: visible;
  padding-top: 30px;
  position: relative;

  .link-wrapper {
    padding: 60px 30px 60px 0;

    @include media(xs) {
      flex-flow: column wrap;
      justify-content: center;
      padding: 60px 30px;
    }
  }

  .align-start {

    @include media(xs) {
      align-items: center;
    }

    + .align-start {
      margin-left: 90px;

      @include media(xs) {
        margin-left: 0;
      }
    }
  }

  .link {
    color: $gray-light;
    font-size: 19px;
    line-height: 24px;
    margin: 15px 27px;
    text-decoration: none;

    &:hover,
    &:active {
      color: $gray;
    }
  }

  .hr {
    background: $gray-lightest;
    margin: 0;
    width: 300px;
  }
}

.link.status {
  color: $gray-light;
  font-size: 15px;
  margin-bottom: 24px;
  position: relative;
  text-decoration: none;
  text-indent: 9px;

  @include media(xs) {
    margin-bottom: 60px;
  }

  &:hover,
  &:active {
    color: $gray;
  }

  &.status-green::before {
    background: $green;
  }

  &.status-orange::before {
    background: $orange;
  }

  &.status-red::before {
    background: $red;
  }

  &::before {
    border-radius: 50%;
    bottom: 18px;
    content: '';
    display: block;
    font-size: 18px;
    height: 10px;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 6px;
    width: 10px;
  }
}
