.footer {
  align-items: center;
  margin: 0 auto 150px;
  max-width: 660px;
  overflow: visible;
  position: relative;

  .link-wrapper {

    @include media(sm) {
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;
    }

    .link {
      color: $gray-light;
      font-size: 16px;
      line-height: 24px;
      margin: 0 27px 15px;
      text-decoration: none;

      @include media(sm) {
        font-size: 18px;
        margin: 15px;
      }

      &:hover,
      &:active {
        color: $gray;
      }
    }
  }

  .img {
    flex: 0 0 45px;
    height: 45px;
    left: 0;
    margin: 0 24px;
    right: 0;

    @include media(sm) {
      margin-bottom: 15px;
    }
  }
}

.status {
  color: $gray-light;
  font-size: 15px;
  margin-top: 21px;
  position: relative;
  text-decoration: none;
  text-indent: 9px;

  &:hover,
  &:active {
    color: $gray;
  }

  &.status-green::before {
    background: $green;
  }

  &.status-orange::before {
    background: $orange;
  }

  &.status-red::before {
    background: $red;
  }

  &::before {
    border-radius: 50%;
    bottom: 18px;
    content: '';
    display: block;
    font-size: 18px;
    height: 10px;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 5px;
    width: 10px;
  }
}
