.btn-overflow .popover-hover-wrapper {
  margin-left: 12px;

  @include media(sm) {
    margin-left: 39px;
  }

  @media (max-width: 430px) {
    margin-left: 54px;
  }

  &.right-align-sm {

    .popover-header-menu::after,
    .popover-header-menu::before {
      @media (max-width: 430px) {
        right: 30px;
      }
    }
  }
}

.popover-header-menu {

  @include media(xxxs) {
    padding: 9px 0 9px 9px;
    width: calc(100vw - 30px);
  }

  .list {
    @include media(sm) {
      margin-bottom: -15px;
      margin-top: -15px;
      padding: 15px 0;
    }

    @include media(xxxs) {
      margin-bottom: -9px;
      margin-top: -9px;
      padding: 15px 9px;
    }
  }

  .divider {
    @include media(sm) {
      margin: 15px 0;
    }
  }

  .list-item-a {
    cursor: pointer;
    height: $input-sm;
    line-height: $input-sm;
    padding-left: 15px;
    padding-right: 6px;

    @include media(sm) {
      height: $input-md;
      line-height: $input-md;
      padding-left: 15px;
      padding-right: 6px;
    }

    @media (max-width: 510px) {
      padding-right: 15px;
    }

    &:hover {
      color: $purple-light;
    }

    &.visible-xs {
      display: none;

      @include media(xs) {
        display: inherit;
      }
    }

    .icons {
      height: 12px;
      margin-left: 3px;
      opacity: .5;
      width: 12px;
    }
  }

  // feature item
  .list-item-feature {
    padding-left: 9px;

    .img {
      margin-right: $xs;
    }
  }
}
