.popover-header-menu {
  margin-left: 12px;

  @include media(xs) {
    left: 26px;

    &.bottom {
      transform-origin: 40% 0;

      &::before,
      &::after {
        left: auto;
        right: 10px;
      }
    }
  }

  .divider {
    @include media(xs) {
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }

  .list-item-a {
    cursor: pointer;
    height: $input-sm;
    line-height: $input-sm;
    padding: 0 15px 0 6px;

    @include media(xs) {
      height: $input-md;
      line-height: $input-md;
      padding: 0 60px 0 15px;
    }

    &:hover {
      color: $purple-light;
    }

    &.visible-xs {
      display: none;

      @include media(xs) {
        display: block;
      }
    }

    .icons {
      height: 12px;
      margin-left: 3px;
      opacity: .5;
      width: 12px;
    }
  }
}
