.hero {
  background: linear-gradient($purple-light, $purple);
  color: $white;
  padding: 230px 0 150px;

  @include media(sm) {
    padding-top: 210px;
  }

  @include media(xs) {
    padding: 200px 0 150px;
  }

  @include media(xxs) {
    padding: 150px 0 120px;
  }

  &::after {
    background: url(../images/confetti.png);
    background-size: 864px 324px;
    content: '';
    display: block;
    height: 100%;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .h1 {
    font-size: 54px;

    @include media(sm) {
      font-size: 39px;
      max-width: 630px;
    }

    @include media(xxs) {
      font-size: 36px;
      max-width: 540px;
    }
  }

  .h1,
  .p {
    display: table;
    margin: 0 auto;
    padding: 0 30px;
  }

  .p {
    font-size: 21px;
    margin-top: 9px;

    @include media(sm) {
      max-width: 600px;
    }

    @include media(xs) {
      font-size: 18px;
      max-width: 510px;
    }

    @media (max-width: 430px) {
      max-width: 400px;
    }
  }

  .link {
    background: rgba($white,.1);
    border: 1px solid rgba($white,.3);
    border-radius: $input-border-radius-lg;
    color: $white;
    display: table;
    margin: 30px auto 0;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      border-color: rgba($white,.5);
    }

    &:active {
      border-color: rgba($white,.75);
    }

    .img {
      opacity: .9;
      position: relative;
      top: 2px;
    }
  }
}
