.hero {
  background: url(../images/confetti.png);
  background-size: 1728px 648px;
  border-bottom: 1px solid rgba($black,.1);
  color: $purple-faded;
  padding: 120px 0;

  @include media(md) {
    background-size: 1296px 486px;
  }

  @include media(xs) {
    background-size: 864px 324px;
  }

  @include media(xxs) {
    padding-top: 60px;
  }

  .h1,
  .p {
    background: radial-gradient(ellipse at center, $white 60%, rgba($white,0) 75%);
  }

  .p {
    font-size: 21px;
    margin: 9px auto 0;
    max-width: 600px;

    @include media(xs) {
      font-size: 18px;
      max-width: 330px;
    }
  }

  .link {
    background: rgba($white,.5);
    border: 1px solid currentColor;
    border-radius: $input-border-radius;
    display: table;
    font-size: 16px;
    margin: 30px auto 0;
    padding: 6px 12px;
    text-decoration: none;

    &:hover {
      background: rgba($purple-faded,.05);
    }

    &:active {
      background: rgba($purple-faded,.1);
    }
  }

  .img {
    position: relative;
    top: 3px;
  }
}
