.page-landing {

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media(xxs) {
      padding: 0 30px;
    }

    @media (min-width: $screen-xxs) {
      max-width: $screen-xxs - 90px;
      width: $screen-xxs - 90px;
    }

    @media (min-width: $screen-xs) {
      max-width: $screen-xs - 90px;
      width: $screen-xs - 90px;
    }

    @media (min-width: $screen-sm) {
      max-width: $screen-sm - 90px;
      width: $screen-sm - 90px;
    }

    @media (min-width: $screen-md) {
      max-width: $screen-md - 90px;
      width: $screen-md - 90px;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 30px;
  }

  .header {
    background: linear-gradient($purple-light, rgba($purple-light,.95));
    border-bottom: 2px solid $purple;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    @include media(xxs) {
      .btn {
        display: none;
      }
    }

    .grid-container {
      padding-bottom: 18px;
      padding-top: 27px;

      @include media(xxs) {
        justify-content: center;
      }
    }
  }

  .main {
    padding-bottom: 150px;
  }

  .h1 {
    margin: 21px 0;
  }

  .h2,
  .h3 {
    margin: 15px 0;
  }

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
  }

  .hr {
    background: rgba($black,.1);
    border: 0;
    height: 1px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .img-centered {
    display: block;
    margin: 0 auto;

    @include media(xxs) {
      height: auto;
      max-width: 100%;
    }
  }
}

.article-workflow {
  margin-top: -21px;

  .h1 {
    margin-bottom: 15px;
  }

  .ol {
    list-style: none;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

.article-always {

  .img {
    height: 150px;
    width: 150px;
  }

  .h1 {
    margin: 0 auto 21px;
  }

  .h2 {
    margin-top: 60px;
  }

  .ul {
    margin: 0 auto;
    max-width: 540px;
  }
}

.always-integrating {
  height: 300px;
  position: relative;
  top: 150px;

  @keyframes always-integrating-down {
    0% {
      opacity: 0;
      transform: scale3d(1,1,1) translate3d(0,-76px,0);
    }

    25% {
      opacity: 1;
    }

    80% {
      transform: scale3d(1,1,1) translate3d(0,54px,0);
    }

    90% {
      transform: scale3d(1.1,1.1,1) translate3d(0,54px,0);
    }

    100% {
      transform: scale3d(1,1,1) translate3d(0,54px,0);
    }
  }

  @keyframes always-integrating-boom {
    0% {
      transform: scale3d(1,1,1);
    }

    80% {
      transform: scale3d(1,1,1);
    }

    90% {
      transform: scale3d(1.1,1.1,1);
    }

    100% {
      transform: scale3d(1,1,1);
    }
  }

  img {
    height: 76px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform-origin: 50% 100%;
    width: 100px;

    &:first-child {
      animation: always-integrating-boom .75s ease-in;
    }

    &:nth-child(2) {
      animation: always-integrating-down .75s ease-in forwards;
      top: -76px;
    }

    &:nth-child(3) {
      animation: always-integrating-down .75s 2.25s ease-in forwards;
      opacity: 0;
      top: -76px;
    }
  }
}

.article-quick-start {

  > .grid-block {
    flex-wrap: wrap;

    @media (min-width: $screen-sm) {
      > .grid-block {
        flex: 0 0 (100% / 8);
        max-width: (100% / 8);
      }
    }

    @include media(sm) {
      > .grid-block {
        flex: 0 0 (100% / 4);
        max-width: (100% / 4);
      }
    }
  }

  .p {
    margin-bottom: 30px;
  }

  .a {
    filter: grayscale(100%);
    opacity: .5;
    padding: 9px;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .img {
    height: 45px;
    width: 45px;
  }
}

.form-hook-up {

  .input-group-vertical {

    @include media(sm) {
      flex-basis: 100%; // need to be specific for safari
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
}
