.page-landing {

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media(xxs) {
      padding: 0 30px;
    }

    @media (min-width: $screen-xxs) {
      max-width: $screen-xxs - 90px;
      width: $screen-xxs - 90px;
    }

    @media (min-width: $screen-xs) {
      max-width: $screen-xs - 90px;
      width: $screen-xs - 90px;
    }

    @media (min-width: $screen-sm) {
      max-width: $screen-sm - 90px;
      width: $screen-sm - 90px;
    }

    @media (min-width: $screen-md) {
      max-width: $screen-md - 90px;
      width: $screen-md - 90px;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 30px;
  }

  .header {
    background: linear-gradient($purple-light, rgba($purple-light,.95));
    border-bottom: 2px solid $purple;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    @include media(xxs) {
      .btn {
        display: none;
      }
    }

    .grid-container {
      padding-bottom: 18px;
      padding-top: 27px;

      @include media(xxs) {
        justify-content: center;
      }
    }
  }

  .main {
    padding-bottom: 150px;
  }

  .h1 {
    margin: 21px 0;
  }

  .h2,
  .h3 {
    margin: 15px 0;
  }

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
  }

  .hr {
    background: rgba($black,.1);
    border: 0;
    height: 1px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .img-centered {
    display: block;
    margin: 0 auto;
  }
}

.article-workflow {
  margin-top: -21px;

  .ol {
    margin: 0 auto;
    max-width: 600px;
  }
}

.article-quick-start {

  > .grid-block {
    flex-wrap: wrap;

    @media (min-width: $screen-sm) {
      > .grid-block {
        flex: 0 0 (100% / 8);
        max-width: (100% / 8);
      }
    }

    @include media(sm) {
      > .grid-block {
        flex: 0 0 (100% / 4);
        max-width: (100% / 4);
      }
    }
  }

  .p {
    margin-bottom: 30px;
  }

  .a {
    filter: grayscale(100%);
    opacity: .5;
    padding: 9px;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .img {
    height: 45px;
    width: 45px;
  }
}

.form-hook-up {

  .input-group-vertical {

    @include media(sm) {
      flex-basis: 100%; // need to be specific for safari
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
}
