.page-landing {

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media(xxs) {
      padding: 0 30px;
    }

    @media (min-width: $screen-xxs) {
      max-width: $screen-xxs - 90px;
      width: $screen-xxs - 90px;
    }

    @media (min-width: $screen-xs) {
      max-width: $screen-xs - 90px;
      width: $screen-xs - 90px;
    }

    @media (min-width: $screen-sm) {
      max-width: $screen-sm - 90px;
      width: $screen-sm - 90px;
    }

    @media (min-width: $screen-md) {
      max-width: $screen-md - 90px;
      width: $screen-md - 90px;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 30px;
  }

  .header {
    background: $purple-light;
    border-bottom: 2px solid $purple;

    @include media(xxs) {
      .btn {
        display: none;
      }
    }

    .grid-container {
      padding-bottom: 18px;
      padding-top: 27px;

      @include media(xxs) {
        justify-content: center;
      }
    }

    .text-white {
      line-height: $input-sm;
    }
  }

  .h1 {
    margin: 21px 0;
  }

  .h2,
  .h3 {
    margin: 15px 0;
  }

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
  }

  .hr {
    background: rgba($black,.1);
    border: 0;
    height: 1px;
    margin-bottom: 90px;
    margin-top: 90px;
  }

  .img-centered {
    display: block;
    margin: 0 auto;

    @include media(xxs) {
      height: auto;
      max-width: 100%;
    }
  }
}

.form-hook-up {

  .input-group-vertical {

    @include media(sm) {
      flex-basis: 100%; // need to be specific for safari
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }
  }
}

.well {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius;
  color: $gray;
  display: table;
  margin: 0 auto 150px;
  padding: 6px 15px;

  .btn {
    margin-left: 6px;
    top: -2px;
  }
}
