// scss-lint:disable IdSelector
.modal-backdrop {
  background: rgba($white,.98);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale3d(1.2,1.2,1);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  z-index: $z-modal;
}

.modal {

  &.shake {
    animation: shake .25s ease-in-out;
  }

  > .article {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    &.article-sign-up {
      z-index: $z-modal + 1;
    }

    &.article-confirm {
      opacity: 0;
      transform: translate3d(0,100px,0);
      z-index: $z-modal;
    }

    &.out {
      opacity: 0;
      transform: translate3d(0,-100px,0);
      z-index: $z-modal;
    }

    &.in {
      opacity: 1;
      transform: translate3d(0,0,0);
      z-index: $z-modal + 1;
    }
  }
}

#sign-up {

  &:target {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);

    .modal > .article {

      &.article-confirm {
        pointer-events: none;
      }

      &.out {
        pointer-events: none;
      }

      &.in {
        pointer-events: auto;
      }
    }
  }

  .icons-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    z-index: $z-modal + 2;
  }
}

@keyframes shake {
  0% {
    transform: none;
  }

  25% {
    transform: translate3d(2%,0,0);
  }

  50% {
    transform: translate3d(-2%,0,0);
  }

  75% {
    transform: translate3d(2%,0,0);
  }

  100% {
    transform: none;
  }
}
// scss-lint:enable IdSelector
