// scss-lint:disable IdSelector
.modal-backdrop {
  background: rgba($white,.98);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale3d(1.2,1.2,1);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  z-index: 100;
}

.modal-backdrop#sign-up-modal {

  &:target {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);
  }

  .article-sign-up {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 30px auto;

    @include media(xxs) {
      margin: 0 auto;
    }

    &.shake {
      animation: shake .25s ease-in-out;
    }
  }

  .icons-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
  }
}

@keyframes shake {
  0% {
    transform: none;
  }

  25% {
    transform: translate3d(2%,0,0);
  }

  50% {
    transform: translate3d(-2%,0,0);
  }

  75% {
    transform: translate3d(2%,0,0);
  }

  100% {
    transform: none;
  }
}
// scss-lint:enable IdSelector
