.modal-backdrop {
  background: rgba($white,.98);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale3d(1.2,1.2,1);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  z-index: $z-modal;


  &.in {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);

    .modal > .article {

      &.article-confirm {
        pointer-events: none;
      }

      &.out {
        pointer-events: none;
      }

      &.in {
        pointer-events: auto;
      }
    }
  }

  .icons-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    z-index: $z-modal + 2;
  }
}

.modal {
  position: relative;

  > .article {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    &.article-sign-up {
      z-index: $z-modal + 1;
    }

    &.article-questionnaire,
    &.article-confirm {
      opacity: 0;
      transform: translate3d(0,100px,0);
      z-index: $z-modal;
    }

    &.in {
      opacity: 1;
      transform: translate3d(0,0,0);
      z-index: $z-modal + 1;
    }

    &.out {
      opacity: 0;
      transform: translate3d(0,-100px,0);
      z-index: $z-modal;
    }
  }

  .well {
    font-size: 16px;
    padding: 15px;
    position: relative;
    z-index: 2;

    @include media(xxs) {
      font-size: 14px;
    }

    &:hover {
      border-color: $purple-light;
      box-shadow: inset 0 0 0 1px $purple-light;
      color: $purple-light;

      .a {
        text-decoration: underline;
      }
    }

    &:hover .icons-chevron-right:first-child,
    &:active .icons-chevron-right:first-child {
      transform: rotate3d(0,0,1,180deg) translate3d(3px,0,0);
    }

    &:hover .icons-chevron-right:last-child,
    &:active .icons-chevron-right:last-child {
      transform: translate3d(3px,0,0);
    }

    // anchor
    .icons-github,
    .icons-bitbucket {
      height: 21px;
      margin: 0 9px 0 0;
      top: 0;
      width: 21px;
    }

    .icons-chevron-right {
      height: 9px;
      margin: 0;
      opacity: .75;
      top: 0;
      transition: transform .3s ease-in-out;
      width: 9px;

      &:first-child {
        margin-right: 6px;
        transform: rotate3d(0,0,1,180deg);
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }
}
