.sign-up-box {
  align-items: center;
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  color: $gray;
  margin: 0 auto 60px;
  overflow: visible;
  padding: 21px 30px;
  position: relative;
  width: 390px;

  @include media(xxs) {
    font-size: 16px;
    width: 330px;
  }

  @include media(xxxs) {
    padding: 21px 15px;
    width: 300px;
  }

  .img {
    height: 85px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -77px;
    width: 150px;
  }

  .p {
    margin-bottom: 0;

    + .p {
      margin-bottom: 12px;
    }
  }

  .popover-trigger {
    cursor: pointer;

    @include media(xxs) {
      font-size: 13px;
    }
  }

  .popover {
    bottom: 100%;
    font-size: 15px;
    width: 270px;
  }
}

.article-sign-up {
  background: $gray-lighterest;
  border: 6px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 3px 15px rgba($black,.1);
  margin: -450px auto 90px;
  max-width: 600px;
  padding: 60px;

  @include media(xs) {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    margin: 0;
    padding: 30px 30px 45px;
  }

  &.submitted {

    .hide {
      display: block;
    }

    .show {
      display: none;
    }
  }

  .well {
    background: desaturate($red,10%);
    border: 2px solid $red-faded;
    border-radius: $input-border-radius-lg;
    color: $white;
    font-size: 16px;
    font-weight: $weight-normal;
    line-height: 1.4;
    margin: 0;
    padding: 15px 6px 15px 69px;
    position: relative;

    @include media(xxs) {
      font-size: 15px;
    }

    .img {
      left: 15px;
      position: absolute;
      top: -30px;

      @include media(xxs) {
        top: -18px;
      }
    }
  }

  .form {
    overflow: visible;
  }

  .popover-trigger {
    cursor: pointer;
    margin-left: 3px;
    top: -1px;
  }

  .popover {
    color: $gray;
    font-size: 14px;
    line-height: 1.4;
    width: 280px;
  }

  .input-group-vertical {
    flex: 0 0 auto;
    margin-top: 15px;
    overflow: visible;

    @include media(sm) {
      min-width: 100%;

      &:first-child {
        padding-bottom: 12px;
      }
    }

    .input-md {
      border-radius: $input-border-radius-lg;
    }
  }

  .radio-group .label {
    color: $gray;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
  }

  .input-radio {
    pointer-events: none;
    position: absolute;
    visibility: hidden;

    // active state
    &:checked + .radio,
    &:checked + .radio:hover {
      border-color: currentColor;
      color: $purple-light;

      .icons:last-child {
        background: $green;
        color: $white;
      }
    }

    // except when invalid
    &.invalid:not(:valid) + .radio,
    &.invalid:not(:valid) + .radio:hover {
      border-color: currentColor;
      color: $red;
    }
  }

  .radio {
    align-items: center;
    display: flex;
    flex: 1 1;
    height: 90px;
    justify-content: center;
    line-height: 86px;
    padding-left: 0;
    padding-right: 30px;

    &:last-child {
      margin-left: 15px;
    }

    // logo
    .icons:first-child {
      height: 100%;
      margin-right: 9px;
      width: 24px;
    }

    // check
    .icons:last-child {
      border: 1px solid currentColor;
      border-radius: 50%;
      color: $gray-lighter;
      height: 24px;
      padding: 6px;
      position: absolute;
      right: 15px;
      top: 31px;
      width: 24px;
    }
  }

  // hide org initially
  // .input-group-org {
  //   display: none;
  // }

  // submit
  .btn.green {
    margin-top: 30px;
  }


  // runnabear-jumping
  .hide {
    display: none;
    max-width: 100%;
  }

  .h1.hide {
    margin-bottom: 0;
  }
}
