<article class="article hero demo-hero">
  <h2 class="h3 text-center">Book 30 minutes on our calendar to meet over Hangouts, Skype or in-person (if you’re in the Bay Area), to run through a demo and go over any questions you have.</h2>
  <div class="calendar" id="bookingjs"></div>
</article>
