<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Book 30 minutes on our calendar to meet! — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="/styles/index.css">

    <script ugly>
      @@include('../../js/signup.js')
      @@include('../../js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-demo" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('../components/icons.hbs')
    @@include('../components/header.hbs')

    <main class="grid-block vertical main hero-only">
      @@include('../html/demo/demo-hero.hbs')
    </main>

    @@include('../components/footer.hbs')
    @@include('../components/form-modal.hbs')

    @@include('../../js/external/external.html')

    {{!-- for bookingjs --}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
    <script src="//cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
    <script ugly>window.timekitBookingConfig = {widgetId: '77c77a8e-b128-40f7-9dc2-b0e387aea507'}</script>
