<article class="article article-secure">
  <div class="grid-container clearfix">
    <img class="img" src="images/secure-lock.svg" height="2700" width="2700">
    <div class="text-wrapper">
      <h1 class="h1">Secure by design.</h1>
      <ul class="ul">
        <li class="li"><strong class="strong">Single-tenancy</strong> means your code is isolated from others.
        <li class="li">We don’t store your source code!
        <li class="li">We’re regularly audited by a leading security firm.
      </ul>
    </div>
  </div>
</article>