<article class="article article-bonus grid-container">
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-flexible.svg" width="60" height="60">
      <h3 class="h3">Flexible</h3>
      <p class="p">Sync changes from your local machine and SSH into running containers with our&#32;
        <a class="link strong" href="https://github.com/runnable/cli">CLI</a>.
      </p>
    </div>
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-open.svg" width="60" height="60">
      <h3 class="h3">Open</h3>
      <p class="p">Full Docker (Dockerfiles, Swarm, Registry) under the hood, with direct network access and image&#32;
        <br class="br visible-xs visible-xxxs">export capabilities.
      </p>
    </div>
  </section>
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-performance.svg" width="60" height="60">
      <h3 class="h3">Performant</h3>
      <p class="p">Dedicated infrastructure that&#32;
        <br class="br visible-xs visible-xxxs">auto-scales based on usage.
      </p>
    </div>
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-security.svg" width="60" height="60">
      <h3 class="h3">Secure</h3>
      <p class="p">Single-tenant infrastructure per&#32;
        <br class="br visible-md hidden-sm">team—regular security audits (by&#32;
        <br class="br visible-md hidden-sm"><br class="br visible-xxxs"><a class="link strong" href="https://www.nccgroup.trust/us/">NCC Group</a>).
      </p>
    </div>
  </section>
</article>