<article class="article article-bonus grid-container">
  <section class="section grid-block grid-2">
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Flexible</h3>
        <p class="p">Keep running branches in sync with GitHub, or sync directly from local with our CLI. (Also useful for SSH access.).</p>
      </div>
    </div>
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Open</h3>
        <p class="p">Full Docker (Dockerfiles, Swarm, Registry) under the hood, with direct network access and image export capabilities.</p>
      </div>
    </div>
  </section>
  <section class="section grid-block grid-2">
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Performance</h3>
        <p class="p">Dedicated infrastructure that auto-scales based on usage.</p>
      </div>
    </div>
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Security</h3>
        <p class="p">Single-tenant infrastructure per team; regular security audits (NCC Group).</p>
      </div>
    </div>
  </section>
</article>