<article class="article article-bonus grid-container">
  <section class="section grid-block grid-2">
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Ease of Use</h3>
        <p class="p">Use Runnable CLI to tail logs and debug issues.</p>
      </div>
    </div>
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Flexibility</h3>
        <p class="p">Export and Deploy images from our private Docker Registry.</p>
      </div>
    </div>
  </section>
  <section class="section grid-block grid-2">
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Performance</h3>
        <p class="p">Dedicated infrastructure that auto-scales based on usage.</p>
      </div>
    </div>
    <div class="grid-block bonus-item">
      <img class="img grid-block shrink" src="" width="60" height="60">
      <div class="grid-block vertical">
        <h3 class="h3">Security</h3>
        <p class="p">Single-tenant infrastructure per team; Regular security audits.</p>
      </div>
    </div>
  </section>
</article>