<article class="article article-bonus grid-container">
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-flexible.svg" width="60" height="60">
      <h3 class="h3">Flexible</h3>
      <p class="p">Keep running branches in sync with GitHub, or sync directly from local with our&#32;
        <a class="link strong" href="https://github.com/runnable/cli">CLI</a> (also useful for&#32;
        <br class="visible-xxs">SSH access).
      </p>
    </div>
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-open.svg" width="60" height="60">
      <h3 class="h3">Open</h3>
      <p class="p">Full Docker (Dockerfiles, Swarm, Registry) under the hood, with direct network access and image&#32;
        <br class="visible-xxs">export capabilities.
      </p>
    </div>
  </section>
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-performance.svg" width="60" height="60">
      <h3 class="h3">Performant</h3>
      <p class="p">Dedicated infrastructure that&#32;
        <br class="visible-xs">auto-scales based on usage.
      </p>
    </div>
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="images/icons-security.svg" width="60" height="60">
      <h3 class="h3">Secure</h3>
      <p class="p">Single-tenant infrastructure per&#32;
        <br class="visible-md hidden-sm"><br class="visible-xs">team—regular security audits&#32;
        <br class="visible-xs">(by&#32;
        <br class="visible-md hidden-sm"><a class="link strong" href="https://www.nccgroup.trust/us/">NCC Group</a>).
      </p>
    </div>
  </section>
</article>