<article class="article hero">
  <h1 class="h1 text-center">Full-stack
    <br class="visible-xxs"> environments
    <br class="hidden-xs"> for your GitHub branches.
  </h1>
  <p class="p text-center">When you create a branch, you get a new sandbox environment.
    <br class="hidden-sm">When you push changes to that branch, your sandbox updates.
</article>
