<article class="article-github">

  <div class="grid-block vertical section-environments">
    <h2 class="h2">Every branch across every repository runs in a full-stack environment.</h2>
    <figure class="figure">
      <img class="img" src="images/environments.png" width="1207">
      <div class="gradient"></div>
    </figure>
    <hr class="hr">
  </div>

  <div class="grid-block vertical section-updates">
    <h2 class="h2">Updates to branches automatically update environments.</h2>
    <figure class="figure">
      <img class="img updates-terminal" src="images/updates-terminal.png" width="450">
      <img class="img updates-runnable" src="images/updates-runnable.png" width="1214">
      <div class="gradient"></div>
    </figure>
    <hr class="hr">
  </div>

</article>
