<article class="article article-github grid-container">
  <section class="section section-environments grid-block">
    <h2 class="h2 grid-content">Every branch across every repository runs in a full-stack environment.</h2>
    <figure class="figure grid-content gradient gradient-right">
      <img class="img" src="images/runnable.png" height="420" width="1080">
    </figure>
  </section>
  <hr class="hr">
  <section class="section section-updates grid-block">
    <h2 class="h2 grid-content">Updates to a branch automatically update the environment.</h2>
    <figure class="figure grid-content gradient gradient-left">
      <img class="img img-updates" src="images/runnable.png" height="420" width="1080">
    </figure>
  </section>
</article>
