<article class="article-github">

  <div class="grid-block vertical environments">
    <h2 class="h2">Every branch across every repository runs in a full-stack environment.</h2>
    <figure class="figure">
      <img class="img" src="images/environments.png" width="1207">
      <div class="gradient"></div>
    </figure>
    <hr class="hr">
  </div>

  <div class="grid-block vertical auto-deploy">
    <h2 class="h2">Updates to branches automatically update environments.</h2>
    <figure class="figure">
      <img class="img" src="images/auto-deploy-1.png" width="450">
      <div class="gradient"></div>
      <img class="img" src="images/auto-deploy-2.png" width="1214">
    </figure>
    <hr class="hr">
  </div>

</article>
