<article class="article-github">
  <div class="grid-block vertical section-environments">
    <h2 class="h2">Every branch across every repository runs in a full-stack environment.</h2>
    <figure class="figure gradient gradient-right">
      <img class="img" src="images/environments.png" height="426" width="1207">
    </figure>
    <hr class="hr">
  </div>
  <div class="grid-block vertical section-updates">
    <h2 class="h2">Updates to branches automatically update environments.</h2>
    <figure class="figure gradient gradient-left">
      <img class="img img-terminal" src="images/terminal.png" height="295" width="450">
      <img class="img img-runnable" src="images/runnable.png" height="426" width="1214">
    </figure>
    <hr class="hr">
  </div>
</article>
