<article class="article article-github">
  <div class="grid-block grid-container vertical align-center">
    <section class="grid-block vertical section section-environments">
      <h2 class="h2 text-center">Every branch across every repository runs in a full-stack environment.</h2>
      <figure class="figure gradient gradient-right">
        <img class="img" src="images/environments.png" height="426" width="1207">
      </figure>
      <hr class="hr">
    </section>
    <section class="grid-block vertical section section-updates">
      <h2 class="h2 text-center">Updates to branches automatically update environments.</h2>
      <figure class="figure gradient gradient-left">
        <img class="img img-terminal" src="images/terminal.png" height="295" width="450">
        <img class="img img-runnable" src="images/runnable.png" height="426" width="1214">
      </figure>
    </section>
  </div>
</article>
