<article class="article article-use-cases">
  <div class="grid-block grid-2">
    <section class="grid-block vertical section-e2e">
      <h2 class="h2 text-center">Run integration tests automatically.</h2>
      <p class="p text-center">Integrate and test as changes are pushed to GitHub. Testing end-to-end has never been this easy.</p>
      <figure class="figure">
        <img class="img" src="images/e2e-testing.svg" width="450" height="315">
      </figure>
    </section>
    <section class="grid-block vertical section-isolation">
      <h2 class="h2 text-center">Test schema changes safely in isolation.</h2>
      <p class="p text-center">Isolate a branch to create a separate full-stack environment in seconds—including multi-gigabyte databases.</p>
      <figure class="figure figure-isolation gradient gradient-right">
        <img class="img img-isolation" src="images/isolation.svg" width="1080" height="420">
      </figure>
    </section>
  </div>
  <div class="grid-block grid-2">
    <section class="grid-block vertical section-sharing">
      <h2 class="h2 text-center">Quicker feedback loops.</h2>
      <p class="p text-center">Keep stakeholders updated with a link that’s up-to-date with your latest commit. Also useful for beta-testing.</p>
      <figure class="figure">
        <img class="img" src="images/sharing.png" width="450" height="319">
      </figure>
    </section>
    <section class="grid-block vertical section-pr">
      <h2 class="h2 text-center">Faster code reviews.</h2>
      <p class="p text-center">Reduce time spent on reviewing code changes with a live, up-to-date URL for every branch.</p>
      <figure class="figure">
        <img class="img" src="images/pr-page.svg" width="450" height="315">
      </figure>
    </section>
  </div>
</article>
