<article class="grid-block grid-2 article-use-cases">
  <div class="grid-block vertical">
    <h2 class="h2">Automatically test every commit end-to-end.</h2>
    <p class="p">Integrate and test with every push to GitHub. It’s never been this easy or comprehensive.</p>
    <figure class="figure">
      <img class="img" src="images/e2e-testing.png" width="450px" height="319">
    </figure>
  </div>
  <div class="grid-block vertical">
    <h2 class="h2">Test DB and config changes safely in isolation.</h2>
    <p class="p">Isolate a branch with copies of all components in seconds (including multi-GB databases).</p>
    <figure class="figure figure-isolation gradient gradient-right">
      <img class="img" src="images/isolation.png" width="1200px" height="420">
    </figure>
  </div>
  <div class="grid-block vertical">
    <h2 class="h2">Share your progress at any time, with anyone.</h2>
    <p class="p">Keep stakeholders and beta testers, up-to-date with a link that’s always running your latest commit.</p>
    <figure class="figure">
      <img class="img" src="images/sharing.png" width="450px" height="319">
    </figure>
  </div>
  <div class="grid-block vertical">
    <h2 class="h2">Link to changes from the pull request page.</h2>
    <p class="p">Reduce time spent on reviewing code changes with a live, up-to-date endpoint for every branch.</p>
    <figure class="figure">
      <img class="img" src="images/pr-page.png" width="450px" height="307">
    </figure>
  </div>
</article>
