<article class="grid-block vertical article article-legal">
  <div class="grid-content">
    <p class="p">This Acceptable Use Policy governs your use of the runnable.com website, the Runnable service network, the servers operated by Runnable, and any Runnable software you use (collectively the “<strong class="weight-strong">Runnable Resources</strong>”).  If you do not accept this policy, you may not access or use any of the Runnable Resources.  We may modify this policy at any time by posting the modified policy on our website.<
  </div>
  <div class="grid-content">
    <p class="p"><strong class="weight-strong">Prohibited Activities</strong>
      <br>You may not engage in any of the following prohibited activities while using the Runnable Resources. The descriptions are guidelines and not meant to be exhaustive.
  </div>
  <div class="grid-content">
    <p class="p"><span class="underline">Illegal/Criminal Activity</span>
    <ol class="ol">
      <li class="li">Make available files that contain music, film, video, images, photographs, software or any other material protected by intellectual property laws, including but not limited to copyright and trade secret law, unless you own or control the rights or are authorized to make such material available;
      <li class="li">Make available files that contain music, film, video, images, photographs, software or any other material that violates the rights of publicity or privacy of any third party;
      <li class="li">Download any file made available by another user that you know, or reasonably should know, cannot be legally copied, displayed, performed, or distributed in this manner;
      <li class="li">Use the Runnable Resources for any illegal purpose, or in violation of any local, state, national, or international law, including, without limitation, laws governing data protection and privacy, and import or export control.
    </ol>
  </div>
  <div class="grid-content">
    <p class="p"><span class="underline">Security and Integrity Violations</span>
    <ol class="ol">
      <li class="li">Impersonate any person or entity, falsely claim an affiliation with any person or entity, or access the Runnable accounts of others without permission;
      <li class="li">Share Runnable-issued passwords with any third party;
      <li class="li">Misrepresent the source, identity or content of information transmitted via the Runnable Resources;
      <li class="li">interfere with security-related features of the Runnable Resources, including by: (a) disabling or circumventing features that prevent or limit use or copying of any content; or (b) reverse engineering or otherwise attempting to discover the source code of any portion of the Runnable Resources except to the extent that the activity is expressly permitted by applicable law;
      <li class="li">Intentionally interfere with or damage operation of the Runnable Resources or any user's enjoyment of them, by any means, including uploading or otherwise disseminating viruses, worms, or other malicious code;
      <li class="li">Access any end user’s personal data or content without obtaining prior consent from such end user, including any Testers (as defined in the Terms of Use);
      <li class="li">Access the Runnable Resources through any method other than the Command Line Interface or through your online account.
    </ol>
  </div>
  <div class="grid-content">
    <p class="p"><span class="underline">Spamming and Inappropriate Behavior Violations</span>
    <ol class="ol">
      <li class="li">Make unsolicited offers, advertisements, proposals, or send junk mail, to other users of the Runnable Resources;
      <li class="li">Post, upload, or distribute any Application Content or other content that is unlawful, defamatory, libelous, inaccurate, or that a reasonable person could deem to be objectionable, profane, indecent, pornographic, harassing, threatening, embarrassing, hateful, or otherwise inappropriate.
    </ol>
  </div>
  <div class="grid-content">
    <p class="p"><span class="underline">Non-Testing Activity</span>
    <p class="p">The Runnable Resources are only for use in specific testing activities. The following testing activities are acceptable:
    <ul class="ul">
      <li class="li">Development environments
      <li class="li">Staging environments
      <li class="li">Unit testing
      <li class="li">Functional testing
      <li class="li">Integration testing
      <li class="li">Exploratory testing
      <li class="li">User acceptance testing
      <li class="li">End-to-end testing
    </ul>
    <p class="p">However, the following testing activities are prohibited:
    <ul class="ul">
      <li class="li">Production a/b testing
      <li class="li">Application beta testing
      <li class="li">Performance testing
      <li class="li">Scalability/load testing
    </ul>
    <p class="p">It is not acceptable to use Environment Links (as defined in the Terms of Use) to host applications for any non-testing use, including, but not limited to, any production, commercial, or professional (i.e. internal use in support of production) use. Prohibited production use includes, but is not limited to:
    <ul class="ul">
      <li class="li">Hosting advertisement platforms
      <li class="li">Performing data processing functions that involve intensive use of computational resources, network bandwidth, or memory usage
      <li class="li">Performing data mining
      <li class="li">Running proxy services
      <li class="li">Running TOR/Hidden Service Protocol services
      <li class="li">Running malicious code
      <li class="li">Mining Bitcoin or any other cryptocurrency
    </ul>
  </div>
  <div class="grid-content">
    <p class="p"><strong class="weight-strong">Violations of Acceptable Use</strong>
    <p class="p"><span class="underline">Non-Copyright Related</span>
    <p class="p">Runnable reserves the right to take any action it deems appropriate if it learns that you have engaged in any activity that it believes violates this policy.  Such action may include terminating your account, among other things.  Runnable does not assume any responsibility to take such action.  Runnable expressly disclaims liability for failure to take such action, or for delay in taking action it chooses to act.  If you believe that there has been a non-copyright related violation of this Acceptable Use Policy, please contact Runnable at <a href="mailto:accounts@runnable.com" class="link">accounts@runnable.com</a>.
    <p class="p"><span class="underline">Copyright Related</span>
    <p class="p">Runnable respects the rights of copyright owners to control commercial uses of their material, and expects our users to do the same.  You are responsible for complying with all federal and state laws applicable to the content available through the Runnable Resources, including copyright laws.
    <p class="p">RUNNABLE WILL TERMINATE THE SERVICE ACCOUNT OF ANYONE WHO IT LEARNS IS REPEATEDLY USING THE RUNNABLE RESOURCES IN VIOLATION OF COPYRIGHT LAW.
    <p class="p"><span class="underline">Reporting Claims of Copyright Infringement</span>
    <p class="p">If you believe that a user has copied your work via the Runnable Resources in a way that constitutes copyright infringement, you may submit a notification using the procedure detailed in the Runnable Terms of Use, available at <a href="https://runnable.com/legal/terms-of-use" class="link">https://runnable.com/legal/terms-of-use</a>.
  </div>
</article>
