<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Acceptable Use Policy — Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main hero-only">
      @@include('html/legal/acceptable-use-policy/aup-hero.hbs')
      @@include('html/legal/acceptable-use-policy/article-aup.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
