<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Our Terms of Service — Runnable</title>

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main hero-only">
      @@include('html/legal/terms-of-service/terms-hero.hbs')
      @@include('html/legal/terms-of-service/article-terms.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
