<div class="grid-block section article article-testing">
  <div class="grid-block grid-container-lg noscroll col-sm">
    <div class="grid-block col copy-wrapper">
      <h3 class="h3 weight-strong">Run automated tests.</h3>
      <h3 class="h3">View test results on the pull<br class="hidden-md"> request page.</h3>
      <div class="grid-block lists-wrapper">
        <ul class="grid-block col ul">
          <li class="li weight-strong">Integration</li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Cucumber
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Protractor
          </li>
        </ul>
        <ul class="grid-block col ul">
          <li class="li weight-strong">Manual</li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            RainforestQA
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Test.io
          </li>
        </ul>
        <ul class="grid-block col ul">
          <li class="li weight-strong">UI/E2E</li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Selenium
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Webdriver
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Browserstack
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Capybara
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Sauce Labs
          </li>
        </ul>
        <ul class="grid-block col ul">
          <li class="li weight-strong">Unit</li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            PHPUnit
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            JUnit
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            RSpec
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-block img-wrapper col">
      <img class="img" src="http://localhost:8000/images/testing/pr-page.png" width="800" height="642"></img>
    </div>
  </div>
</div>
