<article class="article article-more">
  <h3 class="h3 text-center">Runnable is a sandbox service that creates <strong class="strong">full-stack environments</strong> for your GitHub branches, so your team can integrate and test more often.</h3>
  <div class="grid-block justify-center btn-wrapper">
    <a class="grid-content shrink btn btn-lg green" href="product/">Explore Features</a>
    <a href="#sign-up" class="grid-content shrink btn btn-lg gray js-modal">Sign Up</a>
  </div>

  @@include('html/components/footer.hbs')

  <a href="http://code.runnable.com" class="grid-block well well-anchor well-code">
    <img class="grid-block shrink img" src="images/video/codesnippets.png" height="45" width="45">
    <div class="grid-block vertical justify-center">
      <p class="p">Check out our other project:
      <div class="a strong">Runnable CodeSnippets
        <svg class="icons icons-chevron-right">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </div>
    </div>
  </a>
</article>
