<article class="grid-block article article-more">
  <div class="grid-block align-center grid-container">
    <div class="grid-block justify-center">
      <ul class="grid-block list-companies justify-center">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-cratejoy.png" height="81" width="90" alt="Cratejoy">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-viralstyle.png" height="81" width="90" alt="Viralstyle">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-redeye.png" height="81" width="90" alt="Redeye">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-eshares.png" height="81" width="90" alt="eShares">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-convoy.png" height="81" width="90" alt="Convoy">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-hitch.png" height="81" width="90" alt="Hitch.">
      </ul>
    </div>
    <div class="grid-block col">
      <h2 class="h3">Build, test, and run environments for every branch. Including the services, databases, and data you need.</h2>
    </div>
  </div>
</article>
