<article class="article article-more">
  <h3 class="h3 text-center">Save time and frustration caused by the development workflow.</h3>
  <div class="grid-block justify-center btn-wrapper">
    <a class="grid-content shrink btn btn-lg green" href="product/">Product Tour</a>
    <a data-target="#sign-up" class="grid-content shrink btn btn-lg gray js-modal track-sign-up">Sign Up</a>
  </div>
</article>
