<article class="grid-block col align-center section article">
  <h2 class="h3 weight-strong text-center">Merge with confidence.</h2>
  <h3 class="h3 weight-light text-center">Fully tested and reviewed, merge your<br> changes with your mainline branch.</h3>
  <button class="btn btn-lg green margin-top-xxs">Start Your Free Trial</button>
</article>
