<article class="grid-block col align-center article article-graph">
  <section class="grid-block grid-container section col">
    <h2 class="h3 weight-strong text-center">Catching bugs early saves time and money.</h2>
    <p class="p weight-light text-center margin-top-xxs">As your developer count and codebase grows, the number of bugs introduced increase during development. Some of these bugs can be caught early via unit testing, but others won't manifest until your new code is integrated with the rest of your system. For most teams, that happens too late in development.</p>
  </section>
  <figure class="grid-block figure-graph">
    <div class="outer-circle">
      <div class="bug"></div>
    </div>
    <div class="outer-circle">
      <div class="bug"></div>
    </div>
    <div class="inner-circle"></div>
  </figure>
  <figure class="figure-x-axis">
    <ul class="grid-block justify-justified">
      <li class="x-tag">Code
      <li class="x-tag">Unit Test
      <li class="x-tag">Review
      <li class="x-tag">Stage
      <li class="x-tag">Integration
      <li class="x-tag">QA Test
    </ul>
  </figure>
</article>
