<article class="article article-companies">
  <p class="text-center text-gray">Teams that are saving time and frustration:</p>
  <div class="grid-block justify-center">
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
  </div>
  <div class="grid-block justify-center">
    <div class="img"></div>
    <div class="img"></div>
    <div class="img"></div>
  </div>
</article>
