<article class="grid-block section article article-testing">
  <div class="grid-block grid-container-lg noscroll col-sm">
    <div class="grid-block col copy-wrapper left">
      <h3 class="h3 weight-strong">Run automated tests.</h3>
      <h4 class="h3">View test results on the pull<br class="hidden-md"> request page.</h4>
      <ul class="grid-block lists-wrapper">
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li weight-strong">Integration
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Cucumber
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Protractor
          </ul>
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li weight-strong">Manual
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              RainforestQA
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Test.io
          </ul>
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li weight-strong">UI/E2E
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Selenium
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Webdriver
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Browserstack
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Capybara
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Sauce Labs
          </ul>
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li weight-strong">Unit
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              PHPUnit
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              JUnit
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              RSpec
          </ul>
      </ul>
    </div>
    <div class="grid-block img-wrapper col">
      <img class="img" src="images/home/pr-page.png" width="800" height="642">
    </div>
  </div>
</article>
