<article class="grid-block section article article-testing">
  <div class="grid-block grid-container-lg noscroll col-sm">
    <div class="grid-block col copy-wrapper left">
      <h3 class="h3 weight-strong"><span class="underline">End-to-end</span> test every branch.</h3>
      <h4 class="h3">Run tests from any framework and view results on pull requests.</h4>
      <ul class="grid-block lists-wrapper">
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Selenium
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Webdriver
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Cucumber
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Protractor
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              PHPUnit
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              JUnit
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              RSpec
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Capybara
          </ul>
        <li class="li">
          <ul class="grid-block col ul">
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              RainforestQA
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Test.io
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Sauce Labs
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Xamarin Test Cloud
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              New Relic Synthetics
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              BrowserStack
          </ul>
      </ul>
    </div>
    <div class="grid-block img-wrapper col">
      <img class="img" src="images/home/pr-page.png" width="800" height="647">
    </div>
  </div>
</article>
