<article class="article article-home-cta">
  <section class="grid-block grid-container-lg justify-center section">
    <div class="grid-block col">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-bug.svg" width="54" height="54">
      Runnable enables every developer in your team to catch bugs earlier in development.
    </div>
    <div class="grid-block col align-start">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-unlimited.svg" width="54" height="54">
      All plans include unlimited builds, concurrency, and environments that run on dedicated, single-tenant infrastructure.
      <button class="btn btn-sm white margin-top-sm">View Pricing Plans</button>
    </div>
  </section>
</article>
