<article class="grid-block article article-more">
  <div class="grid-block grid-container">
    <div class="grid-block justify-center">
      <ul class="grid-block list-companies">
        <li class="grid-block shrink img">
        <li class="grid-block shrink img">
        <li class="grid-block shrink img">
        <li class="grid-block shrink img">
        <li class="grid-block shrink img">
        <li class="grid-block shrink img">
      </ul>
    </div>
    <div class="grid-block vertical">
      <h3 class="h3">Teams save time and frustration caused by the development workflow.</h3>
      <div class="grid-block btn-wrapper">
        <a class="grid-content shrink btn btn-lg green" href="product/">Product Tour</a>
        <a data-target="#sign-up" class="grid-content shrink btn btn-lg white js-modal track-sign-up">Sign Up</a>
      </div>
    </div>
  </div>
</article>
