<article class="grid-block col align-center article article-graph">
  <section class="grid-block col section graph-container">
    <h2 class="h2 weight-strong text-center">Catching bugs early <br class="hidden-xxxs">saves time & money.</h2>
    <h3 class="h3 weight-light text-center margin-top-xxs">Runnable fully integrates and tests your changes earlier in development.</h3>
  </section>
  <figure class="grid-block col figure-graph">
    <div class="grid-block col noscroll popover top popover-purple visible-xs in">
      <div class="weight-strong">With Runnable</div>
      <div class="small">Most bugs are caught late, after your changes are integrated on a staging server.</div>
    </div>
    <div class="circle">
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="absolute bug orange has-img">
        <div class="popover popover-purple bottom in bug-orange hidden-xs">
          <div class="weight-strong">With Runnable</div>
          <div class="small">Most bugs are caught late, after your changes are integrated on a staging server.</div>
        </div>
      </div>
      <div class="absolute bug purple has-img">
        <div class="popover popover-purple top in bug-purple hidden-xs">
          <div class="weight-strong">Without Runnable</div>
          <div class="small">Integration & end-to-end testing happens early, at the unit-testing phase.</div>
        </div>
      </div>
    </div>
    <div class="grid-block col noscroll popover popover-purple visible-xs bottom in">
      <div class="weight-strong">Without Runnable</div>
      <div class="small">Integration & end-to-end testing happens early, at the unit-testing phase.</div>
    </div>
  </figure>
  <figure class="grid-block figure-x-axis noscroll">
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Code</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Unit Tests</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Review</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Staging</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Integration</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">QA Tests</span></div>
  </figure>
</article>
