<article class="grid-block vertical align-center article article-problem">
  <h3 class="h3 weight-strong text-center">The traditional development workflow is broken.</h3>
  <p class="p text-center">As applications mature and teams grow, the number of environments begin to limit the speed of development.</p>
  <ul class="grid-block list">
    <li class="grid-block vertical padding-md">
      <img class="grid-content shrink img" src="images/video/problem-waiting.svg" height="120" width="120">
      <p class="grid-content shrink p">Time is spent waiting for an environment to free up.</p>
    <li class="grid-block vertical padding-md">
      <img class="grid-content shrink img" src="images/video/problem-configuration.svg" height="120" width="120">
      <p class="grid-content shrink p">Effort is consumed setting up environments with the right versions of other services and databases.</p>
    <li class="grid-block vertical padding-md">
      <img class="grid-content shrink img" src="images/video/problem-testing.svg" height="120" width="120">
      <p class="grid-content shrink p">Frustration increases when a change that took a wrong turn isn’t caught earlier in the cycle.</p>
  </div>
</article>
