<article class="grid-block col align-center section article">
  <h2 class="h3 weight-strong text-center">Review & sign-off.</h2>
  <p class="p text-center">Environment URLs are shared for easy code review and demos.</p>
</article>
