<article class="grid-block grid-container section article article-review">
  <img src="images/home/review.png" class="grid-block shrink img img-wrapper" height="242" width="437">
  <div class="grid-block col copy-wrapper right">
    <h2 class="h3 weight-strong">Review & sign-off.</h2>
    <h3 class="h3 weight-light">Share links to persistent environments to keep all stakeholders in sync.</h3>
    <ul class="grid-block lists-wrapper">
      <li class="li">
        <ul class="ul lists-wrapper">
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Developers
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Designers
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Management
        </ul>
      <li class="li">
        <ul class="ul lists-wrapper">
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Product Managers
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Quality Assurance
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Product Owner
    </ul>
  </div>
</article>
