<article class="grid-block vertical align-center article article-solution">
  <h3 class="h3 weight-strong text-center">Runnable removes the bottleneck with self-managed environments for every code branch.</h3>
  <ul class="grid-block vertical list">
    <li class="grid-block align-center padding-lg list-item">
      <div class="grid-content shrink img"></div>
      <p class="grid-content p">Time is spent waiting for an environment to free up.</p>
    <li class="grid-block align-center padding-lg list-item">
      <p class="grid-content p">Effort is consumed setting up environments with the right versions of other services and databases.</p>
      <div class="grid-content shrink img"></div>
    <li class="grid-block align-center padding-lg list-item">
      <div class="grid-content shrink img"></div>
      <p class="grid-content p">Frustration increases when a change that took a wrong turn isn’t caught earlier in the cycle.</p>
  </div>
</article>
