<article class="grid-block vertical align-center article article-solution">
  <div class="card">
    <div class="padding-lg card-header">
      <h3 class="h3 weight-strong text-center">Runnable removes the bottleneck.</h3>
      <p class="p text-center">Create self-managed environments for every code branch.</p>
    </div>
    <ul class="grid-block list">
      <li class="grid-block vertical padding-lg list-item">
        <img class="grid-content shrink img" src="images/video/solution-automatic.svg" height="120" width="210">
        <p class="grid-content p">Runnable automatically creates environments for every branch, and keeps them up to date.</p>
      <li class="grid-block vertical padding-lg list-item">
        <img class="grid-content shrink img" src="images/video/solution-stack.svg" height="120" width="210">
        <p class="grid-content p">Each environment includes all the services needed (properly configured with cloned DBs) to run changes end-to-end.</p>
      <li class="grid-block vertical padding-lg list-item">
        <img class="grid-content shrink img" src="images/video/solution-refresh.svg" height="120" width="210">
        <p class="grid-content p">Following progress and getting feedback is as simple as reloading the environment’s URL.</p>
    </ul>
  </div>
  <div class="grid-block vertical align-center padding-lg">
    <p class="grid-content text-white p text-center">See how Runnable enables your team to ship faster.</p>
    <a class="grid-content btn btn-md btn-white" href="product/">View Product Features</a>
  </div>
</article>
