<article class="grid-block article article-more">
  <div class="grid-block grid-container">
    <div class="grid-block justify-center">
      <ul class="grid-block list-companies">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-cratejoy.png" height="81" width="90" alt="Cratejoy">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-udemy.png" height="81" width="90" alt="udemy">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-doordash.png" height="81" width="90" alt="Doordash">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-eshares.png" height="81" width="90" alt="eShares">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-convoy.png" height="81" width="90" alt="Convoy">
        <li class="grid-block shrink list-item">
          <img class="img" src="images/video/company-hitch.png" height="81" width="90" alt="Hitch.">
      </ul>
    </div>
    <div class="grid-block vertical">
      <h3 class="h3">Save time and frustration caused by the development workflow.</h3>
      <div class="grid-block btn-wrapper">
        <a class="grid-content shrink btn btn-lg green" href="product/">Product Tour</a>
        <a data-target="#sign-up" class="grid-content shrink btn btn-lg white js-modal track-sign-up">Sign Up</a>
      </div>
    </div>
  </div>
</article>
