<article class="grid-block article article-more">
  <div class="grid-block align-center justify-center grid-container noscroll">
    <div class="grid-block shrink align-center margin-right-lg video-cta noscroll">
      <img src="images/home/video-still.jpg" class="grid-block shrink img">
      <img src="images/home/play.svg" class="icon-play">
    </div>
    <div class="grid-block shrink col">
      <h2 class="h3">Build, test, and run environments for every branch. Including the services, databases, and data you need.</h2>
    </div>
  </div>
</article>
