<article class="grid-block col align-center article article-graph">
  <section class="grid-block section col">
    <h2 class="h3 weight-strong text-center">Catching bugs early saves time and money.</h2>
    <p class="p weight-light text-center margin-top-xxs">As your developer count and codebase grows, the number of bugs introduced increase during development. Some of these bugs can be caught early via unit testing, but others won't manifest until your new code is integrated with the rest of your system. For most teams, that happens too late in development.</p>
  </section>
  <figure class="grid-block figure-graph">
    <div class="circle"></div>
    <div class="bug red"></div>
    <div class="bug orange"></div>
  </figure>
  <figure class="figure-x-axis">
    <ul class="grid-block justify-justified noscroll ul">
      <li class="x-col noscroll">
        <div class="grid-block">
          <div class="bug"></div>
          <div class="bug"></div>
        </div>
        <div class="grid-block col">
          <strong class="weight-strong">Code & Unit Tests</strong>
          <small class="small weight-light">Runnable enables developers to begin integration and QA tests immediately as development begins.</small>
        </div>
      <li class="x-col noscroll">
        <div class="grid-block">
          <div class="bug"></div>
          <div class="bug"></div>
        </div>
        <div class="grid-block col">
          <strong class="weight-strong">Review & Staging</strong>
          <small class="small weight-light">At every stage in the process, fixing bugs become 5 times more expensive to fix.</small>
        </div>
      <li class="x-col noscroll">
        <div class="grid-block">
          <div class="bug"></div>
          <div class="bug"></div>
        </div>
        <div class="grid-block col">
          <strong class="weight-strong">Integration & QA Tests</strong>
          <small class="small weight-light">Bugs caught at this point in development are the most expensive to fix.</small>
        </div>
    </ul>
  </figure>
</article>
