<div class="grid-block article article-testing">
  <div class="grid-block col info-wrapper padding-left-md padding-right-md padding-left-sm-sm padding-right-sm-sm margin-bottom-lg margin-bottom-sm-sm">
    <h3 class="h3 weight-strong hidden-sm padding-left-sm padding-right-sm">Run automated tests.</h3>
    <h3 class="h3 hidden-sm padding-left-sm padding-right-sm">View test results on the pull<br>request page.</h3>
    <div class="grid-block lists-wrapper margin-top-sm">
      <ul class="grid-block col ul padding-sm">
        <li class="li weight-strong">Integration</li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Cucumber
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Protractor
        </li>
      </ul>
      <ul class="grid-block col ul padding-sm">
        <li class="li weight-strong">Manual</li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          RainforestQA
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Test.io
        </li>
      </ul>
      <ul class="grid-block col ul padding-sm">
        <li class="li weight-strong">UI/E2E</li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Selenium
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Webdriver
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Browserstack
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Capybara
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          Sauce Labs
        </li>
      </ul>
      <ul class="grid-block col ul padding-sm">
        <li class="li weight-strong">Unit</li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          PHPUnit
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          JUnit
        </li>
        <li class="li">
          <svg class="icons icons-check text-green">
            <use xlink:href="#icons-check">
          </svg>
          RSpec
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-block img-wrapper col padding-left-md-sm">
    <h3 class="h3 weight-strong visible-sm padding-top-md padding-right-md-sm">Run automated tests.</h3>
    <h3 class="h3 visible-sm padding-bottom-md padding-right-md-sm">View test results on the pull request page.</h3>
    <div class="image-inner-wrapper">
      <img class="img" src="http://localhost:8000/images/testing/pr-page.png" width="1102" height="589"></img>
    </div>
  </div>
</div>
