<article class="article article-home-cta">
  <section class="grid-block col justify-center section align-start">
    <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-unlimited.svg" width="60" height="60">
    <h3 class="h3 weight-strong">Runnable enables every developer in your team to catch bugs earlier.</h3>
    <h3 class="h3 weight-light">All plans include unlimited builds, concurrency, and environments that run on dedicated, single-tenant infrastructure.</h3>
    <a class="btn btn-lg green margin-top-md" href="pricing/">View Pricing Plans</a>
  </section>
</article>
