<article class="grid-block col align-center section article article-validate">
  <img class="img margin-bottom-md" src="images/home/validate.svg" width="160" height="113">
  <div class="grid-block col">
    <h2 class="h3 weight-strong text-center">Validate your changes.</h2>
    <h3 class="h3 weight-light text-center">Test as you code with environments that<br class="hidden-sm"> rebuild on every commit.</h3>
  </div>
</article>
