<article class="grid-block grid-container section article article-review">
  <img src="images/home/review.png" class="grid-block shrink img img-wrapper" height="242" width="437">
  <div class="grid-block col copy-wrapper right">
    <h2 class="h3 weight-strong">Review & sign-off.</h2>
    <h3 class="h3 weight-light">Environment URLs are shared for <br class="visible-md hidden-xxs">easy code review and demos.</h3>
  </div>
</article>
