<article class="grid-block col align-center article article-graph">
  <section class="grid-block section col">
    <h2 class="h3 weight-strong text-center">Catching bugs early saves time and money.</h2>
    <p class="p weight-light text-center margin-top-xxs">As your developer count and codebase grows, the number of bugs introduced increase during development. Some of these bugs can be caught early via unit testing, but others won't manifest until your new code is integrated with the rest of your system. For most teams, that happens too late in development.</p>
  </section>
  <figure class="grid-block figure-graph">
    <div class="circle">
      <div class="spin-circle">
        <div class="bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="bug orange"></div>
      </div>
    </div>
    <div class="bug orange has-img">
      <div class="popover bottom in bug-orange">Most bugs are caught late in development, when they’re expensive to fix.</div>
    </div>
    <div class="bug purple has-img">
      <div class="popover top in bug-purple">Runnable enables integration and QA testing when development begins.</div>
    </div>
  </figure>
  <figure class="grid-block figure-x-axis noscroll">
    <div class="grid-block x-col noscroll">Code</div>
    <div class="grid-block x-col noscroll">Unit Tests</div>
    <div class="grid-block x-col noscroll">Review</div>
    <div class="grid-block x-col noscroll">Staging</div>
    <div class="grid-block x-col noscroll">Integration</div>
    <div class="grid-block x-col noscroll">QA Tests</div>
  </figure>
</article>
