<article class="grid-block align-center justify-center noscroll article article-more">
  <div data-target="#video" class="grid-block shrink align-center video-cta noscroll js-modal">
    <img src="images/home/video-still.jpg" class="grid-block shrink img no-touching">
    <img src="images/home/play.svg" class="icon-play no-touching" height="120" width="120">
  </div>
  <div class="grid-block shrink col">
    <h2 class="h3">For every branch, Runnable builds, tests, and runs full-stack environments with the services, databases, and data you need to test end‑to‑end.</h2>
  </div>
</article>
