<article class="grid-block vertical align-center article article-solution">
  <div class="card">
    <div class="padding-lg card-header">
      <h3 class="h3 weight-strong text-center">Runnable removes the bottleneck.</h3>
      <p class="p text-center">With self-managed environments for every code branch.</p>
    </div>
    <ul class="grid-block list">
      <li class="grid-block vertical padding-lg list-item">
        <div class="grid-content shrink img"></div>
        <p class="grid-content p">Runnable automatically creates environment for every branch, and keeps them up to date.</p>
      <li class="grid-block vertical padding-lg list-item">
        <div class="grid-content shrink img"></div>
        <p class="grid-content p">Each environment includes all the services needed (properly configured with cloned DBs) to run changes end-to-end.</p>
      <li class="grid-block vertical padding-lg list-item">
        <div class="grid-content shrink img"></div>
        <p class="grid-content p">Following progress and getting feedback becomes a matter of refreshing the environment’s URL.</p>
    </ul>
  </div>
</article>
