<article class="hero home-hero">
  <div class="grid-block col grid-container noscroll">
    <h1 class="h1 text-center">Catch bugs earlier.</h1>
    <p class="h3 text-center">With Runnable, your team can <span class="weight-normal">review</span><br class="hidden-xs"> and <span class="weight-normal">test</span> every code change end-to-end.</p>
    <div class="grid-block justify-center noscroll">
      <button data-target="#sign-up" class="btn btn-lg js-modal track-sign-up">
        <span class="span no-touching">Start Your Free Trial</span>
      </button>
    </div>
  </div>
</article>
