<article class="hero home-hero">
  <div class="grid-block col grid-container noscroll">
    <h1 class="h1 text-center">Catch bugs earlier.</h1>
    <p class="h3 text-center">Run automated & manual tests before<br class="hidden-xs"> merging your feature branches.</p>
    <div class="grid-block justify-center noscroll">
      <button data-target="#sign-up" class="btn btn-lg js-modal track-sign-up">
        <span class="span no-touching">Start Your Free Trial</span>
      </button>
    </div>
  </div>
</article>
