<article class="hero video-hero">
  <h1 class="h1 text-center">Speed up <br class="br">development.</h1>
  <p class="h3 text-center">Full-stack environments for every<br class="br"> branch and any application.</p>
</article>
