<article class="article hero video-hero">
  <h1 class="h1 text-center">Running apps <br class="br">in a snap.</h1>
  <p class="h3 text-center">Review and test every code change<br class="br"> instantly.</p>
  <div class="video-img-wrapper video-start">
    <button class="btn btn-lg green video-link">Watch the Video
      <img src="images/video/play.svg" class="img" height="21" width="21">
    </button>
    <img class="video-img" src="images/video/video-still.jpg">
    <iframe id="mobile-player" class="mobile-video-embed" src="https://www.youtube-nocookie.com/embed/BX5iPEWSrnY?modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
  </div>
</article>
