<article class="hero video-hero">
  <div class="grid-block col grid-container">
    <h1 class="h1">Catch bugs earlier.</h1>
    <p class="h3">Run automated & manual tests<br>before merging your branches.</p>
  </div>
</article>
