<article class="article hero video-hero">
  <h1 class="h1 text-center">Your team has<br>a staging problem.</h1>
  <div class="video-img-wrapper video-start">
    <button class="btn btn-lg green video-link">Watch the Video
      <img src="{{baseUrl}}images/video/play.svg" class="img" height="21" width="21">
    </button>
    <img class="video-img" src="{{baseUrl}}images/video/video-still.jpg">
    <iframe id="mobile-player" class="mobile-video-embed" src="https://www.youtube-nocookie.com/embed/mBR-_5dXH4w?modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
  </div>
</article>
