<div class="popover-hover-wrapper popover-feature">
  <div class="grid-block col list text-left popover popover-header-menu bottom">
    <a href="#" class="grid-block align-center a padding-sm">
      <img src="images/icons-staging.svg" height="45" width="45" class="img">
      <div class="grid-block col">
        <p class="p weight-strong">Staging Environments</p>
        <p class="small">Isolated, full-stack staging environments for every branch.</p>
      </div>
    </a>
    <a href="#" class="grid-block align-center a padding-sm">
      <img src="images/icons-testing.svg" height="45" width="45" class="img">
      <div class="grid-block col">
        <p class="p weight-strong">End-to-end Testing</p>
        <p class="small">Test every code change on its own staging environment.</p>
      </div>
    </a>
    <a href="#" class="grid-block align-center a padding-sm">
      <img src="images/icons-deploy.svg" height="45" width="45" class="img">
      <div class="grid-block col">
        <p class="p weight-strong">Deploy to Production</p>
        <p class="small">Deploy fully-tested builds to any environment.</p>
      </div>
    </a>
  </div>
</div>
