<div class="popover-hover-wrapper right-align-sm">
  <div class="grid-block vertical popover popover-header-menu bottom">
    <div class="grid-block">
      <div class="grid-block shrink vertical visible-sm list-product">
        <a href="product/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/sandbox.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Get an&#32;
      <br class="hidden-md">overview
    </strong>
    <small class="small">A sandbox service&#32;
      <br class="hidden-md">for teams.
    </small>
  </p>
</a>
<a href="product/development/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/development.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Speed up development</strong>
    <small class="small">With the power&#32;
      <br class="hidden-md">of Docker.
    </small>
  </p>
</a>
<a href="product/integration-testing/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/integration-testing.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Integrate & test changes</strong>
    <small class="small">Every branch,&#32;
      <br class="hidden-md">end-to-end.
    </small>
  </p>
</a>
<a href="product/production/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/production.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Deploy tested artifacts</strong>
    <small class="small">Tested builds,&#32;
      <br class="hidden-md">ready to push.
    </small>
  </p>
</a>

      </div>
      <div class="grid-block vertical list text-left">
        {{!-- NEW sign in and sign up buttons --}}
        {{!-- <a data-target="#new-sign-up" class="list-item-a js-modal">Sign Up</a> --}}
        {{!-- <a data-target="#sign-in" class="list-item-a visible-md js-modal">Sign In</a> --}}
        {{!--
        <a href="{{loginUrl}}" class="grid-block align-center shrink list-item-a btn-sandbox strong">
          <img class="grid-block shrink avatar" src="images/runnabot-head.png" height="24" width="24">
          <span class="grid-block"><span class="hidden-xxs">Your&nbsp;</span>Sandbox</span>
        </a>
        --}}
        {{!-- END NEW sign in and sign up buttons --}}
        <a href="{{loginUrl}}" class="list-item-a visible-md">Sign In</a>
        <a data-target="#sign-up" class="list-item-a visible-xs js-modal">Sign Up</a>
        <div class="list-item divider visible-md"></div>
        <a href="demo/" class="list-item-a visible-md"><span class="text-request">Request&nbsp;</span>Demo</a>
        <a href="https://support.runnable.com" class="list-item-a">Docs</a>
        <a href="about/" class="list-item-a">About</a>
        <a href="http://blog.runnable.com" class="list-item-a">Blog</a>
        <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="list-item-a">Pricing</a>
        <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="list-item-a">Security</a>
        <a href="privacy/" class="list-item-a">Privacy</a>
      </div>
    </div>
  </div>
</div>
