<div class="popover-hover-wrapper right-align-sm">
  <div class="grid-block popover popover-header-menu bottom">
    <div class="grid-block col list text-left">
      <a data-target="#sign-up" class="list-item-a visible-xs js-modal js-hide-if-signed-in track-sign-up">Sign Up</a>
      <a data-target="#sign-in" class="list-item-a visible-md js-modal js-hide-if-signed-in">Sign In</a>
      <div class="list-item divider visible-md"></div>
      <a href="for/" class="list-item-a visible-sm">Product</a>
      <a href="pricing/" class="list-item-a visible-md"><span class="text-request">Pricing</a>
      <a href="how-it-works/" class="list-item-a">How It Works</a>
      <a href="https://support.runnable.com" class="list-item-a">Get Help</a>
      <a href="demo/" class="list-item-a">Request Demo</a>
      <a href="http://blog.runnable.com" class="list-item-a">Blog</a>
      <a href="about/" class="list-item-a">About</a>
    </div>
  </div>
</div>
