<article class="grid-block justify-center article article-quote">
  <section class="grid-block col section grid-container-sm">
    <blockquote class="blockquote h3">Using Runnable reduces the effort required to manage our feature acceptance environments for the entire team.</blockquote>
    <p class="grid-block justify-right align-center text-gray text-right margin-top-sm quoter">
      Gregg Kang, eShares
      <br>
      Head of Platform Engineering
      <img class="avatar margin-left-sm" src="images/features/gregg-kang.png" height="45" width="45" alt="Ian Grayson">
    </p>
  </section>
</article>
