<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Speed up development with Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/youtube.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-video" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/html/video.hbs')
      @@include('html/html/video-hero.hbs')
      @@include('html/html/article-more.hbs')
    </main>

    @@include('html/components/form-modal.hbs')

    <script async src="js/external/modernizr.js"></script>

    @@include('js/external/external.html')
