<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Your team has a staging problem. — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script>
      @@include('../js/redirect.js')
    </script>
    <script ugly>
      @@include('../js/signup.js')
      @@include('../js/youtube.js')
      @@include('../js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-video" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('components/icons.hbs')
    @@include('components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/video.hbs')
      @@include('html/video-hero.hbs')
      @@include('html/article-more.hbs')
    </main>

    @@include('components/form-modal.hbs')

    <script async src="js/external/modernizr.js"></script>

    @@include('../js/external/external.html')
