<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Full-stack environments for your GitHub branches — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    @@include('production.hbs')
    @@include('staging.hbs')

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script>
      var whitelisted = window.location.search !== '?whitelist=false';
      var app = angular.module('homeApp', []);
      app.controller('MainCtrl', function ($scope, $window, $http) {
        $scope.loginUrl = '{{{apiHost}}}/auth/github?redirect=' + $window.location.protocol + '//' + $window.location.host + '/?auth';
        $scope.data = {
          embedActive: false,
          hideUnauthorizedModal: whitelisted
        };

      $http.get('{{{apiHost}}}/users/me', {
        withCredentials: true
      })
        .then(function (user) {
          var org;
          try {
            org = user.data.userOptions.uiState.previousLocation.org;
          } catch (e) {
            org = user.data.accounts.github.username;
          }
          $window.location = '/' + org;
        });
     });
    </script>

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl">

    <header class="grid-block shrink header">
      <div class="grid-block grid-container align-justify">
        <a href="https://runnable.com" class="grid-content shrink">
          <img class="img" src="images/runnable-logo.svg" height="36" width="192">
        </a>
        <div class="grid-block shrink">
          <a ng-href="\{{loginUrl}}" class="grid-content btn btn-sm text-white strong">Sign In</a>
          <a href="#sign-up" class="grid-content btn btn-sm green">Sign Up</a>
        </div>
      </div>
    </header>

    <main class="grid-block vertical main">
      @@include('articles/hero.hbs')
      {{!-- @@include('articles/workflow.hbs') --}}
      @@include('articles/always.hbs')
      @@include('articles/environment.hbs')
      @@include('articles/secure.hbs')
      @@include('articles/signup.hbs')
      @@include('articles/quickstart.hbs')
    </main>

    <hr class="hr grid-container">

    <div class="grid-block well">
      Wanna see our last project?
      <a href="http://code.runnable.com" class="btn btn-xs white" target="_blank">CodeSnippets</a>
    </div>

    <footer class="grid-block footer align-spaced">
      <a href="mailto: info@runnable.com" class="btn btn-xs link strong">Email</a>
      <a href="http://support.runnable.io" class="btn btn-xs link strong">Support</a>
      <img src="images/runnabot-head.png" class="img" height="36" width="36">
      <a href="https://{{apiHost}}/auth/github?redirect=https://runnable.io/?auth" class="btn btn-xs link strong">Sign In</a>
      <a href="#sign-up" class="btn btn-xs link strong">Sign Up</a>
    </footer>
