<!doctype html>
<html lang="en">

  <head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='118496608-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->

    @@include('html/components/head.hbs')
    <title>Speed up development with Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/youtube.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-video" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/html/video.hbs')
      @@include('html/html/video-hero.hbs')
      @@include('html/html/article-more.hbs')
      @@include('html/html/article-problem.hbs')
      @@include('html/html/article-solution.hbs')
      @@include('html/components/footer.hbs')
      <a href="http://code.runnable.com" class="grid-block well well-anchor well-code">
        <img class="grid-block shrink img" src="images/video/codesnippets.png" height="45" width="45">
        <div class="grid-block vertical justify-center">
          <p class="p">Check out our other project:
          <div class="a weight-strong">Runnable CodeSnippets
            <svg class="icons icons-chevron-right">
              <use xlink:href="#icons-chevron-right">
            </svg>
          </div>
        </div>
      </a>
    </main>

    @@include('html/components/form-modal.hbs')

    <script async src="js/external/modernizr.js"></script>

    @@include('js/external/external.html')
