<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A Sandbox-as-a-Service built for your team’s workflow. — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    @@include('../js/index.hbs')
    <script>@@include('../js/signup.js')</script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-product" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('components/icons.hbs')
    @@include('components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/product/product-hero.hbs')
      @@include('html/product/github.hbs')
      @@include('html/product/use-cases.hbs')
      @@include('html/product/bonus.hbs')
    </main>

    @@include('components/signup.hbs')
    @@include('components/footer.hbs')
    @@include('components/signup-modal.hbs')

    @@include('../js/external/olark.html')
    <script>@@include('../js/external/google-adwords.js')</script>
    <script src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script>@@include('../js/external/facebook.js')</script>
    @@include('../js/external/facebook.html')
    <script>@@include('../js/external/google-analytics.js')</script>
