<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Production — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    @@include('../js/index.hbs')
    <script ugly>
      @@include('../js/signup.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('components/icons.hbs')
    @@include('components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/production/production-hero.hbs')
      @@include('html/production/article-production.hbs')
      @@include('components/signup.hbs')
    </main>

    @@include('components/footer.hbs')
    @@include('components/form-modal.hbs')

    @@include('../js/external/external.html')
