<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Acceptance &amp; Quality Assurance Testing Solutions - Runnable</title>
    <meta name="description" content="Accelerate QA & UAT with Runnable Test Environments">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">
    <style type="text/css">
      .h2.align-center { font-size:25px; font-weight:500; margin-bottom:0;}
      .pad { padding-bottom:45px; }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    @@include('../js/index.hbs')
    <script>
      @@include('../js/signup.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('components/icons.hbs')
    @@include('components/header.hbs')

    <main class="grid-block vertical main">
      <article class="grid-block vertical article hero" style="text-align:center; padding-bottom:50px;">
        <h1 class="grid-content h1" style="font-weight:200; font-size:46px; width:808px;">Accelerate QA &amp; UAT with Automated Test Environment Management</h1>
        <p class="grid-content p" style="width:670px; margin-top:30px;"><span style="font-weight:500;">Runnable</span> gives every developer their own end-to-end environment to test and share changes without waiting for resources or builds.</p>
      
      <div class="grid-block align-center" style="margin-top:45px;">
        <a class="grid-content shrink btn btn-lg green" href="#sign-up">Sign Up</a>
        <a class="grid-content shrink btn btn-lg gray" href="/product.html">Explore Features</a>
      </div>
      </article>

      <article class="grid-block vertical grid-container article" style="padding-top:40px; max-width:600px;">  
        <h2 class="grid-content h2 align-center">Complete full-stack environments</h2>
        <p class="grid-content p align-center pad">Test changes end-to-end with the entire stack, including fully-seeded multi-gigabyte databases, alongside unit testing.</p>
      
        <h2 class="grid-content h2 align-center">Simple quality assurance / user acceptance testing</h2>
        <p class="grid-content p align-center pad">Share the URL to your QA team, Beta users, PM, boss &mdash; anyone at any time. URLs automatically appear on Pull Request pages for quicker code reviews and acceptance testing.</p>

        <h2 class="grid-content h2 align-center">Automatic on-demand creation</h2>
        <p class="grid-content p align-center pad">A new environment is created for every new branch on every repository. Infrastructure costs are included in our per-developer pricing.</p>
      </article>  

        <div class="sign-up-box grid-block vertical">
          <img class="img" src="images/runnabear-hello.png">
          <p class="p text-center" style="padding-bottom:10px;">Start your <strong class="strong">free</strong> trial today and we'll set up your app for you.</p>
          <a href="#sign-up" class="btn btn-md green grid-content shrink">Sign Up</a>
        </div>
    </main>

    @@include('components/footer.hbs')
    @@include('components/signup-modal.hbs')

    @@include('../js/external/olark.html')
    <script>@@include('../js/external/google-adwords.js')</script>
    <script src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script>@@include('../js/external/facebook.js')</script>
    @@include('../js/external/facebook.html')
    <script>@@include('../js/external/google-analytics.js')</script>
