.btn-sandbox .avatar {
  margin: 4px 4px 4px 0;
}

.popover-header-menu .btn-sandbox {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius;
  height: $input-sm;

  &:hover,
  &:active {
    background: $white;
    border-color: $purple-light;
    color: $purple-light;
  }
}
