.btn-sandbox {
  flex-direction: row-reverse;
  max-width: 158px;
  padding: 0 15px 0 12px;

  @include media(xxxs) {
    max-width: none;
  }

  .avatar {
    border-radius: $input-border-radius;
    margin: 6px 6px 5px 0;

    @media (max-width: 480px) and (min-width: 400px) {
      height: 18px;
      margin-right: 3px;
      width: 18px;
    }

    @include media(xxxs) {
      display: none;
    }
  }
}

.popover-header-menu .btn-sandbox {
  background: $gray-lighterest;
  border: $input-border solid $gray-lighter;
  border-radius: $input-border-radius;
  font-weight: $weight-bold;
  height: $input-md;

  @media (max-width: 480px) and (min-width: 400px) {
    font-size: 12px;
    max-width: 120px;
    padding: 0 6px;
  }

  @include media(xxs) {
    font-size: 13px;
    padding: 0 6px;
  }

  &:hover,
  &:active {
    background: $white;
    border-color: $purple-light;
    color: $purple-light;
  }
}
