<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Sign up for Runnable.</title>
    <script ugly>
      @@include('js/svgs.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')

    <main class="grid-block vertical main">
      <div class="modal-backdrop in" id="sign-in">
        <div class="modal">
          {{!-- this is not an include because we need to have a different link for sign up --}}
          <article class="grid-block align-center vertical article article-form article-sign-in">
            <h1 class="h1 text-center weight-strong padding-sm">Please bear with us.</h1>
            <img src="images/runnabear-error.png" height="187" width="150">
            <p class="p text-center">We’re expericing higher than normal load,<br class="hidden-xs"> please try signing in again later.</p>
            <hr class="hr">
            <div class="grid-content text-center">
              <a data-target="#sign-up" class="link js-modal">Sign up</a> if your team isn’t using Runnable yet.
            </div>
          </article>
        </div>
      </div>
    </main>
    @@include('js/external/external.html')
