<a href="/" class="grid-block align-center justify-center banner-mulesoft">
  <span class="emoji">🎉</span>
  We’re joining MuleSoft!<span class="hidden-xs span">Read the announcement.</span>
  <span class="arrow">→</span>
</a>
