<article class="grid-block vertical article article-integration-testing">
  <section class="grid-block vertical grid-container grid-container-sm text-center">
    <h2 class="grid-content h2 align-center strong">End-to-end integration<br>
      tests for every branch.</h2>
    <p class="grid-content p align-center">Run tests on a full-stack environment every time you update a branch—complete with seeded databases, caches, service discovery, etc. Find issues during development that were only possible to find during staging or production.
  </section>
  <section class="grid-block grid-container grid-wrapper">
    <div class="grid-block vertical">
      <img class="img" src="images/logos/logo-selenium.svg" height="60" width="60">
      <h3 class="grid-content shrink h3 align-center strong">Support for Selenium-based tests.</h3>
      <p class="grid-content shrink p align-center">First-class support for Selenium/Webdriver tests is included. Run comprehensive tests automatically after a branch update, and spot regressions by reviewing screenshots and videos.
    </div>
    <div class="grid-block vertical">
      <img class="img" src="images/integration-testing/icons-automatic.svg" height="60" width="60">
      <h3 class="grid-content shrink h3 align-center strong">Automated test environment management.</h3>
      <p class="grid-content shrink p align-center">Environments are automatically created when a new branch is created, and they’re discarded when the branch is deleted or becomes inactive. Caching keeps this fast by reducing the number of builds needed, and new builds always have at least 1 CPU core.
    </div>
    <div class="grid-block vertical">
      <img class="img" src="images/logos/logo-slack.svg" height="60" width="60">
      <h3 class="grid-content shrink h3 align-center strong">Notifications on pull requests & Slack.</h3>
      <p class="grid-content shrink p align-center">Give visibility to your entire team right where they need it. Integration test results are displayed on the Pull Requests page, along with the environment URL to speed up reviews. Enable Slack integration to be instantly notified when a test passes or fails.
    </div>
    <div class="grid-block vertical">
      <img class="img" src="images/logos/logo-docker.svg" height="60" width="60">
      <h3 class="grid-content shrink h3 align-center strong">Docker Compose support.</h3>
      <p class="grid-content shrink p align-center">Runnable uses native Docker components under the hood (Compose, Registry, Swarm), so it’s easy to pull in Dockerfiles and a docker-compose.yml file to get started right away. Running full Docker eliminates the risk of vendor lock-in. You’re always able to export your assets.
    </div>
  <section>
</article>