<article class="grid-block vertical article article-comparison">
  <section class="grid-block align-center">
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="images/logos/logo-jenkins.svg" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from<br class="hidden-xxs">
        Jenkins CI & Cloudbees?
      <p class="grid-content shrink p text-center">With enough configuration, expertise, and maintenance resources, it’s possible to build a similar workflow in-house. We’ve found that the majority of our users have encountered quite a few roadblocks and quickly learn that it’s more cost-effective to use a reliable service that works well with their workflow, has no vendor no lock-in (full Docker support), and includes infrastructure costs.
    </div>
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="images/logos/logo-circleci.svg" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from<br class="hidden-xxs">
        CircleCI or Travis CI?
      <p class="grid-content shrink p text-center">Runnable enables end-to-end testing on top of automated unit and functional test running and building of artifacts. Runnable also charges per developer, not per resources used at any given time.
    </div>
  </section>
  <section class="grid-block align-center">
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="images/logos/logo-sauce-labs.png" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from<br class="hidden-xxs">
        Sauce Labs?
      <p class="grid-content shrink p text-center">Runnable makes it easy to support many forms of testing by always having a complete, isolated environment to test against with every code change. This enables us to support running and reporting Selenium or Webdriver tests.
    </div>
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="images/logos/logo-docker-cloud.png" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from<br class="hidden-xxs">
        Docker Cloud or Tutum?
      <p class="grid-content shrink p text-center">Docker Cloud is a hosted service for docker containers. While Runnable also hosts containers, it has been built from the ground up to make end-to-end testing as easy as possible. Runnable also charges per developer, not per resources used at any given time.
    </div>
  </section>
</article>