<a class="grid-block well well-anchor" href="integration-testing.html">
  <img class="grid-block shrink img" src="images/production.gif" height="108" width="108">
  <div class="grid-block vertical">
    <p class="p">
      <strong class="strong">Production</strong><br>
      Your environments are ready to push directly to production from Runnable.
    <div class="a strong">How deploying to production works on Runnable
      <svg class="icons icons-chevron-right">
        <use xlink:href="#icons-chevron-right">
      </svg>
    </div>
  </div>
</a>