<article class="grid-block vertical align-center article article-setup">
  <h3 class="h3 weight-strong text-center">Creating environments is simple.</h3>
  <div class="grid-block">
    <button class="js-toggler btn btn-lg gray" data-toggler="1">Simple</button>
    <button class="js-toggler btn btn-lg gray" data-toggler="2">Dockerfile</button>
  </div>

  <figure class="js-toggle" data-toggle="1">
    Simple
  </figure>
  <figure class="js-toggle hide" data-toggle="2">
    Dockerfile
  </figure>
</article>
