<article class="grid-block col align-center article article-setup">
  <section class="grid-container section">
    <h2 class="h1 weight-strong text-center">Creating environments is simple.</h2>
    <h3 class="h3 text-center">Start by adding the services that make up your environment.</h3>
  </section>
    <div class="grid-block btn-radio-wrapper section">
      <div class="grid-block noscroll align-center btn btn-radio white js-toggler active" data-toggler="1">
        <img class="grid-content img" src="images/how-it-works/dockerize.svg" height="30" width="30">
        <span class="grid-content">Dockerize your service with our point-and-click interface.</span>
      </div>
      <div class="grid-block noscroll align-center btn btn-radio white js-toggler" data-toggler="2">
        <img class="grid-content img" src="images/how-it-works/dockerfile.svg" height="30" width="30">
        <span class="grid-content">Or bring your own Dockerfile.</span>
      </div>
    </div>

  <figure class="figure section">
    <img class="img js-toggle fade in" src="images/how-it-works/setup-dockerize.svg" data-toggle="1" height="300" width="750">
    <img class="img js-toggle fade" src="images/how-it-works/setup-dockerfile.svg" data-toggle="2" height="300" width="750">
  </figure>
</article>
