<article class="grid-block vertical align-center article article-behind-the-scenes">
  <h1 class="h1 weight-strong text-center">Behind the scenes.</h1>
  <p class="p text-center">Here’s a glimpse of what it takes to provide a first-class experience around provisioning properly configured, full-stack environments on-demand:</p>

  <section class="grid-block vertical card padding-lg">

    <p class="grid-content p weight-strong">When a Team Joins Runnable</p>
    <p class="grid-content p"> We create dedicated instances behind a new&#32;
      <span class="underline popover-trigger hover">VPC
        <span class="popover top weight-light">Virtual Private Cloud</span>
      </span>. VPCs help ensure privacy and security for the team’s code. It also enables us to scale instances based on their usage. Every VPC has a dedicated set of Docker machines, Swarm, and Registry. Custom&#32;
      <span class="underline popover-trigger hover">AMI
        <span class="popover top weight-light">Amazon Machine Images</span>
      </span>
      &#32;are created for large databases to expedite provisioning.
    </p>

    <hr class="hr">

    <p class="grid-content p weight-strong">Runnable Runs on Docker</p>
    <p class="grid-content p">If the team is already dockerized, setup is a breeze. If not, we construct a Dockerfile for each repository service based on configuration details a teammate enters via our simple interface.</p>
    <div class="grid-block well padding-md">
      <img class="grid-content img faded" src="images/logos/social/logo-github.svg" height="45" width="45" alt="GitHub Logo">
      <p class="grid-content p">When a teammate creates a new branch, we receive a new webhook from GitHub. Then we schedule a new set of containers to create your new full-stack environment.</p>
    </div>
    <p class="grid-content p weight-strong">Build Optimization</p>
    <p class="grid-content p">We begin building a new image for the container with the new code changes.</p>
    <ol class="grid-block vertical ol list padding-md">
      <li class="li">Builds are distributed evenly across the Docker hosts available on the team’s VPC, and every build always has at least one dedicated CPU.
      <li class="li">If the other containers haven’t changed, we use the previous cached images to improve start up time.
    </ol>
    <p class="grid-content p">Once the containers are started in the necessary order, they’re attached to our Swarm-based network and are configured to communicate with each other.</p>
    <p class="grid-content p">Each container is also configured to use our managed DNS server, which, coupled with our UI, enables teammates to route requests to other containers on-the-fly.</p>

    <hr class="hr">

    <p class="grid-content p weight-strong">When a Teammate Opens an Environment URL</p>
    <p class="grid-content p">Our routing system accommodates applications that require OAuth or other 3rd-party server-side integrations.</p>
    <p class="grid-content p">We store specific environment details in the teammate’s browser session and redirect them to a shared (or elastic) URL for the remainder of their session.</p>
    <a class="grid-content link link-external" href="http://blog.runnable.com/post/149340238426/elastic-routing-in-runnable">
      <span class="span">Elastic Routing in Runnable</span>
      <svg class="icons">
        <use xlink:href="#icons-external">
      </svg>
    </a>
    <div class="grid-block well padding-md">
      <img class="grid-content img" src="images/logos/logo-slack.svg" height="45" width="45" alt="Slack Logo">
      <p class="grid-content p">We receive a webhook when a teammate opens a pull request, and we publish the environment URLs to the page for easier reviews—Slack too.</p>
    </div>
    <p class="grid-content p weight-strong">Automatic Infrastructure Scaling</p>
    <p class="grid-content p">Our infrastructure management uses machine learning to automatically scale up and down instances based on a predictive scaling model built from analyzing the team’s patterns in commit history.</p>
    <div class="grid-block grid-2">
      <div class="grid-block vertical align-center">
        <img class="grid-content shrink img" src="images/how-it-works/icons-performance.svg" height="60" width="60" alt="Slack Logo">
        <p class="grid-content p text-center">During cases where instances perform less than expected, we automatically create a new host and perform a migration of all containers and services.</p>
      </div>
      <div class="grid-block vertical align-center">
        <img class="grid-content shrink img" src="images/how-it-works/icons-recycle.svg" height="60" width="60" alt="Slack Logo">
        <p class="grid-content p text-center">When a teammate deletes their branch, we receive a webhook, and clean up the associated environment.</p>
      </div>
    </div>
    <div class="grid-content padding-lg text-center text-gray card-footer">
      Read our <a class="link" href="http://blog.runnable.com/">engineering blog</a> for specific details on Runnable’s infrastructure.
      <br>Articles are published weekly.
    </div>
  </section>
  <div class="grid-block vertical align-center">
    <p class="grid-content text-white p text-center">Environments for your entire team at a low, fixed cost.</p>
    <a class="grid-content btn btn-lg btn-white" href="pricing/">View Pricing Plans</a>
  </div>
</article>
