<article class="grid-block justify-center article article-branches-urls article-branches">
  <figure class="grid-block shrink figure">
    <img class="img" src="images/how-it-works/setup-branches.svg" height="273" width="330">
  </figure>
  <div class="grid-block vertical text-wrapper">
    <h3 class="h3 weight-strong">Then select a branch to create an environment.</h3>
    <p class="p">Each branch is deployed with its own copy of your services.</p>
  </div>
</article>

<article class="grid-block vertical align-center article article-branches-urls article-urls">
  <div class="grid-block justify-center figure-wrapper">
    <figure class="grid-block shrink figure">
      <img class="img" src="images/how-it-works/setup-urls.svg" height="165" width="330">
    </figure>
    <div class="grid-block vertical text-wrapper">
      <h3 class="h3 weight-strong">That’s it.</h3>
      <p class="p">Every branch has a unique URL where everything is running.</p>
    </div>
  </div>

  <p class="grid-block p text-center well padding-md">
    When you push changes to your branch, your environment will automatically update, and when you make new branches on that repository, you’ll have a full-stack environment ready to use.
  </p>

  <aside class="grid-block vertical align-center aside">
    <ul class="grid-block justify-center">
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.zendesk.com/hc/en-us/articles/208383313-Node-js-">
          <img class="img" src="images/how-it-works/guide-nodejs.svg" height="45" width="45" alt="Node.js">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.zendesk.com/hc/en-us/articles/208032596-Rails">
          <img class="img" src="images/how-it-works/guide-rails.svg" height="45" width="45" alt="Ruby on Rails">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.zendesk.com/hc/en-us/articles/208384523-Python">
          <img class="img" src="images/how-it-works/guide-python.svg" height="45" width="45" alt="Python">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-mongo.png" height="45" width="28" alt="MongoDB">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-mysql.svg" height="45" width="28" alt="MySQL">
        </a>
    </ul>
    <p class="p small text-center">We made some sweet guides to get you started.
      <br>
      <a class="link small" href="https://support.runnable.com/hc/en-us/categories/201194573-Quickstarts">See even more guides.</a>
    </p>
  </aside>
</article>
