<article class="grid-block justify-center article article-branches">
  <figure class="grid-block shrink figure">
    <img class="img" src="images/how-it-works/setup-branches.svg" height="273" width="330">
  </figure>
  <div class="grid-block vertical text-wrapper">
    <h3 class="h3">Creating an environment is as easy as choosing a branch.</h3>
    <p class="p">Push a new commit and we’ll deploy branches automatically.</p>
  </div>
</article>
