<article class="grid-block vertical align-center article article-setup">
  <h1 class="h1 weight-strong text-center">Creating environments is simple.</h1>
  <div class="grid-block">
    <button class="grid-block align-center btn btn-toggle white js-toggler active" data-toggler="1">
      <img class="grid-content img" src="images/how-it-works/dockerfile.svg" height="30" width="30">
      <span class="grid-content">Dockerize your service with our point-and-click interface.</span>
    </button>
    <button class="grid-block align-center btn btn-toggle white js-toggler" data-toggler="2">
      <img class="grid-content img" src="images/how-it-works/dockerfile.svg" height="30" width="30">
      <span class="grid-content">Bring your own Dockerfile.</span>
    </button>
  </div>

  <figure class="figure js-toggle" data-toggle="1">
    <img class="img" src="images/how-it-works/setup-simple.svg" height="262" width="750">
  </figure>
  <figure class="figure js-toggle hide" data-toggle="2">
    Dockerfile
  </figure>
</article>
