<article class="grid-block justify-center article article-branches-urls article-branches">
  <figure class="grid-block shrink figure">
    <img class="img" src="images/how-it-works/setup-branches.svg" height="273" width="330">
  </figure>
  <div class="grid-block vertical text-wrapper">
    <h3 class="h3 weight-strong">Then, creating an environment is as easy as choosing a branch.</h3>
    <p class="p">New branches can be deployed automatically.</p>
  </div>
</article>

<article class="grid-block vertical align-center article article-branches-urls article-urls">
  <div class="grid-block justify-center">
    <div class="grid-block vertical text-wrapper">
      <h3 class="h3 weight-strong">That’s all!</h3>
      <p class="p">Your branch has a unique URL where everything is running smoothly.</p>
    </div>
    <figure class="grid-block shrink figure">
      <img class="img" src="images/how-it-works/setup-branches.svg" height="273" width="330">
    </figure>
  </div>

  <aside class="grid-block vertical align-center aside padding-md well">
    <ul class="grid-block justify-center">
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-nodejs.svg" height="45" width="45" alt="Node.js">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-rails.svg" height="45" width="45" alt="Ruby on Rails">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-python.svg" height="45" width="45" alt="Python">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://support.runnable.com">
          <img class="img" src="images/how-it-works/guide-mongo.png" height="45" width="28" alt="MongoDB">
        </a>
    </ul>
    <p class="p small text-gray text-center">We made some sweet guides to get you started.
      <br>
      <a class="link small" href="https://support.runnable.com">See even more guides.</a>
    </p>
  </aside>
</article>
