<article class="article hero how-it-works-hero">
  <h1 class="h1 text-center">How it works:</h1>
  <p class="p text-center">Runnable speeds up development by removing some of the complex, time-consuming tasks shared by developers and DevOps. Empowering dev teams with full-stack environments for every change will significantly improve their speed and throughput.</p>
</article>
