<section class="section-product-cta">
  <div class="grid-block grid-container col align-center">
    <p class="grid-content p text-white text-center padding-left-sm-xs padding-right-sm-xs">See what your team’s workflow will look like with Runnable.</p>
    <a class="grid-content btn btn-lg btn-white" href="how-it-works/">How It Works</a>
  </div>
</section>
