<article class="article article-browser">
  <section class="grid-container section">
    <h2 class="h2 weight-strong text-center">Manage everything from your browser.</h2>
    <p class="text-center">Tail logs, edit files, run shell commands all in your browser with the most polished Docker user interface available. Prefer the keyboard? We have a <a href="https://github.com/Runnable/cli" target="_blank" class="link">CLI</a> made just for you.</p>
  </section>

  <section class="grid-block col section section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block col card padding-md">
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-button.svg" class="grid-content shrink img margin-right-md" width="75" height="75">
          <p class="p">Start, stop, rebuild and restart services with a push of a button.</p>
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-swap-commits.svg" class="grid-content shrink img margin-right-md" width="75" height="75">
          <p class="p">Switch the code commit you want to run in two clicks.</p>
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-reroute.svg" class="grid-content shrink img margin-right-md" width="75" height="75">
          <p class="p">Reroute networking between services to test changes on the fly.</p>
      </ul>
    </div>
  </section>
</article>
