<article class="article article-tests padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Runs all your automated tests.</h2>
    <p class="text-center">Your app runs on an isolated environment that’s fresh and clean, so it’s perfect for running tests. <br class="hidden-md">Branch updates are automatically tested end-to-end.</p>
  </section>

  <section class="grid-block vertical align-center quote-wrapper text-gray">
    <blockquote class="quote-bubble text-center">
      <div class="arrow"></div>
      Runnable environments make it easy for everyone to see the impact of a change before it goes to production.
    </blockquote>
    <div class="grid-block align-center shrink quote-attribution">
      <img class="grid-content shrink avatar" src="images/product/ian-grayson.png" alt="Ian Grayson">
      Ian Grayson, Convoy
      <br>
      Senior Software Engineer
    </div>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block">
      <ul class="grid-block vertical card padding-xl">
        <li class="grid-block align-center shrink">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-auto-test.svg" width="75" height="75">
          Set your tests to run <br class="hidden-md">automatically.
        <li class="grid-block align-center shrink">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-end-to-end.svg" width="75" height="75">
          Test APIs and Frontends with your full stack, end-to-end.
        <li class="grid-block align-center shrink">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-slack.svg" width="75" height="75">
          View the results on GitHub’s pull request page, and on Slack.
      </ul>
      <div class="grid-block vertical padding-xl">
        <p class="margin-bottom-sm">Supports several types of testing:</p>
        <div class="grid-block test-types">
          <ul class="ul grid-block vertical">
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Functional
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Integration
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Selenium/Webdriver
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Protractor
          </ul>
          <ul class="ul grid-block vertical">
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              End-to-end
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Headless
            <li class="li">
              <svg class="icons icons-check text-green margin-right-xxs">
                <use xlink:href="#icons-check">
              </svg>
              Regression
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>
