<article class="article article-product-cta">
  @@if (context.background === 'purple') {
    <section class="section-purple">
  }
  @@if (context.background === 'white') {
    <section class="section-white">
  }
    <div class="grid-block grid-container col align-center">
      <p class="grid-content p text-center">See what your team’s workflow will look like with Runnable.</p>
      <a class="grid-content btn btn-lg" href="how-it-works/">How It Works</a>
    </div>
  </section>
</article>
