<article class="article article-native-docker">
  <section class="grid-container section">
    <h2 class="h2 weight-strong text-center">Native support for Docker.</h2>
    <p class="text-center">Runnable is built on Docker and its supporting technologies, so you're never locked into a proprietary format or system. <a href="/how-it-works/#behind-the-scenes" class="link">Read more</a> about Runnable's technology.</p>
  </section>

  <section class="grid-block col section section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block col card padding-md">
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-setup.svg" class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Enable the benefits of Docker without the complicated setup.
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-export-docker.svg" class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Export your Docker images, Dockerfiles and assets at any time.
        <li class="grid-block margin-bottom-sm padding-sm col-xxs">
          <img src="images/for/icons-dockerize.svg" class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Deploy to production using any of the growing number of Docker-supported solutions.
      </ul>
    </div>
  </section>
</article>
