<article class="article article-end-to-end padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Manage everything from your browser.</h2>
    <p class="text-center">Tail logs, edit files, run shell commands all in your browser with the most polished Docker user interface available. Prefer the keyboard? We have a CLI made just for you.</p>
    <div class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        Using Runnable reduces the effort required to manage our feature acceptance environments for the entire team.
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/gregg-kang.png" alt="Gregg Kang">
        Gregg Kang, eShares
        <br>
        Head of Platform Engineering
      </div>
    </div>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block vertical card padding-xl">
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Start, stop, rebuild and restart services with a push of a button.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Switch the code commit you want to run in two clicks.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Reroute networking between services to test changes on the fly.
      </ul>
    </div>
  </section>
</article>
