<article class="article article-seamless-workflow padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Seamless integration with your tools.</h2>
    <p class="text-center">URLs, test results, and statuses for your running apps are presented right where you need them.</p>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <div class="grid-block vertical align-center card padding-xl">
        <img class="grid-content shrink img margin-bottom-lg" src="images/product/notification.png" width="400" height="200">
        Seamless GitHub integration manages the environments that run your app.
      </div>
      <div class="grid-block vertical align-center card padding-xl">
        <img class="grid-content shrink img margin-bottom-lg" src="images/product/runnabot.png" width="400" height="200">
        Pull request and Slack integration shares running app URLs and test results.
      </div>
    </div>
  </section>
</article>
