<article class="article section-purple article-product-cta">
  <section class="grid-container">
    <div class="grid-block col align-center">
      <p class="grid-content text-white p text-center">See what your team’s workflow will look like with Runnable.</p>
      <a class="grid-content btn btn-lg btn-white" href="how-it-works/">How It Works</a>
    </div>
  </section>
</article>
