<article class="article article-seamless-workflow padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h2 weight-strong text-center">Seamless integration with your tools.</h2>
    <p class="text-center">URLs, test results, and statuses for your running apps are presented right where you need them.</p>
  </section>

  @@if (context.background === 'purple') {
    <section class="grid-block justify-center section-dark section-purple">
  }
  @@if (context.background !== 'purple') {
    <section class="grid-block justify-center section-dark">
  }
    <ul class="grid-container-lg grid-block justify-center">
      <li class="grid-block col align-center card padding-xl">
        <img class="grid-content shrink img margin-bottom-lg" src="images/for/notification.png" width="400" height="200">
        Seamless GitHub integration manages the environments that run your app.
      <li class="grid-block col align-center card padding-xl">
        <img class="grid-content shrink img margin-bottom-lg" src="images/for/runnabot.png" width="400" height="200">
        Pull request and Slack integration shares running app URLs and test results.
    </ul>
  </section>
</article>
