<article class="article padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h2 weight-strong text-center">Manage everything from your browser.</h2>
    <p class="text-center">Tail logs, edit files, run shell commands all in your browser with the most polished Docker user interface available. Prefer the keyboard? We have a CLI made just for you.</p>
  </section>

  <section class="grid-block vertical section-dark">
    <ul class="grid-container-lg grid-block noscroll card padding-lg">
      <li class="grid-block vertical padding-sm row-md">
        <img src="" class="img margin-bottom-md margin-right-md-md" width="60" height="60">
        <p class="p">Start, stop, rebuild and restart services with a push of a button.</p>
      <li class="grid-block vertical padding-sm row-md">
        <img src="" class="img margin-bottom-md margin-right-md-md" width="60" height="60">
        <p class="p">Switch the code commit you want to run in two clicks.</p>
      <li class="grid-block vertical padding-sm row-md">
        <img src="" class="img margin-bottom-md margin-right-md-md" width="60" height="60">
        <p class="p">Reroute networking between services to test changes on the fly.</p>
    </ul>
  </section>
</article>
