<article class="grid-block col noscroll hero product-hero">
  <h1 class="grid-content h1 text-center">Runnable works with <br class="hidden-xxs">your application.</h1>
  <p class="grid-content p text-center">I’m interested in:</p>
  <div class="grid-block noscroll align-center justify-center popover-wrapper">
    <div class="grid-block shrink btn btn-lg btn-white popover-trigger click" tabindex="1">
      @@if (context.interest === 'Everything') {Everything}
      @@if (context.interest === 'Test Automation') {Test Automation}
      @@if (context.interest === 'Docker') {Docker}
      @@if (context.interest === 'Continuous Integration & Delivery') {
        <span class="ci-cd">Continuous Integration & Delivery</span>
      }
      <svg class="icons">
        <use xlink:href="#icons-select">
      </svg>
      @@if (context.interest === 'Everything') {
        <ul class="popover text-center active-everything">
      }
      @@if (context.interest === 'Test Automation') {
        <ul class="popover text-center active-test-automation">
      }
      @@if (context.interest === 'Docker') {
        <ul class="popover text-center active-docker">
      }
      @@if (context.interest === 'Continuous Integration & Delivery') {
        <ul class="popover text-center active-ci-cd">
      }
        <li class="li">
          @@if (context.interest === 'Everything') {
            <a class="a active">Everything</a>
          }
          @@if (context.interest !== 'Everything') {
            <a class="a" href="/for/">Everything</a>
          }
        <li class="li">
          @@if (context.interest === 'Test Automation') {
            <a class="a active">Test Automation</a>
          }
          @@if (context.interest !== 'Test Automation') {
            <a class="a" href="/for/test-automation/">Test Automation</a>
          }
        <li class="li">
          @@if (context.interest === 'Docker') {
            <a class="a active">Docker</a>
          }
          @@if (context.interest !== 'Docker') {
            <a class="a" href="/for/docker/">Docker</a>
          }
        <li class="li">
          @@if (context.interest === 'Continuous Integration & Delivery') {
            <a class="a active">Continuous Integration & Delivery</a>
          }
          @@if (context.interest !== 'Continuous Integration & Delivery') {
            <a class="a" href="/for/ci-cd/">Continuous Integration & Delivery</a>
          }
      </ul>
    </div>
  </div>
</article>
