<article class="grid-block article article-faq align-center">
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 align-center strong"><span class="em">Q:</span> Does Runnable work with my local Docker or Docker for Mac setup?</h3>
    <p class="grid-content shrink p align-center">Yes! Runnable runs native Docker, Compose, Swarm, and Weave under the hood. This enables you to reuse the same Dockerfile and Compose files to launch your app on Runnable, attach local running containers to the same network as Runnable’s containers, push and pull images from Runnable’s private authenticated registry.
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 align-center strong"><span class="em">Q:</span> Can I SSH into Runnable containers?</h3>
    <p class="grid-content shrink p align-center">Yes. Use the <a href="https://github.com/runnable/cli" class="link">Runnable CLI</a> to interact with containers from your native terminal.
  </div>
</article>
