<article class="grid-block vertical article hero development-hero">
  <h1 class="grid-content h1 text-center">Speed up development.</h1>
  <p class="grid-content p text-center">The power and flexibility of Docker, without the setup.
</article>