<article class="article article-automated padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Run your app on fully automated environments.</h2>
    <p class="text-center">Your app starts up, spins down, and rebuilds itself automatically in a way that makes sense with modern software development. Say you're starting a new feature or fixing a bug; all you need to do is:</p>
  </section>

  <section class="grid-block col section-dark">
    <ul class="card grid-block noscroll">
      <li class="grid-block col">
        <img src="images/product/icons-one.svg" class="img margin-bottom-md" width="60" height="60">
        <h3 class="p weight-strong">Create a new code branch.</h3>
        <p class="p">Runnable creates a new instance of all services required to run the code on your branch.</p>
      <li class="grid-block col">
        <img src="images/product/icons-two.svg" class="img margin-bottom-md" width="60" height="60">
        <h3 class="p weight-strong">Push code to the branch.</h3>
        <p class="p">Runnable rebuilds the services needed to keep your app updated.</p>
      <li class="grid-block col">
        <img src="images/product/icons-three.svg" class="img margin-bottom-md" width="60" height="60">
        <h3 class="p weight-strong">Delete a branch after merging.</h3>
        <p class="p">Runnable stops your app and removes the containers to free up resources.</p>
    </ul>

    <div class="grid-block col align-center">
      <p class="grid-content text-white p text-center">See what your team’s workflow will look like with Runnable.</p>
      <a class="grid-content btn btn-lg btn-white" href="how-it-works/">How It Works</a>
    </div>
  </section>
</article>
