<article class="article article-heading">
  <div class="grid-container">
    <h2 class="h3 weight-strong text-center">Run your automated tests on every branch.</h2>
    <p class="text-center">Your app runs on an isolated environment that’s fresh and clean, so it’s perfect for running tests. <br class="hidden-md">Branch updates are automatically tested end-to-end.</p>
    <div class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        Runnable environments make it easy for everyone to see the impact of a change before it goes to production.
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/ian-grayson.png" alt="Ian Grayson">
        Ian Grayson, Convoy
        <br>
        Senior Software Engineer
      </div>
    </div>
  </div>
</article>
