<article class="article article-share padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Demo and share your changes, end to end.</h2>
    <p class="text-center">Every app runs in its own isolated environment, and includes all the services needed (databases included) to review your change end-to-end, without waiting for a staging server.</p>
    <div class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        Using Runnable reduces the effort required to manage our feature acceptance environments for the entire team.
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/gregg-kang.png" alt="Gregg Kang">
        Gregg Kang, eShares
        <br>
        Head of Platform Engineering
      </div>
    </div>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block vertical card padding-xl">
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-sharing.svg" width="75" height="75">
          Share your running app’s URL with your Project Manager or Lead.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-demo.svg" width="75" height="75">
          Demo your changes to the team.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-testing.svg" width="75" height="75">
          Enable beta testers to try your changes in isolated instances.
      </ul>
    </div>
  </section>
</article>
