<article class="grid-block justify-center article article-share noscroll">
  <div class="grid-container grid-block justify-center noscroll">
    <div class="grid-block vertical card">
      <p class="grid-block margin-bottom-md">
        <img class="grid-content shrink img margin-right-md" src="images/product/icons-sharing.svg" width="60" height="60">
        Share your running app’s URL with your Project Manager or Lead.
      </p>
      <p class="grid-block margin-bottom-md">
        <img class="grid-content shrink img margin-right-md" src="images/product/icons-demo.svg" width="60" height="60">
        Demo your changes to the team.
      </p>
      <p class="grid-block">
        <img class="grid-content shrink img margin-right-md" src="images/product/icons-testing.svg" width="60" height="60">
        Enable beta testers to try your changes in isolated instances.
      </p>
    </div>
  </div>
</article>
