<article class="grid-block justify-center article article-tests vertical noscroll">
  <div class="grid-container grid-block noscroll">
    <div class="grid-block vertical card">
      <p class="grid-block shrink margin-bottom-md">
        <img class="grid-content shrink img margin-right-md" width="60" height="60">
        Set your tests to run <br class="hidden-md">automatically.
      </p>
      <p class="grid-block shrink margin-bottom-md">
        <img class="grid-content shrink img margin-right-md" width="60" height="60">
        Test APIs and Frontends with your full stack, end-to-end.
      </p>
      <p class="grid-block shrink">
        <img class="grid-content shrink img margin-right-md" width="60" height="60">
        View the results on GitHub’s pull request page, and on Slack.
      </p>
    </div>
    <div class="grid-block vertical">
      <div class="grid-block vertical">
        <p class="margin-bottom-sm">Supports several types of testing:</p>
        <div class="grid-block test-types">
          <ul class="ul grid-block vertical">
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Functional
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Integration
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Selenium/Webdriver
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Protractor
          </ul>
          <ul class="ul grid-block vertical">
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              End-to-end
            <li class="li margin-bottom-xxs">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Headless
            <li class="li">
              <svg class="icons icons-check text-green">
                <use xlink:href="#icons-check">
              </svg>
              Regression
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
