<article class="article article-heading article-easy-setup">
  <div class="grid-container">
    <h2 class="h3 weight-strong text-center">Start running fast.</h2>
    <p class="p text-center">Set up once and get unlimited environments to run your app.</p>

    <section class="grid-block margin-top-md section-features">
      <div class="grid-block vertical padding-sm">
        <img src="images/product/icons-point-and-click.svg" class="grid-block shrink img margin-bottom-sm" width="81" height="81">
        <p class="p">Point & click your way to running each service of your app.</p>
      </div>
      <div class="grid-block vertical padding-sm">
        <img src="images/product/icons-dockerfile.svg" class="grid-block shrink img margin-bottom-sm" width="81" height="81">
        <p class="p">Import your existing Dockerfile to set up your app even faster.</p>
      </div>
      <div class="grid-block vertical padding-sm">
        <img src="images/product/icons-branches.svg" class="grid-block shrink img margin-bottom-sm" width="81" height="81">
        <p class="p">Select a branch to run your app. New branches will automatically have a running app.</p>
      </div>
    </section>

    <section class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        After a few hours we were up and running. Now we have test environments per feature without managing the orchestration.
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/alex-morse.png" alt="Alex Morse">
        Alex Morse, Cratejoy
        <br>
        Co-founder & CTO
      </div>
    </div>
  </section>
</article>
