<article class="article article-heading">
  <div class="grid-container">
    <h2 class="h3 weight-strong text-center">Run your app on fully automated environments.</h2>
    <p class="text-center">Your app starts up, spins down, and rebuilds itself automatically in a way that makes sense with modern software development. Say you're starting a new feature or fixing a bug; all you need to do is:</p>
  </div>
</article>
