<article class="article article-automated grid-block vertical align-center noscroll">
  <div class="card grid-container grid-block noscroll">
    <div class="grid-block vertical">
      <img src="images/product/icons-one.svg" class="img margin-bottom-md" width="60" height="60">
      <h3 class="p weight-strong">Create a new code branch{{!-- , or push code to an existing branch --}}.</h3>
      <p class="p">Runnable creates a new instance of all services required to run the code on your branch.</p>
    </div>
    <div class="grid-block vertical">
      <img src="images/product/icons-two.svg" class="img margin-bottom-md" width="60" height="60">
      <h3 class="p weight-strong">Push code to the branch.</h3>
      <p class="p">Runnable rebuilds the services needed to keep your app updated.</p>
    </div>
    <div class="grid-block vertical">
      <img src="images/product/icons-three.svg" class="img margin-bottom-md" width="60" height="60">
      <h3 class="p weight-strong">Delete a branch after merging.</h3>
      <p class="p">Runnable stops your app and removes the containers to free up resources.</p>
    </div>
  </div>
  <div class="grid-block vertical align-center">
    <p class="grid-content text-white p text-center">See what your team’s workflow will look like with Runnable.</p>
    <a class="grid-content btn btn-lg btn-white" href="how-it-works/">How It Works</a>
  </div>
</article>
