<article class="article article-end-to-end padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Demo and share your changes, end to end.</h2>
    <p class="text-center">Every app runs in its own isolated environment, and includes all the services needed (databases included) to review your change end-to-end, without waiting for a staging server.</p>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block vertical card padding-xl">
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-sharing.svg" width="75" height="75">
          Share your running app’s URL with your Project Manager or Lead.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-demo.svg" width="75" height="75">
          Demo your changes to the team.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="images/product/icons-testing.svg" width="75" height="75">
          Enable beta testers to try your changes in isolated instances.
      </ul>
    </div>
  </section>
</article>
