<article class="article article-overview">
  <section class="grid-block justify-center section hidden-sm">
    <div class="grid-container grid-block">
      <figure class="grid-block figure">
        <img class="img js-toggle fade in" src="images/product/sidebar-1.png" data-toggle="1" height="650" width="723">
        <img class="img js-toggle fade" src="images/product/sidebar-2.png" data-toggle="2" height="650" width="723">
        <img class="img js-toggle fade" src="images/product/sidebar-3.png" data-toggle="3" height="650" width="723">
      </figure>
      <div class="grid-block shrink vertical card">
        <button class="grid-content btn-radio text-left js-toggler active" data-toggler="1">
          <h3 class="p weight-strong">Automated</h3>
          <p class="p">Every code branch gets its own running app that’s kept up-to-date.</p>
        </button>
        <button class="grid-content btn-radio text-left js-toggler" data-toggler="2">
          <h3 class="p weight-strong">Full-Stack</h3>
          <p class="p">Running apps include all services and replicated databases to verify changes end-to-end.</p>
        </button>
        <button class="grid-content btn-radio text-left js-toggler" data-toggler="3">
          <h3 class="p weight-strong">Tested</h3>
          <p class="p">Your apps always run on a clean environment, perfect for demos or running tests.</p>
        </button>
      </div>
    </div>
  </section>
  <section class="grid-block vertical align-center section visible-sm">
    <p class="p weight-strong">Available</p>
    <p class="p">Changes are always ready to test with automatic environments for every branch of every repository.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-1.png" height="650" width="723">
    </figure>
  </section>
  <section class="grid-block vertical align-center section visible-sm section-purple">
    <p class="p weight-strong">Full-stack</p>
    <p class="p">Environments include all your services and replicated databases, with up-to-date configs.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-2.png" height="650" width="723">
    </figure>
  </section>
  <section class="grid-block vertical align-center section visible-sm section-green">
    <p class="p weight-strong">Test E2E</p>
    <p class="p">Run end-to-end or integration tests with every code change, with Selenium/Webdriver support.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-3.png" height="650" width="723">
    </figure>
  </section>
</article>
