<article class="article article-heading">
  <div class="grid-container">
    <h3 class="h3 weight-strong text-center">Fit your team like a glove.</h3>
    <p class="text-center">Runnable integrates with your team’s development flow, and makes it better, regardless of frameworks, languages or architecture.</p>
    <div class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        “After a few hours we were up and running. Now we have test environments per feature without managing the orchestration.”
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/alex-morse.png">
        Alex Morse, Cratejoy
        <br>
        Co-founder and CTO
      </div>
    </div>
  </div>
</article>
