<article class="article article-workflow grid-block vertical align-center">
  <div class="card grid-container grid-block">
    <div class="grid-block vertical">
      <img src="images/product/icons-docker.svg" class="img" width="60" height="60">
      <p class="p weight-strong">Docker</p>
      <p class="p">Environments are built using your repository‘s Dockerfile. No Dockerfile? Runnable creates one for you.</p>
    </div>
    <div class="grid-block vertical">
      <img src="images/product/icons-localhost.svg" class="img" width="60" height="60">
      <p class="p weight-strong">Localhost-friendly</p>
      <p class="p">Connect local services with the rest of your stack on Runnable. Logs, file browsing and terminals with root credentials ensure unrestricted access to your environments.</p>
    </div>
    <div class="grid-block vertical">
      <img src="images/product/icons-secure.svg" class="img" width="60" height="60">
      <p class="p weight-strong">Single-tenant & Secure</p>
      <p class="p">Dedicated infrastructure per team keeps your code private and keeps performance consistent. Regular security audits (NCC Group) ensure our commitment to keeping your code secure.</p>
    </div>
  </div>
  <div class="grid-block vertical align-center">
    <p class="grid-content text-white p text-center">See what your team’s workflow will look like with Runnable.</p>
    <a class="grid-content btn btn-lg btn-white" href="how-it-works/">How It Works</a>
  </div>
</article>
