<article class="article article-seamless-workflow padding-bottom-none">
  <section class="grid-container article-heading">
    <h2 class="h3 weight-strong text-center">Seamless integration with your tools.</h2>
    <p class="text-center">URLs, test results, and statuses for your running apps are presented right where you need them.</p>
  </section>

  <section class="grid-block justify-center section-dark">
    <div class="grid-container-lg grid-block justify-center">
      <ul class="grid-block vertical card padding-xl">
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Seamless GitHub integration manages the environments that run your app.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Pull request page integration shares running app URLs and test results.
        <li class="grid-block align-center">
          <img class="grid-content shrink img margin-right-md" src="" width="75" height="75">
          Slack integration notifies and links you to your running app when changes are rebuilt.
      </ul>
    </div>
  </section>
</article>
