<article class="article article-heading">
  <div class="grid-container">
    <h3 class="h3 weight-strong text-center">Save time and frustration.</h3>
    <p class="text-center">Environments are built around how teams develop software. A new branch creates a new environment, and deleting a branch deletes its environment.</p>
    <div class="grid-block vertical align-center quote-wrapper p text-gray">
      <blockquote class="quote-bubble text-center">
        <div class="arrow"></div>
        Using Runnable reduces the effort required to manage our feature acceptance environments for the entire team.
      </blockquote>
      <div class="grid-block align-center shrink quote-attribution">
        <img class="grid-content shrink avatar" src="images/product/gregg-kang.png" alt="Gregg Kang">
        Gregg Kang, Eshares
        <br>
        Head of Platform Engineering
      </div>
    </div>
  </div>
</article>
