<article class="grid-block justify-center article article-sharing">
  <div class="grid-container grid-block">
    <div class="grid-block vertical card">
      <img src="images/product/notification.png" class="img" width="400" height="200">
      <p class="p weight-strong">Follow Branches</p>
      <p class="p">Environments follow their branch activity to stay updated, making it easy to see how a feature is coming along: just refresh a link.</p>
    </div>
    <div class="grid-block vertical card">
      <img src="images/product/runnabot.png" class="img" width="400" height="200">
      <p class="p weight-strong">Pull Requests & Slack Integration</p>
      <p class="p">Environment links and state are shared on the pull request page and on Slack, giving your team one-click access to verify changes and view logs.</p>
    </div>
  </div>
</article>
