<article class="article article-bonus grid-container">
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="{{baseUrl}}../images/product/icons-flexible.svg" width="60" height="60">
      <h3 class="h3">Flexible</h3>
      <p class="p">Sync changes from your local machine and SSH into running containers with
        <br class="visible-sm hidden-xs">our&#32;
        <a class="link strong" href="https://github.com/runnable/cli">CLI</a>.
      </p>
    </div>
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="{{baseUrl}}../images/product/icons-open.svg" width="60" height="60">
      <h3 class="h3">Open</h3>
      <p class="p">Full Docker (Dockerfiles, Swarm, Registry) under the hood, with direct network access and image&#32;
        <br class="br visible-xs">export capabilities.
        <small class="small">Docker, Docker Swarm, and the Docker logo are trademarks or registered trademarks of Docker, Inc. in the United States and/or other countries.</small>
      </p>
    </div>
  </section>
  <section class="section grid-block grid-2">
    <div class="grid-block vertical bonus-item">
      <img class="img grid-block shrink" src="{{baseUrl}}../images/product/icons-performance.svg" width="60" height="60">
      <h3 class="h3">Performant</h3>
      <p class="p">Dedicated infrastructure that&#32;
        <br class="br visible-xs">auto-scales based on usage.
      </p>
    </div>
    <div class="grid-block vertical bonus-item bonus-secure">
      <img class="img grid-block shrink" src="{{baseUrl}}../images/product/icons-security.svg" width="60" height="60">
      <h3 class="h3">Secure</h3>
      <p class="p">Single-tenant infrastructure per team. Third-party security audits.
    </div>
  </section>
</article>