<article class="article-product">
  <section class="grid-block vertical section section-heading">
    <h3 class="grid-content h3 weight-strong text-center">Save time and frustration</h3>
    <p class="grid-content text-center">Environments are built around how teams develop software. A new branch creates a new environment, and deleting a branch deletes its environment.</p>
    <div class="grid-block align-center justify-center quote p text-gray">
      <div class="grid-content quote-bubble text-center">
        <div class="arrow"></div>
        “Runnable has helped us fast-track reviews and greenlight builds to ship to production.”
      </div>
      <div class="grid-block shrink text-left">
        <div class="avatar"></div>
        Greg, VP Engineering<br>Eshares
      </div>
    </div>
  </section>
  <section class="section section-deets">
    <div class="grid-container grid-block">
      <div class="grid-block vertical card">
        <img src="" class="img">
        <p class="weight-strong">Follow branches</p>
        <p class="p">Environments follow their branch activity to stay updated, making it easy to see how a feature is coming along: just refresh a link.</p>
      </div>
      <div class="grid-block vertical card">
        <img src="" class="img">
        <p class="weight-strong">Pull requests & Slack integration</p>
        <p class="p">Environment links and state are shared on the pull request page and on Slack, giving your team one-click access to verify changes and view logs.</p>
      </div>
    </div>
  </section>
</article>
