<article class="article-product">
  <section class="grid-block vertical section section-heading">
    <h3 class="grid-content h3 weight-strong text-center">Fit your team like a glove</h3>
    <p class="grid-content text-center">Runnable integrates with your team’s development flow, and makes it better, regardless of frameworks, languages or architecture.</p>
    <div class="grid-block align-center justify-center quote p">
      <div class="grid-content shrink quote-bubble text-center">
        <div class="arrow"></div>
        “In 30 minutes, we were fully set up and<br>had environments running with Runnable.”
      </div>
      <div class="grid-content shrink avatar"></div>
      <div class="grid-content shrink text-left">Alex<br>Software Engineer at Cratejoy</div>
    </div>
  </section>
  <section class="grid-block section section-glove section-content-wrapper">
    <div class="grid-block vertical">
      <img src="" class="img" width="60" height="60">
      <p class="weight-strong">Docker</p>
      <p class="p">Environments are built using your repository's Dockerfile. No Dockerfile? Runnable creates one for you.</p>
    </div>
    <div class="grid-block vertical">
      <img src="" class="img" width="60" height="60">
      <p class="weight-strong">Localhost-friendly</p>
      <p class="p">Root access to your environments and terminals, logs enable easy connectivity with local services in development.</p>
    </div>
    <div class="grid-block vertical">
      <img src="" class="img" width="60" height="60">
      <p class="weight-strong">Single-tenant & secure</p>
      <p class="p">Dedicated infrastructure per team keeps your code private and keeps performance consistent. Regular security audits (NCC Group) ensure our commitment to keeping your code secure.</p>
    </div>
  </section>
</article>
