<article class="article-overview">
  <section class="section section-heading">
    <h3 class="h3 weight-strong text-center">Fit your team like a glove</h3>
    <p class="p text-center">Every environment has a unique URL, so it's easy to share progress with your team for code reviews, with QA and product teams, or with your customers for feedback.</p>
    <div class="grid-block align-center quote-wrapper justify-center">
      <p class="quote text-center">"In 30 minutes, we were fully set up and had environments running with Runnable."</p>
      <div class="grid-block shrink avatar"></div>
      <div class="attribution text-center">
        <div class="arrow"></div>
        Alex, Software Engineer<br>Cratejoy</div>
    </div>
  </section>
  <section class="grid-block section section-glove">
    <div class="grid-block vertical">
      <img src="" class="img">
      <p class="p weight-strong">Docker</p>
      <p class="p">Environments are built using your repository's Dockerfile. No Dockerfile? Runnable creates one for you.</p>
    </div>
    <div class="grid-block vertical">
      <img src="" class="img">
      <p class="p weight-strong">Localhost-friendly</p>
      <p class="p">Root access to your environments and terminals, logs enable easy connectivity with local services in development.</p>
    </div>
    <div class="grid-block vertical">
      <img src="" class="img">
      <p class="p weight-strong">Single-tenant & secure</p>
      <p class="p">Dedicated infrastructure per team keeps your code private and keeps performance consistent. Regular security audits (NCC Group) ensure our commitment to keeping your code secure.</p>
    </div>
  </section>
</article>
