<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>A Sandbox-as-a-Service built for your team’s workflow. — Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-product" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/product/product-hero.hbs')
      @@include('html/product/github.hbs')
      @@include('html/product/use-cases.hbs')
      @@include('html/product/bonus.hbs')
      @@include('html/product/next-cta.hbs')
    </main>

    @@include('html/components/footer.hbs')
    @@include('html/components/form-modal.hbs')

    @@include('js/external/external.html')
