<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Full-stack environments built for your team’s workflow. — Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/toggle.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/product/product-hero.hbs')
      @@include('html/product/article-overview-heading.hbs')
      @@include('html/product/article-overview.hbs')
      @@include('html/product/article-sharing-heading.hbs')
      @@include('html/product/article-sharing.hbs')
      @@include('html/product/article-workflow-heading.hbs')
      @@include('html/product/article-workflow.hbs')
    </main>

    @@include('html/components/footer.hbs')
    @@include('html/components/form-modal.hbs')

    @@include('js/external/external.html')
