<article class="article-overview">
  <section class="section section-heading">
    <h3 class="h3 weight-strong text-center">Save time and frustration</h3>
    <p class="p text-center">Environments are built around how teams develop software. A new branch creates a new environment, and deleting a branch deletes its environment.</p>
    <div class="grid-block align-center quote-wrapper justify-center">
      <p class="quote text-center">“Runnable has helped us fast-track reviews and greenlight builds to ship to production.”</p>
      <div class="grid-block shrink avatar"></div>
      <div class="attribution text-center">
        <div class="arrow"></div>
        Greg, VP Engineering<br>Eshares</div>
    </div>
  </section>
  <section class="section section-overview grid-block">
    <figure class="figure grid-block">
      <div class="grid-block vertical card">
        <div class="grid-content">
          <p class="p weight-strong">Available</p>
          <p class="p">Every change is always ready to test with automatic environments for every branch and every repository.</p>
        </div>
        <div class="grid-content">
          <p class="p weight-strong">Full-stack</p>
          <p class="p">Environments include cloned databases and all your services, properly configured, so you’re always running changes end-to-end.</p>
        </div>
        <div class="grid-content">
          <p class="p weight-strong">Test E2E</p>
          <p class="p">Use your full-stack environments to run end-to-end tests with every code change.</p>
        </div>
      </div>
    </figure>
  </section>
</article>
