<article class="article-product">
  <section class="grid-block justify-center section section-heading">
    <div class="grid-container grid-block vertical">
      <h3 class="grid-content h3 weight-strong text-center">Save time and frustration</h3>
      <p class="grid-content text-center">Environments are built around how teams develop software. A new branch creates a new environment, and deleting a branch deletes its environment.</p>
      <div class="grid-block align-center justify-center quote-wrapper p text-gray">
        <div class="quote-bubble text-center">
          <div class="arrow"></div>
          “Runnable has helped us fast-track reviews and greenlight builds to ship to production.”
        </div>
        <div class="shrink text-left">
          Greg, VP Engineering<br>Eshares
        </div>
      </div>
    </div>
  </section>
  <section class="grid-block justify-center section section-overview hidden-sm">
    <div class="grid-container grid-block">
      <figure class="grid-block figure">
        <img class="img js-toggle fade in" src="images/product/sidebar-1.png" data-toggle="1" height="650" width="750">
        <img class="img js-toggle fade" src="images/product/sidebar-2.png" data-toggle="2" height="650" width="678">
        <img class="img js-toggle fade" src="images/product/sidebar-3.png" data-toggle="3" height="630" width="1020">
      </figure>
      <div class="grid-block shrink vertical card">
        <div class="js-toggler active" data-toggler="1">
          <p class="weight-strong">Available</p>
          <p class="p">Changes are always ready to test with automatic environments for every branch of every repository.</p>
        </div>
        <div class="js-toggler" data-toggler="2">
          <p class="weight-strong">Full-stack</p>
          <p class="p">Environments include all your services and replicated databases, with up-to-date configs.</p>
        </div>
        <div class="js-toggler" data-toggler="3">
          <p class="weight-strong">Test E2E</p>
          <p class="p">Run end-to-end or integration tests with every code change, with Selenium/Webdriver support.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="grid-block vertical align-center section section-overview visible-sm">
    <p class="weight-strong">Available</p>
    <p class="p">Changes are always ready to test with automatic environments for every branch of every repository.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-2.png" height="650" width="678">
    </figure>
  </section>
  <section class="grid-block vertical align-center section section-overview visible-sm">
    <p class="weight-strong">Available</p>
    <p class="p">Changes are always ready to test with automatic environments for every branch of every repository.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-2.png" height="650" width="678">
    </figure>
  </section>
  <section class="grid-block vertical align-center section section-overview visible-sm">
    <p class="weight-strong">Available</p>
    <p class="p">Changes are always ready to test with automatic environments for every branch of every repository.</p>
    <figure class="figure">
      <img class="img" src="images/product/sidebar-2.png" height="650" width="678">
    </figure>
  </section>
</article>
