<article class="article-product">
  <section class="grid-block vertical section section-heading">
    <h3 class="grid-content h3 weight-strong text-center">Save time and frustration</h3>
    <p class="grid-content text-center">Environments are built around how teams develop software. A new branch creates a new environment, and deleting a branch deletes its environment.</p>
    <div class="grid-block align-center justify-center quote p">
      <div class="grid-content shrink quote-bubble text-center">
        <div class="arrow"></div>
        “Runnable has helped us fast-track reviews and<br>greenlight builds to ship to production.”
      </div>
      <div class="grid-content shrink avatar"></div>
      <div class="grid-content shrink text-left">Greg<br>VP Engineering at Eshares</div>
    </div>
  </section>
  <section class="section section-overview grid-block">
    <div class="section-content-wrapper grid-block">
      <figure class="grid-block figure"></figure>
      <div class="grid-block vertical card">
        <div class="grid-content">
          <p class="weight-strong">Available</p>
          <p class="p">Every change is always ready to test with automatic environments for every branch and every repository.</p>
        </div>
        <div class="grid-content">
          <p class="weight-strong">Full-stack</p>
          <p class="p">Environments include cloned databases and all your services, properly configured, so you’re always running changes end-to-end.</p>
        </div>
        <div class="grid-content">
          <p class="weight-strong">Test E2E</p>
          <p class="p">Use your full-stack environments to run end-to-end tests with every code change.</p>
        </div>
      </div>
    </div>
  </section>
</article>
