<article class="article article-sharing">
  <section class="grid-block justify-center section section-heading">
    <div class="grid-container">
      <h3 class="h3 weight-strong text-center">Keep your team up-to-date.</h3>
      <p class="text-center">Every environment has a unique URL, so it's easy to share progress with your team for code reviews, with QA and product teams, or with your customers for feedback.</p>
      <div class="grid-block vertical align-center quote-wrapper p text-gray">
        <blockquote class="quote-bubble text-center">
          <div class="arrow"></div>
          Runnable environments make it easy for everyone to see the impact of a change before it goes to production.
        </blockquote>
        <div class="grid-block align-center shrink quote-attribution">
          <img class="grid-content shrink avatar" src="">
          Ian Grayson, Convoy
          <br>
          Senior Software Engineer
        </div>
      </div>
    </div>
  </section>
  <section class="grid-block justify-center section section-sharing">
    <div class="grid-container grid-block">
      <div class="grid-block vertical card">
        <img src="images/product/notification.png" class="img" width="405" height="200">
        <p class="p weight-strong">Follow Branches</p>
        <p class="p">Environments follow their branch activity to stay updated, making it easy to see how a feature is coming along: just refresh a link.</p>
      </div>
      <div class="grid-block vertical card">
        <img src="images/product/runnabot.png" class="img" width="405" height="200">
        <p class="p weight-strong">Pull Requests & Slack Integration</p>
        <p class="p">Environment links and state are shared on the pull request page and on Slack, giving your team one-click access to verify changes and view logs.</p>
      </div>
    </div>
  </section>
</article>
