<article class="article article-workflow">
  <section class="grid-block justify-center section section-heading">
    <div class="grid-container">
      <h3 class="h3 weight-strong text-center">Fit your team like a glove.</h3>
      <p class="text-center">Runnable integrates with your team’s development flow, and makes it better, regardless of frameworks, languages or architecture.</p>
      <div class="grid-block vertical align-center quote-wrapper p text-gray">
        <blockquote class="quote-bubble text-center">
          <div class="arrow"></div>
          “After a few hours we were up and running. Now we have test environments per feature without managing the orchestration.”
        </blockquote>
        <div class="grid-block align-center shrink quote-attribution">
          <img class="grid-content shrink avatar" src="images/product/alex-morse.png">
          Alex Morse, Cratejoy
          <br>
          Co-founder and CTO
        </div>
      </div>
    </div>
  </section>
  <section class="grid-block vertical align-center section section-workflow">
    <div class="grid-container grid-block">
      <div class="grid-block vertical">
        <img src="images/product/icons-docker.svg" class="img" width="60" height="60">
        <p class="p weight-strong">Docker</p>
        <p class="p">Environments are built using your repository‘s Dockerfile. No Dockerfile? Runnable creates one for you.</p>
      </div>
      <div class="grid-block vertical">
        <img src="images/product/icons-localhost.svg" class="img" width="60" height="60">
        <p class="p weight-strong">Localhost-friendly</p>
        <p class="p">Connect local services with the rest of your stack on Runnable. Logs, file browsing and terminals with root credentials ensure unrestricted access to your environments.</p>
      </div>
      <div class="grid-block vertical">
        <img src="images/product/icons-secure.svg" class="img" width="60" height="60">
        <p class="p weight-strong">Single-tenant & Secure</p>
        <p class="p">Dedicated infrastructure per team keeps your code private and keeps performance consistent. Regular security audits (NCC Group) ensure our commitment to keeping your code secure.</p>
      </div>
    </div>
  </section>
  <div class="grid-block vertical align-center padding-md section-cta">
    <hr class="hr">
    <div class="grid-block vertical align-center">
      <p class="grid-content p text-center">See what your team’s workflow will look like with Runnable.</p>
      <a class="grid-content btn btn-lg gray" href="how-it-works/">How It Works</a>
    </div>
  </div>
</article>
