<article class="article-product">
  <section class="grid-block justify-center section section-heading">
    <div class="grid-container grid-block vertical">
      <h3 class="grid-content h3 weight-strong text-center">Fit your team like a glove</h3>
      <p class="grid-content text-center">Runnable integrates with your team’s development flow, and makes it better, regardless of frameworks, languages or architecture.</p>
      <div class="grid-block align-center justify-center quote-wrapper p text-gray">
        <div class="quote-bubble text-center">
          <div class="arrow"></div>
          “After a few hours we were up and running. Now we have test environments per feature without managing the orchestration.”
        </div>
        <div class="grid-block align-center shrink quote-attribution">
          <div class="grid-content shrink avatar"></div>
          Alex Morse, Co-founder and CTO at Cratejoy
        </div>
      </div>
    </div>
  </section>
  <section class="grid-block justify-center section section-workflow">
    <div class="grid-container grid-block">
      <div class="grid-block vertical">
        <img src="" class="img" width="60" height="60">
        <p class="weight-strong">Docker</p>
        <p class="p">Environments are built using your repository‘s Dockerfile. No Dockerfile? Runnable creates one for you.</p>
      </div>
      <div class="grid-block vertical">
        <img src="" class="img" width="60" height="60">
        <p class="weight-strong">Localhost-friendly</p>
        <p class="p">Connect local services with the rest of your stack on Runnable. Logs, file browsing and terminals with root credentials ensure unrestricted access to your environments.</p>
      </div>
      <div class="grid-block vertical">
        <img src="" class="img" width="60" height="60">
        <p class="weight-strong">Single-tenant & secure</p>
        <p class="p">Dedicated infrastructure per team keeps your code private and keeps performance consistent. Regular security audits (NCC Group) ensure our commitment to keeping your code secure.</p>
      </div>
    </div>
  </section>
</article>
