.article-integration-faq {
  margin: 0 auto;
  max-width: $screen-lg;
  padding: 90px;

  @include media(lg) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media(md) {
    flex-wrap: wrap;
  }

  @include media(sm) {
    padding: 60px 9px;
  }

  .question {
    flex: 0 0 33.33%;
    padding: 0 30px;

    @include media(lg) {
      padding: 0 21px;
    }

    @include media(md) {
      flex: 0 0 50%;
      padding: 30px 21px;
    }

    @include media(sm) {
      flex: 0 0 100%;
      padding: 30px 60px;
    }

    @include media(xs) {
      padding: 30px;
    }
  }

  .h3 {
    font-size: 19px;
    margin: 0;
  }

  .p {
    font-size: 16px;
  }

  .em {
    color: $gray-light;
    font-size: 24px;
  }
}
