<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Runnable: Page Not Found</title>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class='page-landing' ng-app='homeApp' ng-controller='MainCtrl' ontouchstart>

    @@include('images/icons.svg')

    <main class='grid-block col main'>
      <div class='modal-backdrop in notfound'>
        @@include('html/components/modal-header.hbs', {
          "standalone": true
        })
        <div class='modal'>
          <article class='grid-block col align-center noscroll article article-form'>
            <h1 class='grid-content shrink h2 text-white weight-strong text-center'>Page not found.</h1>
            <div class='grid-block col card shake-me'>
              <img class='grid-content img no-touching align-center' src='/images/notfound/errorbear-peeking.png' height='130' width='230'/>
              <div class='grid-block col form-wrapper'>
                <p class='p text-center'>We’re sorry, but the page you're looking for cannot be found.</p>
                <a href='/' class='btn btn-lg white margin-top-md'>Back to Runnable</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>
    @@include('js/external/external.html')
