<article class="article article-more">
  <h3 class="h3 text-center">Discover how we help teams.</h3>
  <p class="p text-center">We’re tightly integrated the developer workflow.
  <a class="btn btn-sm gray" href="features.html">Take a Tour</a>

  @@include('../../components/footer.hbs')

  <div class="grid-block well">
    Wanna see our last project?
    <a href="http://code.runnable.com" class="btn btn-xs white" target="_blank">CodeSnippets
      <svg class="icons">
        <use xlink:href="#icons-external">
      </svg>
    </a>
  </div>
</article>
