<article class="article article-more">
  <h1 class="h1 text-center">Runnable creates <strong class="strong">on-demand integration environments</strong>, so your team can test and integrate their code as often as needed.</h1>
  <a class="btn btn-sm gray" href="features.html">Take a Tour</a>

  @@include('../../components/footer.hbs')

  <div class="grid-block well">
    Wanna see our last project?
    <a href="http://code.runnable.com" class="btn btn-xs white" target="_blank">CodeSnippets
      <svg class="icons">
        <use xlink:href="#icons-external">
      </svg>
    </a>
  </div>
</article>
