<article class="article article-more">
  <h3 class="h3 text-center">Runnable is a sandbox service that creates <strong class="strong">full-stack environments</strong> for your GitHub branches, so your team can integrate and test more often.</h3>
  <div class="grid-block justify-center btn-wrapper">
    <a class="grid-content shrink btn btn-lg green" href="product.html">Explore Features</a>
    <a class="grid-content shrink btn btn-lg gray" href="#sign-up">Sign Up</a>
  </div>

  @@include('../../components/footer.hbs')

  <a href="http://code.runnable.com" class="grid-block well well-anchor" target="_blank">
    <img class="grid-block shrink img" src="images/video/codesnippets.svg" height="60" width="60">
    <div class="grid-block vertical justify-center">
      <p class="p">Check out our other project:
      <div class="a strong">Runnable CodeSnippets
        <svg class="icons">
          <use xlink:href="#icons-external">
        </svg>
      </div>
    </div>
  </a>
</article>
