<article class="article article-more">
  <h3 class="h3 text-center">Discover more about how we help teams.</h3>
  <p class="p text-center">We’re tightly integrated with your developer
    <br>workflow to help you Lorem Ipsum.
  </p>
  <div class="grid-block align-center">
    <a class="grid-content shrink btn btn-lg green" href="features.html">Take a Tour</a>
    <a class="grid-content shrink btn btn-lg gray" href="#sign-up-modal">Sign Up</a>
  </div>

  @@include('../../components/footer.hbs')

  <div class="grid-block well">
    Wanna see our last project?
    <a href="http://code.runnable.com" class="btn btn-xs white" target="_blank">CodeSnippets
      <svg class="icons">
        <use xlink:href="#icons-external">
      </svg>
    </a>
  </div>
</article>
