{{!-- <video id="video" class="video-embed" controls preload="none" poster="images/no-runnabear-loading.svg" src="https://dl.dropbox.com/s/hpx7jkzi7xhwj8r/RunnableEpipheo_Draft01c.mp4"></video> --}}
<iframe id="player" class="video-embed" src="https://www.youtube-nocookie.com/embed/mBR-_5dXH4w?modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<button class="btn btn-icon video-pause" title="Paws">
  <svg class="icons icons-close">
    <use xlink:href="#icons-close">
  </svg>
</button>
