<iframe id="player" class="video-embed hidden-xxs" src="https://www.youtube-nocookie.com/embed/mBR-_5dXH4w?modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
<button class="btn btn-icon video-pause" title="Paws">
  <svg class="icons icons-close">
    <use xlink:href="#icons-close">
  </svg>
</button>
