<video id="video" class="video-embed" controls poster="images/no-runnabear.svg" src="https://dl.dropboxusercontent.com/s/aj2v9nmk9ykguql/RunnableAnimaticEpipheo002-3.mp4"></video>
<a href="#" class="video-pause">
  <svg class="icons icons-close ">
    <use xlink:href="#icons-close">
  </svg>
</a>
