<article class="article hero video-hero">
  <a href="#video" class="btn btn-lg green video-link">Watch the Video
    <img src="images/play.svg" class="img" height="21" width="21">
  </a>
  <a href="#video" class="video-img-wrapper">
    <img class="video-img" src="images/video-still.jpg">
  </a>
</article>
