<article class="article hero video-hero">
  <h1 class="h1 text-center">Runnable creates <strong class="strong">on-demand integration environments</strong>, so your team can test and integrate their code as often as needed.</h1>
  <a href="#player" class="video-img-wrapper video-start">
    <button class="btn btn-lg green video-link">Watch the Video
      <img src="images/play.svg" class="img" height="21" width="21">
    </button>
    <img class="video-img" src="images/video-still.jpg">
  </a>
</article>
