<article class="article hero video-hero">
  <a class="btn btn-lg green video-link video-start">Watch the Video
    <img src="images/play.svg" class="img" height="21" width="21">
  </a>
  <a class="video-img-wrapper video-start">
    <img class="video-img" src="images/video-still.jpg">
  </a>
</article>
