<article class="article hero video-hero">
  <h1 class="h1 text-center">Your team has<br>a staging problem.</h1>
  <div class="video-img-wrapper video-start">
    <button class="btn btn-lg green video-link">Watch the Video
      <img src="images/play.svg" class="img" height="21" width="21">
    </button>
    <img class="video-img" src="images/video-still.jpg">
  </div>
</article>
