<video id="video" class="video-embed" controls preload="none" poster="images/no-runnabear-loading.svg" src="https://dl.dropbox.com/s/hpx7jkzi7xhwj8r/RunnableEpipheo_Draft01c.mp4"></video>
<button class="btn btn-icon video-pause" title="Paws">
  <svg class="icons icons-close ">
    <use xlink:href="#icons-close">
  </svg>
</button>
