<script src="https://checkout.stripe.com/checkout.js"></script>

<article class="grid-block vertical align-center article hero payment-hero">
  <h1 class="h1 text-center">Set up payment information.</h1>
  <p class="p text-center">To show our appreciation, we promised preview users a 50% discount off our regular price for their first billing year.</p>
  <div class="card card-flipper">
    <div class="grid-block vertical justify-center card-a padding-md">
      <p class="p">Add your payment info to claim your discount. Don’t worry, you won’t be charged until we enter our public beta (we’ll email you).</p>
      <ul class="grid-block shrink vertical ul">
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>Your current estimated charge is <strong class="strong">$<span class="js-replace-price"></span></strong> monthly after your discount.</span>
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>Your monthly rate is calculated based upon user and configuration template count each billing period. <a href="#" class="link">See Details</a>.</span>
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>You can cancel any time by emailing accounts@runnable.com.</span>
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>If you cancel, you may be charged for the remaining billing period.</span>
      </ul>
      <small class="grid-content shrink small text-center text-gray"> By adding your payment info, you are authorizing Runnable to charge you every month, once we enter public beta, until you cancel.</small>
      <button class="grid-content align-center justify-center shrink btn btn-lg btn-stripe" disabled>
        <div class="grid-content spinner-wrapper spinner-sm spinner-white">
          <svg class="spinner" viewbox='0 0 16 16'>
            <circle class="path" cx="8" cy="8" r="7" stroke-linecap="round">
          </svg>
        </div>
      </button>
    </div>
    <div class="grid-block vertical align-center justify-center card-b padding-md">
      <div class="grid-content"></div>
      <svg class="grid-content shrink icons icons-check">
        <use xlink:href="#icons-check">
      </svg>
      <p class="grid-content p text-center">Thank you! Your information has been safely saved. <span class="js-replace-org"></span> will automatically receive 50% off for one year once we enter beta.</p>
    </div>
    <div class="grid-content"></div>
  </div>
</article>
