<script src="https://checkout.stripe.com/checkout.js"></script>

<article class="grid-block vertical align-center article hero payment-hero">
  <h1 class="h1 text-center">Preview Pricing</h1>
  <p class="p text-center">To show our appreciation, we promised early adopters a 50% discount off our regular price for their first billing year. Save your credit card to claim your discount.</p>
  <div class="card card-wrapper">
    <div class="grid-block vertical justify-center card-a padding-md">
      <ul class="grid-block shrink vertical ul">
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>You won’t be charged until we announce our beta (we’ll email you)!</span>
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>The amount charged will be based on the number of users in your account and the number of configurations. <a href="#" class="link">Plan details</a>.</span>
        <li class="grid-block li">
          <svg class="grid-content shrink icons">
            <use xlink:href="#icons-check">
          </svg>
          <span>You can cancel any time by emailing accounts@runnable.com.</span>
      </ul>
      <small class="grid-content shrink small text-center text-gray">By continuing to use Runnable,<br>you agree to our <a href="../terms/" class="link">terms of service</a>.</small>
      <button class="grid-content shrink btn btn-lg btn-stripe">Claim Discount</button>
    </div>
    <div class="grid-block vertical align-center justify-center card-b padding-md">
      <svg class="grid-content shrink icons">
        <use xlink:href="#icons-check">
      </svg>
      <p class="grid-content p text-center">Thank you! Your information has been safely saved. <span class="js-replace-org"></span> will automatically receive 50% off for one year once we enter beta.</p>
    </div>
  </div>
</article>
