<article class="grid-block col align-center section article article-behind-the-scenes" id="devops">
  <h2 class="h1 weight-strong text-center">Behind the scenes.</h2>
  <h3 class="h3 text-center">See how we’ve created a powerful experience around building full-stack environments:</h3>

  <section class="grid-block col card padding-lg">
    <h4 class="grid-content p weight-strong">When a Team Joins Runnable</h4>
    <p class="grid-content p">We create dedicated instances behind a new&#32;
      <span class="underline popover-trigger hover">VPC
        <span class="popover top weight-light">Virtual Private Cloud</span>
      </span>. VPCs help ensure privacy and security for the team’s code. It also enables us to scale instances based on their usage. Custom&#32;
      <span class="underline popover-trigger hover">AMI
        <span class="popover top weight-light">Amazon Machine Images</span>
      </span>
      &#32;are created for large databases to expedite provisioning.
    </p>
    <div class="grid-block align-center well padding-md">
      <img class="grid-content shrink img" src="images/how-it-works/icons-docker.svg" height="33" width="33" alt="Docker Logo">
      <p class="grid-content p">Runnable runs on Docker. Every VPC has a dedicated set of Docker machines, Swarm, and Registry.</p>
    </div>
    <p class="grid-content p">If the team is already dockerized, setup is a breeze. If not, we construct a Dockerfile for each repository service based on configuration details a teammate enters via our simple interface.</p>
    <div class="grid-block align-center well padding-md">
      <img class="grid-content shrink img faded" src="images/logos/social/logo-github.svg" height="33" width="33" alt="GitHub Logo">
      <p class="grid-content p">When a teammate creates a new branch, we receive a webhook from GitHub. We then schedule a set of containers to create your new environment.</p>
    </div>
    <h4 class="grid-content p weight-strong">Build Optimization</h4>
    <p class="grid-content p">When we receive branch updates, we begin building a new image for the container running that service.</p>
    <ol class="grid-block col ol list padding-md">
      <li class="li">Builds are distributed evenly across the Docker hosts available on the team’s VPC, and every build always has at least one dedicated CPU.
      <li class="li">If the other containers’ dependencies haven’t changed, we use the previous cached images to improve start-up time.
    </ol>
    <p class="grid-content p">Once the containers are started in the necessary order, they’re attached to our Swarm-based network and are configured to communicate with each other.</p>
    <div class="grid-block align-center well padding-md">
      <img class="grid-content shrink img" src="images/logos/logo-slack.svg" height="33" width="33" alt="Slack Logo">
      <p class="grid-content p">We receive a webhook when a teammate opens a pull request, and we publish the environment URLs to the page for easier reviews—Slack too.</p>
    </div>
    <h4 class="grid-content p weight-strong">Automatic Infrastructure Scaling</h4>
    <p class="grid-content p">Our infrastructure management uses machine learning to automatically scale up and down instances based on a predictive scaling model built from analyzing the team’s patterns in commit history.</p>
    <div class="grid-block grid-2">
      <div class="grid-block col align-center">
        <img class="grid-content shrink img" src="images/how-it-works/icons-performance.svg" height="60" width="60" alt="Performance">
        <p class="grid-content p text-center">During cases where instances perform less than expected, we automatically create a new host and perform a migration of all containers and services.</p>
      </div>
      <div class="grid-block col align-center">
        <img class="grid-content shrink img" src="images/how-it-works/icons-recycle.svg" height="60" width="60" alt="Recycle">
        <p class="grid-content p text-center">When a teammate deletes their branch, we receive a webhook, and clean up the associated environment.</p>
      </div>
    </div>
    <div class="grid-content padding-lg card-footer">
      <p class="p text-center text-gray">Read our <a class="link" href="/blog/">engineering blog</a> for specific details on Runnable’s infrastructure. Articles are published weekly.</p>
    </div>
  </section>
  <div class="grid-block col align-center">
    <p class="grid-content text-white p text-center">Environments for your entire team at a low, fixed cost.</p>
    <a class="grid-content btn btn-lg btn-white" href="/pricing/">View Pricing Plans</a>
  </div>
</article>
