<article class="grid-block col align-center section article article-behind-the-scenes" id="devops">
  <h2 class="h1 weight-strong text-center">DevOps love Runnable.</h2>
  <h3 class="h3 text-center">Runnable is a service creating customizable, containerized environments for your development teams.</h3>
  <section class="grid-block col card padding-lg">
    <h4 class="p weight-strong">Designed to Fit Your Dev Workflow</h4>
    <p class="p margin-top-xs">
      Once connected to your git repository,  Runnable creates dedicated, single-tenant instances behind a new
      <span class="underline popover-trigger hover">VPC
        <span class="popover top weight-light">Virtual Private Cluster</span>
      </span>. This helps maintain privacy and security for your team’s code. Runnable optimizes your builds around your development workflow by auto-scaling your infrastructure based on team-size and usage patterns.
    </p>
    <h4 class="p weight-strong margin-top-md">Environments Build Quickly</h4>
    <p class="p margin-top-xs">Runnable’s build caching speeds up environment creation by scheduling builds on the same instances. Large databases are baked into your infrastructure via custom
      <span class="underline popover-trigger hover">AMIs
        <span class="popover top weight-light">Amazon Machine Images</span>
      </span> to maintain performance. Using Copy-on-Write on the file-system enables quick database replication when creating multiple environments.
    </p>
    <h4 class="p weight-strong margin-top-md">Isolated Environments Enhance Testing</h4>
    <p class="p margin-top-xs">Every code branch automatically has its own custom, isolated environment with Runnable. Developers can mix-and-match any combination of service versions or branches on-the-fly to create their environment, without reconfiguring the application. This is achieved via at the networking/DNS-layer, by connecting different services together so teams can co-develop applications. For external requests, API brokering prevents you from having to reconfigure APIs for each environment.</p>
  </section>
  <div class="grid-block col align-center">
    <p class="grid-content text-white p text-center">Environments for your entire team at a low, fixed cost.</p>
    <a class="grid-content btn btn-lg btn-white" href="/pricing/">View Pricing</a>
  </div>
</article>
