<article class="article hero how-it-works-hero">
  <h1 class="h1 text-center">How it works:</h1>
  <h3 class="h3 text-center">Runnable is built on Docker, and provides all the benefits without the setup.</h3>
</article>
