<article class="article article-environment">
  <img class="img grid-content" src="images/environment.svg" width="500" height="250">
  <div class="grid-container grid-block vertical">
    <h1 class="h1">Not just any environment.</h1>
    <p class="p">We’re active in the Docker community. Our expertise is built in our product and support.
    <ul class="ul">
      <li class="li">Our builds are <strong class="strong">fast!</strong>
      <li class="li">We maintain performance under heavy workloads.
      <li class="li">Use your own terminal with our CLI.
    </ul>
  </div>
</article>
