<article class="article hero">
  <h1 class="h1 text-center">Full-stack environments
    <br>for your GitHub branches.
  </h1>
  <p class="p text-center">When you create a branch, you get a new sandbox environment.
    <br class="hidden-xs">When you push changes to that branch, your sandbox updates.
  </p>
  <a href="https://www.youtube.com/watch?v=Zlm9E_Miar8" class="link" target="_blank">Watch the video
    <img src="images/play.svg" class="img" height="18" width="18">
  </a>
</article>
