.article-behind-the-scenes {
  background: linear-gradient($purple-dark, $purple, $purple-light);
  color: $white;

  &::after {
    background: url(../images/confetti.png);
    background-size: 864px 324px;
    content: '';
    display: block;
    height: 100%;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  > .h1 + .p {
    max-width: 660px;
    padding: 0 15px;
  }

  .p {
    margin-bottom: 0; // reset
  }

  .popover-trigger {
    display: inline-block;
    line-height: 1.2;
  }

  .popover {
    white-space: nowrap;
  }

  .card {
    background: $white;
    border: $input-border solid rgba($black,.1);
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.075);
    color: $gray-dark;
    margin: 45px 15px 15px;
    max-width: 810px;
    overflow: visible;
  }

  .well {
    background: $gray-lighterest;
    font-size: 16px;
    margin: 45px 0;

    .img.faded {
      opacity: .3;
    }
  }

  .list {
    margin: 0 15px;
  }

  .li + .li {
    margin-top: 15px;
  }

  .link-external {
    text-decoration: none;

    &:hover .span {
      text-decoration: none;
    }

    .span {
      text-decoration: underline;
    }

    .icons {
      height: 18px;
      left: -5px;
      margin-right: 2px;
      position: relative;
      top: 2px;
      width: 18px;
    }
  }

  .grid-2 .grid-block {
    flex: 1 1;
    padding-top: 60px;

    + .grid-block .p {
      border-left: 1px solid $gray-lighter;
    }

    .p {
      padding: 15px 45px 45px;
    }
  }

  .card-footer {
    background: $gray-lighterest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid $gray-lightest;
    margin: 0 -45px -45px;
  }
}
