.article-setup {

  .h1 {
    margin-bottom: 30px;
  }

  .btn-toggle {
    background: transparent;
    border-color: transparent;
    border-radius: $input-border-radius-lg;
    color: $purple;
    font-size: 16px;
    font-weight: $weight-light;
    padding: 15px;
    text-align: left;
    white-space: normal;
    width: 300px;

    &:hover:not([disabled]) {
      border-color: $purple;
    }

    &:active,
    &.active {
      box-shadow: inset 0 0 0 1px $purple-light;
    }

    + .btn-toggle {
      margin-left: 15px;
    }
  }

  .figure {
    border-bottom: 1px solid $gray-lighter;
    height: 261px;
    margin: 45px auto 0;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    width: 810px;

    .fade {
      left: 30px;
      opacity: 0;
      position: absolute;
      right: 30px;
      top: 0;
      transition: opacity .3s ease-in-out;

      &.in {
        opacity: 1;
      }
    }
  }
}
