<article class="grid-block col section article article-letter">
  <section class="grid-block col section">
    <p class="p">  We’re thrilled to announce the Runnable team is joining <a class="link" href="//mulesoft.com">MuleSoft</a>. This is an incredible opportunity for us to expand our vision of empowering developers to test changes without the infrastructure bottleneck; we couldn’t be more excited to work with MuleSoft to continue our journey.</p>
    <p class="p">As apart of this transition, we’re shutting down service for all Runnable accounts. To those we had the joy of serving, thank you very much for your support and feedback. Know this isn’t goodbye — we’re looking forward to sharing what’s next.</p>
    <p class="p text-gray">💜<br>All of us @ Runnable</p>
  </section>
</article>
