<aside class="grid-block bitbucket-box padding-sm shake-me">
  <div class="grid-block shrink align-center">
    <svg class="icons">
      <use xlink:href="#icons-bitbucket">
    </svg>
  </div>
  <form class="grid-block vertical form form-bitbucket show">
    <label class="small text-gray label text-center" for="input-email">Get notified when we roll out Bitbucket support.</label>
    <div class="grid-block">
      <input class="grid-block input input-sm input-validate pristine" id="input-email" placeholder="Name" name="name">
      <input class="grid-block input input-sm input-validate pristine" id="input-email" placeholder="Work email" name="email" type="email" pattern="\S+@\S+\.\S+" title="Enter a valid email for us to follow up with." required>
    </div>
    <button class="grid-block shrink btn btn-sm gray">Notify Me</button>
  </form>
  <div class="grid-block vertical hide">
    <p class="p text-center">Thanks, we’ll be in touch! 🙌</p>
  </div>
</aside>
