<aside class="grid-block bitbucket-box padding-sm">
  <div class="grid-block shrink align-center">
    <svg class="icons">
      <use xlink:href="#icons-bitbucket">
    </svg>
  </div>
  <div class="grid-block vertical">
    <p class="small text-gray">Get notified when we roll out Bitbucket support.</p>
    <form class="grid-block form">
      <input class="grid-block input input-sm" placeholder="Your work email" type="email" required>
      <button class="grid-block shrink btn btn-sm gray">Notify Me</button>
    </form>
  </div>
</aside>
