<div class="modal-backdrop" id="confirm">
  <a href="#" class="icons-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <!-- submitted state -->
  <article class="article article-sign-up article-confirm modal">
    <img class="img hide" src="images/runnabear-jumping.png">
    <p class="p text-center">To prevent spam, we also need to confirm your email address by clicking on the link in the email we just sent you.
    <a href="#" class="grid-content btn btn-lg gray">Return Home</a>
  </article>
</div>
