<!-- submitted state -->
<article class="article article-form article-confirm">
  <img class="img hide" src="images/runnabear-jumping.png">
  <h1 class="h1 text-center strong">You did it!</h1>
  <p class="p text-center">We’ll be in touch soon!
  <a href="#" class="grid-content btn btn-lg gray">Return Home</a>
</article>
