<div class="modal-backdrop" id="confirm">
  <a href="#" class="icons-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <!-- submitted state -->
  <article class="article article-sign-up article-confirm modal">
    <img class="img hide" src="images/runnabear-jumping.png">
    <h1 class="h1 text-center strong">Almost finished…</h1>
    <p class="p text-center">Fill out this too because of a compelling reason. To prevent spam, we also need to confirm your email address by clicking on the link in the email we just sent you.

    <form action="http://runnable.us5.list-manage.com/subscribe/post?u=a67ad168d3259d6b0f4d103df&amp;id=4e5a55ffa6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="grid-block vertical form form-sign-up">
      <div class="grid-content input-group-vertical textarea-group">
        <label class="label" for="mce-PROBLEMS">What problems do you want Runnable to solve? </label>
        <textarea class="input input-md textarea input-validate pristine"  value="" name="PROBLEMS"id="mce-PROBLEMS"></textarea>
      </div>
      <button id="mc-embedded-subscribe" class="grid-content btn btn-lg green">Ship It (again)!</button>
    </form>
  </article>
</div>
