<!-- submitted state -->
<article class="article article-form article-confirm">
  <img class="img hide" src="images/runnabear-jumping.png">
  <h1 class="h1 text-center strong">Thanks, we’ll be in touch soon!</h1>
  <a href="https://runnable.com" class="grid-content btn btn-lg gray">Return Home</a>
</article>
