<footer class="grid-block vertical footer justify-spaced">
  @@include('html/components/signup.hbs')
  @@include('html/components/support.hbs')
  <div class="grid-block link-wrapper">
    <div class="grid-block vertical align-start">
      <a href="product/" class="btn btn-xs link weight-strong">Product</a>
      <a href="demo/" class="btn btn-xs link weight-strong">Request Demo</a>
      <a href="https://support.runnable.com" class="btn btn-xs link weight-strong">Docs</a>
      <a href="https://runnable.com/docker/" class="btn btn-xs link weight-strong">Docker Guides</a>
      <a href="about/" class="btn btn-xs link weight-strong">About</a>
      <a href="http://blog.runnable.com" class="btn btn-xs link weight-strong">Blog</a>
    </div>
    <div class="grid-block vertical align-start">
      <a href="pricing/" class="btn btn-xs link weight-strong">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="btn btn-xs link weight-strong">Security</a>
      <a href="legal/privacy-policy/" class="btn btn-xs link weight-strong">Privacy</a>
      <a href="legal/terms-of-service/" class="btn btn-xs link weight-strong">Terms</a>
      <a href="legal/acceptable-use-policy/" class="btn btn-xs link weight-strong">Acceptable Use</a>
    </div>
  </div>
</footer>
