<footer class="grid-block footer align-spaced">
  <a href="mailto: info@runnable.com" class="btn btn-xs link strong">Email</a>
  <a href="http://support.runnable.io" class="btn btn-xs link strong">Support</a>
  <img src="images/runnabot-head.png" class="img" height="36" width="36">
  <a ng-href="\{{loginUrl}}" class="btn btn-xs link strong">Sign In</a>
  <a href="#sign-up" class="btn btn-xs link strong">Sign Up</a>
</footer>
