<hr class="hr grid-container">

<footer class="grid-block footer align-spaced">
  <img class="img" src="images/runnabear-hello.png">
  <a href="about.html" class="btn btn-xs link strong">About</a>
  <a href="mailto: info@runnable.com" class="btn btn-xs link strong">Email</a>
  <a href="http://support.runnable.io" class="btn btn-xs link strong">Documentation</a>
  <a ng-href="\{{loginUrl}}" class="btn btn-xs link strong">Sign In</a>
  <a href="#sign-up" class="btn btn-xs link strong">Sign Up</a>
</footer>
