<footer class="grid-block col footer justify-spaced">
  @@include('html/components/signup.hbs')
  @@include('html/components/support.hbs')
  <div class="grid-block link-wrapper">
    <div class="grid-block col align-start">
      <p class="subtitle weight-strong">Product</p>
      <a href="/preview-environments/" class="btn btn-xs link weight-strong">Preview Environments</a>
      <a href="/end-to-end-testing/" class="btn btn-xs link weight-strong">End-to-End Testing</a>
      <a href="/deploy-to-production/" class="btn btn-xs link weight-strong">Deploy to Production</a>
      <a href="/use-cases/" class="btn btn-xs link weight-strong">Use Cases</a>
      <a href="/how-it-works/" class="btn btn-xs link weight-strong">How It Works</a>
      <a href="/pricing/" class="btn btn-xs link weight-strong">Pricing</a>
      <p class="subtitle weight-strong">Help</p>
      <a href="/docs/" class="btn btn-xs link weight-strong">Docs</a>
      <a href="/docker/" class="btn btn-xs link weight-strong">Docker Guides</a>
      <a href="/demo/" class="btn btn-xs link weight-strong">Request Demo</a>
    </div>
    <div class="grid-block col align-start">
      <p class="subtitle weight-strong">Company</p>
      <a href="/about/" class="btn btn-xs link weight-strong">About</a>
      <a href="/blog/" class="btn btn-xs link weight-strong">Blog</a>
      <a href="https://www.facebook.com/runnable/" class="btn btn-xs link weight-strong">Facebook</a>
      <a href="https://twitter.com/GetRunnable" class="btn btn-xs link weight-strong">Twitter</a>
      <a href="https://www.linkedin.com/company/runnable" class="btn btn-xs link weight-strong">Linkedin</a>

      <p class="subtitle weight-strong">Legal</p>
      <a href="/legal/privacy-policy/" class="btn btn-xs link weight-strong">Privacy</a>
      <a href="/legal/terms-of-service/" class="btn btn-xs link weight-strong">Terms</a>
      <a href="/legal/acceptable-use-policy/" class="btn btn-xs link weight-strong">Acceptable Use</a>
    </div>
  </div>
</footer>
