<footer class="grid-block vertical footer justify-spaced">
  @@include('html/components/signup.hbs')
  @@include('html/components/support.hbs')
  <div class="grid-block link-wrapper">
    <div class="grid-block vertical align-start">
      <a href="demo/" class="btn btn-xs link strong">Request Demo</a>
      <a href="product/" class="btn btn-xs link strong">Product</a>
      <a href="https://support.runnable.com" class="btn btn-xs link strong">Docs</a>
      <a href="about/" class="btn btn-xs link strong">About</a>
    </div>
    <div class="grid-block vertical align-start">
      <a href="http://blog.runnable.com" class="btn btn-xs link strong">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="btn btn-xs link strong">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="btn btn-xs link strong">Security</a>
      <a href="privacy/" class="btn btn-xs link strong">Privacy</a>
    </div>
  </div>
</footer>
