<div class="modal-backdrop" id="sign-up">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    @@include('html/components/sign-up-modal.hbs')
    @@include('html/components/questionnaire-modal.hbs')
    @@include('html/components/confirm-modal.hbs')
  </div>
</div>

{{!--
<div class="modal-backdrop" id="new-sign-up">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    @@include('html/components/new-sign-up-modal.hbs')
  </div>
</div>
--}}

<div class="modal-backdrop" id="sign-in">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    @@include('html/components/sign-in-modal.hbs')
  </div>
</div>
