<div class="modal-backdrop" id="sign-up">
  <a href="#" class="icons-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    @@include('sign-up-modal.hbs')
    @@include('questionnaire-modal.hbs')
    @@include('confirm-modal.hbs')
  </div>
</div>
