<article class="grid-block vertical align-center noscroll article article-form article-sign-up article-bitbucket slide">
  <div class="grid-block vertical card shake-me">
    <img class="img" src="images/runnabear-pop.png" height="130" width="230">
    <form class="grid-block vertical form form-bitbucket show">
      <div class="grid-block vertical padding-lg form-wrapper">
        <label class="p text-center padding-sm" for="input-name">We’ll let you know when we roll out Bitbucket support.</label>
        <div class="grid-block vertical show">
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-name">Your Name</label>
            <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnabear" title="Enter your name, so we can be bffs." required>
          </div>
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-email">Work Email</label>
            <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email for us to follow up with."  type="email" required>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <button class="grid-block justify-center align-center btn btn-lg green wrap-xxxs">
          <div class="grid-block justify-center align-center">
            <svg class="icons hidden-xxxs">
              <use xlink:href="#icons-bitbucket">
            </svg>
            <span class="grid-content shrink">Notify Me</span>
          </div>
        </button>
      </footer>
    </form>
    <div class="grid-block vertical justify-center padding-lg hide">
      <p class="p text-center">Thanks, we’ll be in touch! 🙌</p>
    </div>
  </form>
</article>
