<article class="grid-block col align-center noscroll article article-form article-github article-sign-up slide in">
  <h1 class="grid-content shrink h2 text-white weight-strong text-center">Add your code to speed up your development.</h1>
  <p class="grid-content shrink p text-center text-white">Free for 14 days.<br class="visible-xxxs"> No card required.</p>
  <div class="grid-block col card shake-me">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <form class="grid-block col form-wrapper form-github">
      <div class="grid-block col padding-lg">
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-email">Work Email</label>
          <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email."  type="email" required>
        </div>
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-name">Company Name</label>
          <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnable" title="Enter the name of the company you work for." required>
        </div>
        <p class="text-center margin-top-md margin-bottom-xs">I want Runnable to help <br class="visible-xs hidden-xxxs">my team with:</p>
        <div class="grid-block col">
          <div class="grid-block col checkbox-group pristine">
            <label class="grid-block align-center checkbox-label">
              <input class="checkbox-input" name="checkbox-why" type="checkbox" value="E2E Testing" required>
              <div class="grid-block shrink margin-right-xs checkbox"></div>
              End-to-End Testing
            </label>
            <label class="grid-block align-center checkbox-label">
              <input class="checkbox-input" name="checkbox-why" type="checkbox" value="CI/CD" required>
              <div class="grid-block shrink margin-right-xs checkbox"></div>
              CI / CD
            </label>
            <label class="grid-block align-center checkbox-label">
              <input class="checkbox-input" name="checkbox-why" type="checkbox" value="Staging Environments" required>
              <div class="grid-block shrink margin-right-xs checkbox"></div>
              <span class="hidden-xs">Persistent&nbsp;</span>Staging Environments
            </label>
            <label class="grid-block align-center checkbox-label">
              <input class="checkbox-input checkbox-other" name="checkbox-why" type="checkbox" value="Other" required>
              <div class="grid-block shrink margin-right-xs checkbox"></div>
              <span class="span-other">Other</span>
              <input class="grid-block input-other" name="why-other" placeholder="Other (please specify)" autofocus>
            </label>
          </div>
        </div>
        <div class="well well-red text-center small padding-xxs margin-top-md hide"></div>
      </div>
      <footer class="grid-block col justify-center card-footer padding-lg">
        <button data-href="{{loginUrl}}" class="grid-block justify-center align-center btn btn-lg green wrap-xxxs js-submit track-grant-access-github">
          <svg class="icons hidden-xxs">
            <use xlink:href="#icons-github">
          </svg>
          <span>Sign Up With GitHub</span>
        </button>
        <p class="grid-content shrink p padding-top-sm text-center">By continuing, you are agreeing to<br class="br"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      </footer>
    </form>
  </div>
  <div class="grid-content text-center text-white">
    <a href="signin/" class="link">Sign in</a> if your team is already using Runnable.
  </div>
</article>
