<div class="modal-backdrop" id="sign-up">
  @@include('html/components/modal-header.hbs', {
    "signup": true,
    "standalone": false
  })
  <div class="modal">
    @@include('html/components/sign-up-modal.hbs')
  </div>
</div>
