<article class="grid-block col align-center noscroll article article-form article-github article-sign-up slide in">
  @@if (!context.selfHosted) {
  <h1 class="grid-content shrink h2 text-white weight-strong text-center">Add your code to speed up your development.</h1>
  <p class="grid-content shrink p text-center text-white">Free for 14 days.<br class="visible-xxxs"> No card required.</p>
  }
  @@if (context.selfHosted) {
  <h1 class="grid-content shrink h2 text-white weight-strong text-center">You’re signing up for the self-hosted plan.</h1>
  <p class="grid-content shrink p text-center text-white">This includes unlimited containers and support for AWS, Google Cloud (beta), and Azure (soon)!</p>
  }
  <div class="grid-block col card shake-me">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    @@if (!context.selfHosted) {
    <form class="grid-block col form form-github js-form show">
    }
    @@if (context.selfHosted) {
    <form class="grid-block col form form-github form-self-hosted js-form show">
    }
      <div class="grid-block col form-wrapper">
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-email">Work Email</label>
          <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email."  type="email" required>
        </div>
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-name">Company Name</label>
          <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnable" title="Enter the name of the company you work for." required>
        </div>
        <p class="text-center margin-top-md margin-bottom-xs">I want Runnable to help <br class="visible-xs hidden-xxxs">my team with:</p>
        <div class="grid-block col checkbox-group pristine">
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="Staging Environments" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            <span class="hidden-xs">Persistent&nbsp;</span>Staging Environments
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="E2E Testing" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            End-to-End Testing
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="CI/CD" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            CI / CD
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input checkbox-other" name="checkbox-why" type="checkbox" value="Other" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            <span class="span-other">Other</span>
            <input class="grid-block input-other pristine" pattern=".*\S+.*" name="why-other" placeholder="Other (please specify)" autofocus>
          </label>
        </div>
      </div>
      <footer class="grid-block col justify-center card-footer">
        @@if (!context.selfHosted) {
        <button data-href="{{loginUrl}}" class="grid-block noscroll justify-center align-center btn btn-lg green wrap-xxxs js-submit track-grant-access-github">
          <div class="grid-block justify-center align-center noscroll">
            <svg class="icons hidden-xxs">
              <use xlink:href="#icons-github">
            </svg>
            <span>Sign Up With GitHub</span>
          </div>
        </button>
        }
        @@if (context.selfHosted) {
        <button class="grid-block noscroll justify-center align-center btn btn-lg green wrap-xxxs js-submit">
          <div class="grid-block justify-center align-center noscroll">
            <span>Sign Up for Self-Hosted</span>
          </div>
        </button>
        }
        <p class="grid-content shrink p padding-top-sm text-center">By continuing, you are agreeing to<br class="br hidden-xs"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      </footer>
    </form>
    @@if (!context.selfHosted) {
    <div class="grid-block col justify-center padding-lg hide">
      <p class="p text-center">Thanks! We’re redirecting you to GitHub…</p>
    </div>
    }
    @@if (context.selfHosted) {
    <div class="grid-block col section-success hide">
      <div class="grid-block col align-center justify-center padding-lg">
        <p class="h3 weight-strong text-center">Thanks!</p>
        <p class="p text-center">We’ll reach out to you by email ASAP, and get you running! If you’d prefer to chat on the phone or online:</p>
        <div class="grid-block justify-justified margin-top-md">
          <a href="tel:18447866225" class="grid-block shrink btn btn-md">
            <svg class="icons">
              <use xlink:href="#icons-phone">
            </svg>
            <span>1 (844) 786-6225</span>
          </a>
          <a class="grid-block shrink btn btn-md js-intercom-open">
            <svg class="icons">
              <use xlink:href="#icons-chat">
            </svg>
            <span>Chat Now</span>
          </a>
        </div>
      </div>
      <footer class="grid-block col align-center justify-center card-footer">
        <p class="p text-center padding-bottom-sm">Or try a demo:</p>
        <a href="{{loginUrl}}" class="grid-block justify-center shrink btn btn-lg green track-grant-access-github">
          <svg class="icons">
            <use xlink:href="#icons-github">
          </svg>
          <span>Sign In With GitHub</span>
        </a>
      </footer>
    </div>
    }
  </div>
  <div class="grid-block col align-center margin-top-lg">
    <p class="p text-white text-center">Customers who 💖 us:</p>
    <img class="img margin-top-sm img-customers" src="images/customers-white.png" width="345" height="83">
    <p class="text-center text-white margin-top-lg"><a href="signin/" class="link">Sign in</a> if your team is already using Runnable.</p>
  </div>
</article>
