<header class="grid-block shrink header">
  <div class="grid-block grid-container align-justify">
    <a href="https://runnable.com" class="grid-content shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <div class="grid-block shrink">
      <a href="https://runnable.zendesk.com/hc/en-us" class="grid-content btn btn-sm text-white strong hidden-sm">Docs</a>
      <a href="features.html" class="grid-content btn btn-sm text-white strong hidden-xs">Features</a>
      <a ng-href="\{{loginUrl}}" class="grid-content btn btn-sm text-white strong hidden-xs">Sign In</a>
      <div class="grid-content btn btn-sm popover-trigger click" tabindex="1">
        <img class="img-overflow" src="images/icons-overflow.svg" height="24" width="24">
        {{!-- <svg class="icons icons-overflow">
          <use xlink:href="#icons-overflow">
        </svg> --}}
        <div class="popover bottom">
          <div class="list text-left">
            <a ng-href="\{{loginUrl}}" class="list-item-a visible-xs">Sign In</a>
            <a href="#sign-up-modal" class="list-item-a">Sign Up</a>
            <a class="list-item divider"></a>
            <a href="https://runnable.zendesk.com/hc/en-us" class="list-item-a visible-sm">Documentation</a>
            <a href="features.html" class="list-item-a visible-xs">Features</a>
            <a href="about.html" class="list-item-a">About</a>
            <a href="mailto:info@runnable.com" target="_blank" class="list-item-a">Email
              <svg class="icons">
                <use xlink:href="#icons-external">
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
