<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="/" class="grid-content shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <nav class="nav grid-block shrink">
      <div class="grid-content btn btn-sm popover-trigger hover has-links text-white strong hidden-sm product-link" tabindex="1">
        <a href="product/" class="a">
          <span class="float-left">Product Tour</span>
          <svg class="icons icons-chevron-down float-right">
            <use xlink:href="#icons-chevron-down">
          </svg>
        </a>
        <div class="popover-hover-wrapper">
          <div class="grid-block popover popover-product-menu bottom">
            @@include('html/popovers/product-menu.hbs')
          </div>
        </div>
      </div>
      <a href="demo/" class="grid-content btn btn-sm text-white strong hidden-md">Request Demo</a>
      <a href="{{loginUrl}}" class="grid-content btn btn-sm text-white strong hidden-md">Sign In</a>
      <a class="grid-content btn btn-sm btn-white text-white strong hidden-xs js-sign-up">Sign Up</a>
      <div class="grid-content btn btn-sm btn-overflow popover-trigger hover has-links" tabindex="1">
        <svg class="icons icons-overflow">
          <use xlink:href="#icons-overflow">
        </svg>
        @@include('html/popovers/header-menu.hbs')
      </div>
    </div>
  </nav>
</header>
