<header class="grid-block shrink header">
  <div class="grid-block grid-container align-justify">
    <a href="https://runnable.com" class="grid-content shrink">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <div class="grid-block shrink">
      <a ng-href="\{{loginUrl}}" class="grid-content btn btn-sm text-white strong">Sign In</a>
      <a href="#sign-up" class="grid-content btn btn-sm green">Sign Up</a>
    </div>
  </div>
</header>