<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="/" class="grid-block align-center shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <nav class="nav grid-block shrink">
      <div class="grid-content btn btn-sm text-white weight-strong hidden-xs a popover-trigger hover has-links" tabindex="1">
        <div class="div">Features
          <svg class="icons icons-chevron-down">
            <use xlink:href="#icons-chevron-down">
          </svg>
        </div>
        @@include('html/popovers/feature-menu.hbs')
      </div>
      <a href="docs/" class="grid-content btn btn-sm text-white weight-strong hidden-sm a">Docs</a>
      <a href="pricing/" class="grid-content btn btn-sm text-white weight-strong hidden-md">Pricing</a>
      <div class="grid-content btn btn-sm btn-overflow popover-trigger hover has-links" tabindex="1">
        <svg class="icons icons-overflow">
          <use xlink:href="#icons-overflow">
        </svg>
        @@include('html/popovers/header-menu.hbs')
      </div>
    </div>
  </nav>
</header>
