<header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="/" class="grid-content shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <nav class="nav grid-block shrink">
      <a href="product/" class="grid-content btn btn-sm text-white weight-strong hidden-sm a">Product</a>
      <a href="pricing/" class="grid-content btn btn-sm text-white weight-strong hidden-md">Pricing</a>
      <a data-target="#sign-in" class="grid-content btn btn-sm text-white weight-strong hidden-md js-modal js-hide-if-signed-in">Sign In</a>
      <a data-target="#sign-up" class="grid-content btn btn-sm btn-white text-white weight-strong hidden-xs js-modal js-hide-if-signed-in track-sign-up">Sign Up</a>
      <div class="grid-content btn btn-sm btn-overflow popover-trigger hover has-links" tabindex="1">
        <svg class="icons icons-overflow">
          <use xlink:href="#icons-overflow">
        </svg>
        @@include('html/popovers/header-menu.hbs')
      </div>
    </div>
  </nav>
</header>
