<header class="grid-block shrink header">
  <div class="grid-block grid-container align-justify">
    <a href="https://runnable.com" class="grid-content shrink">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <div class="grid-block shrink">
      <a ng-href="\{{loginUrl}}" class="grid-content btn btn-sm text-white strong">Sign In</a>
      <a href="#sign-up-modal" class="grid-content btn btn-sm green">Sign Up</a>
      <div class="grid-content btn btn-sm popover-trigger click" tabindex="1">
        <img class="img-overflow" src="images/icons-overflow.svg" height="24" width="24">
        <div class="popover bottom">
          <div class="list text-left">
            <a href="about.html" class="list-item">About</a>
            <a href="mailto:info@runnable.com" target="_blank" class="list-item">Email
              <svg class="icons">
                <use xlink:href="#icons-external">
              </svg>
            </a>
            <a href="https://runnable.zendesk.com/hc/en-us" target="_blank" class="list-item">Documentation
              <svg class="icons">
                <use xlink:href="#icons-external">
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
