<header class="grid-block shrink header">
  <div class="grid-block grid-container align-center justify-justified">
    <a class="grid-content shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <div class="grid-block shrink align-center">
      @@if (context.signup) {
      <a class="grid-block align-center shrink btn btn-sm btn-white js-open-bitbucket track-bitbucket">
        <svg class="icons icons-bitbucket">
          <use xlink:href="#icons-bitbucket">
        </svg>
        <span>Sign Up with Bitbucket</span>
      </a>
      <a class="grid-block align-center justify-center btn btn-sm btn-white js-open-github hide">
        <svg class="icons icons-github">
          <use xlink:href="#icons-github">
        </svg>
        <span>Sign Up with GitHub</span>
      </a>
      }
      @@if (!context.standalone) {
      <a class="grid-block align-center btn btn-sm btn-white js-modal-close">
        <svg class="icons icons-close">
          <use xlink:href="#icons-close">
        </svg>
        <span>Close</span>
      </a>
      }
    </div>
  </div>
</header>
