<a class="sign-up-box grid-block vertical well well-anchor" href="#sign-up">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview.
  <div class="p">Infrastructure cost is always included.
    <small class="small underline popover-trigger hover">What?
      <div class="popover top text-center">That means you don’t pay extra for server usage (AWS included)!</div>
    </small>
  </div>
  <div class="a strong">Sign Up
    <svg class="icons icons-chevron-right">
      <use xlink:href="#icons-chevron-right">
    </svg>
  </div>
</a>
