<div class="modal-backdrop" id="sign-up">
  <a href="#" class="icons-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <article class="article article-sign-up modal">
    <div class="well" ng-if="!data.hideUnauthorizedModal">
      <img class="img float-left" src="images/runnabear-error.png" height="90" width="45">
      You don’t have access to Runnable…yet. Fill out this form and we’ll get in touch!
    </div>
    <!-- initial state -->
    <h1 class="h1 text-center strong">Let’s get started.</h1>
    <form action="https://runnable.activehosted.com/proc.php" method="post" id="_form_1_" class="grid-block vertical form form-sign-up">
      <input type="hidden" name="u" value="1">
      <input type="hidden" name="f" value="1">
      <input type="hidden" name="s">
      <input type="hidden" name="c" value="0">
      <input type="hidden" name="m" value="0">
      <input type="hidden" name="act" value="sub">
      <input type="hidden" name="v" value="2">

      <div class="grid-block vertical radio-group">
        <label class="p text-center">Where does your team keep their code?</label>
        <div class="grid-block">
          <input class="input-radio" type="radio" value="GitHub" name="field[2]" id="radio-github" required>
          <label class="btn btn-lg white radio" for="radio-github">
            <svg class="icons">
              <use xlink:href="#icons-github">
            </svg>
            GitHub
            <svg class="icons">
              <use xlink:href="#icons-check">
            </svg>
          </label>
          <input class="input-radio" type="radio" value="Bitbucket" name="field[2]" id="radio-bb" required>
          <label class="btn btn-lg white radio" for="radio-bb">
            <svg class="icons">
              <use xlink:href="#icons-bitbucket">
            </svg>
            Bitbucket
            <svg class="icons">
              <use xlink:href="#icons-check">
            </svg>
          </label>
        </div>
      </div>

      <div class="grid-content input-group-vertical input-group-org">
        <label class="label" for="input-organization">
          <span class="label-text">Team Name</span>
          <small class="underline popover-trigger hover">Why<span class="hidden-xxs"> do we need this</span>?
            <div class="popover top text-center">We’re sending invitations to teams that are on Bitbucket or GitHub.</div>
          </small>
        </label>
        <input class="input input-md input-validate pristine" id="input-organization" name="organization" required>
      </div>

      <div class="grid-content input-group-vertical">
        <label class="label" for="input-email">Your Email</label>
        <input class="input input-md input-validate pristine" id="input-email" name="email" type="email" pattern="\S+@\S+\.\S+" title="Enter a valid email for us to follow up with." required>
      </div>

      <button id="_form_1_submit" class="grid-content btn btn-lg green">Ship It!</button>
    </form>
  </article>
</div>
