<a class="sign-up-box grid-block vertical well well-anchor" href="#sign-up">
  <img class="img" src="{{baseUrl}}../images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br class="hidden-xxxs">
    including infrastructure costs!
  <div class="btn btn-sm green">Sign Up</div>
</a>
