<button class="grid-block btn btn-back js-back fade">
  <svg class="icons float-left">
    <use xlink:href="#icons-chevron-right">
  </svg>
  Back
</button>

<article class="grid-block noscroll vertical article article-form article-sign-up slide in">
  <h1 class="h1 text-center weight-strong padding-sm">Let’s get started.</h1>
  <div class="grid-block card">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <div class="grid-block vertical padding-lg form-wrapper">
      <p class="p text-center padding-sm">Where does your team keep their code?</p>
      <div class="grid-block align-center justify-center btn btn-lg white js-next track-github" data-next="github">
        <svg class="grid-content shrink icons">
          <use xlink:href="#icons-github">
        </svg>
        <span class="grid-content shrink span text-left">GitHub</span>
        <svg class="grid-content shrink icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </div>
      <div class="grid-block align-center justify-center btn btn-lg white js-next track-bitbucket" data-next="bitbucket">
        <svg class="grid-content shrink icons">
          <use xlink:href="#icons-bitbucket">
        </svg>
        <span class="grid-content shrink span text-left">Bitbucket</span>
        <svg class="grid-content shrink icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </div>
    </div>
  </div>
  <hr class="hr">
  <div class="grid-content text-center">
    <a data-target="#sign-in" href="{{loginUrl}}" class="link track-sign-in">Sign in</a> if your team is already using Runnable.
  </div>
</article>

@@include('html/components/form-github.hbs')
@@include('html/components/form-bitbucket.hbs')
