<div class="modal-backdrop" id="sign-in">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    <h1 class="h1 text-center strong">Don’t hurt yourself.</h1>
    {{!--     <img src="images/welcome/runnabear.png" height="250" width="200">
    <form class="modal-body">
      <h3 class="h3">We need you to authorize us on GitHub.</h3>
      <ul class="list list-bordered">
        <li class="list-item">
          <svg class="svg" viewbox="0 0 9 18"><path d="M8.666,7.084C8.877,7.295,8.988,7.559,9,7.875V13.5H6.75v3.375c-0.012,0.316-0.123,0.58-0.334,0.791S5.941,17.988,5.625,18h-2.25c-0.316-0.012-0.58-0.123-0.791-0.334s-0.322-0.475-0.334-0.791V13.5H0V7.875c0.012-0.316,0.123-0.58,0.334-0.791S0.809,6.762,1.125,6.75h6.75C8.191,6.762,8.455,6.873,8.666,7.084z M6.891,5.766C6.258,6.398,5.461,6.727,4.5,6.75C3.539,6.727,2.742,6.398,2.109,5.766s-0.961-1.43-0.984-2.391c0.023-0.961,0.352-1.758,0.984-2.391S3.539,0.023,4.5,0c0.961,0.023,1.758,0.352,2.391,0.984s0.961,1.43,0.984,2.391C7.852,4.336,7.523,5.133,6.891,5.766z M7.875,7.875h-6.75v4.5H2.25v-2.25h1.125v6.75h2.25v-6.75H6.75v2.25h1.125V7.875z M6.1,4.975c0.422-0.422,0.639-0.955,0.65-1.6C6.738,2.73,6.521,2.197,6.1,1.775s-0.955-0.639-1.6-0.65c-0.645,0.012-1.178,0.229-1.6,0.65s-0.639,0.955-0.65,1.6c0.012,0.645,0.229,1.178,0.65,1.6s0.955,0.639,1.6,0.65C5.145,5.613,5.678,5.396,6.1,4.975z"/></svg>
      </ul>
    </form> --}}
    <a href="{{loginUrl}}">Sign In</a>
  </div>
</div>
