<div class="sign-up-box grid-block">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p grid-content">Ready to get started?</p>
  <a href="#sign-up-modal" class="btn btn-md green grid-content shrink">Sign Up</a>
</div>
