<div class="sign-up-box grid-block vertical">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p text-center">Runnable is <strong class="strong">free</strong> during our preview.
    <br>
  </p>
  <div class="p underline popover-trigger hover">Infrastructure cost is always included.
    <div class="popover top text-center">That means you don’t pay extra for server usage (AWS included)!</div>
  </div>
  <a href="#sign-up-modal" class="btn btn-md green grid-content shrink">Sign Up</a>
</div>
