<a class="sign-up-box grid-block vertical well well-anchor" href="#sign-up">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br>
    including infrastructure costs!
  <div class="a strong">Sign Up
    <svg class="icons icons-chevron-right">
      <use xlink:href="#icons-chevron-right">
    </svg>
  </div>
</a>
