<div class="sign-up-box">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p text-center">Ready to get started? Tell us about your Github organization and we’ll get started!</p>
  <a href="#sign-up-modal" class="btn btn-sm green">Sign Up</a>
</div>
