<a data-target="#sign-up" class="sign-up-box grid-block vertical well well-anchor js-modal">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br class="hidden-xs">
    including infrastructure costs!
  <div class="btn btn-sm green">Sign Up</div>
</a>
