.page-landing {

  .grid-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 90px;

    @include media(xs) {
      padding: 0 45px;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 30px;
  }

  .header {
    background: linear-gradient($white, rgba($white,.95));
    border-bottom: 1px solid rgba($black,.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .grid-container {
      padding-bottom: 18px;
      padding-top: 27px;
    }
  }

  .main {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .h1,
  .h2,
  .h3,
  .p {
    font-weight: $weight-light;
  }

  .h1 {
    margin: 21px 0;

    &.display {
      font-size: 60px;
    }
  }

  .h2,
  .h3 {
    margin: 15px 0;
  }

  .ol,
  .ul,
  .p {
    margin-bottom: 9px;
  }

  .ol,
  .ul {
    list-style-type: circle;
  }

  .hr {
    background: rgba($black,.1);
    border: 0;
    height: 1px;
    margin: 30px 0;
  }
}

.article-quick-start {

  .p {
    margin-bottom: 30px;
  }

  .a {
    filter: grayscale(100%);
    opacity: .5;
    padding: 9px;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }

    + .a {
      margin-left: 6px;
    }
  }

  .img {
    height: 45px;
    width: 45px;
  }
}
