<article class="grid-block section article article-letter">
  <section class="grid-block col section">
    <h1 class="h1 text-center">👯</h1>
    <p class="p">We’re thrilled to announce the Runnable team is joining. This is an incredible opportunity for us to expand our vision of empowering developers to test changes without the infrastructure bottleneck; we couldn’t be more excited to work with to continue our journey.</p>
    <p class="p">While cloud-hosted accounts have been sunset, Runnable’s self-hosted accounts will continue to be supported under this acquisition. Runnable CodeSnippets (code.runnable.com) will also continue to be a great place to try and share code.</p>
    <p class="p">For those we had the joy of serving, thank you very much for your support and feedback. Now know this isn’t goodbye — we’ll continue serving all our self-hosted customers, and we’re looking forward to sharing what’s next.</p>
    <p class="p text-gray">💜 All of us @ Runnable</p>
  </section>
</article>
