<article class="hero hero-joins">
  <div class="grid-block align-center col grid-container noscroll">
    <h1 class="h1 text-center">Runnable is joining<br class="hidden-xxs">the MuleSoft family!</h1>
    <section class="section">
      <div class="card-mulesoft grid-block col align-center noscroll">
        <img src="images/runnabear-peek.png" width="230" height="130" class="img-runnabear">
        <img src="images/joins/logo-mulesoft.svg" width="180" height="125" class="img-mulesoft">
      </div>
    </section>
  </div>
</article>
