<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Runnable Joins the Family</title>
    <script ugly>
      @@include('js/status.js')
    </script>

  <body class="page-landing page-join" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main">
      @@include('html/joins/hero.hbs')
      @@include('html/joins/article-letter.hbs')
      @@include('html/joins/article-photos.hbs')
      @@include('html/components/footer.hbs')
    </main>

    @@include('js/external/external.html')
