<article class="grid-block align-center col noscroll hero hero-testing">
  <img src="images/icons-testing.svg" height="90" width="90" class="img">
  <h1 class="h1 text-center">End-to-End Testing</h1>
  <p class="h3 text-center">Fully test every code change on its own full-stack environment.</p>
</article>
