<article class="grid-block vertical align-center article article-cta">
  <p class="small text-gray weight-light">All plans require at least 3 users.</p>
  <p class="p text-center">Sign up by September 30<sup>th</sup> to receive <strong class="weight-strong">25% off</strong> your first six months.</p>
  <button data-target="#sign-up" class="btn btn-lg green js-modal track-sign-up">Start Your 14-Day Free Trial</button>
  <p class="small text-gray weight-light">No Card Required</p>
</article>
