<article class="grid-block article article-pricing-faq">
  <div class="grid-block vertical shrink">
    <p class="p normal">What happens when I add or remove a user?</p>
    <p class="p answer">We prorate the cost of user so you only pay for the time that they can actually use.</p>
  </div>
  <div class="grid-block vertical shrink">
    <p class="p normal">Which plan should I pick?</p>
    <p class="p answer">We automatically determine your plan based on the number of configurations your team uses.</p>
  </div>
  <div class="grid-block vertical shrink">
    <p class="p normal">Why isn’t there a free plan?</p>
    <p class="p answer">Costs are included in the cost of every plan, so you can use your sandbox as much as you want.</p>
  </div>
  <div class="grid-block vertical shrink">
    <p class="p normal">Why don’t you support Bitbucket?</p>
    <p class="p answer">We’re considering adding Bitbucket support in the future. We can <a href="#" class="link">notify you</a> when that happens.</p>
  </div>
  <div class="grid-block vertical shrink">
    <p class="p normal">I have more questions.</p>
    <p class="p answer">No problem! <a href="#" class="link">Contact us</a> and we’d be happy to help.</p>
  </div>
</article>
