<article class="article-pricing-cloud section">
  <h2 class="weight-strong text-center margin-bottom-md">Cloud-Hosted Plans</h2>
  <div class="grid-block justify-center align-center col-sm noscroll grid-container-sm">
    <div class="grid-block col card">
      <header class="card-header">Starter</header>
      <div class="card-body">
        <p class="card-price">$9<span class="per-month">/mo</span></p>
        <p class="weight-strong">per user</p>
        <p class="margin-top-sm">Up to&#32;<span class="weight-strong">2</span>&#32;containers<br>per branch</p>
      </div>
    </div>
    <div class="grid-block col card">
      <header class="card-header">Standard</header>
      <div class="card-body">
        <p class="card-price">$29<span class="per-month">/mo</span></p>
        <p class="weight-strong">per user</p>
        <p class="margin-top-sm">Up to&#32;<span class="weight-strong">7</span>&#32;containers<br>per branch</p>
      </div>
    </div>
    <div class="grid-block col card">
      <header class="card-header">Plus</header>
      <div class="card-body">
        <p class="card-price">$49<span class="per-month">/mo</span></p>
        <p class="weight-strong">per user</p>
        <p class="margin-top-sm">Up to&#32;<span class="weight-strong">15</span>&#32;containers<br>per branch</p>
      </div>
    </div>
  </div>
  <div class="grid-block col align-center margin-top-lg">
    <button href="signup/" class="btn btn-md gray track-sign-up">Start Your 14-Day Free Trial</button>
    <p class="small text-gray weight-light margin-top-xxs">All plans require at least 3 users.</p>
  </div>
</article>
