<article class="grid-block grid-container justify-center article article-details">
  <div class="grid-block vertical shrink">
    <p class="p normal">Included in all plans</p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Unlimited environments
    </p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Automated E2E&#8202;/&#8202;integration testing
    </p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Pull request integration
    </p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Slack notifications
    </p>
  </div>
  <div class="grid-block vertical shrink">
    <p class="p">&nbsp;</p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Single-tenant infrastructure
    </p>
    <p class="p">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Private Docker registry <span class="pill pill-green">Beta</span>
    </p>
    <p class="p text-gray">
      <svg class="icons icons-check">
        <use xlink:href="#icons-check">
      </svg>
      One-click deploy to AWS, Google Cloud, and Azure <span class="pill pill-gray">Soon</span>
    </p>
  </div>
</article>
