<article class="grid-block vertical align-center">
  <section class="pricing-faq">
    {{!-- <p class="p strong text-center">Frequently asked questions</p>
      <div class="label-wrapper">
        <label class="label">
          <input type="checkbox" class="check-box">
          <div class="question strong grid-block align-center">
            <div class="grid-content">Can I SSH into Runnable containers?</div>
            <img class="grid-content shrink arrow-left" src="images/arrow-left.svg" height="15" width="15">
          </div>
          <p class="answer text-gray">Yes. Use the <a href="https://github.com/runnable/cli" class="link">Runnable CLI</a> to interact with containers from your native terminal.</p>
        </label>
      </div>
      <div class="label-wrapper">
        <label class="label">
          <input type="checkbox" class="check-box">
          <div class="question strong grid-block align-center">
            <div class="grid-content">What is an active user?</div>
            <img class="grid-content shrink arrow-left" src="images/arrow-left.svg" height="15" width="15">
          </div>
          <p class="answer text-gray">Yes. Use the <a href="https://github.com/runnable/cli" class="link">Runnable CLI</a> to interact with containers from your native terminal.</p>
        </label>
      </div> --}}
      <div class="grid-block faq-wrapper">
        <div class="grid-block vertical shrink">
          <p class="p strong">What happens when I add or remove a user?</p>
          <p class="p answer">We prorate the cost of user so you only pay for the time that they can actually use.</p>
        </div>
        <div class="grid-block vertical shrink">
          <p class="p strong">Which plan should I pick?</p>
          <p class="p answer">We automatically determine your plan based on the number of configurations your team uses.</p>
        </div>
        <div class="grid-block vertical shrink">
          <p class="p strong">Why isn’t there a free plan?</p>
          <p class="p answer">Costs are included in the cost of every plan, so you can use your sandbox as much as you want.</p>
        </div>
        <div class="grid-block vertical shrink">
          <p class="p strong">Why don’t you support Bitbucket?</p>
          <p class="p answer">We’re considering adding Bitbucket support in the future. We can <a href="#" class="link">notify you</a> when that happens.</p>
        </div>
        <div class="grid-block vertical shrink">
          <p class="p strong">I have more questions.</p>
          <p class="p answer">No problem! <a href="#" class="link">Contact us</a> and we’d be happy to help.</p>
        </div>
      </div>
   </section>
</article>
