<article class="grid-block grid-container justify-center article article-details">
  <ul class="grid-block vertical shrink ul">
    <li class="li normal">Included in all plans</li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Unlimited environments
    </li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Automated E2E&#8202;/&#8202;integration testing
    </li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Pull request integration
    </li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Slack notifications
    </li>
  </ul>
  <ul class="grid-block vertical shrink ul">
    <li class="li normal hidden-md">&nbsp;</li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Single-tenant infrastructure
    </li>
    <li class="li">
      <svg class="icons icons-check text-green">
        <use xlink:href="#icons-check">
      </svg>
      Private Docker registry <span class="pill pill-green">Beta</span>
    </li>
    <li class="li text-gray">
      <svg class="icons icons-check">
        <use xlink:href="#icons-check">
      </svg>
      One-click deploy to AWS, Google Cloud, and Azure <span class="pill pill-gray">Soon</span>
    </li>
  </ul>
</article>
