<article class="grid-block vertical align-center article article-cta">
  <p class="p text-center">All plans require at least 3 users and start with a 14-day unlimited trial.</p>
  <button data-target="#sign-up" class="btn btn-lg green js-modal js-hide-if-signed-in track-sign-up">Start Your Free Trial</button>
  <p class="p text-center text-gray light small">no card required</p>
  <div class="well small light text-gray text-center padding-md">
    Teams that sign up before our preview ends on August 25th will get a 50% discount for their first year.
    <img src="../images/runnabear-peek.png" class="img">
  </div>
</article>
