<article class="article-pricing-cloud section">
    <h2 class="h3 weight-strong text-center">Cloud-Hosted Plans</h2>
    <div class="grid-block justify-center">
      <div class="card">
        <div class="card-header">Starter</div>
        <div class="card-body">
          <div class="card-price">$9/mo</div>
          <div class="weight-strong">per user</div>
          <div class="margin-top-sm">Up to&#32;<span class="weight-strong">2</span>&#32;containers per branch</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Standard</div>
        <div class="card-body">
          <div class="card-price">$29/mo</div>
          <div class="weight-strong">per user</div>
          <div class="margin-top-sm">Up to&#32;<span class="weight-strong">7</span>&#32;containers per branch</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Plus</div>
        <div class="card-body">
          <div class="card-price">$49/mo</div>
          <div class="weight-strong">per user</div>
          <div class="margin-top-sm">Up to&#32;<span class="weight-strong">15</span>&#32;containers per branch</div>
        </div>
      </div>
    </div>
  <div class="grid-block col align-center margin-top-md">
    <button href="signup/" class="btn btn-md green track-sign-up">Start Your 14-Day Free Trial</button>
    <p class="small text-gray weight-light margin-top-xxs">All plans require at least 3 users.</p>
  </div>
</article>
