<article class="grid-block justify-center align-center article article-explanation">
  <div class="grid-block align-center justify-center shrink">
    <img src="images/pricing/bear-dollar.svg" class="grid-block img">
  </div>
  <div class="grid-block shrink col">
    <h2 class="h3 weight-strong">How our pricing works.</h2>
    <p class="p">We charge based on the number of containers used to define your application. A container is a running process, like an API server or a database.</p>
    <p class="p margin-top-xxs">With this model, your team can use as many environments as needed without affecting your rate.</p>
  </div>
</article>
