<article class="grid-block vertical article-pricing">
  <section class="section grid-block grid-container section-includes justify-center">
    <div class="grid-block vertical shrink">
      <p class="p strong">Included in all plans</p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Unlimited environments
      </p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Automated E2E&#8202;/&#8202;integration testing
      </p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Pull request integration
      </p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Slack notifications
      </p>
    </div>
    <div class="grid-block vertical shrink">
      <p class="p text-gray-light strong">&nbsp;</p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Single-tenant infrastructure
      </p>
      <p class="p">
        <svg class="icons icons-check text-green">
          <use xlink:href="#icons-check">
        </svg>
        Private Docker registry <span class="pill pill-green">Beta</span>
      </p>
      <p class="p text-gray">
        <svg class="icons icons-check">
          <use xlink:href="#icons-check">
        </svg>
        One-click deploy to AWS, Google Cloud, and Azure <span class="pill pill-gray">Soon</span>
      </p>
    </div>
  </section>
  <section class="section section-how grid-block justify-center">
    <div class="grid-block shrink">
      <img src="../images/runnabear-jumping.png" width="500px" height="400px">
    </div>
    <div class="grid-block shrink vertical">
      <p class="p strong h3">How pricing works</p>
      <p class="p">We charge based on the number of configurations your team uses. A <span class="strong">configuration</span> is a repository or other service (like a database) that Runnable will create containers for.</p>
      <p class="p">The number of configurations your team will need is roughly the number of services that make up your application.</p>
      <p class="p">Pricing this way means you don’t have to worry about infrastructure costs — we cover all that stuff.</p>
    </div>
  </section>
</article>
