<article class="grid-block justify-center article article-explanation">
  <div class="grid-block shrink">
    <img src="../images/pricing/bear-dollar.png" width="447px" height="345px">
  </div>
  <div class="grid-block shrink vertical">
    <p class="p normal h3">How pricing works</p>
    <p class="p">We charge based on the number of configurations your team uses. A <span class="normal">configuration</span> is a repository or other service (like a database) that Runnable will create containers for.</p>
    <p class="p block-quote">The number of configurations your team will need is roughly the number of services that make up your application.</p>
    <p class="p">Pricing this way means you don’t have to worry about infrastructure costs — we cover all that stuff.</p>
  </div>
</article>
