<article class="grid-block vertical align-center article article-cta">
  <p class="small text-gray weight-light">All plans require at least 3 users.</p>
  <p class="p text-center">Sign up before September 8th to receive a <br class="hidden-xs"><span class="weight-strong">50% discount</span> for your first six months.</p>
  <button data-target="#sign-up" class="btn btn-lg green js-modal js-hide-if-signed-in track-sign-up">Start Your 14-Day Free Trial</button>
  <p class="small text-gray weight-light">No Card Required</p>
</article>
