<article class="grid-block col align-center article article-pricing-cta">
  <p class="grid-content small text-gray weight-light">All plans require at least 3 users.</p>
  <button data-target="#sign-up" class="grid-content btn btn-lg green js-modal track-sign-up">Start Your 14-Day Free Trial</button>
  <p class="grid-content small text-gray weight-light">No Card Required</p>
</article>
