<article class="grid-block col align-center hero pricing-hero">
  <h1 class="h1 text-center weight-strong">Pricing Plans</h1>
  <p class="h3 text-center">Choose our self-hosted plan for more control,<br class="hidden-xs">or a cloud-hosted plan to start right away.
  <section class="section">
    <div class="grid-block align-center col-sm grid-container-sm ">
      <section class="grid-block col card">
        <h3 class="card-header">Self-Hosted</h3>
        <div class="card-body">
          <p class="card-price">$35<span class="per-month">/mo</span></p>
          <p class="weight-strong">per user</p>
        </div>
        <a href="signup-self-hosted/" class="btn btn-md green track-sign-up">Get Started</a>
        <div class="grid-block justify-center card-hosts">
          <div class="grid-block col align-center">
            <img class="img" src="images/pricing/aws.svg" title="Amazon Web Services">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="images/pricing/gcp.svg" title="Google Cloud Platform">
            <p class="small text-gray weight-light">Beta</p>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="images/pricing/azure.svg" title="Microsoft Azure">
            <p class="small text-gray weight-light">Soon</p>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="images/pricing/private-cloud.svg" title="Private Cloud">
            <p class="small text-gray weight-light">Soon</p>
          </div>
        </div>
      </section>
      <ul class="grid-block col justify-center noscroll pricing-benefits">
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Unlimited concurrent builds and tests
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Unlimited staging environments
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Deploy from your private Docker registry
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Support for GitHub Enterprise
      </ul>
    </div>
  </section>
</article>
