<article class="grid-block col align-center hero pricing-hero">
  <h1 class="h1 text-center weight-strong">Pricing Plans</h1>
  <p class="h3 text-center">We offer self-hosted and cloud-hosted pricing.
  <section class="section">
    <div class="grid-block col-sm grid-container-sm ">
      <div class="grid-block col card">
        <header class="card-header">Self-Hosted</header>
        <section class="card-body">
          <p class="card-price">$35<span class="per-month">/mo</span></p>
          <p class="weight-strong">per user</p>
          <p class="text-gray margin-top-sm">Unlimited Containers</p>
        </section>
        <button href="signup/" class="btn btn-md green track-sign-up">Sign Up<span class="hidden-xxs"> for Self-Hosted</span></button>
        <div class="grid-block justify-center card-hosts">
          <div class="grid-block col align-center">
            <img class="img" src="/images/pricing/aws.svg" title="Amazon Web Services">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="/images/pricing/gcp.svg" title="Google Cloud Platform">
            <p class="small text-gray weight-light">Beta</p>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="/images/pricing/azure.svg" title="Microsoft Azure">
            <p class="small text-gray weight-light">Soon</p>
          </div>
          <div class="grid-block col align-center">
            <img class="img" src="/images/pricing/private-cloud.svg" title="Private Cloud">
            <p class="small text-gray weight-light">Soon</p>
          </div>
        </div>
      </div>
      <div class="grid-block col noscroll pricing-benefits">
        <p class="weight-strong margin-top-sm">Benefits:</p>
        <ul class="margin-top-sm">
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Unlimited builds, tests and running environments.
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Deploy anywhere from your private Docker registry.
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Support for AWS, GCP (beta), and Azure (soon).
        </ul>
      </div>
    </div>
  </section>
</article>
