<article class="grid-block justify-center hero pricing-hero">
  <section class="section">
    <div class="grid-block grid-container-sm col-sm">
      <div class="grid-block col card">
        <div class="card-header">Self-Hosted</div>
        <div class="card-body">
          <div class="card-price">$35<span class="per-month">/mo</span></div>
          <div class="weight-strong">per user</div>
          <div class="margin-top-sm">Unlimited Containers</div>
        </div>
        <button href="signup/" class="btn btn-md green margin-top-sm track-sign-up">Sign Up for Self-Hosted</button>
      </div>
      <div class="grid-block col noscroll benefits">
        <p class="weight-strong margin-top-sm">Benefits:</p>
        <ul class="margin-top-sm">
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Unlimited builds, tests and running environments.
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Deploy anywhere from your private Docker registry.
          <li class="li">
            <svg class="icons icons-check">
              <use xlink:href="#icons-check">
            </svg>
            Support for AWS, GCP (beta), and Azure (soon).
        </ul>
      </div>
    </div>
  </section>
</article>
