<article class="hero pricing-hero">
  <h1 class="h1 text-center">Pricing Plans</h1>
  <section class="grid-block align-end justify-center section section-plans">
    <div class="grid-block plan-wrapper">
      <div class="grid-block vertical shrink text-center plan">
        <p class="normal">Starter</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price strong"><sup class="sup">$</sup>9</p>
          <p class="light">monthly per user</p>
        </div>
        <p class="plan-description">Up to <span class="strong">2</span> templates</p>
        <p class="light text-gray">For basic or<br>monolithic apps</p>
      </div>
      <div class="grid-block vertical shrink text-center plan">
        <p class="normal">Standard</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price strong"><sup class="sup">$</sup>29</p>
          <p class="light">monthly per user</p>
        </div>
        <p class="plan-description">Up to <span class="strong">7</span> templates</p>
        <p class="light text-gray">For most<br>multi-tier apps</p>
      </div>
    </div>
    <div class="grid-block plan-wrapper">
      <div class="grid-block vertical shrink text-center plan">
        <p class="normal">Plus</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price strong"><sup class="sup">$</sup>49</p>
          <p class="light">monthly per user</p>
        </div>
        <p class="plan-description">Up to <span class="strong">15</span> templates</p>
        <p class="light text-gray">For larger apps<br>or multiple apps</p>
      </div>
      <div class="grid-block vertical shrink text-center plan">
        <p class="normal">Enterprise</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="light text-gray">Get Notified:</p>
          <div class="input-wrapper">
            <input class="input input-sm input-validate pristine text-center" placeholder="email address" required>
            <button class="btn green btn-xs">Submit</button>
          </div>
        </div>
        <p class="plan-description">Unlimited templates</p>
        <p class="light text-gray">On-premise<br>support</p>
      </div>
    </div>
  </section>
</article>
