<article class="hero pricing-hero">
  <h1 class="h1 text-center">Pricing Plans</h1>
  <section class="grid-block align-center justify-center section section-plans">

    <div class="grid-block plan-wrapper">
      <div class="grid-block col text-center plan padding-sm">
        <h2 class="weight-strong">Starter</h2>
        <div class="grid-block col align-center justify-center price-wrapper">
          <p class="grid-content shrink price weight-strong">$9<span class="per-month"> ⁄ mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="padding-xxs no-wrap">Up to <span class="weight-strong">2</span> templates</p>
        <small class="weight-light text-gray small padding-xxs">For basic<br>two-tier apps</small>
      </div>
      <div class="grid-block col text-center plan padding-sm">
        <h2 class="weight-strong">Standard</h2>
        <div class="grid-block col align-center justify-center price-wrapper">
          <p class="grid-content shrink price weight-strong">$29<span class="per-month"> ⁄ mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="padding-xxs no-wrap">Up to <span class="weight-strong">7</span> templates</p>
        <small class="weight-light text-gray small padding-xxs">For most<br>multi-tier apps</small>
      </div>
    </div>

    <div class="grid-block plan-wrapper">
      <div class="grid-block col text-center plan padding-sm">
        <h2 class="weight-strong">Plus</h2>
        <div class="grid-block col align-center justify-center price-wrapper">
          <p class="grid-content shrink price weight-strong">$49<span class="per-month"> ⁄ mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="padding-xxs no-wrap">Up to <span class="weight-strong">15</span> templates</p>
        <small class="weight-light text-gray small padding-xxs">For larger apps<br>or multiple apps</small>
      </div>
      <div class="grid-block card-flipper shake-me">
        <div class="grid-block col text-center card-a plan padding-sm">
          <h2 class="weight-strong">Enterprise</h2>
          <div class="grid-block col align-center justify-center price-wrapper">
            <p class="small weight-light text-gray">Coming Soon</p>
            <button class="btn gray btn-sm js-flipper">Notify Me</button>
          </div>
          <p class="padding-xxs no-wrap">Unlimited templates</p>
          <small class="weight-light text-gray small padding-xxs">On-premise<br>support</small>
        </div>
        <form class="grid-block col text-center card-b plan padding-sm form form-enterprise show">
          <svg class="icons icons-chevron-right js-flipper">
            <use xlink:href="#icons-chevron-right">
          </svg>
          <h2 class="weight-strong shrink">Enterprise</h2>
          <div class="grid-block col justify-center price-wrapper">
            <input class="grid-content shrink text-center input input-sm input-validate pristine" placeholder="Name" name="name" required>
            <input class="grid-content shrink text-center input input-sm input-validate pristine" placeholder="Work email" name="email" type="email" required>
          </div>
          <button class="grid-block justify-center align-center shrink btn btn-sm gray">
            <div class="grid-block justify-center align-center">
              <span class="grid-content shrink">Submit</span>
            </div>
          </button>
          <p class="grid-content small text-gray text-center weight-light">No spam — we promise!</p>
        </form>
        <div class="grid-block align-center plan hide">
          <p class="p text-center">🙌<br>Thanks, we’ll be in touch!</p>
        </div>
      </div>
    </div>
  </section>
</article>
