<article class="grid-block justify-center hero pricing-hero">
  <div class="card">
    <div class="card-header">Self-Hosted</div>
    <div class="card-body">
      <div class="card-price">$35<span class="per-month">/mo</span></div>
      <div class="weight-strong">per user</div>
      <div class="margin-top-sm">Unlimited Containers</div>
    </div>
    <button href="signup/" class="btn btn-md green margin-top-sm track-sign-up">Sign Up</button>
  </div>
</article>
