<article class="hero pricing-hero">
  <h1 class="h1 text-center">Pricing Plans</h1>
  <section class="section grid-block align-end section-plans justify-center">
    <div class="grid-block vertical shrink text-center plan">
      <p class="font-normal">Starter</p>
      <div class="grid-block align-center justify-center price-wrapper">
        <p class="price strong">$9</p>
        <div class="grid-block vertical align-start shrink">
          <p class="small text-gray">per user per month</p>
          <p class="small text-gray">3 user minimum</p>
        </div>
      </div>
      <p class="plan-description">Unlimited containers for up to <span class="font-normal">2</span> configurations</p>
      <p class="small text-gray">For basic or monolithic apps</p>
    </div>

    <div class="grid-block vertical shrink text-center plan">
      <p class="font-normal">Standard</p>
      <p class="small text-gray">🙌&nbsp; Most Popular&nbsp;🙌</p>
      <div class="grid-block align-center justify-center price-wrapper">
        <p class="price strong">$29</p>
        <div class="grid-block vertical align-start shrink">
          <p class="small text-gray">per user per month</p>
          <p class="small text-gray">3 user minimum</p>
        </div>
      </div>
      <p class="plan-description">Unlimited containers for up to <span class="font-normal">2</span> configurations</p>
      <p class="small text-gray">For most multi-tier apps</p>
    </div>

    <div class="grid-block vertical shrink text-center plan">
      <p class="font-normal">Pro</p>
      <div class="grid-block align-center justify-center price-wrapper">
        <p class="price strong">$49</p>
        <div class="grid-block vertical align-start shrink">
          <p class="small text-gray">per user per month</p>
          <p class="small text-gray">3 user minimum</p>
        </div>
      </div>
      <p class="plan-description">Unlimited containers for up to <span class="font-normal">2</span> configurations</p>
      <p class="small text-gray">For larger apps or multiple apps</p>
    </div>
  </section>
  <div class="grid-block vertical align-center">
    <p class="pp">All teams start with a 14-day unlimited trial, no card required.</p>
    <button class="btn btn-lg green">Start Your Free Trial</button>
  </div>
</article>
