.article-stack {

  .ul {
    @include media(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .li {
    @include media(md) {
      flex: 0 0 50%;
    }

    @include media(xs) {
      flex: 0 0 100%;
      max-width: 300px;
    }
  }
}
