// needs to be more specific than the inline styles
.calendar.calendar.calendar {
  margin: 90px auto 0;
  max-width: 900px;
  min-height: 541px;
  z-index: 1;

  @media (max-width: 960px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media(max-width: 541px) {
    min-height: 456px;
  }

  @include media(xxs) {
    margin-left: 15px;
    margin-right: 15px;
  }

  &::after {
    background: url(../images/runnabear-peek.png);
    background-size: 230px 130px;
    content: '';
    display: block;
    height: 130px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -120px;
    width: 230px;
    z-index: 31; // calendar form is 30
  }

  &.bookingjs {
    border-radius: $input-border-radius-lg;
    font-family: inherit;
  }

  &.bookingjs,
  .bookingjs-displayname,
  .fc-view-container,
  .fc-event,
  .fc-today-button {
    color: $gray-dark;
  }

  .fc-event {
    border-radius: 1px;
    font-size: 15px;
    transition: none;

    &:hover {
      color: $white;
    }
  }

  // forms
  .input-comment {
    max-height: 150px;
    max-width: 100%;
    min-height: 84px;
    min-width: 100%;
  }

  .bookingjs-form-button {
    @extend %btn-md;
    @extend %green;
    border-radius: $input-border-radius;
    border-style: solid;
    border-width: $input-border;
    box-shadow: none;
    display: inline-block;
    font-size: 18px;
    font-weight: $weight-bold;
    padding: 0 15px;
    text-transform: capitalize;
    transition: none;
    user-select: none;

    &:hover,
    &.hover {
      background: #8ae09c; // rgba($green,.6);
    }

    &:active,
    &.active,
    &.active:hover {
      background: $green;
      transition: none;
    }
  }

  .bookingjs-form-button .error-text,
  .bookingjs-form-button .loading-text,
  .bookingjs-form-button .success-text {
    top: 2px;
  }

  .bookingjs-poweredby {
    display: none;
  }

  // hide avatar and display name
  .bookingjs-avatar,
  .bookingjs-displayname {
    display: none;
  }

  // scss-lint:disable SelectorDepth
  &.is-small.has-avatar.has-displayname .bookingjs-calendar .fc-toolbar {
    padding-bottom: 0;
  }

  .fc .fc-toolbar > .fc-right > button.fc-today-button {
    border: 1px solid currentColor;
    border-radius: $input-border-radius;
    margin: 10px 0;
    padding: 5px;
  }
  // scss-lint:enable SelectorDepth
}
