<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Our Privacy Policy — Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/legal/privacy-policy/privacy-hero.hbs')
      @@include('html/legal/privacy-policy/article-privacy.hbs')
    </main>

    @@include('html/components/footer.hbs')
    @@include('html/components/form-modal.hbs')

    @@include('js/external/external.html')
