<footer class="grid-block vertical footer justify-spaced">
  <a class="sign-up-box grid-block vertical well well-anchor" href="#sign-up">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br class="hidden-xxxs">
    including infrastructure costs!
  <div class="btn btn-sm green">Sign Up</div>
</a>

  <aside class="grid-block aside-support">
  <div class="grid-block vertical justify-center support-text">
    <p class="p strong">Our engineers are here for you.</p>
    <p class="p">We can answer questions about Docker <br class="br">and help you set up your stack.</p>
  </div>
  <figure class="grid-block vertical figure shrink">
    <div class="grid-block shrink bubble">
      <img class="img float-left" src="images/logos/logo-slack.svg" height="18" width="18" alt="Slack">
      <div class="grid-block vertical">
        <div class="user">
          <strong class="strong user-name">Jorge</strong>
          <span class="user-time"> 4:19 PM</span>
        </div>
        <p class="p user-text">Can I run multiple commands?</p>
      </div>
    </div>
    <div class="grid-block shrink bubble">
      <img class="img float-left" src="images/runnabot-head.png" height="18" width="18" alt="Slack">
      <div class="grid-block vertical">
        <div class="user">
          <strong class="strong user-name">Taylor</strong>
          <span class="user-time"> 4:20 PM</span>
        </div>
        <p class="p user-text">Hi <span class="link-blue">@jorge</span>!
          <br>Yes you can. Here’s how: …
        </p>
      </div>
    </div>
  </figure>
</aside>

  <div class="grid-block link-wrapper">
    <div class="grid-block vertical align-start">
      <a href="demo/" class="btn btn-xs link strong">Request Demo</a>
      <a href="product/" class="btn btn-xs link strong">Product</a>
      <a href="https://support.runnable.com" class="btn btn-xs link strong">Docs</a>
      <a href="about/" class="btn btn-xs link strong">About</a>
    </div>
    <div class="grid-block vertical align-start">
      <a href="http://blog.runnable.com" class="btn btn-xs link strong">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="btn btn-xs link strong">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="btn btn-xs link strong">Security</a>
      <a href="privacy/" class="btn btn-xs link strong">Privacy</a>
    </div>
  </div>
</footer>
