<article class="grid-block col align-center noscroll article article-form article-github article-sign-up slide in">
  <h1 class="grid-content shrink h2 text-white weight-strong text-center">Add your code to speed up your development.</h1>
  <p class="grid-content shrink p text-center text-white">Free for 14 days.<br class="visible-xxxs"> No card required.</p>
  <div class="grid-block col card padding-top-sm">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <div class="grid-block col padding-lg form-wrapper">
      <a href="undefined/auth/github?redirect&#x3D;undefined/?auth" class="grid-block justify-center align-center btn btn-lg green wrap-xxxs track-grant-access-github">
        <svg class="icons hidden-xxxs">
          <use xlink:href="#icons-github">
        </svg>
        <span>Sign Up With GitHub</span>
      </a>
      <p class="grid-content shrink p padding-top-sm text-center">By continuing, you are agreeing to<br class="br"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
    </div>
  </div>
  <div class="grid-content text-center text-white">
    
    <a data-target="#sign-in" class="link js-modal">Sign in</a> if your team is already using Runnable.
    
    
  </div>
</article>
