<div class="modal-backdrop" id="sign-up">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    <article class="grid-block vertical align-center noscroll article article-form article-github article-sign-up slide in">
  <a class="grid-block align-center justify-center well well-anchor js-open-bitbucket track-bitbucket" data-next="bitbucket">
    <svg class="icons icons-bitbucket">
      <use xlink:href="#icons-bitbucket">
    </svg>
    <span>Sign up with Bitbucket</span>
    <svg class="icons icons-chevron-right">
      <use xlink:href="#icons-chevron-right">
    </svg>
  </a>

  <div class="grid-block vertical card">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <div class="grid-block vertical padding-lg form-wrapper">
      <p class="grid-content shrink p padding-sm text-center">By continuing, you are agreeing to<br class="hidden-xs"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      <a href="{{loginUrl}}" class="grid-block justify-center align-center btn btn-lg green wrap-xxxs track-grant-access-github">
        <svg class="icons hidden-xxxs">
          <use xlink:href="#icons-github">
        </svg>
        <span>Authorize With GitHub</span>
      </a>
    </div>
  </div>
  <div class="grid-content text-center text-gray">
    <a data-target="#sign-in" class="link js-modal">Sign in</a> if your team is already using Runnable.
  </div>
</article>

<article class="grid-block vertical align-center noscroll article article-form article-sign-up article-bitbucket slide">
  <a class="grid-block align-center justify-center well well-anchor js-open-github fade">
    <svg class="icons icons-chevron-right">
      <use xlink:href="#icons-chevron-right">
    </svg>
    <svg class="icons icons-github">
      <use xlink:href="#icons-github">
    </svg>
    <span>Sign up with GitHub</span>
  </a>
  <div class="grid-block vertical card shake-me">
    <img class="img" src="images/runnabear-pop.png" height="130" width="230">
    <form class="grid-block vertical form form-bitbucket show">
      <div class="grid-block vertical padding-lg form-wrapper">
        <label class="p text-center padding-sm" for="input-name">We’ll let you know when we roll out Bitbucket support.</label>
        <div class="grid-block vertical show">
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-name">Your Name</label>
            <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnabear" title="Enter your name, so we can be bffs." required>
          </div>
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-email">Work Email</label>
            <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email for us to follow up with."  type="email" required>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <button class="grid-block justify-center align-center btn btn-lg green wrap-xxxs">
          <div class="grid-block justify-center align-center">
            <svg class="icons hidden-xxxs">
              <use xlink:href="#icons-bitbucket">
            </svg>
            <span class="grid-content shrink">Notify Me</span>
          </div>
        </button>
      </footer>
    </form>
    <div class="grid-block vertical justify-center padding-lg hide">
      <p class="p text-center">Thanks, we’ll be in touch! 🙌</p>
    </div>
  </form>
</article>


  </div>
</div>

<div class="modal-backdrop" id="sign-in">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    <article class="grid-block noscroll vertical article article-form article-sign-in">
  <div class="grid-block vertical card">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <div class="grid-block vertical padding-lg form-wrapper">
      <p class="grid-content shrink p padding-sm text-center">By continuing, you are agreeing to<br class="hidden-xs"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      <a href="{{loginUrl}}" class="grid-block justify-center align-center btn btn-lg green track-sign-in">
        <svg class="icons hidden-xs">
          <use xlink:href="#icons-github">
        </svg>
        <span>Sign in with GitHub</span>
      </a>
    </div>
  </div>
  <div class="grid-content text-center text-gray">
    <a data-target="#sign-up" class="link js-modal">Sign up</a> if your team isn’t using Runnable yet.
  </div>
</article>

  </div>
</div>
