<div class="modal-backdrop" id="sign-up">
  <header class="grid-block shrink header">
  <div class="grid-block grid-container align-center justify-justified">
    
    <a class="grid-content shrink logo hidden-sm">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    
    
    
    <div class="grid-block shrink align-center">
      

      
      <a class="grid-block align-center btn btn-sm btn-white">
        <svg class="icons icons-close">
          <use xlink:href="#icons-close">
        </svg>
        <span>Close</span>
      </a>
      
    </div>
  </div>
</header>

  <div class="modal">
    <article class="grid-block col align-center noscroll article article-form article-github article-sign-up slide in">
  <h1 class="grid-content shrink h2 text-white weight-strong text-center">You’re signing up for our self-hosted plan.</h1>
  <p class="grid-content shrink p text-center text-white">Your team will catch issues earlier in development with unlimited preview and test environments.</p>
  <div class="grid-block col card shake-me">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <form class="grid-block col form form-github form-self-hosted js-form show">
      <div class="grid-block col form-wrapper">
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-email">Work Email</label>
          <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email."  type="email" required>
        </div>
        <div class="grid-content input-group-vertical">
          <label class="label" for="input-name">Company Name</label>
          <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnable" title="Enter the name of the company you work for." required>
        </div>
        <p class="text-center margin-top-md margin-bottom-xs">I want Runnable to help <br class="visible-xs hidden-xxxs">my team with:</p>
        <div class="grid-block col checkbox-group pristine">
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="Staging Environments" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            <span class="hidden-xs">Persistent&nbsp;</span>Staging Environments
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="E2E Testing" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            End-to-End Testing
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input" name="checkbox-why" type="checkbox" value="CI/CD" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            CI / CD
          </label>
          <label class="grid-block align-center checkbox-label">
            <input class="checkbox-input checkbox-other" name="checkbox-why" type="checkbox" value="Other" required>
            <div class="grid-block shrink margin-right-xs checkbox"></div>
            <span class="span-other">Other</span>
            <input class="grid-block input-other pristine" pattern=".*\S+.*" name="why-other" placeholder="Other (please specify)" autofocus>
          </label>
        </div>
      </div>
      <footer class="grid-block col justify-center card-footer">
        <button class="grid-block noscroll justify-center align-center btn btn-lg green wrap-xxxs js-submit">
          <div class="grid-block justify-center align-center noscroll">
            <span>Sign Up for Runnable</span>
          </div>
        </button>
        <p class="grid-content shrink p padding-top-sm text-center">By continuing, you are agreeing to<br class="br hidden-xs"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      </footer>
    </form>
    <div class="grid-block col section-success hide">
      <div class="grid-block col align-center justify-center padding-lg">
        <p class="h3 weight-strong text-center">Thanks!</p>
        <p class="p text-center">We’ll reach out to you by email ASAP and get you running! You can also reach us immediately (US Pacific) via phone or chat.</p>
        <div class="grid-block align-center justify-justified margin-top-md col-xs">
          <a href="tel:18447866225" class="grid-block shrink btn btn-md">
            <svg class="icons">
              <use xlink:href="#icons-phone">
            </svg>
            <span>1 (844) 786-6225</span>
          </a>
          <a class="grid-block shrink btn btn-md js-intercom-open">
            <svg class="icons">
              <use xlink:href="#icons-chat">
            </svg>
            <span>Chat Now</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-block col align-center margin-top-lg">
    <p class="p text-white text-center">Customers who 💖 us:</p>
    <img class="img margin-top-sm img-customers" src="images/customers-white.png" width="345" height="83">
  </div>
</article>

<article class="grid-block col align-center noscroll article article-form article-sign-up article-bitbucket slide">
  <div class="grid-block col card shake-me">
    <img class="img" src="images/runnabear-pop.png" height="130" width="230">
    <form class="grid-block col form form-bitbucket show js-form">
      <div class="grid-block col form-wrapper">
        <label class="p text-center padding-sm" for="input-name">We’ll let you know when we roll out Bitbucket support.</label>
        <div class="grid-block col show">
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-name">Your Name</label>
            <input class="input input-md input-validate pristine" id="input-name" name="name" placeholder="Runnabear" title="Enter your name, so we can be bffs." required>
          </div>
          <div class="grid-content input-group-vertical input-group-org">
            <label class="label" for="input-email">Work Email</label>
            <input class="input input-md input-validate pristine" id="input-email" name="email" pattern="\S+@\S+\.\S+" placeholder="runnabear@runnable.com" title="Enter a valid email for us to follow up with."  type="email" required>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <button class="grid-block justify-center align-center btn btn-lg green wrap-xxxs">
          <div class="grid-block justify-center align-center">
            <svg class="icons hidden-xxxs">
              <use xlink:href="#icons-bitbucket">
            </svg>
            <span class="grid-content shrink">Notify Me</span>
          </div>
        </button>
      </footer>
    </form>
    <div class="grid-block col justify-center padding-lg hide">
      <p class="p text-center">Thanks, we’ll be in touch! 🙌</p>
    </div>
  </div>
</article>


  </div>
</div>
