<article class="grid-block noscroll vertical article article-form article-sign-in">
  <div class="grid-block vertical card">
    <img class="img" src="images/runnabear-peek.png" height="130" width="230">
    <footer class="card-footer">
      <p class="grid-content shrink p padding-sm text-center">By continuing, you are agreeing to<br class="hidden-xs"> our <a href="legal/terms-of-service/" class="link">terms of service</a>.</p>
      <a href="undefined/auth/github?redirect&#x3D;undefined/?auth" class="grid-block justify-center align-center btn btn-lg green track-sign-in">
        <svg class="icons hidden-xs">
          <use xlink:href="#icons-github">
        </svg>
        <span>Sign in with GitHub</span>
      </a>
    </footer>
  </div>
  <div class="grid-content text-center text-gray">
    <a data-target="#sign-up" class="link js-modal">Sign up</a> if your team isn’t using Runnable yet.
  </div>
</article>
