<article class="grid-block vertical article article-form article-sign-in">
  <h1 class="h1 text-center weight-strong">Hey again.</h1>
  <p class="p text-center">By continuing, you are agreeing to <a href="/legal/terms-of-service/" class="link">our terms of service</a>.</p>
  <div class="grid-block vertical align-center">
    <img class="img" src="images/runnabear-peek.png" height="104" width="184">
    <a href="{{loginUrl}}" class="grid-block justify-center align-center btn btn-lg green track-sign-in">
      <svg class="icons">
        <use xlink:href="#icons-github">
      </svg>
      <span>Sign in with GitHub</span>
    </a>
  </div>
  <div class="grid-content text-center">
    <a data-target="#sign-up" class="link js-modal">Sign up</a> if your team isn’t using Runnable yet.
  </div>
</article>
