<article class="hero about-hero">
  <h1 class="h1 text-center">Team Runnable</h1>
  <p class="h3 text-center">Our mission is to enable anyone to run code without worrying about infrastructure.</p>
  <div class="grid-block grid-container justify-center team-grid">
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/yashkumar.jpg" alt="Yash Kumar" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Yash Kumar</strong>
        <small class="small">Founder & co-CEO</small>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/kenolofsen.jpg" height="215" width="300" alt="Ken Olofsen" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Ken Olofsen</strong>
        <small class="small">President & co-CEO</small>
        <div class="grid-block justify-center">
          <a class="link-social" href="http://www.linkedin.com/in/kolofsen" target="_blank">
            <img class="img-social" src="images/logos/social/logo-linkedin.svg" height="15" width="15">
          </a>
          <a class="link-social" href="https://twitter.com/kolofsen" target="_blank">
            <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/sundippatel.jpg" alt="Sundip Patel" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Sundip Patel</strong>
        <small class="small">Product Manager</small>
        <div class="grid-block justify-center">
          <a class="link-social" href="https://www.linkedin.com/in/sundippatel" target="_blank">
            <img class="img-social" src="images/logos/social/logo-linkedin.svg" height="15" width="15">
          </a>
          <a class="link-social" href="https://twitter.com/sundippatel" target="_blank">
            <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/prafulrana.jpg" alt="Raful Rana" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Praful Rana</strong>
        <small class="small">Product Manager</small>
        <div class="grid-block justify-center">
          <a class="link-social link-github" href="http://github.com/prafulrana" target="_blank">
            <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
          </a>
          <a class="link-social" href="https://in.linkedin.com/in/prafulrana" target="_blank">
            <img class="img-social" src="images/logos/social/logo-linkedin.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card">
      <div class="grid-block col justify-center card-a">
        <img class="grid-block shrink img" src="images/team/tonyli.jpg" alt="Tony Li" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/luna-rounded.jpg" height="60" width="60" alt="luna">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Tony Li</strong>
          <small class="small">Designer</small>
          <div class="grid-block justify-center">
            <a class="link-social link-github" href="https://github.com/runnabro" target="_blank">
              <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
            </a>
          </div>
        </figcaption>
      </div>
      <div class="grid-block col justify-center card-b">
        <img class="grid-block shrink img" src="images/team/luna.jpg" alt="Luna" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/tonyli-rounded.jpg" height="60" width="60" alt="Tony Li">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Luna</strong>
          <small class="small">Beagle & Pointer</small>
          <div class="grid-block justify-center">
            <a class="link-social link-instagram" href="https://www.instagram.com/lunagrams/" target="_blank">
              <img class="img-social" src="images/logos/social/logo-instagram.png" height="15" width="15">
            </a>
          </div>
        </figcaption>
      </div>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/anandpatel.jpg" alt="Anand Patel" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Anand Patel</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social" href="https://soundcloud.com/dj-faze" target="_blank">
            <img class="img-social" src="images/logos/social/logo-soundcloud.png" height="15" width="15">
          </a>
          <a class="link-social" href="https://twitter.com/anandAKAdjfaze" target="_blank">
            <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card">
      <div class="grid-block col justify-center card-a">
        <img class="grid-block shrink img" src="images/team/nathanmeyers.jpg" alt="Nathan Meyers" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/doobie-rounded.jpg" height="60" width="60" alt="doobie">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Nathan Meyers</strong>
          <small class="small">Engineer</small>
        </figcaption>
      </div>
      <div class="grid-block col justify-center card-b">
        <img class="grid-block shrink img" src="images/team/doobie.jpg" alt="Doobie" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/nathanmeyers-rounded.jpg" height="60" width="60" alt="Nathan Meyers">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Doobie</strong>
          <small class="small">Beagle</small>
          <div class="grid-block justify-center">
            <a class="link-social" href="https://www.facebook.com/DoobyToo?fref=ts" target="_blank">
              <img class="img-social" src="images/logos/social/logo-facebook.svg" height="15" width="15">
            </a>
          </div>
        </figcaption>
      </div>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/antonpodviaznikov.jpg" alt="Anton Podviaznikov" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Anton Podviaznikov</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social link-github" href="https://github.com/podviaznikov" target="_blank">
            <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
          </a>
          <a class="link-social" href="https://twitter.com/podviaznikov" target="_blank">
            <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/ryankahn.jpg" height="215" width="300" alt="Ryan Kahn" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Ryan Kahn</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social link-github" href="https://github.com/myztiq" target="_blank">
            <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
          </a>
          <a class="link-social" href="https://twitter.com/myztiq" target="_blank">
            <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
          </a>
          <a class="link-social" href="http://ryan-kahn.com/" target="_blank">
            👾
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card">
      <div class="grid-block col justify-center card-a">
        <img class="grid-block shrink img" src="images/team/taylordolan.jpg" height="215" width="300" alt="Taylor Dolan" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/robot-rounded.jpg" height="60" width="60" alt="Robot">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Taylor Dolan</strong>
          <small class="small">Designer</small>
          <div class="grid-block justify-center">
            <a class="link-social" href="https://twitter.com/taylordolan" target="_blank">
              <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
            </a>
          </div>
        </figcaption>
      </div>
      <div class="grid-block col justify-center card-b">
        <img class="grid-block shrink img" src="images/team/robot.jpg" alt="Robot" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/taylordolan-rounded.jpg" height="60" width="60" alt="Taylor Dolan">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Robot</strong>
          <small class="small">Boston Terrier</small>
        </figcaption>
      </div>
    </figure>
    <figure class="grid-block card-flipper team-card">
      <div class="grid-block col justify-center card-a">
        <img class="grid-block shrink img" src="images/team/jorgesilva.jpg" alt="Jorge Silva" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/majesticmaury-rounded.jpg" height="60" width="60" alt="Majestic Maury">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Jorge Silva</strong>
          <small class="small">Engineer</small>
          <div class="grid-block justify-center">
            <a class="link-social link-github" href="https://github.com/thejsj" target="_blank">
              <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
            </a>
            <a class="link-social" href="https://twitter.com/thejsj" target="_blank">
              <img class="img-social" src="images/logos/social/logo-twitter.svg" height="15" width="15">
            </a>
          </div>
        </figcaption>
      </div>
      <div class="grid-block col justify-center card-b">
        <img class="grid-block shrink img" src="images/team/majesticmaury.jpg" alt="Majestic Maury" height="215" width="300">
        <img class="img img-rounded js-flipper" src="images/team/jorgesilva-rounded.jpg" height="60" width="60" alt="Jorge Silva">
        <figcaption class="grid-block col figcaption text-center">
          <strong class="weight-strong">Majestic Maury</strong>
          <small class="small">Plant</small>
        </figcaption>
      </div>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/sohailahmed.jpg" height="215" width="300" alt="Sohail Ahmed" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Sohail Ahmed</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social link-instagram" href="https://www.instagram.com/sotothehail/" target="_blank">
            <img class="img-social" src="images/logos/social/logo-instagram.png" height="15" width="15">
          </a>
          <a class="link-social" href="https://soundcloud.com/sotothehail" target="_blank">
            <img class="img-social" src="images/logos/social/logo-soundcloud.png" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/sandychan.jpg" height="215" width="300" alt="Sandy Chan" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Sandy Chan</strong>
        <small class="small">Office Manager & Recruiter</small>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/henrymollman.jpg" height="215" width="300" alt="Henry Mollman" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Henry Mollman</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social link-github" href="https://github.com/henrymollman" target="_blank">
            <img class="img-social" src="images/logos/social/logo-github.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
    <figure class="grid-block card-flipper team-card col">
      <img class="grid-block shrink img" src="images/team/damienhayeck.jpg" height="215" width="300" alt="Damien Hayeck" height="215" width="300">
      <figcaption class="grid-block col figcaption text-center">
        <strong class="weight-strong">Damien Hayeck</strong>
        <small class="small">Engineer</small>
        <div class="grid-block justify-center">
          <a class="link-social" href="https://www.linkedin.com/in/damien-hayeck-63483b14" target="_blank">
            <img class="img-social" src="images/logos/social/logo-linkedin.svg" height="15" width="15">
          </a>
        </div>
      </figcaption>
    </figure>
  </div>
</article>
