<article class="grid-block vertical article article-comparison">
  <section class="grid-block justify-center">
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="{{baseUrl}}images/logos/logo-nitrous.svg" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from
        <br class="hidden-xxs">Nitrous.io?
      </p>
      <p class="grid-content shrink p text-center">Runnable uses native Docker components to create and maintain environments for every branch. These environments can be used during development, integration testing, and validation, and their assets can be deployed to any cloud service that uses Docker. Pricing isn’t based on number of environments used, so your team can work without worrying about additional costs.</p>
    </div>
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="{{baseUrl}}images/logos/logo-vagrant.png" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from
        <br class="hidden-xxs">Vagrant?
      </p>
      <p class="grid-content shrink p text-center">Vagrant is commonly used to create virtual machines to construct dev environments on a local machine. Runnable uses Docker to create lightweight containers that power your entire app on the cloud. Runnable auto-scales based on your team’s usage. If your team is working on 50 different branches or code changes, Runnable will automatically spin up 50 complete, isolated environments and keep them updated without consuming resources on your local or remote machines.</p>
    </div>
  </section>
  <section class="grid-block justify-center">
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="{{baseUrl}}images/logos/logo-c9.png" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from
        <br class="hidden-xxs">C9.io?
      </p>
      <p class="grid-content shrink p text-center">Runnable integrates with GitHub and Bitbucket to pull and run your code changes as they’re pushed (or by using the Runnable CLI). This enables your team to continue to use the native code editors, terminals, debugging and diff tools they love and still have their own complete development environment in the cloud.</p>
    </div>
    <div class="grid-block vertical card">
      <img class="grid-content shrink img" src="{{baseUrl}}images/logos/logo-codesnippets.svg" height="60">
      <p class="grid-content shrink p strong text-center">How is this different from
        <br class="hidden-xxs">Runnable CodeSnippets?
      </p>
      <p class="grid-content shrink p text-center">Our team built CodeSnippets to make discovering, sharing and experimenting with code examples simple. Runnable is built around teams to help develop, test end-to-end, and deploy to production faster. If you like CodeSnippets and work with a development team, you’re going to love Runnable.</p>
    </div>
  </section>
</article>