// scss-lint:disable MergeableSelector
.article-sign-in {

  // sign in wrapper
  > .grid-block {
    margin-bottom: 15px;
    margin-top: 45px;
    overflow: visible;
    position: relative;
  }

  .img {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -64px;
    z-index: 1;
  }

  .btn {
    overflow: hidden;
    padding: 0 30px;

    > .grid-block {
      display: inline-block;
    }
  }

  .icons {
    height: 100%;
    margin-right: 6px;
    width: 24px;
  }
}

.article-sign-up.new {

  .card {
    background: $gray-lighterest;
    border: $input-border solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    margin-bottom: 15px;
    margin-top: 60px;
    overflow: visible;
    padding: 15px 45px 30px;
    position: relative;

    > .p {
      margin-top: 15px;
    }

    > .img {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -120px;
      z-index: 1;
    }

    .icons {
      height: 24px;
      margin-right: 15px;
      opacity: .5;
      width: 21px;
    }
  }

  .list-bordered {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    color: $gray;
    padding: 0;

    .p {
      font-size: 15px;
      line-height: 1.2;
      margin: 0;
    }

    .img {
      border-radius: $input-border-radius;
      margin-right: 12px;
    }

    .btn {
      background: $gray-lightest;
      border: 0;
      color: $gray;
      font-weight: $weight-normal;
    }
  }

  .list-item + .list-item {
    border-top: 1px solid $gray-lighter;
  }

  // sign up button
  .btn.green {
    margin: 0;
    overflow: hidden;
    padding: 0 30px;

    > .grid-block {
      display: inline-block;
    }

    .icons {
      height: 100%;
      margin-right: 6px;
      width: 24px;
    }
  }
}
