.article-form {
  border-radius: $input-border-radius-lg;
  margin: 0 auto;
  max-width: 600px;
  padding: 45px 60px;

  @include media(xs) {
    border-radius: 0;
    margin: 0;
    padding: 45px 30px;
  }

  @include media(xxs) {
    margin: 0 auto;
    padding: 60px 15px;
  }


  &.slide {
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    // has been shown
    &.out {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(-135px,0,0);
      transition: opacity .2s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // has not been shown
    &:not(.out):not(.in) {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(135px,0,0);
      transition: opacity .2s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // currently shown
    &.in {
      opacity: 1;
      transform: scale3d(1,1,1) translate3d(0,0,0);
      z-index: 2;
    }
  }

  > .h2 {
    margin: 60px auto 0;
    max-width: 390px;

    @include media(sm) {
      margin-top: 0;
      max-width: 330px;
    }
  }

  .well-anchor {
    min-width: 0;

    // override defaults
    @include media(sm) {
      margin-left: auto;
      margin-right: auto;
    }

    @include media(xs) {
      flex-direction: row;
    }
  }

  .form {
    overflow: visible;
  }

  .card {
    background: $gray-lighterest;
    border: $input-border-lg solid transparent;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 1px 3px rgba($black,.1);
    margin-top: 90px;
    overflow: visible;
    position: relative;
    width: 100%;

    > .img {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -120px;
      z-index: 1;

      + .card-footer {
        border-top: 0;
      }
    }

    + .grid-content {
      margin-top: 45px;
    }
  }

  .form-wrapper {

    .br {
      @media (max-width: 500px) {
        display: none;
      }
    }

    .input-group-vertical {
      flex: 0 0 auto;
      margin-top: 15px;
      overflow: visible;

      @include media(sm) {
        min-width: 100%;
      }

      .input-md {
        border-radius: $input-border-radius-lg;
        border-width: $input-border-lg;
      }
    }
  }

  .card-footer {
    background: $gray-lightest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid $gray-lighter;
    padding: 30px 45px 45px;
  }

  // sign up button
  .btn.green {
    margin: 0 auto;
    overflow: visible;

    @include media(xxxs) {
      &.wrap-xxxs {
        height: auto;
        line-height: 1.4;
        padding: 15px;
        white-space: normal;
      }
    }

    .icons {
      height: 24px;
      margin-right: 6px;
      position: relative;
      width: 24px;
    }

    // errors
    .red {
      font-weight: $weight-light;
      line-height: 1.4;
      min-width: 300px;
      white-space: normal;
    }
  }

  .checkbox-group {
    background-color: $white;
    border: $input-border solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    padding: 6px;
  }

  .input-other {
    display: none;
    line-height: inherit;
    padding: 0; // reset
  }

  .checkbox-other:checked {

    ~ .input-other {
      display: flex;
    }

    ~ .span-other {
      display: none;
    }
  }
}
