// scss-lint:disable MergeableSelector
.article-sign-in {

  // sign in wrapper
  > .grid-block {
    margin-bottom: 15px;
    margin-top: 45px;
    overflow: visible;
    position: relative;
  }

  .img {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -64px;
    z-index: 1;
  }

  .btn {
    overflow: hidden;
    padding: 0 30px;

    > .grid-block {
      display: inline-block;
    }
  }

  .icons {
    height: 100%;
    margin-right: 6px;
    width: 24px;
  }
}
