.article-form {
  border-radius: $input-border-radius-lg;
  margin: 0 auto;
  max-width: 630px;
  padding: 60px;

  @include media(xs) {
    border-radius: 0;
    margin: 0;
    padding: 60px 30px 45px;
  }

  @include media(xxs) {
    margin: 0 auto;
  }

  .h1 {
    margin-bottom: 30px;

    @include media(xxxs) {
      margin-bottom: 15px;
    }
  }

  .form {
    overflow: visible;
  }

  // github and bitbucket buttons
  .btn-lg.white {
    border-color: rgba($black,.15);
    height: 66px;

    + .btn-lg {
      margin-top: 15px;
    }

    // logo
    .icons:first-child {
      height: 100%;
      width: 24px;
    }

    // name
    .span {
      flex: 0 0 105px;
    }

    // chevron
    .icons:last-child {
      height: 100%;
      opacity: .3;
      position: absolute;
      right: 18px;
      top: 0;
      width: 12px;
    }
  }

  // submit
  .btn.green {
    margin-top: 30px;

    .spinner-wrapper {
      position: absolute;
      right: 17px;
      top: 17px;
    }
  }

  .hr {
    @include media(xxs) {
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }
  }
}


.article-sign-up {

  &.slide {
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    // has been shown
    &.out {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(-120px,0,0);
      transition: opacity .15s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // has not been shown
    &:not(.out):not(.in) {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(120px,0,0);
      transition: opacity .15s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // currently shown
    &.in {
      opacity: 1;
      transform: scale3d(1,1,1) translate3d(0,0,0);
      z-index: 2;
    }
  }

  .card {
    background: $gray-lighterest;
    border: $input-border-lg solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    margin-top: 60px;
    overflow: visible;
    position: relative;

    > .img {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -120px;
      z-index: 1;
    }
  }

  .form-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;

    @media (max-width: 500px) {
      padding: 15px 30px 30px;
    }

    @include media(xxs) {
      padding: 15px;
    }

    .popover-trigger {
      cursor: pointer;
      margin-left: 3px;
      top: -1px;
    }

    .popover {
      color: $gray;
      font-size: 14px;
      line-height: 1.4;
      width: 280px;
    }

    .input-group-vertical {
      flex: 0 0 auto;
      margin-top: 15px;
      overflow: visible;

      @include media(sm) {
        min-width: 100%;

        &:first-child {
          padding-bottom: 12px;
        }
      }

      .input-md {
        border-radius: $input-border-radius-lg;
        border-width: $input-border-lg;
      }
    }
  }

  .list-bordered {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    color: $gray;
    padding: 0;

    + .list-bordered {
      margin-top: 15px;
    }

    .p {
      font-size: 15px;
      line-height: 1.2;
      margin: 0;
    }

    .weight-strong + .p {
      margin-top: 6px;
    }

    .img {
      border-radius: $input-border-radius;
      margin-right: 12px;
    }

    .btn.no-touching {
      background: $gray-lightest;
      border: 0;
      color: $gray;
      font-weight: $weight-normal;
    }
  }

  .list-item {
    overflow: visible; // for popover

    > .grid-block {
      overflow: visible;
    }

    > .icons {
      height: 24px;
      margin-right: 15px;
      margin-top: 3px;
      opacity: .5;
      width: 24px;
    }
  }

  .list-item-write {
    padding: 15px 12px 18px;
  }

  .popover-trigger {
    color: $gray;
    font-weight: $weight-light;
    line-height: 1.2;
    margin-left: 0;
    margin-top: 9px;
    top: 0;

    .popover {
      width: 288px;
    }

    .popover-p + .popover-p {
      margin-top: 6px;
    }
  }

  .card-footer {
    background: $gray-lightest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid $gray-lighter;
    padding: 30px 45px;

    @media (max-width: 500px) {
      padding: 30px;
    }

    @include media(xxs) {
      padding: 15px;
    }

    > .p {
      padding-top: 0;
    }
  }

  // sign up button
  .btn.green {
    margin: 0;
    overflow: visible;
    width: 100%;

    @media (max-width: 500px) {
      font-size: 19px;
    }

    @include media(xxxs) {
      &.wrap-xxxs {
        height: auto;
        line-height: 1.4;
        padding: 15px;
        white-space: normal;
      }
    }

    .icons {
      height: 24px;
      margin-right: 6px;
      position: relative;
      width: 24px;
    }

    // validation
    .popover {
      font-weight: $weight-light;
      line-height: 1.4;
      min-width: 300px;
      white-space: normal;
    }
  }
}
