.article-form {
  border-radius: $input-border-radius-lg;
  margin: 0 auto;
  max-width: 630px;
  padding: 45px 60px;

  @include media(xs) {
    border-radius: 0;
    margin: 0;
    padding: 45px 30px;
  }

  @include media(xxs) {
    margin: 0 auto;
  }


  &.slide {
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

    // has been shown
    &.out {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(-135px,0,0);
      transition: opacity .2s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // has not been shown
    &:not(.out):not(.in) {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(.97,.97,1) translate3d(135px,0,0);
      transition: opacity .2s ease-in-out, transform .3s ease-in-out;
      z-index: 1;
    }

    // currently shown
    &.in {
      opacity: 1;
      transform: scale3d(1,1,1) translate3d(0,0,0);
      z-index: 2;
    }
  }

  .well-anchor {
    min-width: 0;

    // override defaults
    @include media(sm) {
      margin-left: auto;
      margin-right: auto;
    }

    @include media(xs) {
      flex-direction: row;
    }
  }

  .form {
    overflow: visible;
  }

  .card {
    background: $gray-lighterest;
    border: $input-border-lg solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    margin-top: 105px;
    overflow: visible;
    position: relative;

    > .img {
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -120px;
      z-index: 1;

      + .card-footer {
        border-top: 0;
      }
    }

    + .grid-content {
      margin-top: 45px;

      @media (max-width: 500px) {
        font-size: 17px;
        padding: 0 15px;
      }
    }
  }

  .form-wrapper {
    padding-bottom: 30px;
    padding-top: 30px;

    @media (max-width: 500px) {
      padding: 30px;

      > .p {
        font-size: 17px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .input-group-vertical {
      flex: 0 0 auto;
      margin-top: 15px;
      overflow: visible;

      @include media(sm) {
        min-width: 100%;

        &:first-child {
          padding-bottom: 12px;
        }
      }

      .input-md {
        border-radius: $input-border-radius-lg;
        border-width: $input-border-lg;
      }
    }
  }

  .list-bordered {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    color: $gray;
    padding: 0;

    + .list-bordered {
      margin-top: 15px;
    }

    .p {
      font-size: 15px;
      line-height: 1.2;
      margin: 0;

      @include media(xxxs) {
        margin-right: 6px;
      }
    }

    .img {
      border-radius: $input-border-radius;
      margin-right: 12px;
    }

    .btn.no-touching {
      background: $gray-lightest;
      border: 0;
      color: $gray;
      font-weight: $weight-normal;
    }
  }

  .card-footer {
    background: $gray-lightest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid $gray-lighter;
    padding: 30px 45px 45px;

    @media (max-width: 500px) {
      padding: 30px;

      > .p {
        font-size: 17px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
      }
    }
  }

  // sign up button
  .btn.green {
    margin: 0;
    overflow: visible;
    width: 100%;

    @media (max-width: 500px) {
      font-size: 17px;
    }

    @include media(xxxs) {
      &.wrap-xxxs {
        height: auto;
        line-height: 1.4;
        padding: 15px;
        white-space: normal;
      }
    }

    .spinner-wrapper {
      position: absolute;
      right: 17px;
      top: 17px;
    }

    .icons {
      height: 24px;
      margin-right: 6px;
      position: relative;
      width: 24px;
    }

    // errors
    .red {
      font-weight: $weight-light;
      line-height: 1.4;
      min-width: 300px;
      white-space: normal;
    }
  }
}
