.article-more {
  background: $white;
  border-top: 1px solid rgba($black,.1);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 60px;
  z-index: 1;

  @include media(xs) {
    padding-top: 45px;
  }

  .h3 {
    font-size: 24px;
    line-height: 1.3;
    margin: 21px auto;
    max-width: 470px;

    @include media(xs) {
      font-size: 21px;
      margin-top: 0;
      max-width: 360px;
    }

    @include media(xxxs) {
      font-size: 18px;
    }
  }

  // buttons
  .btn-wrapper {
    margin: 15px auto 150px;

    @include media(xs) {
      margin-bottom: 90px;
    }

    @include media(xxs) {
      flex-flow: column nowrap;
    }

    .green + .gray {
      margin-left: 15px;

      @include media(xxs) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }

  // code snippets link
  .well-code {
    margin: 0 auto;
    max-width: 345px;
    min-width: 0;
    padding: 15px 30px 15px 15px;

    @include media(sm) {
      margin-bottom: 21px;
    }

    @include media(xxs) {
      margin-left: -15px;
      margin-right: -15px;
      max-width: none;
    }

    .img {
      margin-right: 15px;
      opacity: .75;

      @include media(xs) {
        margin-right: 0;
      }
    }

    .p {
      font-size: 17px;
      margin: 0;
    }

    .a {
      font-size: 13px;
    }
  }

  .footer {
    margin-bottom: 30px;
  }
}
