.article-more {
  background: $white;
  border-top: 1px solid rgba($black,.1);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 60px;
  transition: transform .3s ease-in-out;
  z-index: 1;

  .h3 {
    margin-bottom: 3px;

    @include media(xs) {
      line-height: 1.4;
      margin: 0 auto 6px;
      max-width: 240px;
    }
  }

  .p {
    margin: 0 auto;
    max-width: 450px;

    @include media(xs) {
      font-size: 16px;
      max-width: 300px;
    }
  }

  // features button
  > .grid-block {
    margin: 15px auto 150px;

    @include media(xs) {
      margin-bottom: 90px;
    }

    .green + .gray {
      margin-left: 15px;
    }
  }

  .footer {
    margin-bottom: 30px;
  }
}
