.article-more {
  background: $white;
  border-top: 1px solid rgba($black,.1);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 60px;
  transition: transform .3s ease-in-out;
  z-index: 1;

  .h3 {
    margin-bottom: 3px;
  }

  // features button
  > .grid-block {
    margin: 15px auto 150px;

    .btn + .btn {
      margin-left: 15px;
    }
  }

  .footer {
    margin-bottom: 30px;
  }
}
