.article-solution {
  // scss-lint:disable ColorVariable
  background: linear-gradient(#475496, $blue);
  // scss-lint:enable ColorVariable
  border-top: 1px solid rgba($black,.1);
  overflow: visible;

  &::after {
    background: url(../images/confetti.png);
    background-size: 864px 324px;
    content: '';
    display: block;
    height: 100%;
    opacity: .6;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .card {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 1px 3px rgba($black,.1);
    margin-top: -210px;
    max-width: 960px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }

  .h3 + .p {
    font-size: 24px;
  }

  .card-header {
    border-bottom: 1px solid $gray-lighter;
  }

  .list {
    padding-left: 0;
  }

  .list-item {
    flex: 1 1 33.33%;
  }

  .img {
    background: $gray-lightest;
    border: 0;
    border-radius: $input-border-radius-lg;
    height: 120px;
    width: 120px;
  }
}
