.article-problem {
  padding-bottom: 180px;

  .h3 + .p {
    font-size: 24px;
    max-width: 720px;
  }

  .list {
    margin-top: 30px;
    max-width: 960px;

    > .grid-block {
      flex: 1 1 33.33%;
    }
  }

  .img {
    background: $gray-lightest;
    border: 0;
    border-radius: $input-border-radius-lg;
    height: 120px;
    width: 120px;
  }
}
