.page-video .main {
  overflow: visible;
}

.video-embed {
  background: $gray-light;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 300px;
  transition: opacity .3s ease-in-out;
  z-index: 1;

  &:focus {
    outline: 0;
  }

  &:target {
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-modal;

    ~ .video-pause {
      display: block;
    }

    ~ .video-hero .video-img-wrapper {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(1.5,1.5,1);
    }
  }
}

// pause button
.video-pause {
  display: none;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: $z-modal-close;
}
