// scss-lint:disable IdSelector
#video {

  &:target {
    opacity: 1;
    pointer-events: auto;

    ~ .video-pause {
      display: block;
    }

    ~ .video-hero {
      height: 890px;

      .video-img {
        opacity: 0;
        pointer-events: none;
      }

      .video-link {
        display: none;
      }
    }
  }
}
// scss-lint:enable IdSelector

.video-pause {
  background: rgba($black,.15);
  border-radius: $input-border-radius;
  color: rgba($white,.5);
  display: none;
  height: 30px;
  position: absolute;
  right: 9px;
  top: 90px;
  width: 30px;
  z-index: 2;

  &:hover,
  &:active {
    background: rgba($black,.3);
  }
}

.article-more {
  background: $white;
  border-top: 1px solid rgba($black,.1);
  margin-bottom: 90px;
  padding-top: 60px;
  z-index: 1;

  .h1 {
    font-size: 27px;
    line-height: 1.3;
    margin: 0 auto 6px;
    max-width: 510px;
  }

  .gray {
    display: table;
    margin: 15px auto 0;
  }
}
