.page-video .main {
  overflow: visible;
}

.video-embed {
  left: 0;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 300px;
  transition: opacity .3s ease-in-out;
  z-index: 0;

  &.playing {
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-modal;

    ~ .video-pause {
      display: block;
    }

    ~ .video-hero .video-img-wrapper {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(1.5,1.5,1);
    }
  }
}

// pause button
.video-pause {
  display: none;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: $z-modal-close;
}

// no autoplay
.mobile-video-embed {
  border-radius: $input-border-radius-lg;
  display: none;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.no-videoautoplay {

  .video-embed {
    display: none;
  }

  .video-img,
  .video-link {
    pointer-events: none;
  }

  .mobile-video-embed {
    display: block;
    position: relative;
    z-index: 100;
  }
}
