.video-hero {
  height: 600px;

  @include media(sm) {
    height: 562px;
  }

  @include media(xs) {
    height: 446px;
  }

  .h1 {
    font-size: 27px;
    line-height: 1.3;
    margin: 0 auto 6px;
    max-width: 630px;
    position: relative;
    z-index: 1;

    @include media(sm) {
      font-size: 24px;
      max-width: 570px;
    }

    @include media(xs) {
      font-size: 21px;
      max-width: 450px;
    }
  }
}

.video-img-wrapper {
  background: $purple-dark;
  border: 1px solid $purple-dark;
  border-bottom-color: lighten($purple-dark,20%);
  border-radius: $input-border-radius-lg;
  border-top-color: $purple-darker;
  box-shadow: 0 0 15px rgba($black,.3);
  display: table;
  height: 342px;
  left: 0;
  margin: auto;
  position: relative;
  right: 0;
  top: 30px;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  width: 608px;
  z-index: 2;

  @include media(sm) {
    height: 304px;
    width: 540px;
  }

  @include media(xs) {
    height: 208px;
    width: 370px;
  }
}

.video-img {
  border-radius: $input-border-radius-lg - 1px;
  cursor: pointer;
  display: block;
  height: 100%;
  opacity: .75;
  position: absolute;
  top: 0;
  transform-origin: 50% 0%;
  width: 100%;

  &:hover {
    opacity: .9;
  }
}

.video-link {
  border-radius: $input-sm;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 45%;
  transform-origin: 50% 0%;
  width: 230px;
  z-index: 9;

  &:hover ~ .video-img {
    opacity: .9;
  }

  .img {
    position: relative;
    top: 3px;
  }
}

.video-embed {
  background: $gray-light;
  left: 0;
  max-height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 300px;
  transition: opacity .3s ease-in-out;
  z-index: 1;

  @include media(xs) {
    max-height: none;
    object-fit: cover;
  }

  &:focus {
    outline: 0;
  }

  &.playing {
    opacity: 1;
    pointer-events: auto;

    ~ .video-pause {
      display: block;
    }

    ~ .video-hero .video-img-wrapper {
      opacity: 0;
      pointer-events: none;
      transform: scale3d(1.5,1.5,1);
    }
  }
}

// pause button
.video-pause {
  display: none;
  position: absolute;
  right: 15px;
  top: 315px;
  z-index: 2;
}
