<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Team Runnable</title>
    <script ugly>
      @@include('js/flipping.js')
      @@include('js/status.js')
    </script>

  <body class="page-landing page-about" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main about">
      @@include('html/about/team.hbs')
      @@include('html/about/location.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
