<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Team Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/flipping.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-about" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main about">
      @@include('html/about/team.hbs')
      @@include('html/about/location.hbs')
    </main>

    @@include('html/components/footer.hbs')
    @@include('html/components/form-modal.hbs')

    @@include('js/external/external.html')
