<article class="article article-location">
  <div class="grid-container grid-block vertical">
    <figure class="rounded-map">
      <img src="{{baseurl}}/images/about/runnable-map.jpg" class="img">
    </figure>
    <address class="map-address text-center">
      <strong>Runnable</strong>
      <br>1481 Folsom St.
      <br>San Francisco, CA
    </address>
  </div>
</article>