<a class="grid-block well well-anchor" href="product/production/">
  <img class="grid-block shrink img" src="images/production.gif" height="108" width="108">
  <div class="grid-block vertical">
    <p class="p">
      <strong class="strong">Next: Production</strong>
      <br>Your environments are ready to push directly to production from Runnable.
    <div class="a strong">How pushing to prod works on Runnable
      <svg class="icons icons-chevron-right">
        <use xlink:href="#icons-chevron-right">
      </svg>
    </div>
  </div>
</a>