<div class="popover-hover-wrapper right-align-sm">
  <div class="grid-block popover popover-header-menu bottom">
    <div class="grid-block shrink vertical visible-sm list-product">
      @@include('product-menu.hbs')
    </div>
    <div class="grid-block vertical list text-left">
      <a href="{{loginUrl}}" class="list-item-a visible-md">Sign In</a>
      <a href="#sign-up" class="list-item-a visible-xs">Sign Up</a>
      <div class="list-item divider visible-md"></div>
      <a href="/demo/" class="list-item-a visible-md"><span class="text-request">Request&nbsp;</span>Demo</a>
      <a href="https://support.runnable.com" class="list-item-a">Docs</a>
      <a href="/about/" class="list-item-a">About</a>
      <a href="http://blog.runnable.com" class="list-item-a">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="list-item-a">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="list-item-a">Security</a>
      <a href="/privacy/" class="list-item-a">Privacy</a>
    </div>
  </div>
</div>
