<div class="popover-hover-wrapper right-align-sm">
  <div class="grid-block popover popover-header-menu bottom">
    <div class="grid-block col list text-left">
      <small class="small visible-xs text-gray-light margin-left-sm">Features</small>
      <a href="" class="grid-block align-center list-item-a list-item-feature visible-xs">
        <img src="images/icons-staging.svg" height="30" width="30" class="img">
        Preview Environments
      </a>
      <a href="" class="grid-block align-center list-item-a list-item-feature visible-xs">
        <img src="images/icons-testing.svg" height="30" width="30" class="img">
        End-to-end Testing
      </a>
      <a href="" class="grid-block align-center list-item-a list-item-feature visible-xs">
        <img src="images/icons-deploy.svg" height="30" width="30" class="img">
        Deploy to Production
      </a>
      <div class="list-item divider visible-xs"></div>
      <a href="signup/" class="list-item-a visible-xs js-hide-if-signed-in track-sign-up">Sign Up</a>
      <a href="signin/" class="list-item-a visible-md js-hide-if-signed-in">Sign In</a>
      <div class="list-item divider visible-md"></div>
      <a href="docs/" class="list-item-a visible-sm">Docs</a>
      <a href="pricing/" class="list-item-a visible-md">Pricing</a>
      <a href="how-it-works/" class="list-item-a">How It Works</a>
      <a href="https://runnable.com/use-cases/" class="list-item-a">Use Cases</a>
      <a href="demo/" class="list-item-a">Request Demo</a>
      <a href="http://blog.runnable.com" class="list-item-a">Blog</a>
      <a href="about/" class="list-item-a">About</a>
    </div>
  </div>
</div>
