<a href="product.html" class="grid-block align-center vertical btn btn-product">
  <img class="img" src="images/product-menu/sandbox.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Get an overview.</strong>
    <small class="small">A sandbox service for teams.</small>
  </p>
</a>
<a href="integration-testing.html" class="grid-block align-center vertical btn btn-product">
  <img class="img" src="images/product-menu/integration-testing.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Integrate & test changes.</strong>
    <small class="small">Every branch, end-to-end.</small>
  </p>
</a>
<a href="production.html" class="grid-block align-center vertical btn btn-product">
  <img class="img" src="images/product-menu/production.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Deploy tested artifacts.</strong>
    <small class="small">Tested builds, ready to push.</small>
  </p>
</a>
