<div class="grid-block popover popover-product-menu bottom">
  <a href="product.html" class="grid-block vertical btn">
    <img class="img" src="images/product-menu/sandbox.svg" height="50" width="50">
    <p class="p">
      <strong class="strong">Product Tour</strong>
      <small class="small">
        A Sandbox-as-a-Service built for your team’s workflow.
      </small>
    </p>
  </a>
  <a href="integration-testing.html" class="grid-block vertical btn">
    <img class="img" src="images/product-menu/integration-testing.svg" height="50" width="50">
    <p class="p">
      <strong class="strong">Integration Testing</strong>
      <small class="small">End-to-end tests for every code change without managing environments.</small>
    </p>
  </a>
  <a href="production.html" class="grid-block vertical btn">
    <img class="img" src="images/product-menu/production.svg" height="50" width="50">
    <p class="p">
      <strong class="strong">Push to Production</strong>
      <small class="small">Your environments are ready to push directly to production from Runnable.</small>
    </p>
  </a>
</div>
