<article class="grid-block article article-faq">
  <div class="grid-block col question">
    <h3 class="grid-content shrink h3 justify-center weight-strong"><span class="text-gray-light">Q:</span> What is a user?</h3>
    <p class="grid-content shrink p justify-center">A user is anyone who is able to make changes to your account, and have their branches deployed and kept up-to-date on Runnable.</p>
  </div>
  <div class="grid-block col question">
    <h3 class="grid-content shrink h3 justify-center weight-strong"><span class="text-gray-light">Q:</span> What happens when I add or remove a user?</h3>
    <p class="grid-content shrink p justify-center">We'll prorate the cost of users daily, so you'll only pay for the time your users are active.</p>
  </div>
  <div class="grid-block col question">
    <h3 class="grid-content shrink h3 justify-center weight-strong"><span class="text-gray-light">Q:</span> Which plan should I pick?</h3>
    <p class="grid-content shrink p justify-center">We automatically determine your plan based on the number of configuration templates your team uses.</p>
  </div>
  <div class="grid-block col question">
    <h3 class="grid-content shrink h3 justify-center weight-strong"><span class="text-gray-light">Q:</span> Why isn’t there a free plan?</h3>
    <p class="grid-content shrink p justify-center">Runnable will remain free for your team's first 14 days. If your development team believes our pricing plans are not well-suited for your needs, please get in touch with us.</p>
  </div>
  <div class="grid-block col question">
    <h3 class="grid-content shrink h3 justify-center weight-strong"><span class="text-gray-light">Q:</span> What if I have more questions?</h3>
    <p class="grid-content shrink p justify-center">No problem! Visit our <a href="https://support.runnable.com/hc/en-us/articles/212037226-Pricing-FAQ" class="link">Pricing FAQ</a>, or <a href="mailto:support@runnable.com" class="link">email us</a>.</p>
  </div>
</article>
