<article class="grid-block justify-center align-center article article-explanation">
  <div class="grid-block align-center justify-center shrink">
    <img src="images/pricing/bear-dollar.svg" class="grid-block img">
  </div>
  <div class="grid-block shrink col">
    <h2 class="h3 weight-strong">How our pricing works.</h2>
    <p class="p">We charge based on the number of services you use. A <span class="weight-strong">service</span> is a running process, like an API server or a database.</p>
    <p class="p">The number of services your team needs is equal to the number of Docker images that make up your application.</p>
  </div>
</article>
