.article-use-cases {
  padding-top: 0;

  .grid-block {
    padding: 0 90px;
  }

  .grid-2 {
    border-top: 1px solid $gray-lighter;

    > .grid-block + .grid-block {
      border-left: 1px solid $gray-lighter;
    }
  }

  .p,
  .figure {
    width: 450px;
  }

  .h2 {
    margin-top: 75px;

    + .p {
      margin-top: 6px;
    }
  }

  .p {
    margin-left: auto;
    margin-right: auto;
  }

  .figure {
    margin: 60px 0;
  }

  .img {
    display: block;
    width: 100%;
  }

  // overrides
  .figure-isolation {
    margin-bottom: 0;
    width: 100%;

    .img {
      width: auto;
    }
  }
}

// sections
.section-e2e {

  .h2,
  .p {
    max-width: 345px;
  }
}

.section-isolation .p {
  max-width: 330px;
}

.section-sharing .p {
  max-width: 390px;
}

.section-pr .p {
  max-width: 390px;
}
