.article-bonus {

  .img {
    background-color: $gray-lighter;
    position: absolute;
  }

  .h3,
  .p {
    padding: 0 60px 0 90px;
  }

  .h3 {
    font-size: 21px;
    font-weight: $weight-bold;
    margin: 0 0 13px;
  }
}
