.article-secure {
  background: linear-gradient($purple, $purple-light);
  border-bottom: 3px solid $purple;
  border-top: 3px solid $purple;
  color: $white;
  display: block;
  overflow: hidden;
  padding: 180px 0;
  position: relative;

  @include media(xs) {
    padding: 180px 0;
  }

  .grid-container {
    position: relative;
    width: 780px;

    @include media(xs) {
      max-width: 100%;
      padding: 0;
      width: 370px;
    }
  }

  .h1 {
    margin-top: 6px;
  }

  .text-wrapper {
    margin-left: 210px;
    position: relative;
    z-index: 1;

    @include media(xs) {
      margin: 0;
      padding: 0 30px;
      top: 75px;
    }
  }

  .img {
    left: -1225px;
    position: absolute;
    top: 115px;
    transform: translate3d(0,-50%,0);
    z-index: 0;

    @include media(xs) {
      height: auto;
      left: -250%;
      right: 0;
      top: -5%;
      width: 600%;
    }
  }
}
