.article-github {
  padding: 0;

  .section {
    align-items: center;
  }

  .h2 {
    max-width: 50%;
    padding: 0 5.555%;

  }

  .figure {
    height: 360px;
    margin-top: 75px;
    overflow: hidden;
  }

  .img {
    display: block;
    flex: 0 0 auto;
    position: absolute;
  }

  .img-updates {
    right: 0;
  }

  .hr {
    margin: 0 auto;
    max-width: 100%;
  }

  @media (min-width: 1024px) {

    .section-environments {
      flex-direction: row-reverse;
    }

    .section-updates .h2 {
      text-align: right;
    }
  }

  @media (max-width: 1260px) {

    .h2 {
      font-size: 30px;
    }
  }

  @media (max-width: 1024px) {

    .section {
      flex-direction: column;
    }

    .h2 {
      margin-top: 75px;
      max-width: 540px;
      text-align: center;
    }

    .figure {
      margin-top: 45px;
      width: 100%;
    }
  }

  @media (max-width: 600px) {

    .h2 {
      font-size: 24px;
      margin-top: 45px;
      max-width: 450px;
    }

    .figure {
      height: 270px;
      margin-top: 30px;
    }

    .img {
      height: 330px;
      width: auto;
    }

    .gradient::before {
      width: 45px;
    }
  }
}
