.article-use-cases {
  padding-top: 0;

  .grid-2 {
    border-top: 1px solid $gray-lighter;

    + .grid-2 {
      border-bottom: 1px solid $gray-lighter;
    }

    > .grid-block + .grid-block {
      border-left: 1px solid $gray-lighter;
    }
  }

  .h2 {
    margin-top: 75px;

    @media (max-width: 1280px) {
      font-size: 30px;
    }

    + .p {
      margin-top: 6px;
    }
  }

  .p {
    margin-left: auto;
    margin-right: auto;
  }

  .figure {
    margin-top: 30px;

    @include media(md) {
      margin: 30px 30px 0;
      max-height: 330px;
    }
  }

  .img {
    display: table;
    margin: 0 auto;

    @include media(md) {
      height: auto;
      width: 100%;
    }
  }
}

// sections
.section-e2e {

  .h2 {
    max-width: 345px;

    @media (max-width: 1280px) {
      max-width: 270px;
    }
  }

  .p {
    max-width: 345px;
  }
}

.section-isolation {

  .h2 {
    max-width: 390px;

    @media (max-width: 1280px) {
      max-width: 360px;
    }
  }

  .img {
    margin: 0 90px;

    @media (max-width: 1280px) {
      width: 1200px;
    }
  }

  .p {
    max-width: 360px;
  }
}

.section-sharing .p {
  max-width: 390px;
}

.section-pr .p {
  max-width: 390px;
}
