.article-github {
  padding: 0;

  .figure {
    height: 360px;
    margin-top: 45px;
    overflow: hidden;
    width: 100px;
  }

  .img {
    display: block;
    flex: 0 0 auto;
    position: absolute;
  }

  .section {
    align-items: center;
  }

  .h2 {
    max-width: 420px;
  }

  .hr {
    margin: 0 auto;
  }

  // environments section
  .section-environments {

  }

  // updates section
  .section-updates {

    .img {
      right: 0;
    }
  }
}
