.page-features {

  @include media(xs) {
    .hero {
      padding-bottom: 60px;
    }
  }

  .h1 {
    max-width: 720px;

    @include media(sm) {
      font-size: 36px;
      max-width: 630px;
    }

    @include media(xs) {
      font-size: 33px;
      max-width: 480px;
    }
  }

  .h2 {

    @media (max-width: 1280px) {
      font-size: 30px;
    }

    @include media(md) {
      font-size: 27px;
    }

    @include media(xxxs) {
      font-size: 24px;
    }
  }

  .section {
    width: 100%;

    + .section {
      margin-top: 60px;
    }
  }

  .h2 {
    font-weight: $weight-bold;
    line-height: 1.3;
    margin: 0 auto;
  }

  .figure {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  .gradient::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 1;
  }

  .gradient-right::before {
    background: linear-gradient(to right, rgba($white,0) 0, rgba($white,1) 100%);
    right: 0;
  }

  .gradient-left::before {
    background: linear-gradient(to left, rgba($white,0) 0, rgba($white,1) 100%);
    left: 0;
  }
}
