.article-contact {
  .section {
    padding: 0px 60px;
    top: 80px;

    @include media(md) {
      flex-direction: column;
      max-width: 510px;
    }
  }

  .li {
    background: $white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba($black,0.15);
    box-sizing: border-box;
    flex: 1 1 33.33%;
    margin-bottom: $md;
    padding: $md;

    @include media(md) {
      align-items: center;
      flex: 1 0 auto;
      margin: 0 auto 20px auto;
      text-align: center;
      width: 345px;
    }

    + .li {
      margin-left: $lg;

      @include media(md) {
        margin: 0 auto 20px auto;
      }
    }
    .p {
      color: $gray;
      font-size: 15px;
      text-shadow: none;
    }
    .h2 {
      color: $gray-dark;
      font-size: 21px;
      margin: 0;
    }
  }

  .img {
    margin-bottom: $sm;

    @include media(sm) {
      margin-right: 0;
    }
  }

  .p.weight-strong {
    margin-bottom: $xxs;
  }

  .link {
    border-radius: 3px;
    color: $purple;
    font-size: 16px;
    font-weight: $weight-normal;
    margin-top: $xxs;
    opacity: 0.75;
    padding: 3px 6px;
    text-decoration: none;
    &:hover {
      color: $gray;
    }

    &:hover .icons,
    &:active .icons {
      transform: translate3d(3px,0,0);
    }

    .icons {
      height: 10px;
      transition: .3s transform ease-in-out;
      width: 10px;
    }
  }
}
