.article-social {
  background: $white;

  .section {
    flex: 1 1 50%;
    padding: $md;
    padding-bottom: 0;
  }
  .li {
    transition: 0.125s linear opacity;

    &:hover {
      opacity: 0.85;
    }
  }

}
