.article-map {
  background: $white;
  display: block;

  .grid-container {
    width: 100%;
  }

  .article-map-background {
    align-items: center;
    background: url('/images/contact/article-map.png') center center no-repeat;
    display: flex;
    height: 520px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }

  .detail {
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    box-shadow: 0 -1px rgba($black, 0.08), inset 0 1px rgba($white, 0.025);
  }

  .map-overlay {
    background: $white;
    border-radius: $input-border-radius-lg;
    box-shadow: 0px 4px 15px rgba($black,0.15), 0px 1px 3px rgba($black,0.25), 0 10px 25px rgba($black,0.07);
    width: 280px;
  }
}
