.article-map {
  display: block;
  background: $white;
  height: auto;

  .grid-container {
    width: 100%;
  }

  .article-map-background {
    background: url('/images/contact/article-map.png') center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 420px;
    margin: 0;
    margin-left: none;
    overflow: hidden;
    padding: $lg;
    position: relative;
    width: auto;
  }

  .detail {
    box-shadow: 0 -1px rgba($black, 0.08), inset 0 1px rgba($white, 0.025);
    background: $gray-lighterest;
    border-radius: 0 0 $input-border-radius-lg;
  }

  .map-pin {
    background: $white;
    border-radius: $input-border-radius-lg;
    box-shadow: 0px 4px 15px rgba($black,0.15), 0px 1px 3px rgba($black,0.25), 0 10px 25px rgba($black,0.07);
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 120px);
    width: 240px;

    .arrow {
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      bottom: -17px;
      border-top: 17px solid rgba($black, 0.125);
      height: 0;
      margin: 0 auto;
      position: absolute;
      right: calc(50% - 8px);
      width: 0;

      &:before {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid $gray-lighterest;
        bottom: -16px;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: calc(50% - 16px);
        top: -18px;
      }
    }

    .location {
      margin: $sm;
      background: url('/images/runnabear-avatar.png') center no-repeat;
      background-size: cover;
      border: 2px solid $white;
      border-radius: 2px;
      box-shadow: 0px 1px 2px rgba($black, 0.1);
      height: 48px;
      width: 48px;
    }
  }
}
