.article-social {
  background: $white;

  .section {
    flex: 1 1 50%;
    padding-bottom: 0;
    padding: $md;
  }

  .li {
    filter: grayscale(0%);
    transition: .125s filter linear;

    &:hover {
      -webkit-filter: grayscale(100%);
    }
    &+ .li {
      margin-left: $sm;
    }
  }
}
