.article-social {
  background: $white;
  border-top: 1px solid $gray-lighter;

  .section {
    flex: 1 1 50%;
    padding: $md;
  }

  .li {
    transition: .125s filter linear;

    &:hover {
      filter: grayscale(100%);
    }

    + .li {
      margin-left: $sm;
    }
  }
}
