.article-location {
  display: block;
  background: $white;
  height: auto;

  .grid-block {
    flex: 1 1 50%;
  }

  .grid-container {
    width: 100%;
  }

  .article-location-background {
    background: url('../images/contact/article-location.png') center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 420px;
    margin: 0;
    margin-left: none;
    overflow: hidden;
    padding: $lg;
    position: relative;
    width: auto;
  }

  .detail {
    background: $white;
    border-bottom: none;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba($black,0.1);
    height: auto;
    left: 0;
    margin: $lg auto;
    max-width: 270px;
    padding: $sm;
    position: absolute;
    right: 0;
    top: 0;
  }

  .map-pin {
    background: $purple-light;
    border: 1px solid $purple;
    border-radius: 3px;
    box-shadow: 0px 4px 15px rgba($black,0.15), 0px 1px 3px rgba($black,0.25), 0 10px 25px rgba($black,0.07);
    color: $white;
    height: auto;
    margin: 0 auto;
    padding: $sm;
    position: absolute;
    top: calc(50% - 30px);
    width: 270px;

    .arrow {
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      bottom: -17px;
      border-top: 17px solid $purple;
      height: 0;
      margin: 0 auto;
      position: absolute;
      right: calc(50% - 8px);
      width: 0;

      &:before {
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid $purple-light;
        bottom: -16px;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: calc(50% - 16px);
        top: -18px;
      }
    }

    .location {
      border-radius: 50%;
      bottom: -36px;
      box-shadow: 0 0 1px rgba($black,0.15), 0 1px 3px rgba($black,0.15);
      background: $blue;
      border: 2px solid $white;
      height: 16px;
      position: absolute;
      right: 50%;
      width: 16px;
    }
  }
}
