.article-contact {

  .li {
    background: $white;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.15);
    flex: 1 1 33.33%;
    padding: $lg $md;

    @include media(md) {
      flex: 1 0 auto;
      max-width: 300px;
      width: 100%;
    }

    + .li {
      margin-left: $md;

      @include media(md) {
        margin-left: 0;
        margin-top: $md;
      }
    }

    .p {
      color: $gray;
      font-size: 19px;
      padding: 0;
      text-shadow: none;
    }

    .h2 {
      color: $gray-dark;
      font-size: 19px;
      line-height: inherit;
      margin: 0;
    }
  }

  .img {
    margin-bottom: $sm;

    @include media(sm) {
      margin-right: 0;
    }
  }

  .p.weight-strong {
    margin-bottom: $xxs;
  }

  .link {
    color: $purple;
    margin-top: $xxs;
    text-decoration: none;
    transition: .125s color ease-in-out;

    &:hover {
      color: $gray;
    }

    &:active {
      color: $purple-dark;
    }

    &:hover .icons,
    &:active .icons {
      transform: translate3d(3px,0,0);
    }

    .icons {
      height: 10px;
      transition: .3s transform ease-in-out;
      width: 10px;
    }
  }
}
