.contact-hero {

  .p {
    text-shadow: none;
  }

  .h1 {
    margin: 0 auto;
    max-width: 600px;

    @include media(sm) {
      max-width: 570px;
    }

    @include media(xs) {
      max-width: 450px;
    }
  }

  .h3 {
    @include media(xs) {
      max-width: 450px;
    }
  }

  .btn-lg {
    background: $white;
    box-shadow: 0 2px 4px rgba($black,.15);
    display: block;
    font-weight: $weight-bold;
    line-height: $input-lg;
    margin-top: $sm; // + 15 from the h3 for $md total
    transition: transform .2s ease-in-out;

    &:hover,
    &:active {
      transform: scale3d(1.05,1.05,1);

      .span {
        animation-duration: 1s;
        background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
      }
    }

    &:active {
      transform: scale3d(1,1,1);
    }

    .span {
      animation: rainbow 2s infinite linear;
      // scss-lint:disable VendorPrefix
      -webkit-background-clip: text;
      // scss-lint:enable VendorPrefix
      background-clip: text;
      background-image: linear-gradient(135deg,$purple 0%,$purple-light 12.5%,$blue-dark 25%,$blue 37.5%,$purple-light 50%,$purple 62.5%,$purple-light 75%,$blue-dark 87.5%,$blue 100%);
      background-size: 285% 100%;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }
}
