.hero.contact-hero {
  padding-bottom: 0;

  .h1 {
    margin: 0 auto;
    max-width: 600px;

    @include media(sm) {
      max-width: 570px;
    }

    @include media(xs) {
      max-width: 450px;
    }
  }

  .h3 {
    margin-bottom: 0;

    @include media(xs) {
      max-width: 450px;
    }
  }
}
