.contact-map {
  margin : $md auto;
  max-width: 660px;
  background: $purple;
  border-radius: 4px;
  padding: $md;

  .grid-block {
    flex: 1 1 50%;
  }

  .grid-container {
    width: 660px;
  }
  .contact-map-background {
    margin-right: $md;
    background: url('../images/contact/contact-map.png') center center no-repeat;
    border-radius: 4px;
  }
  .map-pin {
    width: 26px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/contact/contact-pin.svg') center center no-repeat;
  }
}
