.article-features {

  .section {
    @include media(md) {
      flex-direction: column;
      max-width: 510px;
    }
  }

  .li {
    flex: 1 1 33.33%;
    font-size: 16px;
    margin-bottom: $md;

    @include media(md) {
      align-items: center;
      flex: 0 0 auto;
      font-size: 19px;
      text-align: center;
    }

    + .li {
      margin-left: $lg;

      @include media(md) {
        margin-left: 0;
      }
    }
  }

  .img {
    margin-bottom: $sm;

    @include media(sm) {
      margin-right: 0;
    }
  }

  .p {

    &.weight-strong {
      margin-bottom: $xxs;
    }
  }

  .link {
    color: $purple-light;
    font-size: 16px;
    font-weight: $weight-normal;
    margin-top: $xxs;
    text-decoration: none;

    &:hover .icons,
    &:active .icons {
      transform: translate3d(3px,0,0);
    }

    .icons {
      height: 10px;
      transition: .3s transform ease-in-out;
      width: 10px;
    }
  }
}
