.article-runnable-works {

  .section {
    max-width: 750px;

    @include media(sm) {
      flex-direction: column;
    }

    > .col {
      @include media(sm) {
        align-items: center;
        text-align: center;
      }
    }

    .col-xxs {
      @include media(xxs) {
        align-items: center;
      }
    }
  }

  .img {
    @include media(sm) {
      height: auto;
      margin-bottom: $sm;
      margin-right: 0;
      width: 105px;
    }
  }

  .p {
    max-width: 470px;
  }

  .a {
    color: $purple-light;
    font-size: 16px;
    font-weight: $weight-normal;

    &:hover .icons,
    &:active .icons {
      transform: translate3d(3px,0,0);
    }

    &.margin-left-md {
      @include media(xxs) {
        margin-left: 0;
      }
    }

    .icons {
      height: 10px;
      margin-left: $xxs;
      transition: transform .3s ease-in-out;
      width: 10px;
    }
  }
}
