.article-review {
  @include media(md) {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .img {
    @include media(md) {
      height: auto;
      max-width: 100%;
    }
  }

  .copy-wrapper.right {
    @include media(md) {
      flex: 0 0 auto;
      margin-bottom: $lg;
      max-width: 450px;
      padding: 0;
    }

    @include media(sm) {
      max-width: 390px;
    }
  }
}
