.article-graph {
  background: linear-gradient($purple-blue, $purple-light);
  color: $white;

  > .col {
    width: 720px;
  }
}

.figure-graph {
  height: 600px;
  margin: -210px auto 0;
  position: relative;
  width: 1000px;

  @media (max-width: 1000px) {
    width: 100vw;
  }

  // .figure-graph::before is the faded line
  // .circle::before is the solid line
  &::before,
  .circle::before {
    border: $circle-width solid transparent;
    border-radius: $circle-size;
    bottom: 30px;
    content: '';
    display: block;
    height: $circle-size;
    position: absolute;
    width: $circle-size;
  }

  &::before {
    border-color: rgba($white,.15);
    right: -200px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  // solid circle container
  .circle {
    height: 600px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    z-index: $circle-z;

    &::before {
      border-color: $white;
      box-shadow: inset 0 0 90px rgba($black,.4);
      right: -300px;
    }
  }

  .bug.has-img {

    &.orange {
      right: 90px;
      top: 224px;

      .popover {
        margin-left: 11px;
        margin-top: -1px;

        &::before {
          border-bottom-color: transparent;
        }

        // scss-lint:disable ColorVariable
        &::after {
          border-bottom-color: #9080ba;
          top: -8px;

          @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
            border-bottom-color: #8c7cb6;
          }
        }
        // scss-lint:enable ColorVariable
      }
    }

    &.purple {
      left: 132px;
      top: 520px;

      .popover {
        margin-left: 11px;

        &::before {
          border-top-color: transparent;
        }

        // scss-lint:disable  ColorVariable
        &::after {
          border-top-color: #9080ba;

          @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
            border-top-color: #8d7ab4;
          }
        }
        // scss-lint:enable  ColorVariable
      }
    }
  }

  // position of popovers
  .popover {
    background: rgba($bug-popover-bg,.9);
    border: 0;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.2), inset 0 1px 0 rgba($white,.1);
    color: $white;
    font-size: 13px;
    font-weight: $weight-normal;
    left: auto;
    line-height: 1.4;
    width: 190px;

    @supports (backdrop-filter: blur(5px)) or (-webkit-backdrop-filter: blur(5px)) {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba($bug-popover-bg,.8);
    }
  }
}

// spinning bugs
.spin-circle {
  bottom: 30px;
  height: $circle-size;
  position: absolute;
  right: -300px;
  width: $circle-size;

  @for $i from 1 to 4 {
    $delay: ($i * 5s);

    &:nth-child(#{$i}) {
      animation: spin-circle $spin-seconds $delay infinite cubic-bezier(0,0,.75,1);

      .bug {
        animation-delay: $delay;
      }
    }
  }

  .bug {
    animation: bug $spin-seconds infinite ease-in-out;
    border-radius: 15px;
    height: 15px;
    right: -7px;
    top: 50%;
    width: 15px;
  }
}

.bug {
  border: 3px solid $white;
  position: absolute;
  z-index: $bugs-z;

  &.has-img {
    background-image: url(../images/home/bug.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 27px;
    box-shadow: inset 0 -1px 0 rgba($black,.15);
    height: 27px;
    width: 27px;
  }

  &.orange {
    background-color: $bug-orange;
  }

  &.purple {
    background-color: $purple-light;
  }
}

// x axis columns
%x-lines {
  background: linear-gradient(rgba($white,.15),rgba($white,0));
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  width: $circle-width;
  z-index: $graph-x-z;
}

.figure-x-axis {
  color: rgba($white,.5);
  font-size: 13px;
  margin: 0 auto 60px;
  width: 800px;

  .x-col {
    font-size: 15px;
    justify-content: center;
    padding-top: $sm;
    position: relative;

    &::before {
      @extend %x-lines;
    }

    &:nth-child(1) {

      &::before {
        height: 390px;
      }

      &::after {
        bottom: 403px;
        color: rgba($white,.3);
        content: 'COST';
        display: block;
        font-size: 12px;
        left: -16px;
        position: absolute;
        transform: rotate3d(0,0,1,-90deg);
      }
    }

    &:nth-child(2)::before {
      height: 99px;
    }

    &:nth-child(3)::before {
      height: 138px;
    }

    &:nth-child(4)::before {
      height: 191px;
    }

    &:nth-child(5)::before {
      height: 261px;
    }

    &:nth-child(6) {

      &::before {
        height: 371px;
      }

      &::after {
        @extend %x-lines;
        height: 506px;
        left: auto;
        right: 0;
      }
    }
  }
}
