$outer-circle-z: 3; // faded white + bugs
$inner-circle-z: 2; // solid white
$graph-x-z: 1; // x-axis lines

%x-lines {
  background: linear-gradient(rgba($white,.15),rgba($white,0));
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  width: 2px;
  z-index: $graph-x-z;
}

.article-graph {
  background: linear-gradient($purple-blue, $purple-light);
  color: $white;

  > .col {
    max-width: 720px;
  }
}

.figure-graph {
  height: 600px;
  margin-top: -210px;
  overflow: hidden;
  position: relative;
  width: 1000px;

  &::before,
  .outer-circle,
  .inner-circle::before {
    border: 2px solid transparent;
    border-radius: 2500px;
    bottom: 30px;
    content: '';
    display: block;
    height: 2500px;
    position: absolute;
    width: 2500px;
  }

  &::before {
    border-color: rgba($white,.15);
    right: -200px;
  }

  .outer-circle {
    animation: rotate 10s infinite linear;
    right: -200px;
    z-index: $outer-circle-z;

    &:nth-child(1) .bug {
      background: $red;
    }

    &:nth-child(2) {
      animation-delay: 3s;

      .bug {
        animation-delay: 3s;
        // scss-lint:disable ColorVariable
        background: #f39e31;
        // scss-lint:enable ColorVariable
      }
    }

    .bug {
      animation: quarter-fade-in 10s infinite linear;
      border: 11px solid $white;
      border-radius: 30px;
      height: 30px;
      position: absolute;
      width: 30px;

      &:nth-child(1) {
        right: -15px;
        top: 50%;
      }
    }
  }

  .inner-circle {
    height: 600px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    z-index: $inner-circle-z;

    &::before {
      border-color: rgba($white,.75);
      box-shadow: inset 0 0 90px rgba($black,.3);
      right: -300px;
    }
  }
}

.figure-x-axis {
  padding: 0 100px 60px;
  width: 1000px;

  .bug {
    border: 7px solid $white;
    border-radius: 21px;
    height: 21px;
    margin-bottom: 3px;
    width: 21px;

    + .bug {
      margin-left: 6px;
    }
  }

  .x-col {
    flex: 1 1;
    font-size: 15px;
    justify-content: space-between;
    padding: $sm;
    position: relative;

    // scss-lint:disable ColorVariable
    &:nth-child(1) {

      &::before {
        height: 178px;
      }

      .bug {

        &:nth-child(1) {
          background: #21a7ee;
        }

        &:nth-child(2) {
          background: #37bfc6;
        }
      }
    }

    &:nth-child(2) {

      &::before {
        height: 240px;
      }

      .bug {

        &:nth-child(1) {
          background: #44ca89;
        }

        &:nth-child(2) {
          background: #71be50;
        }
      }
    }

    &:nth-child(3) {

      &::before {
        height: 372px;
      }

      &::after {
        @extend %x-lines;
        height: 606px;
        left: auto;
        right: 0;
      }

      .bug {

        &:nth-child(1) {
          background: #f39e31;
        }

        &:nth-child(2) {
          background: $red;
        }
      }
    }
    // scss-lint:enable ColorVariable

    &::before {
      @extend %x-lines;
    }
  }

  .x-tag {
    border-radius: $input-border-radius-lg;
    box-shadow: 0 0 0 6px $white;
    color: $white;
    font-size: 14px;
    font-weight: $weight-bold;
    padding: 0 6px;
  }
}
