.article-review {
  @include media(md) {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .lists-wrapper {
    flex-wrap: wrap;
    padding: 5px 0 0;

    @include media(sm) {
      flex-wrap: nowrap;
      padding-bottom: $lg;
    }

    @include media(xs) {
      flex-wrap: wrap;
    }

    > .li {
      flex: 0 0 50%;

      @media (max-width: $screen-sm) and (min-width: $screen-xs) {
        flex: 1 1 auto;

        + .ul {
          margin-left: 30px;
        }
      }
    }
  }

  .icons-check {
    height: 12px;
    margin-right: 3px;
    width: 12px;

    @include media(xxs) {
      display: none;
    }
  }

  .img {
    @include media(md) {
      height: auto;
      max-width: 100%;
    }
  }

  .copy-wrapper.right {
    @include media(md) {
      flex: 0 0 auto;
      margin-bottom: $lg;
      max-width: 450px;
      padding: 0;
    }

    @include media(sm) {
      max-width: 390px;
    }
  }
}
