.article-testing {
  border-bottom: 1px solid $gray-lightest;
  overflow: hidden;
  padding-bottom: 0;

  .underline {
    border-bottom: 2px solid currentColor;
  }

  .lists-wrapper {
    flex-wrap: wrap;
    padding: $lg 0 $xl;

    @include media(sm) {
      flex-wrap: nowrap;
      padding-bottom: $lg;
    }

    @include media(xs) {
      flex-wrap: wrap;
    }

    > .li {
      flex: 0 0 50%;

      @media (max-width: $screen-sm) and (min-width: $screen-xs) {
        flex: 1 1 auto;

        + .ul {
          margin-left: 30px;
        }
      }

      &:nth-child(2n) {
        padding-right: 30px;

        @include media(sm) {
          padding-right: 0;
        }

        @include media(xs) {
          padding-left: 30px;
        }
      }

      &:nth-child(n+3) {
        padding-top: 30px;

        @media (max-width: $screen-sm) and (min-width: $screen-xs) {
          padding-top: 0;
        }
      }
    }
  }

  .li {
    @include media(md) {
      font-size: 16px;
    }
  }

  .icons-check {
    height: 12px;
    margin-right: 3px;
    width: 12px;

    @include media(xxs) {
      display: none;
    }
  }

  .img-wrapper {
    @include media(sm) {
      flex-basis: auto;
      height: 449px;
      margin-right: -$lg;
      overflow: hidden;
    }

    @include media(xs) {
      height: 336px;
      margin-right: -$md;
    }
  }

  .img {
    bottom: 0;
    position: absolute;

    @include media(sm) {
      bottom: auto;
      top: 0;
    }

    @include media(xs) {
      transform: scale(.75,.75);
      transform-origin: top left;
    }
  }
}
