.article-problem {
  padding-bottom: 180px;

  > .h3,
  > .p {
    line-height: 1.6;
    padding: 0 15px;
  }

  .h3 + .p {
    font-size: 24px;
    max-width: 720px;

    @include media(sm) {
      font-size: 21px;
      padding: 0 30px;
    }

    @include media(xxs) {
      padding: 0 15px;
    }
  }

  .list {
    margin-top: 30px;
    max-width: 960px;
    padding: 0;

    @include media(md) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    @include media(sm) {
      max-width: 360px;
    }

    > .grid-block {
      flex: 1 1 33.33%;

      @include media(md) {
        align-items: center;
        flex: 0 1 50%;
        max-width: 360px;
      }

      @include media(sm) {
        flex: 1 1 auto;
      }
    }
  }

  .img {
    height: 120px;
    width: 120px;
  }
}
