// code snippets link
.page-home .well-code {
  margin: 0 auto;
  max-width: 345px;
  min-width: 0;
  padding: $sm $md $sm $sm;

  @include media(xxs) {
    margin-left: $sm;
    margin-right: $sm;
    max-width: none;
  }

  .img {
    margin-right: $sm;
    opacity: .75;

    @include media(xs) {
      margin-right: 0;
    }
  }

  .p {
    font-size: 17px;
    margin: 0;
  }

  .a {
    font-size: 13px;
  }
}
