.home-hero {
  // scss-lint:disable ColorVariable
  background: linear-gradient($purple-light, #475496);
  // scss-lint:enable ColorVariable

  &::after {
    opacity: .5;
  }

  .h1 {
    margin: 0;
    max-width: 600px;

    @include media(sm) {
      max-width: 570px;
    }

    @include media(xs) {
      max-width: 450px;
    }

    .br {
      display: none;

      @media (max-width: 450px) {
        display: block;
      }
    }
  }

  .h3 {
    margin-left: 0;
    margin-right: 0;

    @include media(md) {
      max-width: 540px;
    }

    @include media(xxs) {
      max-width: 320px;
    }

    .br {
      @include media(xxs) {
        display: none;
      }
    }
  }
}
