<article class="article article-use-cases">
  <div class="grid-block grid-2">
    <section class="grid-block vertical section-sharing">
      <h2 class="h2 text-center">Simplify development.</h2>
      <p class="p text-center">Work on individual components locally and connect to the rest of your stack on Runnable.</p>
      <figure class="figure">
        <img class="img" src="/images/product/simplify.png" width="450" height="360">
      </figure>
    </section>
    <section class="grid-block vertical section-pr">
      <h2 class="h2 text-center">Faster reviews.</h2>
      <p class="p text-center">Reduce time spent on reviewing code changes with a live, up-to-date URL for every branch.</p>
      <figure class="figure">
        <img class="img" src="/images/product/pr-page.svg" width="450" height="315">
      </figure>
    </section>
  </div>
  <div class="grid-block grid-2">
    <section class="grid-block vertical section-e2e">
      <h2 class="h2 text-center">Run integration tests automatically.</h2>
      <p class="p text-center">Integrate and test as changes are pushed to GitHub. Testing end-to-end has never been this easy.</p>
      <figure class="figure">
        <img class="img" src="/images/product/e2e-testing.svg" width="450" height="315">
      </figure>
    </section>
    <section class="grid-block vertical section-isolation">
      <h2 class="h2 text-center">Test database changes safely in isolation.</h2>
      <p class="p text-center">Isolate a branch to create a separate full-stack environment in seconds—including multi-gigabyte databases.</p>
      <figure class="figure figure-isolation gradient gradient-right">
        <img class="img img-isolation" src="/images/product/isolation.svg" width="1080" height="420">
      </figure>
    </section>
  </div>
</article>
