<article class="grid-block article article-faq">
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> Do I need to use Docker?</h3>
    <p class="grid-content shrink p justify-center">No. Our setup process was built to easily onboard applications regardless of whether they are Dockerized.
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> How secure is my code?</h3>
    <p class="grid-content shrink p justify-center">Your code is only transferred to an isolated set of servers that are not accessible to any other users. This is commonly referred to as <strong class="strong">single-tenant infrastructure</strong>. Runnable also undergoes regular security audits to ensure your code stays secure.
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> What does the setup process look like?</h3>
    <p class="grid-content shrink p justify-center">For many teams, it’s as easy as selecting your repositories, adding in environment variables or replace rules (for hard-coded values), and then saving. Adding databases and other services is also point-and-click. You’ll be invited to join our engineering team’s Slack, so you’ll have direct access to our entire team to help with setup. We can even set up your app for you. :)
  </div>
</article>
