<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Integration testing, simplified. — Runnable</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    @@include('html/components/icons.hbs')
    @@include('html/components/header.hbs')

    <main class="grid-block vertical main">
      @@include('html/integration-testing/integration-testing-hero.hbs')
      @@include('html/integration-testing/article-integration-testing.hbs')
      @@include('html/components/signup.hbs')
      @@include('html/integration-testing/article-integration-comparison.hbs')
      @@include('html/integration-testing/article-integration-faq.hbs')
      @@include('html/integration-testing/next-cta.hbs')
    </main>

    @@include('html/components/footer.hbs')
    @@include('html/components/form-modal.hbs')

    @@include('js/external/external.html')
