<article class="hero pricing-hero">
  <h1 class="h1 text-center">Preview Pricing</h1>
  <section class="grid-block align-center justify-center section section-plans">
    <div class="grid-block plan-wrapper">
      <div class="grid-block vertical text-center plan">
        <p class="weight-strong">Starter</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price weight-strong">$9<span class="month"><span class="slash">⁄</span>mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="well weight-normal text-green small">50% off for 1 year</p>
        <p class="plan-description">Up to <span class="weight-strong">2</span> templates</p>
        <p class="weight-light text-gray small">For basic <br>two-tier apps</p>
      </div>
      <div class="grid-block vertical text-center plan">
        <p class="weight-strong">Standard</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price weight-strong">$29<span class="month"><span class="slash">⁄</span>mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="well weight-normal text-green small">50% off for 1 year</p>
        <p class="plan-description">Up to <span class="weight-strong">7</span> templates</p>
        <p class="weight-light text-gray small">For most<br>multi-tier apps</p>
      </div>
    </div>
    <div class="grid-block plan-wrapper">
      <div class="grid-block vertical text-center plan">
        <p class="weight-strong">Plus</p>
        <div class="grid-block vertical align-center justify-center price-wrapper">
          <p class="price weight-strong">$49<span class="month"><span class="slash">⁄</span>mo</span></p>
          <p class="weight-light">per user</p>
        </div>
        <p class="well weight-normal text-green small">50% off for 1 year</p>
        <p class="plan-description">Up to <span class="weight-strong">15</span> templates</p>
        <p class="weight-light text-gray small">For larger apps<br>or multiple apps</p>
      </div>
      <div class="grid-block card-flipper shake-me">
        <div class="grid-block vertical text-center card-a plan">
          <p class="weight-strong">Enterprise</p>
          <div class="grid-block vertical align-center justify-center notify-wrapper">
            <p class="small weight-light text-gray">Coming Soon</p>
            <button class="btn gray btn-sm js-flipper">Notify Me</button>
          </div>
          <p class="plan-description">Unlimited templates</p>
          <p class="weight-light text-gray small">On-premise<br>support</p>
        </div>
        <form class="grid-block vertical text-center card-b plan form form-enterprise show">
          <svg class="icons icons-chevron-right js-flipper">
            <use xlink:href="#icons-chevron-right">
          </svg>
          <p class="weight-strong shrink">Enterprise</p>
          <div class="grid-block vertical notify-wrapper">
            <input class="grid-block shrink text-center input input-sm input-validate pristine" placeholder="Name" name="name" required>
            <input class="grid-block shrink text-center input input-sm input-validate pristine" placeholder="Work email" name="email" type="email" required>
            <p class="small text-gray text-center weight-light">No spam — we promise!</p>
          </div>
          <button class="grid-block justify-center align-center shrink btn btn-sm gray">
            <div class="grid-block justify-center align-center">
              <span class="grid-content shrink">Submit</span>
            </div>
          </button>
        </form>
        <div class="grid-block align-center plan hide">
          <p class="p text-center">🙌<br>Thanks, we’ll be in touch!</p>
        </div>
      </div>
    </div>
  </section>
</article>
