<article class="grid-block section article article-docker">
  <section class="grid-block col section">
    <div class="grid-block grid-container grid-container-sm">
      <img class="grid-content shrink img img-container" src="images/production/containers.png" height="115" width="81">
      <div class="grid-block col">
        <h3 class="grid-content shrink h3 weight-strong">Support for Docker Compose and Kubernetes/Helm.</h3>
        <p class="grid-content p">Runnable is container-native and supports applications orchestrated with leading frameworks, including Kubernetes and Docker Compose.
      </div>
    </div>
    <div class="grid-block grid-container grid-container-sm">
      <img class="grid-block shrink img img-regedit" src="images/production/registry.svg" height="83" width="90">
      <div class="grid-block col">
        <h3 class="grid-content shrink h3 weight-strong">Export from our private Docker Registry.</h3>
        <p class="grid-content p">Every build created on Runnable is a Docker image that is exportable via our private, authenticated Docker Registry. This enables seamless transfers of all build artifacts to any host.
      </div>
    </div>
    <div class="grid-block grid-container grid-container-sm">
      <img class="grid-block shrink img img-dockerfile" src="images/production/dockerfile.svg" height="75" width="90">
      <div class="grid-block col">
        <h3 class="grid-content shrink h3 weight-strong">Dockerize your application.</h3>
        <p class="grid-content p">Runnable has optimizations built for teams who haven't yet Dockerized their application. Regardless of complexity, Runnable will save time by generating Dockerfiles for your application.
      </div>
    </div>
  </section>
</article>
