<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Deploy to Production — Runnable</title>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->
  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main hero-only">
      @@include('html/deploy-to-production/production-hero.hbs')
      @@include('html/deploy-to-production/article-production.hbs')
      @@include('html/deploy-to-production/article-docker.hbs')
      @@include('html/deploy-to-production/article-quote.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
