.page-solutions {

  .hero {

    .h1 {
      max-width: 900px;

      @include media(sm) {
        font-size: 39px;
      }

      @include media(xs) {
        font-size: 36px;
      }

      @include media(xxs) {
        font-size: 30px;
      }
    }

    .p {
      font-size: 21px;
      margin-top: 9px;
      max-width: 750px;

      @include media(sm) {
        max-width: 600px;
      }

      @include media(xs) {
        font-size: 18px;
        max-width: 510px;
      }

      @media (max-width: 430px) {
        max-width: 400px;
      }
    }

    // buttons
    > .grid-block {
      margin-top: 30px;
      position: relative;
      z-index: 1; // overlap confetti
    }

    .btn + .btn {
      @include media(sm) {
        margin-left: 15px;
      }
    }
  }
}
