<article class="grid-block justify-center align-center article article-explanation">
  <div class="grid-block align-center justify-center shrink">
    <img src="../../images/pricing/bear-dollar.svg" class="img" width="878" height="690">
  </div>
  <div class="grid-block shrink vertical">
    <p class="h3 normal">How our pricing works</p>
    <p class="p">We charge based on the number of configuration templates you use. A <span class="normal">configuration template</span> corresponds to a repository or other service (like a database) that Runnable will create containers for.</p>
    <p class="p">The number of templates your team will need is roughly the number of services that make up your application.</p>
  </div>
</article>
