<article class="grid-block justify-center article article-faq">

  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> What happens when I add or remove a user?</h3>
    <p class="grid-content shrink p justify-center">We'll prorate the cost of users daily, so you'll only pay for users in good standing.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> Which plan should I pick?</h3>
    <p class="grid-content shrink p justify-center">We automatically determine your plan based on the number of configuration templates your team uses.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> Why isn’t there a free plan?</h3>
    <p class="grid-content shrink p justify-center">Runnable will remain free for preview customers until we transition into beta. If your development team believes our pricing plans are not well-suited for your needs, please get in touch with us.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="em">Q:</span> I have more questions.</h3>
    <p class="grid-content shrink p justify-center">No problem! <a href="mailto:support@runnable.com" class="link">Contact us</a> and we’d be happy to help.</p>
  </div>
</article>
