<article class="grid-block justify-center align-center article article-included">
  <div class="grid-block vertical shrink">
    <div class="grid-block vertical shrink">
      <p class="h3 normal">Unlimited containers<br class="hidden-sm"> with every plan</p>
      <p class="p">Create as many containers and environments as you need, without worrying about infrastructure costs — we cover all that stuff.</p>
    </div>
    <div class="grid-block vertical">
      <p class="p normal">Also included in every plan:</p>
      <div class="grid-block included-list">
        <ul class="ul grid-block vertical">
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Automated E2E testing
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Slack notifications
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Pull request integration
          </li>
        </ul>
        <ul class="ul grid-block vertical">
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            Single-tenant infrastructure
          </li>
          <li class="li">
            <svg class="icons icons-check text-green">
              <use xlink:href="#icons-check">
            </svg>
            One-click deploy
            <span class="pill">Soon</span>
          </li>
          <li class="li text-gray">And more — <a href="product/" class="link">take the tour</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-block align-center justify-center shrink">
    <img src="../../images/pricing/rocket.svg" class="img" width="200" height="200">
  </div>
</article>
