<article class="grid-block vertical align-center article article-cta">
  <p class="p text-center">All plans require at least 3 users and start with a 14-day trial.</p>
  <button data-target="#sign-up" class="btn btn-lg green js-modal js-hide-if-signed-in track-sign-up">Start Your Free Trial</button>

  {{!-- if they're signed in --}}
  {{!-- <p class="p text-center">Thanks for being part of our preview! Add your card to claim your discount.</p> --}}
  {{!-- <button data-target="#sign-up" class="btn btn-lg green js-modal js-hide-if-signed-in track-sign-up">Claim Your Discount</button> --}}

  <p class="text-center text-gray light small">No Card Required</p>
  <div class="p well light text-gray text-center padding-md">
    Teams that sign up and enter their payment information before our preview ends will get a 50% discount for their first year.
    <img src="../../images/runnabear-peek.png" class="img">
  </div>
</article>
