<article class="grid-block justify-center article article-runnable-works">
  <section class="grid-block align-center col section">
    <img class="img margin-bottom-sm" src="images/home/runnable-works.svg" width="150" height="111">
    <h2 class="h3 weight-strong text-center">How Runnable works.</h2>
    <p class="p weight-light text-center">Runnable builds your code branches on every change you push to your git repositories. All builds run concurrently via the auto-scaling infrastructure included in our pricing plans.</p>
  </section>
</article>
