<article class="grid-block col align-center article article-features">
  <section class="grid-block col-sm section">
    <img src="images/icons-staging.svg" height="75" width="75" class="img margin-right-md">
    <div class="grid-block col">
      <h2 class="p weight-strong">Solve your team’s staging problem.</h2>
      <p class="p weight-light">Get a full-stack preview environment for every code branch. Environments auto-update and stay running.</p>
      <a href="preview-environments/" class="link">More on Preview Environments
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    </div>
  </section>
  <section class="grid-block col-sm section">
    <img src="images/icons-testing.svg" height="75" width="75" class="img margin-right-md">
    <div class="grid-block col">
      <h2 class="p weight-strong">Test every change end-to-end.</h2>
      <p class="p weight-light">Run all your tests on your branch’s preview environment. Tests run end-to-end and can be triggered automatically or manually.</p>
      <a href="end-to-end-testing/" class="link">More on End-to-End Testing
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    </div>
  </section>
  <section class="grid-block col-sm section">
    <img src="images/icons-deploy.svg" height="75" width="75" class="img margin-right-md">
    <div class="grid-block col">
      <h2 class="p weight-strong">Deploy tested builds to production.</h2>
      <p class="p weight-light">With support for Kubernetes and Docker Compose, deploy your builds to any cloud service or private infrastructure.</p>
      <a href="deploy-to-production/" class="link">More on Deploying to Production
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    </div>
  </section>
</article>
