<article class="grid-block justify-center article article-runnable-works">
  <section class="grid-block align-center col section">
    <h2 class="h3 weight-strong text-center">How Runnable works:</h2>
    <div class="h5 text-center"><a class="link weight-strong" href="how-it-works/#developers">Developers</a> | <a class="link weight-strong" href="how-it-works/#devops">DevOps</a></div>
    <p class="p weight-light text-center">Runnable builds your code branches on every change you push to your git repositories. All builds run concurrently via our auto-scaling infrastructure.</p>
  </section>
</article>
