<article class="article article-home-cta">
  <section class="grid-block grid-container justify-center col-md">
    <div class="grid-block col align-start section cta-features">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-star.svg" width="60" height="60">
      <p class="p weight-strong">Features</p>
      <ul class="ul padding-top-xs">
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Multi-GB database support
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Fast database replication
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Deploy to production: AWS, Azure, Google Cloud
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Always on, Docker-native environments
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Docker Compose support
          <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Kubernetes support
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Simple setup (No Docker knowledge necessary)
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Hands-on experts to help with set up
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Secured single-tenant infrastructure
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Usage-based infrastructure scaling
      </ul>
    </div>
    <div class="grid-block col align-start section cta-pricing">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-unlimited.svg" width="60" height="60">
      <p class="p weight-strong">Runnable enables every developer in your team to catch bugs earlier.</p>
      <p class="p weight-light margin-top-sm">All plans include unlimited builds, concurrency, and environments running on dedicated, single-tenant infrastructure.</p>
      <a class="btn btn-md green margin-top-sm" href="pricing/">View Pricing Plans</a>
      <p class="p weight-light margin-top-lg text-gray">Customers who 💖 us:</p>
      <img class="margin-top-sm" src="images/customers-gray.png" width="345" height="84">
    </div>
  </section>
</article>
