<article class="grid-block justify-center article article-runnable-works">
  <section class="grid-block align-center section">
    <img class="img margin-right-lg" src="images/home/runnable-works.svg" width="150" height="111">
    <div class="grid-block col">
      <h2 class="h3 weight-strong">How Runnable works:</h2>
      <div class="grid-block noscroll margin-bottom-sm col-xxs">
        <a class="grid-block noscroll shrink align-center a" href="/how-it-works/#developers">
          For Developers
          <svg class="icons">
            <use xlink:href="#icons-chevron-right">
          </svg>
        </a>
        <a class="grid-block noscroll shrink align-center a margin-left-md" href="/how-it-works/#devops">
          For DevOps
          <svg class="icons">
            <use xlink:href="#icons-chevron-right">
          </svg>
        </a>
      </div>
      <p class="p weight-light">Runnable builds your code branches on every change you push to your git repositories. All builds run concurrently via our auto-scaling infrastructure included in our pricing plans.</p>
    </div>
  </section>
</article>
