<article class="grid-block col align-center section article article-runnable-works">
  {{!-- <img class="img margin-bottom-md" src="images/home/validate.svg" width="150" height="111"> --}}
  <h2 class="h3 weight-strong text-center">How Runnable works.</h2>
  <p class="p weight-light text-center">Runnable builds your code branches on every change you push to your git repositories. All builds run concurrently via the auto-scaling infrastructure included in our pricing plans.</p>
</article>