<article class="hero home-hero">
  <div class="grid-block col grid-container noscroll">
    <h1 class="h1 text-center">Catch bugs earlier.</h1>
    <p class="h3 text-center">Runnable creates preview and test<br class="hidden-xs"> environments for every code branch.</p>
  </div>
</article>
