<article class="hero home-hero">
  <div class="grid-block col grid-container noscroll">
    <h1 class="h1 text-center">Catch bugs earlier.</h1>
    <p class="h3 text-center">Runnable creates preview and test<br class="hidden-xxs"> environments for every code branch.</p>
    <div class="grid-block justify-center noscroll">
      <a href="signup/" class="btn btn-lg track-sign-up">
        <span class="span no-touching">Start Your Free Trial</span>
      </a>
    </div>
  </div>
</article>
