<article class="grid-block col align-center section article">
  <h2 class="h3 weight-strong text-center">Validate your changes.</h2>
  <p class="p text-center">Test as you code with environments that rebuild on every commit.</p>
</article>
