<article class="grid-block col align-center article article-graph">
  <section class="grid-block col section graph-container">
    <h2 class="h3 weight-strong text-center">Catching bugs early <br>saves time & money.</h2>
    <h3 class="h3 weight-light text-center margin-top-xxs">The number of bugs your users may encounter increases as you add developers and lines of code.</h3>
  </section>
  <figure class="grid-block col figure-graph">
    <div class="popover top popover-purple visible-xs in">Most bugs are caught after your changes are integrated with the rest of your system.</div>
    <div class="circle">
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="spin-circle">
        <div class="absolute bug orange"></div>
      </div>
      <div class="absolute bug orange has-img">
        <div class="popover popover-purple bottom in bug-orange hidden-xs">Most bugs are caught after your changes are integrated with the rest of your system.</div>
      </div>
      <div class="absolute bug purple has-img">
        <div class="popover popover-purple top in bug-purple hidden-xs">Runnable fully integrates & tests your changes earlier in development.</div>
      </div>
    </div>
    <div class="popover popover-purple visible-xs bottom in">Runnable fully integrates & tests your changes earlier in development.</div>
  </figure>
  <figure class="grid-block figure-x-axis noscroll">
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Code</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Unit Tests</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Review</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Staging</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">Integration</span></div>
    <div class="grid-block x-col noscroll"><span class="hidden-xs">QA Tests</span></div>
  </figure>
</article>
