<article class="grid-block col align-center section article article-validate">
  <img class="img margin-bottom-md" src="images/home/validate.svg" width="150" height="111">
  <h2 class="h3 weight-strong text-center">See it to believe it.</h2>
  <h3 class="h3 weight-light text-center">Validate your code with persistent environments rebuilt on every commit.</h3>
</article>
