.article-development {

  @include media(sm) {
    &.grid-container {
      max-width: 100%;
      width: auto;
    }
  }

  @include media(xs) {
    &.grid-container {
      max-width: 100%;
      width: auto;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 90px;
  }

  .section {
    padding-left: 45px;
    padding-right: 45px;

    @include media(xs) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .p {
    @include media(xs) {
      font-size: 16px;
    }
  }

  .figure {
    @include media(sm) {
      margin-bottom: 30px;
    }
  }

  .img {
    height: auto;
  }
}

.section-stack {
  @include media(sm) {
    flex-direction: column-reverse;
    overflow: visible;
  }
}

.figure-stack {
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  max-height: 300px;
  overflow: hidden;
  position: relative;

  @include media(sm) {
    flex-direction: row;
    margin-left: -30px;
    margin-right: -30px;
  }

  .img {
    margin: 7.5px;
    max-width: 100%;

    @include media(md) {
      width: 300px;
    }

    &:nth-child(2) {
      border-radius: 6px;
      box-shadow: 0 1px 9px rgba($gray,.1);

      @include media(sm) {
        border-radius: 5px;
      }
    }
  }

  &::before {
    background: linear-gradient(to bottom, $white, rgba($white,0) 20%, rgba($white,0) 80%, $white);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(sm) {
      background: linear-gradient(to right, rgba($white,.75), rgba($white,0) 20%, rgba($white,0) 80%, rgba($white,.75));
    }
  }
}

.section-notification { // specificity to override default '.vertical .grid-block' margin-top
  overflow: visible;

  .well {
    background: $gray-lighterest;
    border: 1px solid $gray-lightest;
    border-radius: $input-border-radius-lg;
    color: $gray-dark;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 981px;
    overflow: visible;
    padding: 75px;
    position: relative;

    @include media(sm) {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      margin-left: -45px;
      margin-right: -45px;
    }

    @include media(xs) {
      padding: 75px 30px 60px;
    }
  }

  .img-wrapper {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -120px;
  }

  .img {
    @include media(xxs) {
      max-width: 155%;
    }

    @include media(xxxs) {
      max-width: 145%;
    }
  }

  .h3,
  .p {
    max-width: 720px;
  }
}

.section-tools {

  @include media(sm) {
    flex-direction: column;
  }

  .figure {
    margin-left: 0;

    @include media(sm) {
      margin-right: 0;
    }
  }

  .img {
    @include media(md) {
      width: 270px;
    }
  }
}
