.article-development {
  padding-left: 30px;
  padding-right: 30px;

  @include media(sm) {
    &.grid-container {
      max-width: 100%;
    }
  }

  > .grid-block + .grid-block {
    margin-top: 90px;
  }

  // figure.img-wrapper
  .img-wrapper {
    max-width: 100%;
  }

  .p {
    @include media(xs) {
      font-size: 16px;
    }
  }

  .figure {
    @include media(sm) {
      margin-bottom: 30px;
    }
  }

  .img {
    height: auto;
    max-width: 100%;
  }
}

.section-stack.section-stack {
  @include media(sm) {
    flex-direction: column-reverse;
  }
}

.figure-stack {
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
  overflow: hidden;
  position: relative;

  @include media(sm) {
    flex-direction: row;
  }

  .img {
    margin: 7.5px;

    @include media(md) {
      width: 270px;
    }

    @include media(xxs) {
      width: 180px;
    }

    &:nth-child(2) {
      border-radius: 6px;
      box-shadow: 0 1px 9px rgba($gray,.1);

      @include media(sm) {
        border-radius: 5px;
      }
    }
  }

  &::before {
    background: linear-gradient(to bottom, $white, rgba($white,0) 20%, rgba($white,0) 80%, $white);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(sm) {
      background: linear-gradient(to right, $white, rgba($white,0) 20%, rgba($white,0) 80%, $white);
    }
  }
}

.section-notification { // specificity to override default '.vertical .grid-block' margin-top
  overflow: visible;

  .well {
    background: $gray-lighterest;
    border: 1px solid $gray-lightest;
    border-radius: $input-border-radius-lg;
    color: $gray-dark;
    margin-top: 100px;
    overflow: visible;
    padding-bottom: 75px;
    padding-top: 75px;
    position: relative;
    width: 100%;

    @include media(xs) {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
    }
  }

  .img-wrapper {
    height: 188px;
    left: 0;
    position: absolute;
    top: -116px;
    width: 100%;
  }

  .img {
    @include media(xxs) {
      max-width: 155%;
      width: 155%;
    }
  }

  .h3,
  .p {
    max-width: 720px;
  }
}

.section-tools.section.section { // specificity to override default '.vertical .grid-block' margin-top

  @include media(sm) {
    flex-direction: column;
  }

  .img {
    @include media(md) {
      width: 270px;
    }
  }
}
