.development-hero {
  // scss-lint:disable ColorVariable
  background: linear-gradient($purple-light, #38387a);
  // scss-lint:enable ColorVariable

  &::after {
    filter: brightness(1.1);
    opacity: .5;
  }

  .br {
    @media (max-width: 360px) {
      display: none;
    }
  }
}
