.article-included {
  align-self: center;
  border-bottom: 1px solid $gray-lighter;
  margin: 0 60px;
  max-width: 960px;
  overflow: visible;
  padding: 90px 0;

  @include media(md) {
    padding: 75px 0;
  }

  @include media(sm) {
    padding: 60px 0;
  }

  @include media(xs) {
    flex-direction: column-reverse;
    margin: 0 45px;
  }

  @include media(xxs) {
    margin: 0 30px;
  }

  > .grid-block {
    flex: 1 1 50%;
  }

  .grid-block {
    overflow: visible;
  }

  .h3 {
    line-height: 1.4;
    margin: 0 0 12px;
  }

  .p {

    @include media(sm) {
      font-size: 16px;
    }

    &.normal {
      font-size: 16px;
      margin: 18px 0 9px;
    }
  }

  .img {
    flex: 1 1 auto;
    height: auto;
    max-height: 320px;
    padding-left: 60px;
    width: auto;

    @include media(xs) {
      margin-bottom: 45px;
      padding: 0;
      width: 240px;
    }
  }

  .included-list {
    @include media(md) {
      flex-direction: column;
    }
  }

  .ul {
    font-size: 16px;
    padding-left: 0;
  }

  .li {
    list-style-type: none;
    position: relative;

  }

  .icons-check {
    height: 12px;
    left: -18px;
    position: absolute;
    top: 6px;
    width: 12px;
  }
}
