.article-explanation {
  align-self: center;
  border-bottom: 1px solid $gray-lighter;
  max-width: 960px;
  padding-bottom: 90px;
  padding-top: 90px;

  @include media(xs) {
    flex-direction: column;
  }

  > .grid-block {
    flex: 1 1 50%;

    @media (max-width: 530px) {
      flex: 0 0 auto;
    }
  }

  .h3 {
    line-height: 1.4;
    margin: 0 0 12px;
  }

  .p {
    @include media(sm) {
      font-size: 16px;
    }
  }

  .img {
    height: auto;
    padding-right: 60px;
    width: auto;

    @include media(xs) {
      margin-bottom: 45px;
      padding: 0;
      width: 240px;
    }
  }
}
