.article-pricing {

  .section {
    padding: 90px 0;

    .grid-block + .grid-block {
      margin-left: 30px;
    }
  }

  .pill {
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 4px;
    padding: 1px 7px 3px;
    position: relative;
    top: -1px;

    &.pill-gray {
      border-color: $gray;
      color: $gray;
    }

    &.pill-green {
      border-color: $green;
      color: $green;
    }
  }

  .strong {
    font-weight: $weight-normal;
  }

  .section-includes {

    > .grid-block {
      overflow: visible;
      width: 330px;
    }

    .p {
      position: relative;
    }

    .icons-check {
      height: 15px;
      left: -24px;
      position: absolute;
      top: 8px;
      width: 15px;
    }
  }

  .section-how {
    background: $gray-lighterest;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;

    > .grid-block {
      width: 465px;
    }
  }
}

.pricing-faq {
  padding: 90px 0;
  width: 630px;

  .link {
    color: $purple-light;
  }

  .faq-wrapper {
    flex-wrap: wrap;
    width: 630px;
  }

  .vertical {
    width: 300px;

    &:nth-child(2n) {
      margin-left: 30px;
    }

    &:nth-child(n+3) {
      margin-top: 30px;
    }
  }

  .answer {
    font-size: 16px;
  }
}
