.article-cta {
  align-self: center;
  max-width: 100%;
  padding: 105px 60px 60px;
  width: 720px;

  @include media(xxs) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .p {
    margin-bottom: 24px;

    @include media(sm) {
      font-size: 16px;
    }
  }

  .small {
    font-size: 14px;
    margin: 9px 0;
  }

  .sup {
    top: -.33em;
  }
}
