.article-explanation {
  align-self: center;
  border-bottom: 1px solid $gray-lighter;
  border-top: 1px solid $gray-lighter;
  margin: 0 60px;
  max-width: 960px;
  padding: 90px 0;

  @include media(md) {
    padding: 75px 0;
  }

  @include media(sm) {
    padding: 60px 0;
  }

  @include media(xs) {
    flex-direction: column;
    margin: 0 45px;
  }

  @include media(xxs) {
    margin: 0 30px;
  }

  > .grid-block {
    flex: 1 1 50%;
  }

  .h3 {
    margin: 0 0 12px;
  }

  .p {
    @include media(sm) {
      font-size: 17px;
    }
  }

  .img {
    flex: 1 1 auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    padding-right: 60px;
    width: auto;

    @include media(xs) {
      margin-bottom: 45px;
      padding: 0;
      width: 240px;
    }
  }
}
