.article-pricing-cloud {

  .card {
    border: 1px solid $gray-lighter;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba($black,.05);
    font-size: 16px;
    line-height: 1.5;
    padding: $sm;
    text-align: center;

    @include media(sm) {
      max-width: 100%;
      width: 300px;
    }

    + .card {
      margin-left: $md;

      @include media(sm) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }

  .card-header {
    border-bottom: 1px solid $gray-lighter;
    margin-top: -$sm;
    padding: $sm 0;
  }

  .card-body {
    margin-top: $sm;
    padding: $sm 0;
  }

  .card-price {
    font-size: 30px;
    font-weight: $weight-bold;
    line-height: 1.2;
  }

  .per-month {
    font-size: .8em;
  }
}
