.article-pricing-cloud {

  .h3 {
    line-height: 1.4;
    margin: 0 0 $md;
  }

  .card {
    border: 1px solid $gray-lighter;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    width: 210px;

    + .card {
      margin-left: $sm;
    }
  }

  .card-header {
    border-bottom: 1px solid $gray-lighter;
    margin-top: -$sm;
    padding: $sm 0;
  }

  .card-body {
    margin-top: $sm;
    padding: $sm 0;
  }

  .card-price {
    font-size: 24px;
    font-weight: $weight-bold;
    line-height: 1.2;
  }
}
