.article-pricing-faq {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 630px;

  .vertical {
    width: 300px;

    &:nth-child(2n) {
      margin-left: 30px;
    }

    &:nth-child(n+3) {
      margin-top: 30px;
    }
  }

  .link {
    color: $purple-light;
  }

  .answer {
    font-size: 16px;
  }
}
