.pricing-hero {
  padding-bottom: 0;

  .grid-container-sm > .grid-block {
    width: 100%;

    @include media(sm) {
      font-size: 16px;
      max-width: 300px;
    }

    + .grid-block {
      margin-left: $md;

      @include media(sm) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }

  .card {
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba($black,.05);
    color: $gray-dark;
    line-height: 1.5;
    padding: $md;
    text-align: center;
  }

  .card-header {
    border-bottom: 1px solid $gray-lighter;
    margin-top: -$md;
    padding: $sm 0;
  }

  .card-body {
    padding: $md 0;
  }

  .card-price {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;

    @include media(sm) {
      font-size: 30px;
    }
  }

  .per-month {
    font-size: .8em;
  }

  .benefits {
    padding: 0 $md;
  }

  .li {
    position: relative;

    + .li {
      margin-top: $sm;
    }
  }

  .icons-check {
    color: $purple-logo;
    height: 12px;
    left: -21px;
    position: absolute;
    top: 9px;
    width: 12px;
  }
}
