.pricing-hero {

  .card {
    background-color: $white;
    border-radius: 6px;
    color: $gray-dark;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: 0 30px;
    max-width: 300px;
    padding: $md;
    text-align: center;
    width: 100%;

    @include media(sm) {
      font-size: 16px;
    }
  }

  .card-header {
    border-bottom: 1px solid $gray-lighter;
    margin-top: -$md;
    padding: $sm 0;
  }

  .card-body {
    margin-top: $sm;
    padding: $sm 0;
  }

  .card-price {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;

    @include media(sm) {
      font-size: 30px;
    }
  }

  .per-month {
    font-size: .8em;
  }
}
