.article-google-cta {
  // scss-lint:disable ColorVariable
  background: linear-gradient(#396fc6, $purple-light);
  // scss-lint:enable ColorVariable

  &::after {
    background: url(../images/confetti.png);
    background-size: 864px 324px;
    content: '';
    display: block;
    height: 100%;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .section {
    padding-bottom: 75px;
    padding-top: 90px;

    @include media(xs) {
      flex-direction: column;
    }

    > .col {
      margin-left: $sm;
      margin-right: $sm;
      max-width: 360px;

      @include media(xs) {
        margin-left: 0;
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .card {
    background-color: $white;
    border-radius: $xxs;
    padding: $lg $md;

    .margin-bottom-md {
      margin-bottom: $md;
    }
  }

  .empty {
    height: 286px;

    .h2 {
      margin-top: 0;
    }
  }

  .input {
    border-radius: 0;
    border-width: $input-border-lg;

    &:first-of-type {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-of-type {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    &:not(:first-of-type) {
      border-top-width: $input-border;
    }

    &:not(:last-of-type) {
      border-bottom-width: $input-border;
    }

    &:focus {
      border-width: $input-border-lg;
      z-index: 1;
    }

    + .input {
      margin-top: -$input-border;
    }
  }

  .btn.white {
    border-color: transparent;
    box-shadow: 0 2px 4px rgba($black,.15);
    color: $green-dark;
    display: block;
    font-weight: $weight-bold;
    transition: transform .2s ease-in-out;

    &:hover,
    &:active {
      border-color: transparent;
      transform: scale3d(1.05,1.05,1);
    }

    &:active {
      color: $green-dark;
      transform: scale3d(1,1,1);
    }
  }
}
