.article-benefits {
  background-color: $gray-lighterest;
  border-bottom: 1px solid $gray-lightest;
  border-top: 1px solid $gray-lightest;
  font-size: 16px;

  .row {
    max-width: 750px;
    width: 100%;

    @include media(xxs) {
      flex-direction: column;
    }

    > .grid-block {
      max-width: calc(50% - 15px);

      @include media(xxs) {
        max-width: none;
      }

      + .grid-block {
        margin-left: $md;

        @include media(xxs) {
          margin-left: 0;
          margin-top: $md;
        }
      }
    }

    + .row {
      margin-top: $md;
    }
  }

  .img {
    opacity: .75;
  }
}
