.article-drone {

  .section {
    max-width: 870px;

    @include media(xs) {
      flex-direction: column;
      text-align: center;
    }
  }

  .img {
    border-radius: $input-border-radius;
    margin-right: $lg;

    @include media(xs) {
      margin-bottom: $md;
      margin-right: 0;
    }
  }
}
