.article-benefits {
  background-color: $gray-lighterest;
  border-bottom: 1px solid $gray-lightest;
  border-top: 1px solid $gray-lightest;

  .section {
    padding-bottom: 90px;
    padding-top: 90px;

    @include media(xs) {
      flex-direction: column;
    }
  }

  .col {
    max-width: 360px;

    @include media(xs) {
      max-width: none;
    }

    + .col {
      margin-left: $md;

      @include media(xs) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }

  .img {
    opacity: .75;
  }
}
