.article-google-cta {

  .section {
    padding-bottom: 75px;
    padding-top: 90px;

    @include media(xs) {
      flex-direction: column;
    }
  }

  .col {
    max-width: 360px;

    + .col {
      margin-left: $md;

      @include media(xs) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }

  .card {
    background-color: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: 9px;
    padding: $lg $md;

    .p {
      margin-bottom: $md;
    }
  }

  .input {
    border-radius: 0;
    border-width: $input-border-lg;

    &:first-of-type {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-of-type {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    &:not(:first-of-type) {
      border-top-width: $input-border;
    }

    &:not(:last-of-type) {
      border-bottom-width: $input-border;
    }

    &:focus {
      border-width: $input-border-lg;
      z-index: 1;
    }

    + .input {
      margin-top: -$input-border;
    }
  }
}
