.google-hero {
  // scss-lint:disable ColorVariable
  // background: linear-gradient($purple-light, #2780b4);
  background: linear-gradient($purple-light, #396fc6);
  // scss-lint:enable ColorVariable
  padding-bottom: 0;

  .h1 {
    margin: 0 auto;
  }

  .h3 {
    margin-top: 0;
  }

  .section {
    padding-bottom: 0;
  }

  .h3 {
    margin-bottom: $xl;
    margin-left: auto;
    margin-right: auto;
  }

  .card-wrapper {
    margin-bottom: -$xl;
    max-width: 750px;
    overflow: visible;

    @include media(sm) {
      flex-direction: column;
      max-width: 510px;
    }
  }

  .card {
    background-color: $white;
    border: 1px solid $gray-lighter;
    border-radius: 9px;
    box-shadow: 0 1px 9px rgba($black,.1);
    color: $gray-dark;
    // max-width: 360px;
    padding: $xl $lg;

    + .card {
      margin-left: $md;

      @include media(sm) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }
}
