<script src="https://checkout.stripe.com/checkout.js"></script>

<article class="grid-block vertical align-center article hero payment-hero">
  <h1 class="h1 text-center">Preview Pricing</h1>
  <p class="p text-center">To show our appreciation, we promised early adopters a 50% discount off our regular price for their first billing year.</p>
  <div class="card card-wrapper">
    <div class="grid-block vertical justify-center card-a padding-md">
      <button class="grid-content shrink btn btn-md btn-stripe">Lock in my Discount</button>
      <small class="grid-content small text-center">Billing will begin when we take Runnable to beta, but we will need to place a credit card on file within the next 30 days to secure your discount.</small>
    </div>
    <div class="grid-block vertical align-center justify-center card-b padding-md">
      <svg class="grid-content shrink icons">
        <use xlink:href="#icons-check">
      </svg>
      <p class="grid-content p text-center">Thank you! Your information has been safely saved. <span class="js-replace-org"></span> will automatically receive 50% off for one year once we enter beta.</p>
    </div>
  </div>
</article>
