<article class="grid-block justify-center article article-quote">
  <section class="grid-block col section grid-container-sm">
    <blockquote class="blockquote h3">After a few hours we were up and running. Now we have test environments per feature without managing the orchestration.</blockquote>
    <p class="grid-block justify-right align-center text-gray text-right margin-top-sm quoter">
      Alex Morse, Cratejoy
      <br>
      Co-founder & CTO
      <img class="avatar margin-left-sm" src="images/features/alex-morse.png" height="45" width="45" alt="Ian Grayson">
    </p>
  </section>
</article>
