<article class="grid-block align-center justify-center section article article-environments">
  <figure class="grid-block align-center justify-center col figure-wrapper">
    <img src="images/features/environments-2.png" width="300" height="155">
    <img class="img" src="images/features/environments-1.png" width="312" height="209">
    <img src="images/features/environments-2.png" width="300" height="155">
  </figure>
  <div class="grid-block shrink col content-wrapper">
    <h2 class="h3 weight-strong">Truly end-to-end.</h2>
    <p class="p weight-light margin-top-xs">All tests run on a clean environment which includes a copy of all the services and data needed to run your application like you do in production.</p>
    <p class="p weight-light margin-top-xs">Any test can be run automatically, or triggered manually at any time.</p>
  </div>
</article>
