<article class="section article article-truly">
  <div class="grid-block align-center grid-container-lg">
    <div class="grid-block align-center justify-center padding-right-lg">
      <img src="images/features/environments.png" width="312" height="305">
    </div>
    <div class="grid-block col padding-right-lg">
      <h2 class="h3 weight-strong">Truly end-to-end.</h2>
      <p class="p weight-light margin-top-sm">All tests run on a clean environment which includes a copy of every service and data needed to run your application like you do in production.</p>
      <p class="p weight-light margin-top-sm">Any test can be run automatically, or triggered manually at any time.</p>
    </div>
  </div>
</article>
