<article class="grid-block align-center justify-center section article article-environments">
  <figure class="grid-block align-center justify-center col figure">
    <div class="grid-block shrink figure-environment"></div>
    <img class="grid-block shrink img" src="images/features/environment.png" width="312" height="209">
    <div class="grid-block shrink figure-environment"></div>
  </figure>
  <div class="grid-block shrink col content-wrapper">
    <h2 class="h3 weight-strong">Truly end-to-end.</h2>
    <p class="p weight-light margin-top-xs">All tests run on a clean environment which includes a copy of all the services and data needed to run your application like you do in production.</p>
    <p class="p weight-light margin-top-xs">Any test can be run automatically, or triggered manually at any time.</p>
  </div>
</article>
