<article class="grid-block col align-center section article article-unlimited">
  <div class="grid-block col card">
    <h2 class="h3 weight-strong">Unlimited tests and concurrency.</h2>
    <div class="grid-block margin-top-md">
      <img src="" class="grid-block shrink img margin-right-md">
      <p class="p weight-light">Our infrastructure auto-scales based on your team's usage habits and current resource utilization.</p>
    </div>
    <div class="grid-block margin-top-md">
      <img src="" class="grid-block shrink img margin-right-md">
      <p class="p weight-light">Every build and test runner has at least 1 CPU core, and all builds and tests run concurrently.</p>
    </div>
  </div>
</article>
