<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Runnable: Catch bugs earlier.</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-home" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main">
      @@include('html/end-to-end-testing/e2e-hero.hbs')
      @@include('html/end-to-end-testing/article-environments.hbs')
      @@include('html/end-to-end-testing/article-testing.hbs')
      @@include('html/end-to-end-testing/article-unlimited.hbs')
      @@include('html/end-to-end-testing/article-review.hbs')
      @@include('html/components/footer.hbs')
    </main>

    @@include('html/components/form-modal.hbs')
    @@include('js/external/external.html')
