<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>End-to-End Testing — Runnable</title>
    <script ugly>
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-home" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main">
      @@include('html/end-to-end-testing/hero.hbs')
      @@include('html/end-to-end-testing/article-environments.hbs')
      @@include('html/end-to-end-testing/article-testing.hbs')
      @@include('html/end-to-end-testing/article-unlimited.hbs')
      @@include('html/end-to-end-testing/article-review.hbs')
      @@include('html/end-to-end-testing/article-quote.hbs')
      @@include('html/components/footer.hbs')
    </main>

    @@include('js/external/external.html')
