<article class="grid-block article article-contact margin-top-md">
  <ul class="grid-block grid-container-lg section">
    <li class="grid-block align-center col li">
      <img src="images/icons-staging.svg" height="60" width="60" class="img">
      <h2 class="h2 margin-bottom-sm weight-strong text-center">Help/Support</h2>
      <p class="p weight-light text-center">Lorem Ipsum Sit Dolor Sit Amet</p>
      <a href="mailto:support@runnable.com" class="link">support@runnable.com
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    <li class="grid-block align-center col li">
      <img src="images/icons-testing.svg" height="60" width="60" class="img">
      <h2 class="h2 margin-bottom-sm weight-strong text-center">Sales</h2>
      <p class="p weight-light text-center">Lorem Ipsum Sit Dolor Amet</p>
      <a href="end-to-end-testing/" class="link">sales@runnable.com
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    <li class="grid-block align-center col li">
      <img src="images/icons-deploy.svg" height="60" width="60" class="img">
      <h2 class="h2 margin-bottom-sm weight-strong text-center">Phone</h2>
      <p class="p weight-light text-center">Talk to us on the phone</p>
      <a href="deploy-to-production/" class="link">+1 (510)506-4947
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
  </ul>
</article>
