<article class="article article-info">
  <section class="grid-block grid-container justify-center col-md">
    <div class="grid-block col align-start section cta-features">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-star.svg" width="60" height="60">
      <p class="p weight-strong">Follow us on Social Media</p>
      <ul class="ul padding-top-xs">
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Facebook
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Twitter
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Linkedin
      </ul>
    </div>
    <div class="grid-block col align-start section cta-pricing">
      <img class="grid-block shrink img margin-bottom-sm" src="images/home/icons-unlimited.svg" width="60" height="60">
      <p class="p weight-strong">Runnable enables every developer in your team to catch bugs earlier.</p>
      <p class="p weight-light margin-top-sm">All plans include unlimited builds, concurrency, and environments running on dedicated, single-tenant infrastructure.</p>
      <a class="btn btn-md green margin-top-sm" href="pricing/">View Pricing Plans</a>
      <p class="p weight-light text-gray p-customers">Customers who 💖 us:</p>
      <img class="img-customers margin-top-sm hidden-xxs" src="images/customers-gray.png" width="345" height="83">
      <img class="img-customers margin-top-sm visible-xxs" src="images/customers-gray-sm.png" width="250" height="146">
    </div>
  </section>
</article>
