<article class="article article-location">
  <section class="grid-container justify-center col-md margin-top-xl margin-bottom-md">
    <h2 class="h3 margin-top-lg text-center">Pay Runnable HQ a visit</h2>
    <p class="p text-center">We're located in the heart of the Bay Area.</p>
    <div class="grid-block col">
      <div class="grid-block grid-container-sm align-start article-location-background justify-center">
        <div class="map-pin">
          <div class="arrow"></div>
          <div class="location"></div>
          <p class="p weight-strong">Runnable</p>
          <p class="p small">1481 Folsom St.</p>
          <p class="p small">San Francisco, CA</p>
        </div>
        <div class="detail justify-center">
          <p class="p text-white small weight-strong">
            Runnable's office is in SOMA on 10th and Folsom Street.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>
