<article class="article article-social">
  <section class="grid-container justify-center col-md">
    <div class="grid-block col align-center shrink section text-center">
      <img class="grid-block shrink img margin-bottom-sm" src="images/contact/contact-social.svg" height="54" width="54">
      <p class="p weight-strong">Follow us on Social Media</p>
      <p class="p text-gray">We love openly communicating with our users.</p>
      <ul class="ul grid-block padding-top-sm">
        <li class="li grid-block">
          <a class="a" href="https://www.facebook.com/runnable/">
            <img class="img" height="48px" width="48px" src="/images/social/social-facebook.svg">
          </a>
        <li class="li grid-block">
          <a class="a" href="https://www.linkedin.com/company/runnable">
            <img class="img" height="48px" width="48px" src="/images/social/social-linkedin.svg">
          </a>
        <li class="li grid-block">
          <a class="a" href="https://www.twitter.com/getrunnable/">
            <img class="img" height="48px" width="48px" src="/images/social/social-twitter.svg">
          </a>
      </ul>
    </div>
  </section>
</article>
