<article class="article article-location">
  <section class="justify-center col-md">
    <div class="grid-block col">
      <div class="grid-block align-start article-location-background justify-center">
        <div class="map-pin">
          <div class="arrow"></div>
          <div class="location"></div>
          <p class="p weight-strong">Runnable</p>
          <p class="p small">1481 Folsom St.</p>
          <p class="p small">San Francisco, CA</p>
        </div>
        <div class="detail justify-center">
          <p class="p text-center small weight-strong text-white">Runnable is located in San Francisco’s SOMA neighborhood.</p>
          <p class="p text-center small text-white">We're open on Weekdays from 9:00am to 5:30pm</p>
        </div>
      </div>
    </div>
  </section>
</article>
