<article class="article article-map">
  <section class="justify-center col-md">
    <div class="grid-block col">
      <div class="grid-block align-start article-map-background justify-center">
        <div class="map-pin">
          <div class="arrow"></div>
          <div class="grid-block col padding-sm justify-center">
            <p class="p weight-strong">Runnable</p>
            <p class="p small text-gray">1481 Folsom St.</p>
            <p class="p small text-gray">San Francisco, CA</p>
          </div>
          <div class="detail justify-center text-gray padding-sm">
            <p class="p small">Runnable’s office is located in SOMA at 10th Street and Folsom.</p>
            <p class="p small margin-right-sm">We’re open on weekdays from 9:00am to 5:30pm.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
