<article class="article article-map">
  <div class="grid-block align-center article-map-background">
    <div class="grid-block align-center col-md grid-container-lg section">
      <div class="map-overlay text-center">
        <div class="grid-block col padding-md">
          <p class="p weight-strong">Runnable</p>
          <p class="p text-gray">1481 Folsom St.</p>
          <p class="p text-gray">San Francisco, CA</p>
        </div>
        <div class="detail justify-center text-gray padding-md">
          <p class="p small">Our office is in SOMA at 10th and Folsom. Feel free to stop by on weekdays between 9:00 and 5:30.</p>
        </div>
      </div>
    </div>
  </div>
</article>
