<article class="article article-map">
  <section class="justify-center col-md">
    <div class="grid-block col">
      <div class="grid-block align-start article-map-background justify-center">
        <div class="map-pin">
          <div class="arrow"></div>
          <div class="grid-block padding-top-xs">
            <div class="grid-block col shrink justify-center">
              <div class="location"></div>
            </div>
            <div class="grid-block col grow justify-center">
              <p class="p weight-strong text-white">Runnable</p>
              <p class="p small text-purple-lightest">1481 Folsom St.</p>
              <p class="p small text-purple-lightest">San Francisco, CA</p>
            </div>
          </div>
          <div class="detail justify-center text-white padding-left-sm padding-right-sm">
            <p class="p small">Runnable’s office is located in SOMA, near the end of 10th Street and Folsom Street.</p>
            <p class="p small margin-right-sm">We’re open on weekdays from 9:00am to 5:30pm.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
