<article class="article article-social">
  <section class="grid-container justify-center col-md">
    <div class="grid-block col align-center shrink section cta-features text-center">
      <img class="grid-block shrink img margin-bottom-sm" src="images/contact/contact-social.svg" height="108" width="108">
      <p class="p weight-strong">Follow us on Social Media</p>
      <p class="p">We love openly communicating with our users.</p>
      <ul class="ul grid-block padding-top-xs">
        <li class="li grid-block margin-bottom-sm margin-right-sm">
          <a class="btn btn-xs facebook" href="https://www.facebook.com/runnable/">Facebook</a>
        <li class="li grid-block margin-bottom-sm margin-right-sm">
          <a class="btn btn-xs linkedin" href="https://www.linkedin.com/company/runnable">Linkedin</a>
        <li class="li grid-block margin-bottom-sm">
          <a class="btn btn-xs twitter" href="https://www.twitter.com/getrunnable/">Twitter</a>
      </ul>
    </div>
  </section>
</article>
