<article class="article article-info">
  <section class="grid-block grid-container justify-center col-md">
    <div class="grid-block col align-start section cta-features">
      <p class="p weight-strong">Follow us on Social Media</p>
      <ul class="ul padding-top-xs">
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Facebook
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Twitter
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Linkedin
      </ul>
    </div>
    <div class="grid-block col align-start section cta-features">
      <p class="p weight-strong">Follow us on Social Media</p>
      <ul class="ul padding-top-xs">
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Facebook
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Twitter
        <li class="li">
          <svg class="icons icons-check">
            <use xlink:href="#icons-check">
          </svg>
          Linkedin
      </ul>
    </div>
  </section>
</article>
