<article class="grid-block article article-contact">
  <ul class="grid-block align-center col-md grid-container-lg section">
    <li class="grid-block align-center col li">
      <img src="images/contact/contact-help.svg" height="54" width="54" class="img">
      <h2 class="h2 margin-bottom-md weight-strong text-center">Support</h2>
      <p class="p weight-light text-center">We are ready to help.</p>
      <a href="mailto:info@runnable.com" class="link">info@runnable.com
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    <li class="grid-block align-center col li">
      <img src="images/contact/contact-chat.svg" height="54" width="54" class="img">
      <h2 class="h2 margin-bottom-md weight-strong text-center">Chat</h2>
        <p class="p weight-light text-center">Talk with us instantly.</p>
      <a href="#" class="link">Chat Now
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
    <li class="grid-block align-center col li">
      <img src="images/contact/contact-phone.svg" height="54" width="54" class="img">
      <h2 class="h2 margin-bottom-md weight-strong text-center">Phone</h2>
      <p class="p weight-light text-center">Call us on the phone.</p>
      <a href="tel:18447866225" class="link">1-844-RUNNABLE
        <svg class="icons">
          <use xlink:href="#icons-chevron-right">
        </svg>
      </a>
  </ul>
</article>
