<article class="article article-map">
  <div class="grid-block col article-map-background">
    <div class="map-overlay text-center">
      <div class="grid-block col padding-md">
        <p class="p weight-strong">Runnable</p>
        <p class="p text-gray">1481 Folsom St.</p>
        <p class="p text-gray">San Francisco, CA</p>
      </div>
      <div class="detail justify-center text-gray padding-md">
        <p class="p small">Runnable’s office is located in SOMA at 10th Street and Folsom.</p>
        <p class="p small margin-right-sm">We’re open on weekdays from 9:00am to 5:30pm.</p>
      </div>
    </div>
  </div>
</article>
