<article class="article contact-map">
  <section class="grid-block grid-container justify-center col-md">
    <div class="img grid-block col align-start contact-map-background justify-center">
      <div class="map-pin">
        <div class="arrow"></div>
        <div class="location"></div>
        <ul class="ul">
          <li class="li weight-strong">Runnable HQ</li>
          <li class="li small">1481 Folsom St.</li>
          <li class="li small">San Francisco, CA</li>
        </ul>
      </div>
    </div>
    <div class="grid-block col align-start">
      <p class="p text-white margin-top-sm">
        Runnable is in SOMA on 10th and Folsom Street, near Folsom Street Foundry.
      </p>
      <p class="p text-white small">
        Lorem Ipsum Sit Dolor
      </p>
    </div>
  </section>
</article>
