<article class="hero contact-hero">
  <div class="grid-block col grid-container noscroll">
    <h1 class="h1 text-center">We're here to help you.</h1>
    <p class="h3 text-center">Let us know how we can be of assistance.</p>
  </div>
  @@include('html/contact/article-contact.hbs')
</article>
