<article class="article contact-map">
  <section class="grid-block grid-container justify-center col-md">
    <div class="grid-block col align-start contact-map-background justify-center">
      <div class="map-pin"></div>
    </div>
    <div class="grid-block col shrink align-start">
      <div class="grid-block">
      </div>
      <ul class="ul text-white">
        <li class="li weight-strong">Runnable HQ</li>
        <li class="li">1481 Folsom St.</li>
        <li class="li">San Francisco, CA</li>
      </ul>
      <p class="p small text-white margin-top-sm">
        Runnable is on 10th and Folsom Street, near Folsom Street Foundry and DNA Lounge.
      </p>
      <a class="btn btn-sm white margin-top-sm" href="https://goo.gl/maps/B39vwfcCPnp">Google Maps Link</a>
    </div>
  </section>
</article>
