<article class="article contact-map">
  <section class="grid-block justify-center col-md">
    <div class="img grid-block col align-start contact-map-background justify-center">
      <div class="map-pin"></div>
    </div>
    <div class="grid-block col align-start">
      <ul class="ul text-white">
        <li class="li">Runnable HQ</li>
        <li class="li small weight-strong">1481 Folsom St.</li>
        <li class="li small weight-strong">San Francisco, CA</li>
      </ul>
      <p class="p small text-white margin-top-sm">
        Runnable is on 10th and Folsom Street, near Folsom Street Foundry and DNA Lounge.
      </p>
      <a class="btn btn-xs white margin-top-sm" href="https://goo.gl/maps/B39vwfcCPnp">Google Maps</a>
    </div>
  </section>
</article>
