<article class="grid-block justify-center article article-faq">
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center normal"><span class="text-gray-light">Q:</span> Can I SSH into Runnable containers?</h3>
    <p class="grid-content shrink p justify-center">Yes. Use the <a href="https://github.com/runnable/cli" class="link">Runnable CLI</a> to interact with containers from your native terminal.
  </div>

  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center normal"><span class="text-gray-light">Q:</span> What happens when I add or remove a user?</h3>
    <p class="grid-content shrink p justify-center">We prorate the cost of user so you only pay for the time that they can actually use.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center normal"><span class="text-gray-light">Q:</span> Which plan should I pick?</h3>
    <p class="grid-content shrink p justify-center">We automatically determine your plan based on the number of configurations your team uses.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center normal"><span class="text-gray-light">Q:</span> Why isn’t there a free plan?</h3>
    <p class="grid-content shrink p justify-center">Costs are included in the cost of every plan, so you can use your sandbox as much as you want.</p>
  </div>
  <div class="grid-block vertical question">
    <h3 class="grid-content shrink h3 justify-center strong"><span class="text-gray-light">Q:</span> I have more questions.</h3>
    <p class="grid-content shrink p justify-center">No problem! <a href="mailto:support@runnable.com" class="link">Contact us</a> and we’d be happy to help.</p>
  </div>
</article>
