.article-location {
  padding-top: 0;

  .grid-container {
    overflow: visible;
  }

  .rounded-map {
    border: 6px solid $white;
    border-radius: 50%;
    height: 300px;
    margin: -45px auto 0;
    overflow: hidden;
    width: 300px;

    .img {
      height: 100%;
      width: 100%;
    }
  }

  .map-address {
    background: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    display: table;
    font-style: normal;
    line-height: 1.4;
    margin: 15px auto 0;
    padding: 15px;
  }
}
