.article-seamless-workflow {

  // override grid-container-lg defaults
  .grid-container-lg {

    @include media(md) {
      flex-direction: row;
    }

    @include media(sm) {
      flex-direction: column;
    }

    > .grid-block {

      @include media(md) {
        flex: 0 1 50%;
      }

      @include media(sm) {
        flex: 0 0 auto;
      }
    }
  }

  .card {

    @include media(md) {
      padding: $lg;
    }

    + .card {
      margin-left: $md;

      @include media(sm) {
        margin-left: 0;
        margin-top: $md;
      }
    }
  }

  .img {
    height: auto;
    max-width: 100%;

    @include media(xxs) {
      max-width: 120%;
    }
  }
}
