.article-tests {

  .card > .grid-block {
    @include media(xxs) {
      align-items: flex-start;
    }
  }

  .test-types {
    @include media(xs) {
      flex-direction: column;
    }
  }

  .icons-check {
    height: 12px;
    width: 12px;
  }
}
