.article-easy-setup .list-features {
  flex-wrap: wrap;

  > .li {
    flex: 1 1 33%;

    @include media(md) {
      align-items: center;
      flex: 0 1 100%;
      flex-direction: row;
    }

    @include media(xs) {
      font-size: 16px;
    }

    @include media(xxs) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
