.article-easy-setup .section-features {
  flex-wrap: wrap;

  > .grid-block {
    flex: 1 1 33%;

    @include media(sm) {
      flex: 0 1 50%;
    }

    @include media(xs) {
      font-size: 16px;
    }

    @include media(xxs) {
      flex: 0 1 100%;
    }
  }
}
