.article-tests {
  background: $gray-lighterest;
  border-bottom: 1px solid $gray-lightest;
  border-top: 1px solid $gray-lightest;
  overflow: visible;
  padding: 60px;

  @include media(xs) {
    padding: 30px;
  }

  .grid-container {
    max-width: 1080px;
    width: 100%;

    @include media(md) {
      flex-direction: column;
    }

    > .grid-block {
      flex: 0 1 50%;
      padding: 60px;

      @include media(md) {
        flex: 0 0 auto;
      }

      @include media(xs) {
        padding: 30px;
      }
    }
  }

  .card {
    background: $white;
    border: $input-border solid $gray-lighter;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba($black,.05);

    .grid-block {
      align-items: center;

      @include media(xxs) {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .img {
      @include media(xxs) {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }

  .test-types {
    @include media(xs) {
      flex-direction: column;
    }
  }

  .ul {
    padding-left: 0;
  }

  .li {
    list-style-type: none;
  }

  .icons-check {
    height: 12px;
    margin-right: 6px;
    width: 12px;
  }
}
