.article-automated {

  .card {
    background: $white;
    border: $input-border solid $gray-lighter;
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba($black,.05);
    flex-wrap: wrap;
    margin: -$xl auto 0;
    max-width: 1080px;
    width: 100%;

    @include media(xs) {
      font-size: 16px;
      margin-bottom: $md;
      margin-top: -$lg;
    }

    > .grid-block {
      flex: 1 1 33%;

      @include media(md) {
        flex: 0 1 100%;
      }
    }
  }
}
