.article-automated {

  .card {
    @include media(xs) {
      font-size: 16px;
    }

    > .grid-block {
      flex: 1 1 33%;

      @include media(md) {
        flex: 0 0 auto;
      }
    }
  }
}
