.page-product {

  .hero {
    background: $purple-light;

    &::after {
      display: none;
    }
  }
}

.article-product {

  @include media(md) {
    font-size: 17px;
  }

  .p {
    font-size: 16px;

    @include media(md) {
      font-size: 15px;
    }
  }

  .section {
    padding-left: 45px;
    padding-right: 45px;
  }

  .section-heading {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .card {
    background: $white;
    border: 1px solid transparent;
    border-radius: 9px;
    max-width: 50%;
  }

  .quote-wrapper {
    font-style: italic;
    margin-top: 45px;

    @include media(xxs) {
      flex-direction: column;
    }

    .text-left {
      @include media(xxs) {
        text-align: center;
      }
    }
  }

  .quote-bubble {
    border: 1px solid $gray-lighter;
    border-radius: 6px;
    max-width: 390px;
    padding: 15px;
    position: relative;
    margin-right: 30px;

    @include media(xxs) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    position: absolute;
  }

  .arrow {
    border-bottom-width: 12px;
    border-left: 12px solid darken($gray-lighter,5);
    border-right-width: 0;
    border-top-width: 12px;
    margin-top: -12px;
    right: -12px;
    top: 50%;

    &::after {
      border-bottom-width: 11px;
      border-left: 11px solid $white;
      border-right-width: 0;
      border-top-width: 11px;
      bottom: -11px;
      content: '';
      right: 1px;
    }
  }

  .grid-block {
    overflow: visible;
  }

  .grid-container {
    // margin: 0 auto;
    max-width: 1080px;
    width: 100%;
  }
}

.section-overview {
  background: #78CCF0;
  padding-top: 45px;

  &.vertical + .section-overview {
    margin-top: 30px;
  }

  @include media(sm) {
    color: $white;
  }

  .figure {
    margin: 45px 0 0; // override
    border-right: 1px solid $gray-lighter;
    position: relative;
    overflow: hidden; // remove later

    @include media(md) {
      margin-top: 30px;
    }

    @include media(sm) {
      height: 330px;
      border-right: none;
      border-radius: 9px 9px 0 0;
    }

    .img {

      @include media(md) {
        transform: scale(.85,.85);
        transform-origin: top left;
      }

      @include media(sm) {
        transform: scale(1,1);
        max-width: 100%;
        height: auto;
      }
    }
  }

  .fade {
    display: none;

    &.in {
      display: block;
      position: absolute;
    }
  }

  .card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 45px - 1px;
    width: calc(50% - 15px);

    @include media(md) {
      padding: 30px - 1px;
    }

    .js-toggler {
      color: #a1a1a1;
      padding: 15px - 1px;
      border: 1px solid transparent;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        color: $gray-dark;
      }

      &.active {
        border-color: $gray-lighter;
        cursor: default;
        color: $gray-dark;
      }
    }
  }
}

.section-deets {
  background: $gray-lighterest;
  margin-top: 60px;

  .card {
    border-color: $gray-lighter;
    position: relative;
    top: -60px;
    padding: 60px - 1px;
    width: 50%;

    @include media(md) {
      padding: 45px - 1px;
      top: -45px;
    }

    + .card {
      margin-left: 30px;
    }
  }

  .img {
    height: 90px;
    margin-bottom: 45px;
    width: 100%;
  }
}

.section-glove {
  padding: 0 60px 90px;

  .img {
    margin-bottom: 30px;
  }

  .grid-block {
    flex-basis: 33%;

    + .grid-block {
      margin-left: 60px;
    }
  }
}
