.page-product {

  .hero {
    background: $purple-light;

    &::after {
      display: none;
    }
  }

  .weight-strong {
    font-weight: 400 !important;
  }

  .figure {
    margin: 0; // override
  }

  .grid-block {
    overflow: visible;
  }
}

.section-heading {
  margin: 0 auto;
  max-width: 900px;
  padding: 75px 0;
}

.card {
  background: $white;
  border: 1px solid transparent;
  border-radius: 9px;
  margin-top: -60px;
  max-width: 480px;
  padding: 60px;
}

.quote {
  color: $gray;
  margin-top: 30px;
}

.quote-bubble {
  background: $gray-lighterest;
  border: 1px solid $gray-lighter;
  border-radius: 6px;
  margin-right: 15px;
  padding: 12px 18px;
  position: relative;
}

.arrow,
.arrow::after {
  border-color: transparent;
  border-style: solid;
  position: absolute;
}

.arrow {
  border-bottom-width: 12px;
  border-left: 12px solid darken($gray-lighter,5);
  border-right-width: 0;
  border-top-width: 12px;
  margin-top: -12px;
  right: -12px;
  top: 50%;

  &::after {
    border-bottom-width: 11px;
    border-left: 11px solid $gray-lighterest;
    border-right-width: 0;
    border-top-width: 11px;
    bottom: -11px;
    content: '';
    right: 1px;
  }
}

.avatar {
  background: $gray-lightest;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.article-product .p {
  font-size: 16px;
}

.section-content-wrapper {
  margin: 0 auto;
  max-width: 1020px;
}

.section-overview {
  background: #78CCF0;
  padding-top: 120px;

  .figure {
    background: $gray-lightest;
    border-radius: 9px 0 0;
  }

  // overrides
  .card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.section-deets {
  background: $gray-lighterest;
  margin-top: 60px;
  padding-bottom: 75px;

  .card {
    border-color: $gray-lighter;

    + .card {
      margin-left: 60px;
    }
  }

  .img {
    height: 90px;
    margin-bottom: 60px;
    width: 100%;
  }
}

.section-glove {
  padding: 0 60px 90px;

  .weight-strong {
    margin-top: 30px;
  }

  .grid-block {
    flex-basis: 33%;

    + .grid-block {
      margin-left: 60px;
    }
  }
}
