.section-sharing {
  background: $gray-lighterest;
  margin-top: 60px;
  overflow: visible;

  @include media(md) {
    margin-top: 45px;
  }

  .grid-container {
    overflow: visible;

    @include media(sm) {
      flex-direction: column;
    }
  }

  .card {
    border-color: $gray-lighter;
    padding: 60px - $input-border;
    position: relative;
    top: -60px;
    width: 100%;

    @include media(md) {
      padding: 45px - $input-border;
      top: -45px;
    }

    + .card {
      margin-left: 30px;

      @include media(sm) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }

  .img {
    align-self: center;
    height: auto;
    margin-bottom: 45px;
    max-width: 100%;
  }
}
