.section.section-workflow {
  padding-left: 30px;
  padding-right: 30px;

  .grid-container {
    flex-wrap: wrap;
    max-width: 960px;

    .grid-block {
      flex: 1 1 33%;
      padding: 0 15px 45px;

      @include media(sm) {
        flex: 0 1 50%;
      }

      @include media(xs) {
        flex: 0 1 100%;
      }
    }
  }

  .img {
    margin-bottom: 30px;
  }
}
