.article-privacy {
  margin: 0 auto;
  max-width: 810px;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;

  .grid-content + .grid-content {
    margin-top: 60px;
  }

  .p + .p {
    margin-top: 15px;
  }

  .ul {
    margin: 30px 0;
  }

  .li + .li {
    margin-top: 15px;
  }

  .small {
    color: $gray;
    display: block;
    margin: 0 21px;
  }

  .address {
    background: $gray-lightest;
    border-radius: $input-border-radius-lg;
    display: table;
    font-style: normal;
    margin: 60px auto 0;
    padding: 15px 30px;
  }
}
