<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Sign up for Runnable.</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/svgs.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')

    <main class="grid-block vertical main">
      <div class="modal-backdrop in" id="sign-up">
        <div class="modal">
          {{!-- this is not an include because we need to have a different link for sign up --}}
          <button class="grid-block btn btn-back js-back fade">
            <svg class="icons float-left">
              <use xlink:href="#icons-chevron-right">
            </svg>
            Back
          </button>

          <article class="grid-block noscroll vertical article article-form article-sign-up slide in">
            <h1 class="h1 text-center weight-strong padding-sm">Let’s get started.</h1>
            <div class="grid-block card">
              <img class="img" src="images/runnabear-peek.png" height="130" width="230">
              <div class="grid-block vertical padding-lg form-wrapper">
                <p class="p text-center padding-sm">Where does your team keep their code?</p>
                <div class="grid-block align-center justify-center btn btn-lg white js-next track-github" data-next="github">
                  <svg class="grid-content shrink icons">
                    <use xlink:href="#icons-github">
                  </svg>
                  <span class="grid-content shrink span text-left">GitHub</span>
                  <svg class="grid-content shrink icons">
                    <use xlink:href="#icons-chevron-right">
                  </svg>
                </div>
                <div class="grid-block align-center justify-center btn btn-lg white js-next track-bitbucket" data-next="bitbucket">
                  <svg class="grid-content shrink icons">
                    <use xlink:href="#icons-bitbucket">
                  </svg>
                  <span class="grid-content shrink span text-left">Bitbucket</span>
                  <svg class="grid-content shrink icons">
                    <use xlink:href="#icons-chevron-right">
                  </svg>
                </div>
              </div>
            </div>
            <hr class="hr">
            <div class="grid-content text-center">
              <a href="signin/" class="link">Sign in</a> if your team is already using Runnable.
            </div>
          </article>

          @@include('html/components/form-github.hbs')
          @@include('html/components/form-bitbucket.hbs')
        </div>
      </div>
    </main>
    @@include('js/external/external.html')
