<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Sign up for Runnable.</title>
    <script ugly>
      @@include('js/signup.js')
      @@include('js/chat.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    @@include('images/icons.svg')

    <main class="grid-block col main">
      <div class="modal-backdrop in" id="sign-up">
        @@include('html/components/modal-header.hbs', {
          "allowBitbucket": true,
          "standalone": true
        })
        <div class="modal">
          @@include('html/components/form-github.hbs')
          @@include('html/components/form-bitbucket.hbs')
        </div>
      </div>
    </main>
    @@include('js/external/external.html')
