<article class="grid-block section article article-photos">
  <section class="grid-block section justify-center">
    <img class="img img-lg" src="images/joins/team-lg-1.jpg">
    <img class="img img-md" src="images/joins/team-md-1.jpg">
    <div class="live-photo img img-sm">
      <video class="video" src="images/joins/team-sm-11.mp4" poster="images/joins/team-sm-11.jpg"></video>
      <img class="live-photos-badge" src="images/joins/live-photos-badge.png">
    </div>
    <img class="img img-sm" src="images/joins/team-sm-1.gif">
    <img class="img img-sm" src="images/joins/team-sm-2.jpg">
    <img class="img img-sm" src="images/joins/team-sm-5.jpg">
    <img class="img img-md" src="images/joins/team-md-2.jpg">
    <img class="img img-sm" src="images/joins/team-sm-6.jpg">
    <img class="img img-sm" src="images/joins/team-sm-3.jpg">
    <video class="img img-md" src="images/joins/team-md-3.mp4" autoplay loop muted></video>
    <img class="img img-md" src="images/joins/team-md-4.jpg">
    <img class="img img-sm" src="images/joins/team-sm-8.jpg">
    <img class="img img-sm" src="images/joins/team-sm-4.jpg">
    <img class="img img-sm" src="images/joins/team-sm-10.jpg">
    <img class="img img-sm" src="images/joins/team-sm-7.gif">
  </section>
</article>
