html {
  -ms-text-size-adjust: 100;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

details,
main,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  display: block;
  line-height: 1.4;
  margin: 0;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  background: transparent;
  box-shadow: none;
  overflow: visible; }
  button:focus {
    outline: 0; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input,
textarea {
  -webkit-appearance: none;
  background: transparent;
  border: 0; }
  input:focus,
  textarea:focus {
    outline: none; }
  input[type=radio],
  textarea[type=radio] {
    -webkit-appearance: radio;
    cursor: pointer; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

button,
input,
select[multiple],
textarea {
  background-image: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

input:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
.uneditable-input:focus {
  box-shadow: none; }

ol,
ul {
  list-style-type: none;
  margin: 0; }

p {
  margin: 0; }

iframe {
  border: 0; }

.grid-block {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto; }
  .grid-block.shrink {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .grid-block.vertical {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .grid-block.align-center {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .grid-block.align-right {
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .grid-block.align-justify {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .grid-block.align-spaced {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .grid-block.grid-2, .grid-block.grid-3, .grid-block.grid-4, .grid-block.grid-5, .grid-block.grid-6 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .grid-block.grid-2 > .grid-block {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .grid-block.grid-3 > .grid-block {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .grid-block.grid-4 > .grid-block {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .grid-block.grid-5 > .grid-block {
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%; }
  .grid-block.grid-6 > .grid-block {
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0; }

.h1 {
  font-size: 45px; }

.h2 {
  font-size: 36px; }

.h3 {
  font-size: 30px; }

.h4 {
  font-size: 24px; }

.small {
  font-size: 13px;
  font-weight: 400; }

.strong {
  font-weight: 500; }

.underline {
  border-bottom: 1px dotted;
  font-style: normal; }

.hr {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  width: 100%; }

.pre {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  line-height: 1.4;
  white-space: pre; }


.monospace {
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal; }

a {
  color: currentColor;
  text-decoration: none; }

.link {
  cursor: pointer;
  text-decoration: underline; }
  .link:hover, .link:active {
    text-decoration: none; }


.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-rtl {
  direction: rtl;
  text-align: left; }

.list-text {
  list-style-type: circle;
  margin: 12px;
  padding: inherit; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-blue {
  color: #0ca6f2; }

.text-gray {
  color: #888; }

.text-green {
  color: #3ccb5a; }

.text-orange {
  color: #f5a11b; }

.text-purple {
  color: #71438f; }

.block-quote {
  border-left: 3px solid;
  display: block;
  font-size: 16px;
  line-height: 1.4;
  margin: 15px auto;
  max-width: 600px;
  padding-left: 15px;
  text-align: left;
  text-decoration: none; }
  @media (max-width: 600px) {
    .block-quote {
      margin: 15px 15px 30px; } }
  .block-quote .gravatar {
    float: left;
    margin-right: 6px; }
  .block-quote .iconnables {
    float: left;
    height: 18px;
    left: -2px;
    top: -1px;
    width: 18px; }
  .block-quote .small {
    display: block;
    height: 18px;
    line-height: 18px;
    margin-top: 3px; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  color: #555;
  font-family: system, -apple-system, "Helvetica Neue", sans-serif;
  -webkit-font-feature-settings: 'kern';
          font-feature-settings: 'kern';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }
  body.modal-open {
    overflow: hidden; }

.svg-defs {
  height: 0 !important;
  position: absolute !important;
  visibility: hidden !important;
  width: 0 !important; }


.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }


.clearfix::after {
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.no-touching {
  pointer-events: none !important; }

.btn {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap; }
  .btn:hover, .btn:active {
    text-decoration: none; }
  .btn:active {
    transition: none; }
  .btn.active > .icons-add, .btn.in > .icons-add {
    -webkit-transform: rotate3d(0, 0, 1, 135deg) scale3d(0.75, 0.75, 1);
            transform: rotate3d(0, 0, 1, 135deg) scale3d(0.75, 0.75, 1); }
  .btn[disabled], .btn.disabled {
    cursor: not-allowed;
    opacity: .5; }
  .btn > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-right: -6px; }
    .btn > .icons-arrow-down.btn-xxs {
      margin-right: -3px; }
  .btn .display .iconnables {
    float: left;
    height: 21px;
    margin-right: 6px;
    top: 6px;
    width: 21px; }


.btn-lg {
  border-radius: 6px;
  font-size: 21px;
  height: 54px;
  line-height: 50px; }


.btn-md {
  font-size: 18px;
  height: 42px;
  line-height: 38px; }


.btn-sm {
  font-size: 16px;
  height: 36px;
  line-height: 32px; }
  
  .btn-sm > .img {
    float: left;
    margin: 8px 6px 0 0; }


.btn-xs {
  font-size: 13px;
  height: 24px;
  line-height: 20px;
  padding: 0 6px; }
  
  .btn-xs .tag {
    font-size: 13px;
    height: 16px;
    line-height: 12px;
    margin: 1px 0 0 6px; }


.btn-xxs {
  border-radius: 2px;
  font-size: 12px;
  height: 18px;
  line-height: 14px;
  padding: 0 3px; }

.btn-icon {
  line-height: 42px;
  padding: 0;
  width: 42px; }
  .btn-icon.btn-sm {
    width: 36px; }
  .btn-icon.btn-icon-sm {
    line-height: 36px;
    min-width: 36px;
    width: auto; }
  .btn-icon.btn-icon-xs {
    line-height: 24px;
    min-width: 24px;
    width: auto; }
  .btn-icon.btn-icon-xxs {
    height: 18px;
    line-height: 18px;
    width: 18px; }
  .btn-icon .iconnables {
    height: 100%;
    width: 100%; }
  .btn-icon > .icons-arrow-down {
    width: 24px; }

.btn-help {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #bbb;
  border-radius: 50%;
  color: #888;
  height: 24px;
  text-decoration: none;
  width: 24px; }
  .btn-help:hover {
    border-color: currentColor;
    color: rgba(12, 166, 242, 0.6); }
  .btn-help:active, .btn-help.active {
    border-color: currentColor;
    color: #0ca6f2; }

.btn-close {
  border-radius: 50%; }
  .btn-close .icons-close {
    color: currentColor; }
  .btn-close.btn-xs .icons-close {
    top: 0; }

.btn-check.active {
  background: #3ccb5a;
  border-color: #3ccb5a; }
  .btn-check.active .icons-add {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0); }
  .btn-check.active .icons-check {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }

.btn-check .iconnables {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  width: 100%; }

.btn-check .icons-add {
  color: #dbdbdb;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  transition: none; }

.blue,
.gray,
.gray-dark,
.green,
.orange,
.purple,
.red,
.white {
  border: 2px solid transparent;
  color: #fff;
  font-weight: 500;
  text-decoration: none; }
  .blue:active,
  .gray:active,
  .gray-dark:active,
  .green:active,
  .orange:active,
  .purple:active,
  .red:active,
  .white:active {
    transition: none; }
  .blue:active, .blue.active,
  .gray:active,
  .gray.active,
  .gray-dark:active,
  .gray-dark.active,
  .green:active,
  .green.active,
  .orange:active,
  .orange.active,
  .purple:active,
  .purple.active,
  .red:active,
  .red.active,
  .white:active,
  .white.active {
    box-shadow: none; }
  .blue.reversed,
  .gray.reversed,
  .gray-dark.reversed,
  .green.reversed,
  .orange.reversed,
  .purple.reversed,
  .red.reversed,
  .white.reversed {
    letter-spacing: 0; }

.blue {
  color: #bbb; }
  .blue.btn:not([disabled]):not(.disabled):hover, .blue.btn:not([disabled]):not(.disabled).hover {
    color: #0ca6f2; }
  .blue.btn:not([disabled]):not(.disabled):active, .blue.btn:not([disabled]):not(.disabled).active, .blue.btn:not([disabled]):not(.disabled).active:hover {
    color: #0ca6f2; }

.gray {
  background: #f7f7f7;
  border-color: #dbdbdb;
  color: #555; }
  .gray.btn:not([disabled]):not(.disabled):hover, .gray.btn:not([disabled]):not(.disabled).hover {
    background: #fff;
    border-color: #bbb; }
  .gray.btn:not([disabled]):not(.disabled):active, .gray.btn:not([disabled]):not(.disabled).active, .gray.btn:not([disabled]):not(.disabled).active:hover {
    background: #fff;
    border-color: #834fab;
    color: #834fab; }

.gray-dark {
  background: #888;
  border-color: #555; }
  .gray-dark.btn:not([disabled]):not(.disabled):hover, .gray-dark.btn:not([disabled]):not(.disabled).hover {
    background: #555;
    border-color: #222; }
  .gray-dark.btn:not([disabled]):not(.disabled):active, .gray-dark.btn:not([disabled]):not(.disabled).active, .gray-dark.btn:not([disabled]):not(.disabled).active:hover {
    background: #222;
    border-color: #000; }

.green {
  background: #5fd377;
  border-color: #3ccb5a; }
  .green.btn:not([disabled]):not(.disabled):hover, .green.btn:not([disabled]):not(.disabled).hover {
    background: #8ae09c; }
  .green.btn:not([disabled]):not(.disabled):active, .green.btn:not([disabled]):not(.disabled).active, .green.btn:not([disabled]):not(.disabled).active:hover {
    background: #3ccb5a;
    transition: none; }

.orange {
  background: #fcb85d;
  border-color: #f5a11b; }
  .orange.btn:not([disabled]):not(.disabled):hover, .orange.btn:not([disabled]):not(.disabled).hover {
    background: #ffc880; }
  .orange.btn:not([disabled]):not(.disabled):active, .orange.btn:not([disabled]):not(.disabled).active, .orange.btn:not([disabled]):not(.disabled).active:hover {
    background: #f5a11b;
    transition: none; }

.purple {
  color: #834fab; }
  .purple.btn {
    background: #834fab;
    border-color: #fff;
    color: #fff; }
    .purple.btn:not([disabled]):not(.disabled):hover .purple.btn:not([disabled]):not(.disabled).hover {
      background: rgba(255, 255, 255, 0.1); }
    .purple.btn:not([disabled]):not(.disabled):active, .purple.btn:not([disabled]):not(.disabled).active, .purple.btn:not([disabled]):not(.disabled).active:hover {
      background: #fff;
      color: #834fab; }
  .purple.btn-group {
    border: 2px solid #fff;
    border-radius: 3px; }
    .purple.btn-group > .btn {
      border: 0;
      border-radius: 0;
      line-height: 36px;
      margin: 0; }

.red {
  color: #f25058; }
  .red.btn {
    background: #f25058;
    border-color: #e62932;
    color: #fff; }
    .red.btn:not([disabled]):not(.disabled):hover, .red.btn:not([disabled]):not(.disabled).hover {
      background: #ef737f; }
    .red.btn:not([disabled]):not(.disabled):active, .red.btn:not([disabled]):not(.disabled).active, .red.btn:not([disabled]):not(.disabled).active:hover {
      background: #e62932; }

.white {
  border-color: #dbdbdb;
  color: #555; }
  .white.btn {
    background: #fff; }
    .white.btn:not([disabled]):not(.disabled):hover, .white.btn:not([disabled]):not(.disabled).hover {
      border-color: #bbb; }
    .white.btn:not([disabled]):not(.disabled):active, .white.btn:not([disabled]):not(.disabled).active, .white.btn:not([disabled]):not(.disabled).active:hover {
      border-color: #834fab;
      color: #834fab; }
      .white.btn:not([disabled]):not(.disabled):active .icons-round, .white.btn:not([disabled]):not(.disabled).active .icons-round, .white.btn:not([disabled]):not(.disabled).active:hover .icons-round {
        background: #834fab; }

.btn-cancel {
  background: transparent;
  border: 2px solid transparent; }
  .btn-cancel:hover, .btn-cancel:active {
    background: #fff; }

.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none; }

.btn-radio {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 72px;
  text-align: center;
  text-decoration: none;
  transition: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 90px; }
  .btn-radio:active, .btn-radio.active {
    color: #834fab;
    cursor: default; }
  .btn-radio.active {
    font-weight: 500; }
  .btn-radio:focus {
    outline: 0; }
  .btn-radio.btn-lg {
    height: 108px;
    width: 120px; }
    .btn-radio.btn-lg .img,
    .btn-radio.btn-lg .iconnables {
      margin-bottom: 6px;
      width: 36px; }
  .btn-radio:last-child {
    margin-right: 0; }
  .btn-radio .img,
  .btn-radio .iconnables {
    display: block;
    height: 33px;
    margin: 0 auto;
    width: 18px; }

.page-landing .grid-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 90px; }
  @media (max-width: 600px) {
    .page-landing .grid-container {
      padding: 0 45px; } }

.page-landing > .grid-block + .grid-block {
  margin-top: 30px; }

.page-landing .header {
  background: linear-gradient(#fff, rgba(255, 255, 255, 0.95));
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }
  .page-landing .header .grid-container {
    padding-bottom: 18px;
    padding-top: 27px; }

.page-landing .main {
  padding-bottom: 150px;
  padding-top: 150px; }

.page-landing .h1,
.page-landing .h2,
.page-landing .h3,
.page-landing .p {
  font-weight: 300; }

.page-landing .h1 {
  margin: 21px 0; }

.page-landing .h2,
.page-landing .h3 {
  margin: 15px 0; }

.page-landing .ol,
.page-landing .ul,
.page-landing .p {
  margin-bottom: 9px; }

.page-landing .ol,
.page-landing .ul {
  list-style-type: circle; }

.page-landing .hr {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin: 30px 0; }
