<article class="article hero demo-hero">
  <h1 class="h1 text-center">Book a demo with Sundip.</h1>
  <p class="p text-center">Pick a time in is his schedule to meet face-to-face (via Hangouts).</p>
  <div class="calendar" id="bookingjs"></div>
</article>
