<article class="article hero demo-hero">
  <p class="p text-center">Book 30-minutes on our calendar to meet over Hangouts, Skype or in-person (if you’re in the Bay Area), to run through a demo and go over any questions you have.
  <div class="calendar" id="bookingjs"></div>
</article>
