<article class="grid-block justify-center section article article-branches-urls article-branches">
  <figure class="figure">
    <img class="img" src="images/how-it-works/setup-branches.svg" height="273" width="330">
  </figure>
  <div class="grid-block col text-wrapper">
    <h3 class="h3 weight-strong">Then select a branch to create an environment.</h3>
    <p class="p">Each branch is deployed with its own copy of your services.</p>
  </div>
</article>

<article class="grid-block col align-center section article article-branches-urls article-urls">
  <div class="grid-block justify-center figure-wrapper noscroll">
    <figure class="figure noscroll">
      <img class="img" src="images/how-it-works/setup-mix.png" height="160" width="330">
    </figure>
    <div class="grid-block col text-wrapper">
      <h3 class="h3 weight-strong">Mix and match.</h3>
      <p class="p">Toggle between service versions and branches on-the-fly.</p>
    </div>
  </div>

  <p class="grid-block p text-center well padding-md">
    When you push changes to your branch, your environment will automatically update, and when you make new branches on that repository, you’ll have a full-stack environment ready to use.
  </p>

  <aside class="grid-block col align-center aside">
    <ul class="grid-block justify-center">
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.com/docs/repositories/quickstarts/nodejs-quickstart">
          <img class="img" src="images/how-it-works/guide-nodejs.svg" height="45" width="45" alt="Node.js">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.com/docs/repositories/quickstarts/ruby-on-rails-quickstart">
          <img class="img" src="images/how-it-works/guide-rails.svg" height="45" width="45" alt="Ruby on Rails">
        </a>
      <li class="grid-content shrink">
        <a class="a" href="https://runnable.com/docs/repositories/quickstarts/python-quickstart">
          <img class="img" src="images/how-it-works/guide-python.svg" height="45" width="45" alt="Python">
        </a>
    </ul>
    <p class="p small text-center">We made some sweet guides to get you started.
      <br>
      <a class="link small" href="https://runnable.com/docs">See even more guides.</a>
    </p>
  </aside>
</article>
