<article class="grid-block justify-center article article-integration">
  <section class="grid-block col align-center section">
    <p class="p text-center">Runnable’s integration with Google Container Engine — currently in private beta — maximizes the benefits of Kubernetes in your dev and test workflow. Using your production k8s configurations, Runnable creates preview and test environments, and offers easy deployments to Google Cloud Platform (GCP).</p>
  </section>
</article>
