<article class="grid-block justify-center article article-benefits">
  <section class="grid-block col align-center section">
    <ul class="grid-block ul">
      <li class="grid-block li">
        <img src="images/google/configuration.svg" width="30" height="30" class="img margin-right-sm">
        <p class="p">Remove configuration drift between dev, staging and production environments.</p>
      <li class="grid-block li">
        <img src="images/google/unlimited.svg" width="30" height="30" class="img margin-right-sm">
        <p class="p">Provide unlimited preview and test environments for your entire team.</p>
      <li class="grid-block li">
        <img src="images/google/mix-and-match.svg" width="30" height="30" class="img margin-right-sm">
        <p class="p">Mix and match service versions and branches on-the-fly.</p>
      <li class="grid-block li">
        <img src="images/google/testing.svg" width="30" height="30" class="img margin-right-sm">
        <p class="p">Test every change end-to-end before merging your code branch.</p>
      <li class="grid-block li">
        <img src="images/google/deploy.svg" width="30" height="30" class="img margin-right-sm">
        <p class="p">Deploy tested environments directly to GKE and GCP.</p>
    </ul>
  </section>
</article>
