<article class="grid-block justify-center article article-drone">
  <section class="grid-block justify-center align-center section">
    <img class="img" src="images/google/gcn-logo.svg" width="130" height="75">
    <div class="grid-block col">
      <p class="p">We’re at Google Cloud Next! Visit us at <span class="weight-normal">Booth F in Section E8</span> for a chance to win a drone!</p>
      <a class="small link" href="/google/giveaways/">Giveaway Rules</a>
    </div>
  </section>
</article>
