<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Runnable + Google — Runnable</title>
    <script ugly>
      @@include('js/status.js')
    </script>

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main hero-only">
      @@include('html/google/hero.hbs')
      @@include('html/google/article-integration.hbs')
      @@include('html/google/article-benefits.hbs')
      @@include('html/google/article-google-cta.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
