// scss-lint:disable ColorVariable
.article-docker {
  background: linear-gradient(#e1f9ff, #e4ffff);
  border-bottom: 1px solid #cff7f7;
  margin-bottom: 90px;
  overflow: visible;
  padding: 0 0 90px;

  .section {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    box-shadow: 0 2px 9px rgba($black,.075);
    margin: -60px auto 0;
    padding: 60px 60px 60px 45px;

    > .grid-block + .grid-block {
      margin-top: 60px;
    }
  }

  .img-container {
    margin-right: 39px;
  }

  .img-regedit {
    margin-right: 30px;
  }
}
// scss-lint:enable ColorVariable
