<article class="grid-block vertical article article-production">
  <div class="grid-block vertical grid-container grid-container-sm text-center">
    <div class="img-box-wrapper">
      <div class="img-box">
        <img class="img" src="images/logos/logo-aws.svg">
      </div>
      <div class="img-box">
        <img class="img" src="images/logos/logo-google-cloud.png">
      </div>
      <div class="img-box">
        <img class="img" src="images/logos/logo-azure.svg">
      </div>
    </div>
    <h2 class="grid-content h2 align-center strong">Deploy to AWS, Google Cloud, Azure and more.</h2>
    <p class="grid-content p align-center">Safely push to production with minimal configuration differences between development, test, and staging environments. Update production more frequently and with higher confidence after reviewing end-to-end test results for every change.
  </div>
</article>