<article class="grid-block vertical article hero production-hero">
  <h1 class="grid-content h1 text-center">Production ready.</h1>
  <p class="grid-content p text-center">Your environments are ready to push directly<br>
    to production from Runnable.
  </p>
</article>