<article class="article article-stack">
  <section class="section">
    <h2 class="h1 text-center">We mean <strong class="weight-strong">full-stack</strong>.</h2>
    <ul class="grid-block margin-top-lg">
      <li class="grid-block align-center col padding-sm li">
        <img src="images/features/icons-stack.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p text-center">Every environment has its own copy of all the services in your application stack.</p>
      <li class="grid-block align-center col padding-sm li">
        <img src="images/features/icons-smart-db.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p text-center">Multi-gigabyte databases spin up in seconds with our copy-on-write file system.</p>
      <li class="grid-block align-center col padding-sm li">
        <img src="images/features/icons-scale.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p text-center">Auto-scaling infrastructure to support application stacks with 50+ services.</p>
    </ul>
  </section>
</article>
