<article class="article article-collaboration">
  <img src="images/features/collaboration.svg" height="360" width="360" class="img">
  <section class="grid-container section">
    <h2 class="h1 weight-strong text-center">Continuous collaboration.</h2>
    <ul class="grid-block margin-top-md ul">
      <li class="grid-block col padding-md li">
        <img src="images/features/icons-visibility.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p">A preview environment for every branch empowers teams with end-to-end visibility throughout the development process.</p>
      <li class="grid-block col padding-md li">
        <img src="images/features/icons-identify.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p">PMs and Designers can interact with features in development and identify issues earlier.</p>
      <li class="grid-block col padding-md li">
        <img src="images/features/icons-instant.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p">Slack, JIRA and GitHub integrations make every product change instantly visible for everyone on the your team.</p>
      <li class="grid-block col padding-md li">
        <img src="images/features/icons-connect.svg" class="grid-block shrink img margin-bottom-sm margin-right-sm-md" width="60" height="60">
        <p class="p">Cross-team changes can be validated by connecting your environment to other services in co-development.</p>
    </ul>
  </section>
</article>
