<article class="section section-dark article article-every-branch">
  <div class="grid-block grid-container">
    <h1 class="grid-block shrink align-center text-right h1">For.<br>Every.<br>Branch.</h1>
    <ol class="grid-block col card padding-lg relative">
      <li class="grid-block li">
        <img src="images/features/icons-branches.svg" class="grid-block shrink img margin-right-md" width="60" height="60">
        Open a git branch, and Runnable creates a new preview environment.
      <li class="grid-block li">
        <img src="images/features/icons-rebuilding.svg" class="grid-block shrink img margin-right-md" width="60" height="60">
        Environments stay fresh by rebuilding when a code change is pushed to your branch.
      <li class="grid-block li">
        <img src="images/features/icons-isolated.svg" class="grid-block shrink img margin-right-md" width="60" height="60">
        Every environment is isolated with an independent seeded database and other stateful services.
      <li class="grid-block li">
        <img src="images/features/icons-pr-link.svg" class="grid-block shrink img margin-right-md" width="60" height="60">
        Pull requests automatically update with a link to the branch’s environment
    </ol>
  </div>
</article>
