<article class="grid-block justify-center article article-uses">
  <ul class="grid-block section">
    <li class="grid-block padding-md li">
      <img src="images/home/icons-designer.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Validate your changes on a staging-like environment during development.</p>
    <li class="grid-block padding-md li">
      <img src="images/home/icons-product-owner.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Review features / fixes with stakeholders.</p>
    <li class="grid-block padding-md li">
      <img src="images/home/icons-management.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Test changes and edge cases during code reviews.</p>
    <li class="grid-block padding-md li">
      <img src="images/home/icons-developer.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Perform dry-runs for data migrations on a production database clone.</p>
    <li class="grid-block padding-md li">
      <img src="images/home/icons-product-manager.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Demo your changes with the team.</p>
    <li class="grid-block padding-md li">
      <img src="images/home/icons-quality-assurance.svg" class="grid-block shrink img margin-right-sm" width="24" height="24">
      <p class="p">Reproduce issues reliably by including environment links in bug reports.</p>
  </ul>
</article>
