<article class="grid-block align-center col noscroll hero hero-preview">
  <img src="images/icons-staging.svg" height="90" width="90" class="img">
  <h1 class="h1 text-center">Preview Environments</h1>
  <p class="h3 text-center">Get an isolated, full-stack environment<br class="hidden-xs"> for every code branch.</p>
</article>
