<!doctype html>
<html lang="en">

  <head>
    @@include('html/components/head.hbs')
    <title>Preview Environments — Runnable</title>
    <script ugly>
      @@include('js/toggle.js')
      @@include('js/status.js')
    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    @@include('images/icons.svg')
    @@include('html/components/header.hbs')

    <main class="grid-block col main hero-only">
      @@include('html/preview-environments/hero.hbs')
      @@include('html/preview-environments/article-stack.hbs')
      @@include('html/preview-environments/article-every-branch.hbs')
      @@include('html/preview-environments/article-collaboration.hbs')
      @@include('html/preview-environments/article-quote.hbs')
    </main>

    @@include('html/components/footer.hbs')

    @@include('js/external/external.html')
